[2020-04-07 15:29] FabioRosado opened #1423 "Fix outdated documentation - Creating a custom connector"
It was pointed by @igorfcardoso  on  #1417 that the documentation seems to be outdated. We should fix the documentation on `Creating a custom connector` - [link](https://docs.opsdroid.dev/en/stable/connectors/custom.html)

On this page there is a few things that we need to update:

The first header is broken:
`#### connect connect is a method which connects to a specific chat service`

our example

[2020-04-07 15:33] FabioRosado commented on #1422
That sounds good, should we add a description to what the PR does as well? Might give some context if needed 🤔

[2020-04-07 18:52] jacobtomlinson commented on #1422
I feel like there are two options here:

1. Use PR titles more strictly and update them before merging to be really descriptive
1. Add a section to the PR template for a description which we scrape after

I feel like option 1 would be less effort. But option 2 would probably make better descriptions.

My preference is option 1.

[2020-04-07 18:56] #1381 closed

[2020-04-08 09:32] jerrykan commented on #1345
@jacobtomlinson yeah, it think you can probably ignore my contribution. I think i wrote that before I realised the config syntax had changed.

[2020-04-08 10:18] FabioRosado commented on #1422
Some PR's probably wouldn't need any further description other than the title, for instance if we fixed typos or tiny fixes. But if it's a breaking change it could be good, but we could add it if needed.

The only thing that might get on the way of automation is when travis decides to stop working properly for some reason. I noticed that when I could go into opsdroid travis account, that the job g

[2020-04-08 10:41] Cadair commented on #1422
The other option is to use the commit info from the squashed commits to master, this puts the responsibility on the person who merges the PR to make a nice title + description.

Perhaps we could add something to the PR template to encourage the contributor to add a description that we could then copy into the commit?

[2020-04-08 19:15] jacobtomlinson commented on #1422
I think this is rare enough that I'm not worried about it. Perhaps expanding the permissions so that you can merge without Travis approval would help.

Yeah this sounds good.

[2020-04-10 17:35] vrashankraom commented on #1190
For some updates of windows,ctrl+c wont eliminate windows.

[2020-04-14 19:27] Gideon357 opened #1429 "Opsdroid logger returning errors"
# Description
Hi, I have been using `opsdroid` for a few days now, and while it is a good framework, I have been having a lot of trouble. Most recently I have been getting a error `formatter refrenced before use`. I have linted my configuration.yaml and none of my python files have errors. The error message below only shows errors in opsdroid library files. Even so, I am probably doing something w

[2020-04-15 08:48] cupen opened #1430 "How to create a OpsDroid instance for test case?"
# Description
How to create a OpsDroid instance for test case?

## Expected Functionality
[code]
## Experienced Functionality
It's hard to debug opsdroid and skill.

## Versions
- **Opsdroid version:** 0.17.1
- **Python version:**  3.8.0
- **OS/Docker version:** -

[2020-04-15 10:22] nzlosh commented on #1429
I've hit the same error, when enabling logging as defined in the default configuration sourced from https://raw.githubusercontent.com/opsdroid/opsdroid/master/opsdroid/configuration/example_configuration.yaml.

The block that triggers the error is:
[code]

The error message is as follows
[code]

Version
[code]

[2020-04-15 14:27] Gideon357 commented on #1429
@nzlosh where you able to fix this? Did you try `opsdroid config -f [PATH] lint`?

[2020-04-15 14:35] Gideon357 commented on #1429
@nzlosh this issue appears to be logging related.  The `formatter` is defined in [logging.py](https://github.com/opsdroid/opsdroid/blob/7f817f61a6d4042b4bd930e4aca15b3387786cd0/opsdroid/logging.py). @FabioRosado appears to have worked on that file most recently, so maybe he can shed some light on how to fix this.

[2020-04-15 20:40] FabioRosado commented on #1429
Hello @Gideon357  and @nzlosh  Thank you for raising this issue and I'd like to apologise for the troubles you are having with opsdroid.

Just out of curiosity are you setting your logging with the `extended` set to false and do you have any `whitelist` or `blacklist` filter set to it?

I might have botched up something while creating the extended filter. I'm going to work on this issue tomorrow a

[2020-04-15 20:47] FabioRosado commented on #1430
Hello @cupen  thank you for raising this issue, you can follow the example of some of the tests we have created already.

The quick answer would be to import `OpsDroid` from `opsdroid.core` and use a `with` statement like such:

[code]

Here's an example of how to create an opsdroid instance and how to test a message (find it on [opsdroid.tests.test_connector_telegram](https://github.com/opsdroid/

[2020-04-15 21:24] Gideon357 commented on #1429
@FabioRosado thanks for responding. I was using the default configuration that I generated using `opsdroid config gen > config.yaml`. If you need help fixing it, let me know. I do know @nzlosh had his logging setup like this:

[code]

[2020-04-16 07:01] cupen commented on #1430
@FabioRosado  It's great. Tanks you very much.

[2020-04-16 07:01] #1430 closed

[2020-04-16 15:51] FabioRosado commented on #1429
Hello @Gideon357  I've just submitted a PR to hopefully fix the issues you are having with opsdroid. Looking at the code I'm not sure why you were getting that exception, but decided to move the normal formatter outside the try/except block so hopefully this fix will work for you.

We are having a bit of trouble with Travis reporting the status to github, so I'll try to get this PR merged as soon

[2020-04-16 16:06] #1429 closed

[2020-04-16 16:18] FabioRosado commented on #1429
Gideon, cadair have merged the PR so hopefully this fixes the issue. We will need to do a release/patch if you are using opsdroid installed from pip you might need to wait a bit. Unless you want to clone the repo and test it from the dev version 👍

[2020-04-18 17:09] misTrasteos opened #1434 "Telegram connector can not handle the File event type"
# Description
Telegram connector does not handle File events.

## Steps to Reproduce
[code]

## Expected Functionality
The connector should handle the File event type.

## Experienced Functionality
You get the following error

## Versions
- **Opsdroid version:** v0.17.1
- **Python version:** 3.7
- **OS/Docker version:** Fedora 31

## Configuration File
Not relevant, I think

## Additional Details

[2020-04-18 19:13] #1434 closed

[2020-04-22 18:23] law commented on #1382
Just a heads up, Slack has been making it increasingly more difficult to generate legacy tokens, culminating in a May 5th 2020 deadline to stop allowing them to be generated at all:
https://api.slack.com/legacy/custom-integrations/legacy-tokens

presumably connectivity from legacy tokens will be completely removed at an undisclosed future date.

[2020-04-29 10:22] Cadair opened #1446 "Add support for video events"
We currently only have event types for file and image, but we should also have a video type to handle things like mp4.

[2020-04-30 01:17] arctdav commented on #1446
I'm a beginner, but I'd like to help. Could you assign this issue to me?

[2020-04-30 08:51] Cadair commented on #1446
Let us know how you get on or if you need any help. The best thing to do is open a PR early and ask for comments on it :smile:

[2020-04-30 15:46] SolarDrew opened #1448 "Document options for events with multiple possible users"
Some chat platforms supported by opsdroid have the possibility of a single event corresponding to multiple users. For example, slack's api call to invite users to a channel takes a list of users as input. Opsdroid, on the other hand, only supports a single user on any given event, and for the sake of flexibility I think this is as it should be.

That being the case, the documentation needs to refl

[2020-04-30 17:53] arctdav commented on #1446
just to confirm, the place to modify event types is at this file: opsdroid/opsdroid/connector/matrix/create_events.py

[2020-04-30 17:57] arctdav commented on #1446
If I was wrong, could you let me know which file I should dig into as a starting point? tyty

[2020-04-30 21:38] arctdav commented on #1446
What feature should the Video event type support? I suppose it's not the same feature as image dimension.

[2020-05-01 15:35] Gideon357 commented on #1429
Thank you @FabioRosado and @Cadair. When will this release come out. It seems like an important patch.

[2020-05-01 16:46] iobreaker opened #1453 "Parser regex.py does not support identically named group in regex_matcher"
# Description

When using the same group name in **match_regex**  decorator **regex.py** issue an error because the python re module used to parse messages does not support identical named group

## Steps to Reproduce
- Create a skill like (the goal is to have a multiple patterns using the same group name)

[code]

- Add it to configuration file
- using opsdroid shell or opsdroid desktop test it
-

[2020-05-01 17:14] FabioRosado commented on #1429
Hello @Gideon357  thank you for the message, Jacob just released the latest opsdroid version yesterday night. If you update your opsdroid version the fix should be there. Please let us know if you get the same or any other issues 😄

[2020-05-01 19:03] codeboy5 commented on #1448
Hi @SolarDrew can I work on this ?

[2020-05-01 19:10] FabioRosado commented on #1448
Hello @codeboy5 it would awesome if you could work on this issue, please let us know if you need help with anything

[2020-05-01 19:11] codeboy5 commented on #1448
Okay thanks 🙂

[2020-05-03 10:32] iobreaker commented on #196
Hi

Perhaps FPM is the answer to this need (Effing package management), i am using it to generate rpm and deb installers for my dev.

Can you please explain in detail what you want to include in to the installable package and where you want to deploy each component ?

Regards

[2020-05-04 20:21] #1453 closed

[2020-05-04 20:28] jacobtomlinson commented on #196
I haven't thought about this for a while. I think my plan would be to have a standalone opsdroid installed this way, so with a bundled Python.

[2020-05-10 17:01] #1423 closed

[2020-05-18 23:47] Gideon357 commented on #1198
@jacobtomlinson I initially found the overview quite confusing, do you think the docs would benefit from a "Quickstart," or something along those lines?

[2020-05-19 07:26] jacobtomlinson opened #1484 "Create a quickstart"
@jacobtomlinson I initially found the overview quite confusing, do you think the docs would benefit from a "Quickstart," or something along those lines?

_Originally posted by @Gideon357 in https://github.com/opsdroid/opsdroid/issues/1198#issuecomment-630492674_

[2020-05-19 07:28] jacobtomlinson commented on #1484
I would support extending the quickstart on the home page of the docs to be a little more comprehensive. Currently it is just install instructions.

https://docs.opsdroid.dev/en/stable/

Perhaps it should show configuring the slack connector and adding a simple local skill.

[2020-05-19 15:49] Gideon357 commented on #1484
@jacobtomlinson good idea w/ the slack connector, my shell version was very basic. I just wanted to limit the need for API keys and set, but does slack need that?

[2020-05-19 16:21] jacobtomlinson commented on #1484
I think your idea to use the shell connector is good. But nobody will actually use the shell connector once they are done playing, so we should link to more docs on configuring "real" connectors.

[2020-05-19 19:19] #1345 closed

[2020-05-19 20:55] Gideon357 opened #1490 "Creating A SMS Connector"
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I hope your staying safe! A SMS connector could really benefit this platform, as there are so many existing applications for text bots. I think we could do this using the web server functionality, and the Twilio API.
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I have started this in #1488, and I'm not finished but I've opened a draft pull request if anyone has feedback

[2020-05-21 12:19] dizzi90 opened #1491 "Create a connector for testing skills"
# Description

Enable unit testing of skills by including a test connector to enable a test-driven design approach to creating new skills. The connector tests the skill class itself, rather than the shell output.

# Features
The connector should be able to:
- run with minimal resources
- run headlessly
- check if a given intent yields a correct response
- mock certain skill-functions _decorator?_

[2020-05-22 18:56] law commented on #1382
This is still a live issue.  Legacy tokens can no longer be created.  How are new users supposed to deploy Opsdroid to their Slack environments these days?

[2020-05-24 08:30] Pratik-ahirrao commented on #1448
Is anyone still working on this issue? I would like to work on that

[2020-05-24 08:31] Pratik-ahirrao commented on #1198
Can i work on this issue?

[2020-05-24 08:47] FabioRosado commented on #1198
Hello @Pratik-ahirrao I've seen that you would like to work on a few issues at the same time, I'd suggest you to pick one or two and submit two different PR's to tackle those issues.

This issue will be an open issue since we want to add a lot of examples, so you can contribute by writing some examples for opsdroid and can do it multiple times 😄

Let us know if you need any help 👍

[2020-05-24 08:48] FabioRosado commented on #1448
No one is currently working on this issue so it remains open 😄 👍

[2020-05-24 08:52] Pratik-ahirrao commented on #1448
Can you help me to start with this issue?

[2020-05-24 09:21] SolarDrew commented on #1448
@Pratik-ahirrao you'll need to edit the [file in the docs which describes `Events`](https://github.com/opsdroid/opsdroid/blob/master/docs/skills/events.md) to include a short discussion of how to use them for multi-user events. Are you familiar with the workflow of using git and github to create a Pull Request?

[2020-05-24 09:24] Pratik-ahirrao commented on #1448
Yes i know basic commands of git

[2020-05-24 18:05] Pratik-ahirrao commented on #1448
Can you tell me where is the code that describes about events.md?

[2020-05-24 21:01] FabioRosado commented on #1448
hello, you can find the events here: opsdroid.events.Event

[2020-05-24 22:27] jacobtomlinson opened #1495 "A test issue for debugging"
Nothing to see here folks. Just debugging the GitHub connector.

[2020-05-24 22:27] jacobtomlinson commented on #1495
hello

[2020-05-24 22:28] jacobtomlinson commented on #1495
hello

[2020-05-24 22:33] jacobtomlinson commented on #1495
hello

[2020-05-24 22:34] jacobtomlinson commented on #1495
hello

[2020-05-24 22:34] jacobtomlinson commented on #1495
hello

[2020-05-24 22:35] jacobtomlinson commented on #1495
hello

[2020-05-24 22:38] jacobtomlinson commented on #1495
hello

[2020-05-24 22:40] jacobtomlinson commented on #1495
hello

[2020-05-24 22:42] jacobtomlinson commented on #1495
hello

[2020-05-24 22:43] jacobtomlinson commented on #1495
hello

[2020-05-24 22:46] jacobtomlinson commented on #1495
hello

[2020-05-25 13:37] olig89 opened #1498 "Error when receiving bot message"
# Description
I have a skill that, at its core, reacts to a webhook from a service which reports when the user interacts with it. If certain criteria are met - the bot looks up the user’s slackID in a mongoDB and sends that user a direct message.

I use aspects of this code in other skills and they work without issue but when combined with sending the user a message, the bot will frequently fall o

[2020-05-25 17:04] chillipeper commented on #1382
@law

Slack has been changing its api a **LOT** lately, and looks like among these changes, new Slack Apps are no longer allowed to connect to RTM no matter which scopes they have.

Here is an extract from [authentication scopes](https://api.slack.com/authentication/basics#scopes)

So for the moment, you are still able to create a _[Classic App](https://api.slack.com/rtm#classic)_ which still has

[2020-05-25 21:54] jacobtomlinson commented on #1495
hello

[2020-05-25 21:54] jacobtomlinson commented on #1495
🎉

[2020-05-25 21:56] jacobtomlinson commented on #1495
🎉

[2020-05-25 21:58] jacobtomlinson commented on #1495
🎉

[2020-05-25 22:00] jacobtomlinson commented on #1495
hello

[2020-05-25 22:01] jacobtomlinson commented on #1495
🎉

[2020-05-25 22:02] jacobtomlinson commented on #1495
hello 🎉

[2020-05-25 22:19] jacobtomlinson commented on #1382
Ah ok thanks for the clarification. That's s bit of a shame as the events API requires you to expose your bot to the internet. The RTM API allows you to reach out from behind a firewall.

Looks like we need to migrate our Slack connector to the events API then.

[2020-05-26 13:44] jacobtomlinson commented on #1498
Thanks for raising this @olig89.

When a bot sends a message in Slack opsdroid will check to see if that bit is itself, or another bot. If it is another bot it will respond as if it was a user, if it is itself it will just ignore the message.

It looks like you may have another bot in your chat and there is a bug in the [check for other bot users](https://github.com/opsdroid/opsdroid/blob/7c38ffca

[2020-05-26 13:46] #1347 closed

[2020-05-26 13:48] jacobtomlinson commented on #1491
Apologies for not reaponsing to this sooner.

I generally agree with the requested features and would support the addition of a Connector for testing with.

We are looking to migrate our tests to pytest from unittest and will likely produce some fixtures which would be useful to others writing tests. However that is not going to be framework agnostic.

[2020-05-26 14:10] oleg-fiksel opened #1501 "Cisco WebEx Teams connector doesn't start"
# Error

[code]
# How to reproduce

* Create `configuration.yaml` with the following content:

[code]

* Create `debug.sh` with the following content:

[code]

* `chmod +x debug.sh`
* `./debug.sh`
* (in the container) `opsdroid start`

[2020-05-26 14:26] jacobtomlinson opened #1502 "Migrate tests from unittest to pytest"
Our existing test suite has been written with the Python [`unittest`](https://docs.python.org/3/library/unittest.html) framework. However, as the test suite has grown and opsdroid has become more complex we are running into issues with the tests. Mainly around setting up and tearing down tests.

The @opsdroid/maintainers team have decided that we want to migrate all tests to be written with the [`

[2020-05-26 19:54] tarangchikhalia commented on #1502
@jacobtomlinson Can I claim it?

[2020-05-26 21:21] #1501 closed

[2020-05-26 21:22] jacobtomlinson commented on #1501
Thanks for raising this @oleg-fiksel. I found the issue and fixed it in #1504.

[2020-05-26 21:26] jacobtomlinson commented on #1502
@tarangchikhalia you are welcome to start converting some tests and raise a PR. As I explained in the issue there are many tests to convert. So it will take a while and I expect many people will work on it, nobody can specifically claim this issue.

[2020-05-28 09:28] jacobtomlinson opened #1507 "Add pytest and fixtures to documentation"
We should add a section to the documentation with information on writing tests. Much of this could be copied from #1502 and mixed with a little generic pytest documentation.

This should also include information on the available fixtures like the [bare `opsdroid` one](https://github.com/opsdroid/opsdroid/blob/7c765997b514d3c0f3047bb6fc09da4a493aed16/opsdroid/conftest.py#L8). It should be possible

[2020-05-28 14:24] Cadair commented on #1507
We should also ensure they are easily importable into other packages so that downstream projects can use the fixtures.

[2020-05-29 09:51] jacobtomlinson commented on #1507
Yeah definitely! One thing I was trying to work out was if you had some matrix foxtures in a `conftest.py` file in`opsdroid/connectors/matrix/tests` you would import it as `opsdroid.connectors.matrix.tests.conftest` right?

But if we have root level tests in opsdroid they would need to be in `opsdroid/conftest.py` which would mean an import of `opsdroid.conftest`. But really the import would be be

[2020-05-29 09:53] jacobtomlinson commented on #1507
After writing that and reading back I think having `fixtures.py` files within `tests/` directories which are imported by the `conftest.py` files fixes the problem I mentioned and also makes a nice import for others.

I have added the tests as an exclude to the `MANIFEST.in` file, maybe we should revert that.

[2020-05-30 13:26] jedelman8 opened #1511 "Anyone working on a MS Teams connector?"
# Description
Just checking to see if there is anyone working on a MS Teams connector?

[2020-05-30 14:41] FabioRosado commented on #1511
Hello @jedelman8 , there is no one working on a Teams connector but it's something we want to add very soon, if you would like you could contribute to the project by adding this connector.

Let us know if you need any help 😄 👍

[2020-05-30 22:07] jedelman8 commented on #1511
Thanks for the quick response.  We'll be sure to let you know if we are going to pursue it!

[2020-05-30 22:07] #1511 closed

[2020-06-04 22:02] dizzi90 opened #1520 "Add message.room"
version:
`v0.18.0`

`opsdroid start`

user:

opsdroid-desktop:

logs:

[2020-06-08 13:37] jacobtomlinson commented on #1520
I've moved this over to opsdroid/opsdroid as it isn't related to opsdroid-desktop.

As I said `room` has been renamed to `target`, so you will want something like this.

[code]

[2020-06-11 08:14] Leotuashutosh commented on #1448
Hello! I would like to work on this issue if this is still open

[2020-06-11 08:55] jacobtomlinson commented on #1448
@Leotuashutosh please go ahead

[2020-06-11 17:32] dizzi90 commented on #1520
@jacobtomlinson It's still showing up as None, with message.target

![image](https://user-images.githubusercontent.com/3081351/84420335-2ea65000-ac1a-11ea-9aaa-9cfdbe8e70ac.png)
![image](https://user-images.githubusercontent.com/3081351/84420384-3fef5c80-ac1a-11ea-88ba-7c51baac7733.png)

Am I doing something wrong or is it a bug?

[2020-06-11 17:33] jacobtomlinson commented on #1520
This is expected from opsdroid desktop. There are no rooms or targets.

[2020-06-11 20:08] dizzi90 commented on #1520
I'm suggesting that it would be a good idea to name that one place

[2020-06-16 09:22] Cadair opened #1529 "Improvements to the Matrix Connector now that it's using nio"
I am opening this as a placeholder for a bunch of smaller tasks that need investigating or doing after the merge of #1418, as is usual with a large PR somethings got delayed to follow ups.

- [x] Handle all cases of (send) methods returning a `nio.Error` instance where previously errors would be raised. Proposed solution: write a decorator which converts a return Error to a raised error. (https://

[2020-06-16 09:33] jacobtomlinson commented on #1520
For what purpose?

[2020-06-16 10:51] Cadair opened #1531 "Build a universal wheel in our deploy workflow"
Universal wheels contain extra metadata and are faster to install so we should build one in our deploy GH Actions workflow.

[2020-06-16 10:55] Cadair opened #1532 "Use MyST in the docs?"
Consider switching our narrative (non-docstring) documentation to [MyST](https://myst-parser.readthedocs.io/en/latest/index.html) and markdown over rst.

[2020-06-16 11:06] Tyagdit commented on #1529
- [ ] Sending files using URLs doesn't work correctly, returns a TypeError which needs fixing
- [ ] Initial sync is being rate limited for some reason, needs some fiddling with sync tokens or device IDs
- [ ] Receiving membership events isn't proper

[2020-06-16 11:14] jacobtomlinson commented on #1532
I support this.

[2020-06-16 13:16] jacobtomlinson opened #1534 "Add 3.8 support to setup.py"
We've been running CI against 3.8 for a while now, we should update the metadata in `setup.py` to explicitly state we support 3.8.

We should also update the [support table](https://github.com/opsdroid/opsdroid/blob/master/docs/maintaining/supported-python-versions.md) to say we support 3.8.

[2020-06-16 15:08] Cadair commented on #1534
and also pull 3.6 now 0.19 is out as well.

[2020-06-17 14:00] elijose55 commented on #1534
Can I work on this issue?

[2020-06-17 14:16] FabioRosado commented on #1534
Hello @elijose55  please go ahead and submit a PR, let us know if you need any help

[2020-06-17 14:18] FabioRosado commented on #1532
Yeah it seems like a good idea 👍

[2020-06-17 16:30] jacobtomlinson opened #1541 "Drop Python 3.6"
We should now drop Python 3.6 as 0.19 is out.

_Originally posted by @Cadair in https://github.com/opsdroid/opsdroid/issues/1534#issuecomment-644825884_

[2020-06-17 16:31] #1534 closed

[2020-06-17 16:37] jacobtomlinson commented on #1382
Just revisiting this.

The Slack roadmap goes out to 2021 and doesn't include removing classic apps yet. https://api.slack.com/changelog/future

The opsdroid documentation is also pretty clear about creating classic apps, and even has a link to create a classic app.

Classic apps are different to the legacy tokens that @law mentioned, which are the old old way of doing things. But for now I'm reas

[2020-06-21 11:45] abhishekmadhu commented on #1502
Hi @tarangchikhalia ,
How is this going? Have you written started making some progress on this one?
I found this to be a good first issue for me to start contributing on real issues, and I did not want us to do the same thing twice. Please let me know of the modules that you have already worked on so that I can start with something else.

(If there is a different communication channel for question

[2020-06-22 09:35] jacobtomlinson commented on #1502
@abhishekmadhu as the issue states please just search the codebase for old tests and convert them over. There are many to do and ideally I would like to see lots of small PRs rather than large ones converting many tests. That way folks don't have to worry about treading on each others toes.

[2020-06-23 10:43] nkuik opened #1546 "GitHub Connector uses deprecated query params when retrieving authenticated user"
# Description

The GitHub connector uses a deprecated query params method to authenticate to GitHub for retrieving the username. Besides being less-than-ideal in sending the token in the query, this approach will eventually be unsupported by GitHub.

## Steps to Reproduce

1. Setup the configuration for using the opsdroid GitHub connector (by adding the token in `configuration.yaml`).
2. Start ops

[2020-06-23 13:24] jacobtomlinson commented on #1546
Thanks for raising this. I made a start on rewriting this connector recently but lost me branch due to a corrupt SSD. I intend on taking another run at it soon.

I noticed the same issue, the authentication method we are using has been deprecated. It would be great to get this updated.

[2020-06-24 11:26] #1546 closed

[2020-07-01 01:21] SaquibShahzad commented on #1446
Since @arctdav hasn't been working on the issue, could I continue on this? I read the progress so far on the PR and could help with the testing!

[2020-07-01 01:23] arctdav commented on #1446
@SaquibShahzad go ahead

[2020-07-01 07:41] FabioRosado commented on #1446
Awesome @SaquibShahzad  let us know if you need any help 👍

[2020-07-01 08:28] jacobtomlinson opened #1553 "Switch Pyup bot to nightlies"
Instead of hard pinning dependencies in order to trigger CI to test new releases we should soft pin and introduce nightly builds to test new dependencies.

The downside of this is that an unrelated PR could discover the breakage before the nightly runs. Which isn't a great experience for newbies.

The plus side is installing opsdroid would be more pleasant and it would reduce some maintenance burd

[2020-07-01 08:55] FabioRosado opened #1554 "Parsers raising KeyError if enabled flag is not set in config"
# Description
While testing the new version of dialogflow, the parser breaks opsdroid if we don't have the `enabled` flag set on the config. Oddly enough when opsdroid loads dialogflow we can see that enabled is being set by `opsdroid.loader.setup_module_config`

[code]

## Steps to Reproduce
- Setup dialogflow flow
- run opsdroid
- exception occurs

## Expected Functionality
- opsdroid should par

[2020-07-01 08:59] FabioRosado commented on #1554
We should also check if the envvar `GOOGLE_APPLICATION_CREDENTIALS` exists and if not we should log it. Currently we are [raising a warning](https://github.com/opsdroid/opsdroid/blob/f69714045da88362587ffef10f3dabe928689bf3/opsdroid/parsers/dialogflow.py#L55) and opsdroid handles this error and doesn't send the warning message.

If that envvar doesn't exist the user should be warned about that but

[2020-07-01 09:40] FabioRosado commented on #1554
After digging further the issue seems to happen on every connector. I'm working on a fix right now

[2020-07-01 09:52] Cadair commented on #1553
We should write a bot to report scheduled CI fails to the chat so we don't miss them when they break, if only we knew of a good bot framework :thinking: :rofl:

[2020-07-01 13:22] #1554 closed

[2020-07-03 04:05] #1495 closed

[2020-07-04 12:06] Waterbyte commented on #1502
Hi @jacobtomlinson, I am hoping to contribute on this project starting from moving tests from unittest to pytest. I have tried my hands on simple database_test module and opened a pull request, however there is a codecoverage fail for that. Does it needs to be attending or I can move to other test modules?

[2020-07-04 13:48] jacobtomlinson commented on #1502
I'm happy to resolve the issue. Please move on to more tests.

[2020-07-04 13:50] jacobtomlinson opened #1563 "Tests should be excluded from coverage"
As we are moving tests into the opsdroid directory they are now tested for coverage.

This doesn't always make sense, for example when asserting something doesn't raise we want to catch an exception and fail the test. So for a passing year suite the except block should not be run.

We need to update the coverage config to exclude all `tests` directories within `opsdroid`.

[2020-07-06 18:08] Waterbyte commented on #1563
@jacobtomlinson I think the two files that decide coverage configurations are .coveragec and codecov.yml. I did some research and placed **\*/tests/\*** in both the files under omit section. I chose to put forward slash before and after **tests** so that wildcard don't confuses it with directory names like _fastests_ or something like _gatestses_. I hope this is OK or does it need some edits?

[2020-07-06 18:15] #1563 closed

[2020-07-06 18:15] jacobtomlinson commented on #1563
Perfect many thanks!

[2020-07-08 03:31] law opened #1569 "Slack connector returns bare inputs of "https://someurl.tld" as "<https://someurl.tld>". Possible to disable?"
# Description
I'm writing a simple skill to take a URL via message and run aiohttp against it.  Slack will 'helpfully' parse any URLs and pass them along to the Slack connector enclosed in <>'s (example: plain text input of "https://someurl.tld" becomes "<https://someurl.tld>").  Is there a way to disable this behavior?

## Steps to Reproduce
Write a skill that uses match_regex like so:
[code]

Wh

[2020-07-08 08:59] law opened #1570 "crash on 'reload'"
With Opsdroid 0.19.0, python 3.7.7, and including the 'devtools' skill, a 'reload' will cause Opsdroid to crash.  Specifically:

[code]

[2020-07-08 08:59] FabioRosado commented on #1569
Hello @law thank you for raising this issue, I can understand how annoying this might be. We are using the official slack library  on our connector and I'm assuming that either the library or slack itself is adding the `<>` to the url.  Perhaps we should update the the slack connector to avoid using that or on your skill you could write a regex to get only the url?

Trying to match this regex `<(h

[2020-07-08 17:16] law commented on #1570
Certainly:

[code]

[2020-07-08 17:18] law commented on #1569
Most excellent, thank you.  Yes, I was going to do a naive search/replace on the string just to get the brackets out of there, but having the connector just return the bare input instead of trying to decorate it would be the ideal solution.

[2020-07-10 06:58] jacobtomlinson commented on #1569
I think the decoration is being added by Slack. I'm hesitant to do any cleaning in the connector. I feel like we should represent the Slack message as is.

I would suggest going with @FabioRosado's workaround.

[2020-07-10 17:03] law commented on #1569
I can understand that POV.  It does get more complicated the more 'decoration' is being added by Slack.  For example, they will gleefully (and silently) follow any 301-redirects a website gives, and rewrite the URL while still maintaining the original text.  In practice, it looks like this:

input text:
`blah blah http://somewebsitewitharedirect.com`

output as proffered by the connector:
`blah bl

[2020-07-15 09:55] jacobtomlinson commented on #1569
Yes I think adding this to the Slack connector docs would be the most appropriate course of action here.

I would also be happy for a utility function to be added to the connector module. Something that users can import into their skill and use to strip formatting like this.

[2020-07-18 22:58] #1422 closed

[2020-07-24 18:08] FabioRosado opened #1592 "The big opsdroid showcase!"
Hello,

The opsdroid team has talked in the past that we should update our opsdroid website with a showcase section where folks could show how they use opsdroid - this could either be a link to a Github Repository or a blog post if you use opsdroid in an organisation.

I am going to start working on our landing page today and would like to add the showcase as soon as possible. So if you use opsdro

[2020-07-25 06:13] #1520 closed

[2020-07-28 10:06] #1541 closed

[2020-07-28 12:40] #1229 closed

[2020-07-28 18:45] law opened #1596 "matcher in __init__ instead of as a decorator causes opsdroid to crash"
# Description
While trying to use a variable inside a `match_regex` matcher, calling the matcher in the `init` instead of as a decorator causes opsdroid to crash

## Steps to Reproduce
The following code in a skill causes Opsdroid to crash:
[code]

Full stack is:
[code]

## Expected Functionality
Explain what should happen.
Method "get_something" should run without issue

## Experienced Functional

[2020-07-28 19:16] law opened #1597 "Configuration validator warning could be more useful + accurate"
# Description
The Opsdroid warning "Opsdroid has a new configuration format since version 0.17.0, we will change your configuration now. Please read on how to migrate in the documentation." indicates that the daemon itself will re-write your configuration file, but this is not the case.

It could also include a link to how one might be able to migrate their config-file, saving frantic seconds of G

[2020-07-30 09:50] #1597 closed

[2020-07-30 09:59] Cadair opened #1601 "Cleanup tox environments and github actions"
#1548 added a `-e2e` and `-noe2e` factor to tox, to hack around limitations of the github actions tox plugin. The best thing would be to drop `-noe2e` completely and have some finger grained control over what envs are run on github actions so that only the linux and mac builds run `-e2e` and not the windows one.

[2020-07-30 10:33] #992 closed

[2020-07-31 09:31] jacobtomlinson commented on #992
🎉

[2020-07-31 09:34] jacobtomlinson commented on #1596
I would expect this to work.

I assume there is some problem when decorating a bound method. It would be great to get this fixes as I think this opens up a lot of functionality around configuring skills from the YAML.

[2020-08-03 23:20] law opened #1609 "DMing a user by setting 'await message.respond(Message(f"some response string", target=message.user))' does not work"
# Description
Trying to build a conversation-flow that starts public and switches to the bot DMing a user, much conversation was had around the best way to achieve this.  The recommended solution was to use
[code]
but this returned the error:
[code]

## Steps to Reproduce
Create a response similar to:
[code]

## Expected Functionality
Explain what should happen.
Opsdroid would respond with the 'pu

[2020-08-03 23:26] law opened #1610 "Feature request: Please consider implementing a 'catch-all' responder"
# Description
I have a skill with many regex matchers, all starting with some flavor of "botname".  ex:
[code]

etc, with various complexities of regex applied to capture hostnames, etc.  It would be nice to be able to define a 'catchall' matcher that would fire only if it was the only string matched.  For example, if a user typed the invalid string:
[code]
that would match nothing in the above li

[2020-08-03 23:35] law opened #1611 "Feature Request: Please consider implementing 'snippet' support for the Slack connector"
# Description
I'm developing a skill that occasionally will return a LARGE amount of text.  Rather than flood the public room, it would be nice if the Opsdroid Slack connector had the ability to send a message as a 'snippet' so a small preview of the larger output would be shown, and users would have the ability to click through to see the full data-dump.

## Steps to Reproduce
Right now, `await m

[2020-08-04 08:40] Cadair commented on #1609
Looks like you have to "open" a DM with the user to get the channel id (which would then be set as target): https://github.com/SolarDrew/skill-picard/blob/master/picard/slack.py#L145

I am not sure what the best way of doing that quietly in the connector would be, I am going to have to leave that to someone who knows more about the slack API.

[2020-08-04 09:02] FabioRosado commented on #1611
I have just recently written a quick thing using NLTK to get a summary/snippet of a large block of text. I wonder if this should be done on a skill level - although I'm not sure how that would work... Maybe we could create an event that is fired when the text has more than x number of lines? 🤔

Unless you don't really care as much about a summary of that large block of test and instead you just wa

[2020-08-04 10:40] jacobtomlinson commented on #1611
I think in this case we want to upload the text to Slack as a `File` object. In Slack a text file under 1MB is referred to as a snippet and is previewed in the chat.

We already have the `File` event which represents bytes objects

https://github.com/opsdroid/opsdroid/blob/1e1544dd0c8f0f38bb62d4cf4d71a75290f75783/opsdroid/events.py#L336-L337

We should add a new handler to the Slack connector whic

[2020-08-04 11:01] jacobtomlinson commented on #1609
Looks like `im.open` is deprecated and `conversations.open` is the appropriate method for this. (cc @SolarDrew for Picard maintenance)

https://api.slack.com/methods/conversations.open

I would propose that we add a helper method to the Slack connector to get this ID. Something like this.

[code]

Then to use it you would do something like this.

[code]

[2020-08-04 11:16] jacobtomlinson commented on #1610
This is an example of opsdroid being treated like a command line in your chat client.

Many design decisions in opsdroid were based on moving away from this use case to something more natural where the bot would be in a room with many other people and it would robustly respond to queries like "what is the environment?", "can you tell me the environment?", "please get environment", etc. These kind

[2020-08-04 11:26] Cadair commented on #1609
If I remember correctly don't slack user IDs always start with `U`? Could we detect a user id and open the dm automatically?

[2020-08-04 11:29] Cadair commented on #1609
If we can't automatically detect a userid, I wonder if it's worth coming up with something not connector specific for this? Is this a thing on other chat platforms?

Alternatively, this is another case for a controlled list of method names on connectors for query type operations.

[2020-08-04 14:55] Cadair commented on #1609
Sure, but I feel the concept is far from slack-specific so that approach doesn't feel very clean either.

from a quick search it [seems like](https://api.slack.com/changelog/2016-08-11-user-id-format-changes) it's possible to parse an ID and if it starts with a `W` or a `U` then it's a user id.

Matrix is not your friend here. There is no real concept of a singular channel for a DM with a user (ye

[2020-08-04 14:58] Cadair commented on #1609
The other option would be to use the `conversations.info` and `users.info` API calls to determine if the ID was a conversation or a user ID.

[2020-08-10 12:22] FabioRosado opened #1616 "Refactor Twitch Connector tests"
When the Twitch Connector got merged the PR #1558 wasn't merged yet. So we decided to use the old way of testing - by mocking a lot of things.

We should refactor all the tests to use the new and improved `opsdroid.testing` submodule.

This refactoring will entail:

- Create a JSON file for all the responses expected from the twitch connector
- Running the `ExternalAPIMockServer`
- Create the endp

[2020-08-11 12:32] chillipeper opened #1617 "ERROR opsdroid.connector.slack.events: Username lookup failed for 'user'."
# Description
Every time a message is sent inside a thread in Slack, the RTM API sends a message event with subtype "message_replied" that at the moment is not properly handled.

This is causing Opsdroid to call unnecessarily the [`_get_user_name` ](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/events.py#L195) method in the slack connector, which at the same time ends i

[2020-08-11 15:20] jacobtomlinson commented on #1617
Are you saying the bot responds in a thread, which generates a `message_replied` event, which then causes an error?

Or is this when a person replies in a thread?

[2020-08-12 16:03] chillipeper commented on #1617
Everytime any message (user or bot) is written inside a thread, the Slack RTM API, **fires 2 events** that are received by Opsdroid:

**1.-  a message event with subtype "message_replied", which is the parent message of the thread**
[code]

**2.- a message event with the actual message sent by the user (or bot)**
[code]

So what I  see is that Opsdroid is trying to handle 1.- as a normal message e

[2020-08-21 03:11] rr3khan commented on #1502
Hi, this is my first time contributing and I am eager to help, I tried to convert test_database_sqlite.py to a pytest in a draft request so any feedback on this will be greatly appreciated. Also I just wanted to mention that the "see the docs" link in the first comment leads to a page that does not exist.

[2020-08-21 03:36] FabioRosado commented on #1502
Hello @rr3khan thank you for pointing that to us. The [contributing documentation](https://docs.opsdroid.dev/en/stable/contributing.html) is here.

I am off to work but I'll try to have a look at the PR when I come back 😄👍

[2020-08-21 06:25] haardikdharma10 commented on #1448
Hey there, @jacobtomlinson I hope this issue is still open. I went through the events.md file and I think the issue mentioned just requires a small note at the end of the Events section in the events.md file. Did I get this right? If yes, can I start working on it as it won't take more than a few minutes?

[2020-08-24 09:43] #1448 closed

[2020-08-24 16:30] HritwikSinghal commented on #1446
Hey is anyone working on this issue? My team would like to work on this issue as a project.

[2020-08-24 16:38] haardikdharma10 opened #1623 "Pyup badge in README links to a 404 page."
# Description
The Pyup badge in the README links to a 404 page. Can we consider removing it? It links to https://pyup.io/repos/github/opsdroid/opsdroid/ which is pretty straightforward and correct as other repositories that use this badge have the same format and links correctly for them.

[2020-08-24 16:46] FabioRosado commented on #1446
Hello @haardikdharma10  no one is currently working on this issue. Would be great if your team could pick it up 👍

[2020-08-24 16:49] HritwikSinghal commented on #1446
are you referring to my team?

[2020-08-24 16:50] haardikdharma10 commented on #1446
That's what I guess. @FabioRosado :P

[2020-08-25 07:39] subodhawasthi commented on #1446
I'm on @HritwikSinghal 's team. Can you provide us some tests on this issue?

[2020-08-25 09:42] jacobtomlinson commented on #1623
Yes we no longer use PyUp bot. Would you be interested in raising a PR to fix this? And perhaps also reviewing our other badges to ensure they are working correctly.

[2020-08-25 09:44] jacobtomlinson commented on #1446
@HritwikSinghal yes I think @FabioRosado meant you 😆.

@subodhawasthi we expect all contributors to write tests and documentation for their changes. We will not provide tests.

[2020-08-25 09:57] Cadair commented on #1532
The major blocker to this, the existence of an `eval_rst` directive to allow the use of things like autodoc has been patched and released: https://github.com/executablebooks/MyST-Parser/blob/master/CHANGELOG.md#0122---2020-25-08

[2020-08-25 10:03] Cadair commented on #1532
I started hacking on this here: https://github.com/Cadair/opsdroid/tree/myst if anyone gets to this before me, feel free to take those commits and make it work :smile:

[2020-08-25 10:52] HritwikSinghal commented on #1446
@jacobtomlinson So what would be the criteria for acceptance? There have to be some standard tests that you perform for every PR to accept it

[2020-08-25 10:55] FabioRosado commented on #1446
You can check the other PRs but to sum up:
- Coverage must remain the same (100% or close)
- your tests must all pass
- other tests need to pass
- you need to run black to lint your code
- you must write documentation for the thing you are adding

If you need help with running tests or black the contributing section in our docs explains it but we can give you a hand if you have any issues 👍

[2020-08-25 12:36] haardikdharma10 commented on #1623
@jacobtomlinson I am on it.

[2020-08-29 20:08] HritwikSinghal commented on #1446
ok thanks, we will start working on it ASAP

[2020-09-02 08:05] chunibyo-wly opened #1630 "Trouble in add new locale support"
# Description

Hello
I'm a beginner and I attempt to add Chinese locale support for start.
But I met a trouble which is locale not worked shown below after I compiled.
![locale.png](http://ww1.sinaimg.cn/large/006XlhXpgy1gicd3caevxj32801e0k43.jpg)
Thanks for your help.

And I use `print(locale.getlocale())` to get shell env which is `('zh_CN', 'UTF-8')`
I have no idea how to solve it
Thanks for yo

[2020-09-02 10:53] Cadair opened #1631 "Add a SIGHUP handler to reload opsdroid"
Many linux daemons respond to the [`SIGHUP`](https://en.wikipedia.org/wiki/Signal_(IPC)#SIGHUP) signal by reloading their configurations. Combined with opsdroid's `no_cache: true` this could be used to reload a skill (or other plugin) while developing it.

This should be added in the same manner as the [existing handlers](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/core.py#L56-L60).

[2020-09-02 15:32] haardikdharma10 commented on #1631
Hey @Cadair, I would like to work on this issue and fix it. Any starting steps you'd like to suggest? Thanks.

[2020-09-02 16:34] haardikdharma10 commented on #1630
Hello @chunibyo-wly, you can refer to the documentation here: https://docs.opsdroid.dev/en/stable/contributing.html?highlight=locale#localization. Hope you'll find the solution:)
cc: @FabioRosado, I hope that is it, anything to add here?

[2020-09-02 16:40] haardikdharma10 commented on #422
@jacobtomlinson, Is Hindi a good option to add here? I'd love to help adding Hindi translations.

[2020-09-02 17:15] jacobtomlinson commented on #422
Absolutely!

[2020-09-03 09:20] FabioRosado commented on #1630
Hello @chunibyo-wly  thank you for raising this PR. Can you please share your opsdroid config as well?

Currently opsdroid will only use the translated file, if you have the `lang:` parameter. You can read more on the [configuration reference documentation](https://docs.opsdroid.dev/en/stable/configuration.html#language)

[2020-09-03 10:20] chunibyo-wly commented on #1630
Oh, that's the point.
It worked well after editing configration.
I thought I havn't read env doc cause this mistake, sorry for that.
I wrongly thought opsdroid will get locale from shell parameter.
thanks

[2020-09-03 10:20] #1630 closed

[2020-09-03 13:47] FabioRosado commented on #1630
No worries, glad I could help!
This is something that should be set in the configuration example, but is not. So I am going to raise a new issue to add the `lang` parameter to the configuration.

[2020-09-03 13:52] FabioRosado opened #1633 "Add lang parameter to configuration example"
This is an issue that I'm raising due to #1630, after looking at the configuration example, I've noticed that the language parameter isn't set in the example.

We should update the language configuration to include the `lang` parameter - read the [configuration reference documentation on the language parameter](https://docs.opsdroid.dev/en/stable/configuration.html#language)

This parameter should

[2020-09-03 14:28] #1623 closed

[2020-09-05 20:11] #1382 closed

[2020-09-16 10:43] #1633 closed

[2020-09-25 15:10] SolarDrew opened #1637 "Create an opsdroid instance for the opsdroid chat"
# Description
Inexplicably, we don't currently have opsdroid actually running in the opsdroid matrix/slack chat rooms, which seems like something of an oversight.

## Steps to Reproduce
Go to any one of the opsdroid chat rooms.

## Expected Functionality
There should be a bot, so we can demo cool features, show off useful functionality and encounter bugs first-hand. We could have the config file i

[2020-09-25 19:56] Cadair commented on #1637
there is now the jitsi bot, but yeah

[2020-10-01 16:05] haardikdharma10 opened #1643 "Proposal to add All-Contributors Bot."
# Description
Current Contributions graph on the README is not updated and of course it doesn't include me as one of the contributors :P I have came across this amazing bot (https://github.com/all-contributors/all-contributors-bot) which will pull a user's profile, grab the contribution type emoji, update the project README and then open a Pull Request against the project. The documentation is eas

[2020-10-01 17:55] devraj4522 commented on #1446
Can I get much detail about that

[2020-10-01 18:04] HritwikSinghal commented on #1446
@devraj4522 my team is actually working on this issue and we need to close this pull request for submission of our project. So can you please leave this issue to us since our grade depends on it ?

FabioRosado, i assure you i am working on this issue with my team and we will close this issue in near future, its just that our mid-sem exams are going on currently.

[2020-10-02 07:38] virejdasani opened #1646 "Typos and issues in the Fix errors and typos in opsdroid.po"
# Description
There are typos and issues in the opsdroid/locale/hi/LC_MESSAGES/opsdroid.po
For example, the quotations are applied improperly. This causes some of the text to leak out of the string.
This is problematic because the user may only see part of the sentence.

## Steps to Reproduce
I have fixed all of these issues in my pull request by going line by line and fixing typos and quotation e

[2020-10-02 08:55] devraj4522 commented on #1446
Ok I didn't knew .

[2020-10-02 22:38] avats-dev commented on #1601
I want to work on this. Can anyone guide me a bit how to resolve this? Thanks :+1:

[2020-10-03 10:39] Cadair commented on #1601
iirc the main issue here was our use of the https://github.com/ymyzk/tox-gh-actions plugin for tox, while it makes things nice and easy it doesn't give us the flexibility to say "run this tox factor only on linux" or whatever we need. You will need to spend some time looking at our current tox and GH actions configs to work out exactly what needs to be done. The end goal however is to remove the `

[2020-10-03 16:21] #1631 closed

[2020-10-03 19:32] avats-dev commented on #1601
Thanks @Cadair for the insights, I'm getting my familiar with the configs and will let you know. :+1:

[2020-10-04 13:21] #1610 closed

[2020-10-04 14:03] #1646 closed

[2020-10-05 13:11] Surajv311 opened #1651 "Typo error in the docs"
# Description
There is a  typo error in the spelling of Gitter in the docs.

I can fix this issue.

[2020-10-05 17:46] #1651 closed

[2020-10-06 07:21] tardigrde commented on #1637
Hi! I would like to do this if nobody else doing it already. Where would it be running? It has to be connected to both matrix and slack right?

[2020-10-06 10:06] FabioRosado commented on #1637
Hello @tardigrde, this PR was raised after we had a meeting last month and realised that we should probably have opsdroid running on our chat rooms. We will host the bot ourselves, but we need to figure out what sort of skills we need to build/add to it

[2020-10-08 21:18] haardikdharma10 commented on #340
Hey @jacobtomlinson, can you help me to get started on this? If you can help me with the file that needs to be edited, it'd be great as well:)

[2020-10-09 08:49] FabioRosado commented on #340
Hello @haardikdharma10 like Jacob wrote on this issue, you will have to go through all connectors and check which ones add an endpoint to opsdroid API and we need to mention that in the documentation - You can read the [REST API documentation](https://docs.opsdroid.dev/en/stable/rest-api.html) to see what the base endpoints are doing 👍

[2020-10-09 12:04] Cadair opened #1655 "upgrade Python in opsdroid docker containers to 3.8"

[2020-10-15 11:38] Cadair opened #1656 "Add a config option to disable registering a route for /"
In the web server by default a route is registered for the base / path. This should be configurable in case a user wants to register their own.

[2020-10-19 13:20] jacobtomlinson commented on #1643
The contributors image in the README is provided by Open Collective our fiscal host. It appears the image is showing 112 contributors, but opsdroid has had over 150 now. So I'm not sure if this is a limitation of their image generation, we should probably raise it with them.

You are listed in the GitHub contributor graph as number 21.

https://github.com/opsdroid/opsdroid/graphs/contributors

I d

[2020-10-19 13:20] #1643 closed

[2020-10-19 16:36] mdb571 commented on #1656
Hey there,I would like to work on this issue since this is beginner one.Can you guide me as to what has to be done inorder to resolve this issue?

[2020-10-19 16:38] Cadair commented on #1656
[this](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/web.py#L28) line needs to be configurable. If the `serve_root_path: false` then it shouldn't be run.

[2020-10-21 20:28] dexterpuru commented on #1656
is this what you are asking for?
`
if (self.web_index_handler){
    self.web_app.router.add_get("/", self.web_index_handler)
}
`

[2020-10-23 13:07] FabioRosado opened #1658 "Twitch connector can't connect to webhook"
When I was working on the Twitter connector, I realised that I had changed the configuration for the webhook URL to use the `base-url` although I forgot to make the changes to the `connect_webhook` method.

This means that the Twitch connector isn't able to connect to webhooks because we are passing a None url.

I am going to raise a PR to fix this issue in a moment.

[2020-10-25 04:18] rexdivakar commented on #1531
Do u wish to build a python package ?

[2020-10-28 16:26] #1658 closed

[2020-10-28 17:18] #1655 closed

[2020-10-30 06:05] hashtag-incIude opened #1666 "Required information before installing"
Still installing the  modules of each set of requirements is individually pip installed. It would be better to gather all requirements (including core opsdroid requirements) and to do in a single pip install. That way any collisions will be detected and potentially handled by pip, or many error durning installed is also solved.

[2020-10-30 09:35] jacobtomlinson commented on #1666
I'm not sure I understand. You can install all optional dependencies with `pip install opsdroid[all]`.

[2020-11-05 16:15] akshitagupta15june opened #1670 "Add a tweet scraper in opsdroid site"
# Description
Please include a summary of the issue.

Add a tweet scraper in opsdroid site https://opsdroid.dev/

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.
https://github.com/Hsankesara/Tweets-Scrapper
from this we can scrap the tweets

## Expected Functionality
Explain what should happen.

Site will be more enhanced and real time friendly

[2020-11-09 15:37] jacobtomlinson commented on #1670
Closing as spam promoting another project.

[2020-11-09 15:37] #1670 closed

[2020-11-12 05:37] anushkrishnav commented on #1656
I wish to work on it

[2020-11-14 09:22] #1637 closed

[2020-11-14 09:22] #1617 closed

[2020-11-19 13:56] rexroof opened #1673 "skill-seen broken with redis database?"
I've been testing opsdroid with a redis database and the seen skill appears to be having problems serializing python datetime objects.

user: when did you last see user?
opsdroid: Whoops there has been an error.
opsdroid: Check the log for details.

this is the opsdroid log with DEBUG logging enabled:

[code]

I know this hasn't been touched in a few years, but I'm wondering if there is a general

[2020-11-23 09:39] ironoa opened #1676 "E2EE - Matrix Connector"
# Description
I would need to be able to use E2EE with the Matrix connector. My skill is fully working in an unencrypted room (read from the chat, write to the chat), but in an encrypted room my skill is only capable of writing to the chat.

Here it's mentioned that the E2EE is supported: https://docs.opsdroid.dev/en/latest/connectors/matrix.html
That documentation appears only if you select versi

[2020-11-23 10:06] Cadair commented on #1676
The e2ee support has not made it to a release, it's only implemented in the master branch. The documentation you linked is "latest" which is built from the master branch.

If you install the master branch then following the instructions you found should give you e2ee support. We are planning on doing a release as soon as maintainer time allows (we have all had a very busy and stressful year!), one

[2020-11-23 10:08] Cadair commented on #1676
As for installing olm in the docker container, this is done in the one on the master branch here: https://github.com/opsdroid/opsdroid/blob/master/Dockerfile it's reasonably easy to adapt line 5 of that file to install from `git+https://github.com/opsdroid/opsdroid` rather than `.` the local directory if you want to copy it out into your deployment.

[2020-11-23 11:03] #1656 closed

[2020-11-23 14:23] ironoa commented on #1676
Thanks for the answer.
I'm having problems building the Dockerfile ( https://github.com/opsdroid/opsdroid/blob/master/Dockerfile ). Some errors with libzmq.
Could you please test it ?

[2020-11-23 14:41] Cadair commented on #1676
Oh yeah, we are having those issues on our CI at the moment as well.

[2020-11-23 15:51] thasos opened #1677 "Error during installation on debian"
# Description
There is an error when we start opsdroid on debian (fresh install or in a docker container).

## Steps to Reproduce
[code]

## Expected Functionality
opsdroid start (it works with ubuntu)

## Experienced Functionality
Error while installing the packages for opsdroid v0.19.0 (I tested 0.18.0 too, same error)

## Versions
- **Opsdroid version: 0.19.0**
- **Python version: 3.9.0+**
- **

[2020-11-23 15:59] Cadair commented on #1677
Think this is probably more of a Python 3.9 issue than a debian one. Thanks for the report :+1:

[2020-11-25 13:27] dud1337 commented on #1676
Confirming issues building the Dockerfile relating to `libzmq` on Debian 10:

[code]

[2020-11-27 12:04] jacobtomlinson commented on #1676
This is now fixed in #1680

[2020-11-27 15:06] Cadair commented on #1676
I am going to close this as I think the solution is we need to do a release.

[2020-11-27 15:06] #1676 closed

[2020-11-28 00:09] dud1337 commented on #1676
Thanks, guys!

[2020-11-28 12:47] #1673 closed

[2020-12-04 09:01] Cadair opened #1685 "Matrix database raises an error when it should return None on getting a nonexistent key"
# Description
Please include a summary of the issue.

## Steps to Reproduce

Run `opsdroid.database.get("key")` when `"key"` has never been added to the room state.

## Expected Functionality

the `get()` method should return None

## Experienced Functionality
An exception was rasied:

<details>
[code]
</details>

## Versions
- **Opsdroid version:** master
- **Python version:** 3.8

## Database Co

[2020-12-05 05:55] hashtag-incIude commented on #1666
How can I get the sticker!!

On Sat, Dec 5, 2020, 10:40 AM stale[bot] <notifications@github.com> wrote:

[2020-12-05 08:55] FabioRosado commented on #1666
We only give stickers if a PR closes an issue, but we haven't had the time to send new ones yet

[2020-12-05 10:56] #1666 closed

[2020-12-10 15:33] #1446 closed

[2020-12-23 16:41] ericovis commented on #1491
Is there any ETA for this? Spend the whole day trying to come up with a test connector to make tests viable on my end but with no luck so far... Is there anything similar in the codebase already that I can use as a reference?

[2020-12-29 13:17] FabioRosado commented on #1491
Hello @ericovis Apologies for not answering you earlier. We have an open PR #1558 that aims to add a new way to test the connectors, but since the project moved quite fast since Jacob opened that PR. We are hitting some issues with getting the new tests to pass.

We have been a bit busy and not able to spend much time tackling this issue, but perhaps that PR could be a good reference for you?

[2021-01-03 15:35] danielballan opened #1691 "Making skill-hello case insensitive exposed a bug: infinite self-responses."
# Description

Thanks for this great project!

While trying out a case-insensitive variation of skill-hello that I just [submitted as a PR against skill-hello](https://github.com/opsdroid/skill-hello/pull/4) I encountered an infinite loop of the bot responding to itself.

## Expected behavior

I expected to say "Hi" and get one "Hi" / "Hello" / "Hey" back.

## Experienced behavior

Instead, the bo

[2021-01-03 15:48] FabioRosado commented on #1691
Hello and thank you for raising this issue. I'm thinking that the reason why opsdroid doesn't reply to itself in the case sensitive is mostly because it will reply with a lower case string 🤔

Your assumption is right, this seems a bug from the gitter connector itself, I'm thinking that if we change line 75 (that if statement) to handle the case where Message is coming from the bot.

The Message ev

[2021-01-03 17:34] danielballan commented on #1691
Great, thanks. It makes sense this would have be handled in the connector. I think I can submit a patch in the next day or two for the gitter one.

Ha. Thanks for the heads up about the token—yikes.

[2021-01-03 18:05] FabioRosado commented on #1691
No worries, I tend to leak my tokens while live stream all the time haha

[2021-01-04 17:33] #1691 closed

[2021-01-05 01:31] danielballan opened #1693 "Gitter driven into a state where sent messages "succeed" but never appear"
# Description

The gitter connector eventually drives _something_ into a state where messages are sent "successfully" but never actually appear in gitter---not even if I wait for hours, and neither in the browser nor in the iOS app. When messages are sent, gitter's response has a `200` status, and all its headers look fine, including those related to rate limiting. (See logs below.)

Restarting op

[2021-01-05 11:59] Cadair opened #1696 "Replace our use of deadlinks with sphinx linkcheck"
# Description
We currently use deadlinks to check the links in our docs but sphinx has it's own linkchecker which is a little more verbose.

To run the sphinx linkcheck run the following inside the docs directory: `sphinx-build -b linkcheck . _build/html`.
All the errors need fixing and then this command needs to replace the deadlinks command in the `tox.ini` file.

[2021-01-05 12:14] FabioRosado commented on #1693
Thank you for raising this issue and getting into trying to figure out what was happening. I'm wondering if the issue isn't both ours and gitter? Perhaps we might need to update the connector somehow.

Also related to #1691 - if we look at the [`_get_messages`](https://github.com/opsdroid/opsdroid/blob/7f036c3199a99628c0efb4d6ef142ab8f5d9a3c1/opsdroid/connector/gitter/__init__.py#L89) method, I'm

[2021-01-05 12:41] jacobtomlinson commented on #1693
Thanks for raising this Dan.

Bugs like this are a real pain. I wonder if there is something on their end to filter out repeated messages. Perhaps you could add some perturbations to your bot's response to see if the same thing happens?

[2021-01-05 13:16] danielballan commented on #1693
Duplicate detection was a good hint. It looks like gitter applies duplicate detection for a two-week probation period on new accounts, and it results in the account getting permanently (silently?) banned.

[code]

Excerpted from https://gitlab.com/gitterHQ/webapp/-/blob/2bad5c88524c884b2b3e67cf5a0f82a15173fa29/modules/spam-detection/lib/chat-spam-detection.js#L34-37 (I got there from [this message

[2021-01-05 14:21] jacobtomlinson commented on #1693
That sounds very reasonable.

[2021-01-05 14:23] jacobtomlinson commented on #1693
Also yeah looks like they `hellban` (also known as shadow banning). So the user becomes invisible to everyone except themselves.

[2021-01-05 16:21] #1693 closed

[2021-01-07 12:11] chillipeper opened #1699 "Slack Connector, search a channel ID, by its name"
# Description
Currently, if we need to send any message to a Slack Channel, we have to know the channel ID. Unfortunately, this is not always possible, and it would be nice to have a way that Opsdroid translates channel names to channel ids.

I have been searching on the Slack API and there is no method that would do this, so the only thing I can think of, is iterating over all the channels. (prob

[2021-01-07 15:26] jacobtomlinson commented on #1699
Does this work for you?

[code]

[2021-01-07 20:35] chillipeper commented on #1699
I think this behaviour has changed very recently on the Slack API. The following methods are working now:
[code]

I am saying very recently because this has been an issue that I have been trying to tackle for a while, and it was not working on the past.

I see that not even the documentation of https://api.slack.com/methods/chat.postMessage#channels has been updated yet

I am not sure if this issu

[2021-01-08 08:06] Anshika66-Gupta opened #1700 "Error during installation on debian and Matrix database raise an error when we are returning None on getting a nonexistent key"
# Description
Please include a summary of the issue.

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.

## Expected Functionality
Explain what should happen.

## Experienced Functionality
Explain what happened instead(Please include the debug log).

## Versions
- **Opsdroid version:**
- **Python version:**
- **OS/Docker version:**

## Configurati

[2021-01-08 10:41] Cadair commented on #1700
Can you provide more information? The code you ran, the error you saw?

[2021-01-08 14:17] jacobtomlinson commented on #1699
I've always used the `#` prefixed version with no issues.

I don't think opsdroid supports `setTopic` right now. But yes I see that this could be a problem in other places.

I would be very happy to review a PR which grabs the channel list and automatically converts names to IDs as part of the send methods.

[2021-01-08 14:28] jacobtomlinson commented on #1700
Closing as no information was provided.

Please open a new issue and fill out the template.

[2021-01-08 14:28] #1700 closed

[2021-01-12 11:12] #1685 closed

[2021-01-12 20:02] chillipeper opened #1704 "Opsdroid does not exit with ctrl-c"
# Description
Opsdroid is not exiting with ctrl-c. When starting Opsdroid locally, I was able to exit the bot with the ctrl-c escape key.  Now it only hangs, and I have to kill the process manually to exit,

## Steps to Reproduce
- Clone the repo and install the latest branch of Opsdroid
- execute `opsdroid start`

I have tested this without a configuration file, so it uses the default one, and al

[2021-01-13 09:46] jacobtomlinson commented on #1704
cc @cognifloyd. I think this may be due to recent signalling work.

[2021-01-17 00:22] cognifloyd commented on #1704
Should be fixed with #1708

[2021-01-17 12:19] #1704 closed

[2021-01-18 12:22] Cadair opened #1711 "Add a page to the developer documentation describing how to write testsi"
# Description
Things to cover would be:

* pytest fixtures and marks
* ExternalMockAPIServer
* All the fixtures in `opsdroid/testing/fixtures.py`
* How to write tests which use a running opsdroid instance and `call_endpoint`

This page should also contain autodoc segments for the docstrings of the fixtures that have lots of examples in them.

[2021-01-18 13:32] Cadair opened #1712 "Handle multiple events in a single sync response in the matrix connector"
# Description

Currently, when parsing a sync response, the matrix connector returns out of the method when it encounters the first event in the timeline.

https://github.com/opsdroid/opsdroid/blob/3fe47d89df719e22861352fc3806d4093832c024/opsdroid/connector/matrix/connector.py#L284-L286

This is then subsequently passed to `opsdroid.parse` in the `listen` method:

https://github.com/opsdroid/opsdr

[2021-01-18 13:34] Cadair opened #1713 "Log information if the matrix connector is unable to decrypt an event"
This requires understanding the [matrix-nio](https://github.com/poljar/matrix-nio) library for how (if at all) this information is exposed.

The relevant section of the code is:
https://github.com/opsdroid/opsdroid/blob/3fe47d89df719e22861352fc3806d4093832c024/opsdroid/connector/matrix/connector.py#L280-L283

[2021-01-18 13:37] Cadair opened #1714 "Improve logging of certain classes of HTTP errors in the matrix connector"
# Description

Errors returned by the matrix server are handled correctly, e.g. this logging pattern which occurs frequently:
https://github.com/opsdroid/opsdroid/blob/3fe47d89df719e22861352fc3806d4093832c024/opsdroid/connector/matrix/connector.py#L296-L300

but if the error happened at the HTTP layer (i.e. 503 proxy timeout or 404) then these are not logged with any information.

This should be h

[2021-01-18 13:38] Cadair commented on #1529
I have moved the remaining three issues to #1712 #1713 and #1714

[2021-01-18 13:38] #1529 closed

[2021-01-18 13:39] Cadair commented on #1712
An alternative (probably preferable) solution is to move the call to `opsdroid.parse` into the `_parse_sync_response` method.

[2021-01-20 16:08] Cadair opened #1720 "Improve performance of room_specific_nicks in matrix connector"
# Description

At the moment we iterate over all the members in a room to calculate the room specific nick names:

https://github.com/opsdroid/opsdroid/blob/623a70bbc002db570915fb8336ddd5ed4abb8638/opsdroid/connector/matrix/connector.py#L325-L333

This is very inefficient when we can use the state endpoint to query it for the specific user: https://matrix.org/docs/spec/client_server/r0.5.0#get-mat

[2021-01-20 23:07] #1713 closed

[2021-01-21 00:14] Cadair opened #1722 "Add support for retrying decryption on subsequent syncs"
Sometimes when receiving events over sync the keys needed to decrypt that event wont have arrived yet. If the decryption was attempted a sync or two later the keys may have arrived and the event could be decrypted.

We should keep a time-limited cache of events which failed to decrypt and re-try the decryption on each subsequent sync until they expire from the cache. (10s or so)

[2021-01-21 10:01] Cadair commented on #1264
Implementing this also requires adding support for it in the matrix-nio library.

[2021-01-21 10:34] Cadair opened #1723 "Build the opsdroid docker container on GitHub Actions and Push to GitHub container registry"
In addition to our current docker container build which is automated on Dockerhub (https://hub.docker.com/r/opsdroid/opsdroid) it would be good if *in addition* to this we were building and publishing containers on the GitHub Container Registry.

This involves:
* Adding a new step to the [`deploy`](https://github.com/opsdroid/opsdroid/blob/master/.github/workflows/deploy.yml) workflow to build and

[2021-01-21 11:08] Cadair opened #1724 "We do not claim keys for all rooms on startup with e2ee enabled in the matrix connector"
Here:

https://github.com/opsdroid/opsdroid/blob/69b3b9cbf2064b66c34831a235e8d101e50f9a0e/opsdroid/connector/matrix/connector.py#L173

We only iterate over `self.room_ids` which is the rooms in the config not all the rooms the account is joined to, this loop should be changed so it iterates over all rooms filtered by if encryption is enabled in that room.

[2021-01-21 22:33] ShrillShrestha commented on #1712
Since I am a beginner, I am not sure if what I understood was what you were referring to. Just wanted to ask is it just moving the call for` opsdorid.parse` in the `_parse_sync_response` method instead of this [return statement](https://github.com/opsdroid/opsdroid/blob/3fe47d89df719e22861352fc3806d4093832c024/opsdroid/connector/matrix/connector.py#L284) where each event will be passed in the `ops

[2021-01-22 05:34] cognifloyd commented on #1712
This is approximately @Cadair's solution in #1715.

[code]

I think this might be a bit cleaner (which I've recommended in #1715):

[code]

[2021-01-22 06:02] ShrillShrestha commented on #1712
I was thinking more like this, similar to @Cadair :

@cognifloyd, yours is also a beautiful solution:

[2021-01-22 16:52] ShrillShrestha commented on #1712
@Cadair, @cognifloyd Do you want me to make the change as the one stated above?

[2021-01-27 13:11] Cadair opened #1732 "Add a method on the matrix connector which lists all rooms the account is joined to"
Somewhat related to #1724 but it's also useful for skills to be able to get a list of all joined (not just configured) rooms.

I am thinking a signature like:

[code]
which returns room_ids for the rooms. Richer nio room objects could then be obtained by doing `connector.connection.rooms[room_id]`.

[2021-01-27 13:26] Cadair opened #1733 "Generalised per-room memory"
The matrix database stores data in room state. This means that the database is bound to a specific room, there is also a couple of helper functions which allow you to use memory in a specific room, this is very useful as it allows the memory to have the context of the room in which the message was received. So you can store per-chat context along with the memory.

At the moment, this is a matrix o

[2021-01-27 14:11] SolarDrew commented on #1733
To some extent this is already kind of covered by the `memory_in_room` context manager, right? Other databses could define this (or equivalent) to namespace entries in whatever way makes sense for that kind of memory, and without impacting how the matrix one works. I'm less sure how you'd approach defaulting to the room an event was received in.

[2021-01-28 12:56] Cadair commented on #1733
I don't think we need to default to the room in which the event was received, just all the databases need to support memory in room for the feature to not lock you into the matrix db.

What I am suggesting is that memory in room becomes part of Memory and all dbs support it. Then the memory_in_event_room works for everyone all the time.

[2021-02-03 10:23] FabioRosado opened #1736 "Update documentation on memory"
While answering a question from @xDiesel76 on our matrix channel, I realised that the documentation on opsdroid memory is missing some things like the [`delete` method](https://github.com/opsdroid/opsdroid/blob/d92a129c557d209172fb83507a3e1a414fb8e28a/opsdroid/memory.py#L53).

Just to make sure that this documentation stays up to date with the code, I would use the sphinx autodoc to generate the d

[2021-02-03 11:59] omers opened #1737 "Match @mention regex"
Hi,

This is a general question, and I couldn't find any information in the documentation.
I would like the bot to capture a user/team mention in slack - "@devopsteam" for example.

The channel user mention a group (which is not the bot), and I would like to capture the message and create a ticket based on that. I tried to do a @match_regex(r"@devopsteam"), and It does not work as expected.

Appre

[2021-02-03 14:19] xDiesel76 commented on #1736
Where are you supposed to put the sphinx autodoc?

[2021-02-03 19:10] FabioRosado commented on #1736
I would say move the example up and then use

[code]

After, that will make sphinx to generate the docs automatically, we can then remove the mention of `put, get`

[2021-02-04 01:55] xDiesel76 commented on #1736
It isn't generating me anything? Am I doing something wrong

[2021-02-04 11:49] FabioRosado commented on #1736
are you closing the backticks? I am unable to do it in here. You might need to install some dependencies for the docs, feel free to update the open PR that you have and I'll test it on my end 😄 👍

[2021-02-04 14:28] xDiesel76 commented on #1736
Thanks fabio, no I wasn't closing the backticks. I updated the PR, can you see if the autoclass work?

[2021-02-05 18:49] #1736 closed

[2021-02-06 15:43] FabioRosado opened #1740 "Add Reference to Github connector documentation"
I will create a GitHub connector for a project and noticed that the documentation lacks the reference part. Since we started using autodoc, we can pull the connector's docstrings to get more documentation and better-updated one for that matter.

Please refer to the [Contributing - Documentation](https://docs.opsdroid.dev/en/latest/contributing/documentation.html) docs on generating the auto-docume

[2021-02-06 15:45] FabioRosado commented on #1737
Hello, @omers  thank you for raising this issue, could I ask you what you get from the logs if you set this as debug? From your example things should work, I am keen on knowing if we need to escape the `@` although I don't think that's the case 🤔

If you don't have the time, I'll try to test things and debug the issue tomorrow 👍

[2021-02-06 21:29] #813 closed

[2021-02-08 12:23] rexroof opened #1744 "Twitch Webhook registration returning 400 Bad Request"
# Description
adding configuration for twitch webhooks generates Bad Request errors and doesn't appear to work.

## Steps to Reproduce

added Twitch connector config and started opsdroid in debug mode

## Expected Functionality
opsdroid should subscribe to webhooks?

I'm not currently acting on any webhook events yet in my skills, not sure if that is required.

## Experienced Functionality
Explain

[2021-02-08 12:49] FabioRosado commented on #1744
Hey Red thank you for raising this issue here, I finally remembered what happened. I changed things around but forgot to check if the forward_url is in configuration so the code isn't using this value to subscribe to the webhook 🤦‍♂️

I'll try to get a fix for this, unless you want to take a stab at it?

[2021-02-08 14:10] rexroof commented on #1744
thanks fabio, if I get a chance, I'll take a look.

Do you think there would be value to updating the webhook code to use twitch eventsub instead?  I'm a little unclear on what twitch developer apis want you to target going forward.

[2021-02-08 14:25] rexroof commented on #1744
I may have figured out the issue.    I think it is a typo in the docs, sorry I didn't notice this earlier.
the config option is  `base-url` or `forward-url`, they are aliases for each other.

the docs have a typo:  `foward-url:`.

I'll submit another one-line PR :D

[2021-02-08 14:50] FabioRosado commented on #1744
That's a good question, I wasn't sure if I should use the eventsub when I wrote this connector, like you I was unclear what twitch wants us to do 🤔  If you think it's a good idea I'm up for it 😄

[2021-02-08 15:10] #1712 closed

[2021-02-10 09:49] #1720 closed

[2021-02-11 17:53] SolarDrew opened #1746 "Feature suggestion: time utilities"
I've been thinking for some time it might be useful to have more sophisticated time-tracking and time-related tools in opsdroid. Primarily this would boil down to opsdroid having the ability to defer functionality, either by waiting for some defined duration or by setting a trigger at some arbitrary future time. The most immediate use would be for things like a reminder skill - eg "remind me in te

[2021-02-11 17:55] SolarDrew commented on #1746
As a separate but overlapping feature we could also have tracking of arbitrary events - eg congratulate every nth person to join the room. Or after 10k messages remind people that slack would have started deleting old ones :P

[2021-02-20 20:02] rexroof commented on #1744
I think maybe I solved most of these issues with my documentation PR that was accepted.

I do still see errors like this from twitch though, not sure if they are related:

[code]

[2021-02-24 10:16] Cadair opened #1750 "If the matrix server is unreachable on startup no error is logged"
I need to look into this more, but my reverse proxy was offline for my matrix server and opsdroid started, but then didn't log anything at any level (my logs were on debug) to tell me it couldn't connect.

[2021-02-26 11:13] jerinjtitus commented on #1732
Hey, I am completely new here. Can you give me a gist on how to approach this?

[2021-02-26 11:43] Cadair commented on #1732
You would use the `nio.AsyncClient` object, which is the `ConnectorMatrix.connection` attribute, and call the `joined_rooms` method (https://matrix-nio.readthedocs.io/en/stable/nio.html#nio.Api.joined_rooms), and return a tuple of strings which are the matrix room ids of the rooms.

[2021-02-26 13:12] jerinjtitus commented on #1732
Thanks for the help.

So, the return value of `joined_rooms` is a list of room_ids, right? I called `ConnectorMatrix.connection.joined_rooms` which contains `joined_rooms` method (from `nio.Api`). So I think `ConnectorMatrix.connection.joined_rooms` returns room_ids list (I am not totally sure of that).
Plus, I had one more doubt. How exactly can I check if a room is encrypted for `encrypted_only`

[2021-02-26 15:36] SolarDrew opened #1751 "Connector failing to connect doesn't kill the bot"
# Description
If a connector isn't able to connect to the service, opsdroid will keep running. This is fine as a policy but as things stand at the moment it will then call `listen()` and that will break instead because the connector isn't there.

## Steps to Reproduce
Set up a basic bot with eg the matrix connector and point it at a homeserver that doesn't exist.

## Expected Functionality
Either:

[2021-02-26 16:02] Cadair commented on #1751
What do we want the behaviour to be in general if a connector fails to connect. The options I can think of are:

* Log at error and then have opsdroid skip `listen()`.
* Error and stop setting up opsdroid.
* Error if all connectors fail to connect.
* Have a config option which selects this behaviour.

[2021-03-01 09:52] Cadair commented on #1732
Yes that is what I would like it to be.

It returns a [`JoinedRoomsResponse`](https://matrix-nio.readthedocs.io/en/stable/nio.html#nio.responses.JoinedRoomsResponse) instance or a [`JoinedRoomsError`](https://matrix-nio.readthedocs.io/en/stable/nio.html#nio.responses.JoinedRoomsError) instance depending on if the call was successful.

I *think* you will need to attempt to get the [`m.room.encrypti

[2021-03-02 11:59] jerinjtitus commented on #1732
How exactly can I test the changes I done? Do I have to create a new test for it?

[2021-03-02 14:26] Cadair commented on #1732
yeah, without filtering by encrypted the test should only make one API call so it should be easy enough to provide a canned response to the `/joined_rooms` endpoint. See [these tests](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/matrix/tests/test_connector_connect.py) as a good template.

[2021-03-03 00:46] jerinjtitus commented on #1732
Is it fine if I open a draft pull request on this for you to review?

[2021-03-03 09:27] Cadair commented on #1732
Yes please do

[2021-03-07 12:31] Cadair opened #1755 "Support an "all messages" mode on the matrix connector"
Currently the matrix connector only processes messages that it receives in real time while running. We achieve this by doing an initial sync and throwing away all the events in that sync and then incrementally syncing for new events to process after startup is complete.

As a configuration option we could instead on startup process all messages since the bot was last active (via the room fully rea

[2021-03-11 17:40] Cadair opened #1756 "Update rasa parser to work with rasa 2"
# Description

I am still investigating but it looks like Rasa 2 has a different http API and our matcher does not work with it.

[2021-03-14 19:54] MrBlueSteel commented on #1714
First time trying to fix something. PR under https://github.com/opsdroid/opsdroid/pull/1757

[2021-03-15 18:55] ericovis commented on #1491
Thx for the reply but the code in the PR and in the docs doesn't seem to work... I will open an issue for that

[2021-03-24 07:48] hkonala opened #1761 "Some (random) skills are not loading in kubernetes environment"
# Description
Every time we restart the kubernetes pod, some of the skills are not getting loaded. Please note that, same set of skills are loading fine in local setup i.e., in a VM

## Steps to Reproduce
Containerize the current local setup and start the Opsdroid

## Expected Functionality
All the skills in the config file should be loaded

## Experienced Functionality
Some of the skills are not

[2021-03-24 07:50] hkonala commented on #1761
Please let me know if anyone needs information regarding the kubernetes config or docket file. We have pretty basic setup, but please let me know if you want to take a look

[2021-03-26 23:00] hkonala commented on #1761
@Cadair @jacobtomlinson  kindly take a look at this issue when you have time

[2021-03-27 18:29] vinayak0127 commented on #1740
hey, @FabioRosado I'd like to work on this issue but can you please explain more about the work : )

[2021-03-27 20:06] FabioRosado commented on #1740
Hello @vinayak0127  thank you for your message, I have started working on a refactor of the GitHub connector and did some work on the documentation on #1753 I just didn't have time to finish the work that I started on that PR yet.

Could I recommend maybe tackling #1198 by adding an example? Otherwise, feel free to have a look at my PR and suggest any changes to the GitHub documentation 😄 👍

[2021-04-03 21:53] jacobtomlinson commented on #1761
Lines like this suggest that the python file itself failed to import. My guess here is that you have a missing package in your container image.

To debug this issue I recommend you try to run that skill file with Python in your container. If you run a skill without opsdroid it should just exit cleanly.

We should also explore making the `Module X failed to import` error more helpful by providing t

[2021-04-05 22:11] FabioRosado opened #1764 "Add code scanning alert event to github connector"
Once #1753 gets merged, we should really add the `code_scanning_alert` event so opsdroid can alert us when an alert is raised. You can see the [github documentation](https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#code_scanning_alert) on this event and the payload example to get an idea of what could be useful including in the event.

[2021-04-07 13:19] Ni3dzwi3dz commented on #1764
I volunteer :)

[2021-04-07 14:42] FabioRosado commented on #1764
Awesome thank you, let us know if you need any help 👍

[2021-04-07 18:40] Ni3dzwi3dz commented on #1764
Ok, so what i understand, from the code, the task is:
-in events.py create classes for possible events defined by payload "action"
-in the __init__.py create method that returns event with correct data
-hopefully, cover the changes by tests, using example payload that needs to be saved in tests\responses

Did i forget anything?

[2021-04-07 18:45] FabioRosado commented on #1764
Yeah that sounds about right 😄 👍

[2021-04-10 19:21] chillipeper commented on #1699
I have opened #1765  to try to tackle this

[2021-04-12 17:42] thechawla225 opened #1766 "Add remove user option in telegram connector"
Hello guys ! new comer here, as I was going through the docs for the telegram connector I realized that there is no way to remove users from a group chat/channel . So I would like to request that this feature be added.

Also I would like to volunteer to add this feature.

Thanks a lot!

[2021-04-12 18:02] FabioRosado commented on #1766
Hello @thechawla225  thank you for raising this issue. The Telegram connector does a few things, but it mostly builds events that were triggered by the chat. I feel that if you would like the ability to remove a user from a group, you could create a skill to do this following a command from an ADMIN or by the trigger of banned words.

You could use my [Twitch skill](https://github.com/FabioRosado/

[2021-04-13 04:38] thechawla225 commented on #1766
Thanks a lot @FabioRosado I will try to do as u suggested.

[2021-04-13 04:38] #1766 closed

[2021-04-30 20:56] FabioRosado opened #1770 "Slack connector should check if message event exists before iterating"
When sending a lot of messages to a slack block (for example sending output from the terminal to a block) we will get a rate limit and get reset by peer.

The `_send_message` method will freeze opsdroid and we have to kill it from the terminal

[code]

[2021-05-01 11:07] chillipeper commented on #1770
hey @FabioRosado

If you could share, I would be interested to know what does the `message.linked_event` holds, as it seems it does not have the `raw_event` attribute.  It should be safe to add an extra check to see if the `raw_event` actually exists or not, but knowing what the link event holds would give more context on how that exception could be handled.

Also, how do you know it's a rate limi

[2021-05-11 19:33] DAMO238 opened #1772 "Configuration option to auto-join rooms."
# Description
For connectors such as matrix (I don't actually use any others currently), if a user wants to use a bot in their room, the only way it is possible is if they contact the owner and get them to add their room into the config file. Obviously, this is not necessarily ideal, so I propose an option (that is false by default) that makes it so that, whenever the bot is invited to a room, it

[2021-05-12 10:34] Cadair commented on #1772
I agree this would be a good feature to have, but it's easy to write a skill which does this for an example see here: https://github.com/Cadair/skill-jitsi/blob/master/__init__.py#L249-L257

[2021-05-12 11:26] DAMO238 commented on #1772
Thank you for that, that worked great! Is there anywhere I can read up on all the matrix specific events, since I couldn't find anything in the docs?

[2021-05-12 12:29] Cadair commented on #1772
The ones which are truly matrix specific are in this file: https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/matrix/events.py all the others are in https://github.com/opsdroid/opsdroid/blob/master/opsdroid/events.py

#1293 is the issue tracking improving the docs for connectors and events.

[2021-05-13 08:10] davdr opened #1773 "Mattermost connector is broken"
# Description
The Mattermost connector is broken. It can connect to a Mattermost instance, but when sending a message to OpsDroid (using the Hello skill) you get:

[code]

## Steps to Reproduce
Configure the Mattermost connector and the Hello skill, start Opsdroid and send a message to the bot in Mattermost.

## Expected Functionality
A reply form the Hello skill.

## Experienced Functionality
No

[2021-05-13 08:28] davdr opened #1775 "Infinite self-responses in Mattermost connector"
After fixing the Mattermost connector with PR #1774 it turns out it suffers from the same infinite self-response problem  (#1691) as was fixed for the Gitter connector in #1692.

[2021-05-13 09:15] davdr commented on #1775
PR #1776 submitted to fix this.

[2021-05-13 09:15] davdr commented on #1773
PR #1774 submitted to fix this.

[2021-05-15 13:46] harshakhmk commented on #1764
Can I still work on this, if yes can you tell me how should I proceed

[2021-05-22 14:53] #1770 closed

[2021-05-23 14:53] #1773 closed

[2021-05-24 12:17] #1775 closed

[2021-05-26 12:07] aermike opened #1779 "opsdroid has errors with matrix connector"
# Description
Please include a summary of the issue.
DEBUG opsdroid.loader: Loaded connector: opsdroid.connector.matrix.
DEBUG opsdroid.core: Loaded 4 skills.
DEBUG asyncio: Using selector: EpollSelector
Traceback (most recent call last):
  File "/usr/local/bin/opsdroid", line 33, in <module>
    sys.exit(load_entry_point('opsdroid==0.22.0', 'console_scripts', 'opsdroid')())
  File "/home/mike/.lo

[2021-06-04 09:13] #1756 closed

[2021-06-07 11:55] gxomalis opened #1782 "Not really an issue or a bug... just an assignment I had!"
# Description
Hello there! I have this assignment in university where I pick an open source project and analyze some metrics about it. I chose opsdroid as it seems very exciting, and i analyzed File Type metrics based on LOC(via MetricsRealoded in PyCharm). Overall the results where great there's nothing to worry about (for now at least). File types with the most lines where Python files(34k lines

[2021-06-07 13:57] jacobtomlinson commented on #1782
Many thanks! Good luck with your assignment.

[2021-06-07 13:57] #1782 closed

[2021-06-08 11:27] manuneerav commented on #1740
hello **@FabioRosado** , I'd like to know if I can still work on this issue.

[2021-06-09 11:28] #1779 closed

[2021-06-09 11:33] aermike opened #1784 "opdroid error when try send an pdf in matrix"
# Description
Please include a summary of the issue.
Try to send an pdf file with opsdroid in matrix
Use code from https://github.com/Tyagdit/opsdroid-demo-skill
My code is

    @match_regex(r'acord', case_sensitive=False)
    async def send_file(self, message):
        with open("/home/mike/documente/acord.pdf", "rb") as send_file:
            #pdfReader=PyPDF2.PdfFileReader(send_file)

[2021-06-09 21:12] Cadair commented on #1784
Well ok that's weird. I am kinda surprised this hasn't been an issue before. What homeserver are you using?

[2021-06-10 05:15] aermike commented on #1784
Synapse with postgres
This is config for opsdroid
  ## Matrix (core)
  matrix:
#    # Required
    mxid: "@robot:matrix.somedomain"
    password: "somepassword"
#    # A dictionary of multiple rooms
#    # One of these should be named 'main'
    rooms:
      'main': "#ocpisv:matrix.somedomain"
#      'other': '#element-web:matrix.org'
#    # Optional
    homeserver: "https://matrix.somedomain"

[2021-06-10 10:39] Cadair commented on #1784
Do you happen to know if your synapse is using the built in media store, or if it's using a third party media store?

[2021-06-10 10:39] Cadair commented on #1784
Also can you send images ok?

[2021-06-10 15:43] aermike commented on #1784
don't try with png, but at jpg is same error. (mimetype images/jpg)
I will try tomorow with an png and update this

[2021-06-10 15:45] aermike commented on #1784
Do you happen to know if your synapse is using the built in media store, or if it's using a third party media store?
this is from homeserver
media_store_path: "/var/lib/matrix-synapse/media"

[2021-06-11 10:33] aermike commented on #1784
Same error with png

[2021-06-13 13:56] aermike commented on #1784
I think I see a issue
at opsdroid -configuration.yaml
i see this line
#    store_path: "path/to/store/" # Path to the directory where the matrix store will be saved

In matrix, I have default location for saving files, but matrix, and opsdroid aren't running on same machine, so opsdroid never can't reach matrix storelocation.

[2021-06-13 19:40] Cadair commented on #1784
They are different `store_paths`, the opsdroid store path stores a database of cryptographic keys when end to end encryption is enabled. This is presumably because of a recent change to synapse.

[2021-06-20 03:00] Sleuth56 opened #1789 "Change pipeline name and link in "making a release""
This page is outdated. https://docs.opsdroid.dev/en/stable/maintaining/making-a-release.html
From what I can see it needs changed to we use github CI for our build system and use this link. https://github.com/opsdroid/opsdroid/actions
I'll probably make this change my self when I start looking at updating parts of the docs. If you know for sure that what I'm saying is correct please thumbs up this

[2021-06-25 20:07] athanikos commented on #593
Hello, I would like to work on this if its available, thanks

[2021-06-27 16:53] ajitdsa opened #1786 "Instructions for Slack connector in `Socket Mode` may need adjusting"
# Description
When I went to create a new opsdroid and connect it to Slack in `Socket Mode`, I could see the app receiving messages, but couldn't get opsdroid to respond in the channel. During the course of trial and error I did get it to work in `Events API` mode, and then when I switched back to `Socket Mode`, that started working. That's when I realized that `Events API` is doing a URL verifica

[2021-06-27 18:49] jacobtomlinson opened #1787 "Slash commands do not work"
# Description

Using slash commands do not work. There is no event type for them, no docs on using them and opsdroid seems to error if you try.

## Steps to Reproduce

- Create a slash command for your bot
- Use the slash command in Slack
- See opsdroid output

## Expected Functionality

An event should be triggered which can be matched with `match_event`.

## Experienced Functionality

[code]

##

[2021-06-27 21:51] ajitdsa commented on #1787
This is great, thank you for creating this. I would like to add a little context so that the best value can be achieved when adding this feature. It is common for someone to create a slash command with an additional subcommand. However, the subcommand is typically hidden within the text following the command itself. So for example:

[code]
or
[code]
or
[code]

And it turns out this is returned in

[2021-06-28 09:38] jacobtomlinson commented on #1789
Moving this over here as the docs live in this repo. Would be very happy to review PRs to resolve this.

[2021-06-28 16:42] Sleuth56 commented on #1789
Ok, didn't know they were here. Maybe the old docs repo should be archived then?

[2021-06-30 14:04] jacobtomlinson commented on #1786
Hrm this is not ideal as you should be able to use socket mode without setting up the events API.

@chillipeper could you take a look at this?

[2021-07-05 15:31] Sleuth56 opened #1792 "Matrix connector AttributeError 'RoomContextError' object has no attribute 'event'"
# Description
Randomly the matrix connector will crash when connected to a public room.

## Steps to Reproduce
Create a skill and point it to `#geeklab:linuxdelta.com` and wait for people to start talking.

## Expected Functionality
For the connector to handle when this attribute doesn't exist.

## Experienced Functionality
[code]

## Versions
- **Opsdroid version:0.22.0**
- **Python version: 3.9.

[2021-07-05 15:35] Cadair commented on #1792
The issue here is that this line:

https://github.com/opsdroid/opsdroid/blob/7615eaa4aa45fb05037911f94d5585856d10cb31/opsdroid/connector/matrix/create_events.py#L33

has no error handling. If the request to fetched the linked event fails then we don't log anything or handle the failure well.

We should firstly catch and log an error. Secondly, if the lookup fails we should just return the event id

[2021-07-15 05:39] ajitdsa opened #1796 "Would like to complete the get, put, and delete functions for mongodb"
# Description
There is an inherent error with the mongodb `put` function. The way the code is written [here](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/database/mongo/__init__.py#L67-L68) if you supply `data` with an `_id` key, then it will only attempt an update of an existing record within the collection specified by the `key` parameter. However, if one doesn't exist, then you can

[2021-07-15 20:15] szimszon opened #1798 "connector.matrix.connector: Error during initial sync: unknown error (status code None)"
# Description
After upgrading to v0.23.0 the matrix connector started polluting my logs with `Error during sync: unknown error (status code None)`

## Steps to Reproduce
Configure a matrix connector and run opsdroid.

## Expected Functionality
No error message.

## Experienced Functionality
[code]

## Versions
- **Opsdroid version:** v0.23.0
- **Python version:** Python 3.7.3
- **OS/Docker version

[2021-07-16 08:38] Cadair commented on #1798
This error means that there is a HTTP error when talking to the server. (See #1714 for the tracking bug for that).

I assume your matrix URL is incorrect or your server is otherwise rejecting talking to you at the http level.

[2021-07-18 20:58] jacobtomlinson commented on #1789
You comments on the website repo (https://opsdroid.dev), not the docs repo. Docs have always lived here.

[2021-07-18 21:17] jacobtomlinson commented on #1751
I think opsdroid can run with no connectors for unit testing purposes only. I'd be happy to go back to exiting on all failed connectors.

In the case where one connector fails we may want this to be configurable whether you log and continue or error out.

Maybe we just want this configurable with a few options to satisfy all situations.

[2021-07-18 21:18] jacobtomlinson commented on #1744
@FabioRosado is this ok to be closed?

[2021-07-20 07:44] #1498 closed

[2021-07-20 08:24] jacobtomlinson commented on #1498
Did you find a solution to this @olig89 ?

[2021-07-21 01:18] #1737 closed

[2021-07-21 01:18] #1761 closed

[2021-07-21 09:07] jacobtomlinson commented on #1750
Adding `help wanted` keeps the stale bot at bay.

[2021-07-22 12:39] satwika007 opened #1801 "Can we call a skill from another skill in opsdroid"
I want to have a functionality where in i can call one skill from another. Is it possible?

[2021-07-22 14:36] Cadair commented on #1801
In theory yes, as long as it's importable. The issue is that skills loaded by the opsdroid automagical loader are not globally importable. I shall have to see what @jacobtomlinson has to say on the matter.

[2021-07-23 09:10] jacobtomlinson commented on #1801
If you have multiple skills within one class then they can directly call each other.

[code]

If you are talking about across skills in the configuration you have a couple of different options.

Let's assume we have two skills `foo.py` and `bar.py` both stored in our home directory and configured with:

[code]

All loaded skill methods (anything with a `@match_foo` decorator) can be found within `

[2021-07-23 09:18] jacobtomlinson commented on #1801
Perhaps we should add an `opsdroid.get_skill(name)` utility similar to `get_connector` and `get_database` which simplifies grabbing a skill by it's method name.

We would also support other notations then like:
- `skill = self.opsdroid.get_skill("foo_method")`
- `skill = self.opsdroid.get_skill("FooSkill.foo_method")`
- `skill = self.opsdroid.get_skill("foo.FooSkill.foo_method")`
- `skill = self.o

[2021-07-23 14:37] satwika007 commented on #1801
Yeah, it would be great if we can do that. Also "for skill in self.opsdroid.skills" works for my usecase. Thanks for your time !!!

[2021-07-23 16:32] jacobtomlinson opened #1803 "Add get_skill method to opsdroid"
Currently the `opsdroid.core.OpsDroid` class has `get_connector` and `get_database` methods which return the connector and database objects by their name as specified in the config.

We should add something similar for skills.

This will be a little more complex as a single skill may have many skill methods. Therefore we should support multiple options for providing the name.

### Example

For exa

[2021-07-23 16:33] jacobtomlinson commented on #1801
I've raised #1803 to cover adding this new method. Closing this as you have a suitable workaround.

[2021-07-23 16:33] #1801 closed

[2021-07-24 12:54] szimszon commented on #1798
I don't know I never have such issue before. I just updated opsdroid and  I'm using matrix-synapse on Debian with official repo.

Is nothing changed in matrix sync functions recently?

[2021-07-24 13:03] szimszon commented on #1798
Hm, found an older version of opsdroid (v0.20.2) on one of my server and it did the same as the new ones. Lots of the sync errors.

In apache2 side I see:

[code]

[2021-07-28 13:21] dud1337 opened #1806 "Optionally specific tables per skill"
# Description
Let's suppose I have two skills that have different functions on one opsdroid instance, both using the memory module with a DB.

At the current time, the data from each of those skills are mixed together, which is messy and quite gross. If one looks at Errbot, for example, every skill has its own db (a python shelve, iirc).

If I have a bot that's got 2 skills, one that saves links s

[2021-07-28 13:49] ajitdsa commented on #1806
I actually like this idea very much and have been chatting with @dud1337. Due to this, I've made changes to my MongoDB PR: https://github.com/opsdroid/opsdroid/pull/1799. In every project and every company I've worked at, we use different tables or collections or groupings to store similar things. We don't put everyone in one huge folder and rely on some context stuff on each thing within the fold

[2021-07-28 14:02] jacobtomlinson commented on #1806
You make a strong argument. More than anything I wanted to force this conversation to happen in an issue on GitHub. There seems to be a bunch of discussion happening on Matrix, both privately and publicly, and also in semi-related PRs. Let's try and be more community facing and open issues here to discuss changes like this.

I have two objectives here that I care about:

- User's shouldn't have to

[2021-07-28 14:05] jacobtomlinson commented on #1806
I just want to highlight here that I strongly dislike this. The whole idea of opsdroid's memory module is to provide a key/value store for skill authors which will optionally persist using some database of the user's preference.

The goal _is not_ to provide a database plugin for a specific database to be used elsewhere.

If the goal of your skill is to put data into some database then you should

[2021-07-28 14:20] ajitdsa commented on #1806
Intentions aside, if you have items in a database, then it is completely plausible for someone to want to use those items for other things than strictly opsdroid if desired. I would advocate that as long as the original intention is the default behavior/experience, and the additional functionality is non-intrusive and doesn't require any heavy maintenance, then why wouldn't we expand to such a use

[2021-07-28 14:26] dud1337 commented on #1806
I understand that's not the goal. I think we can continue the conversation closing that point there for now.

Context manager is worth discussing, but I do not know how to code that. It does also reduce the ability for a skill to specify *multiple* tables, which could also be useful at times :]

I'd be interested in getting a review of how it works in #1805 if there's time.

* User's shouldn't hav

[2021-07-28 16:01] Cadair commented on #1806
Technically it does not as you can next multiple instances of the same context manager.

[2021-07-28 16:04] dud1337 commented on #1806
Thanks @Cadair

How would `memory.py` have to change for the above contexts method to work?

[2021-07-28 16:06] Cadair commented on #1806
I don't have the time to really think about all this right now, but my main comment would be whatever we do here it would be nice to have it apply to all the database modules rather than having the skill have to worry about which one is configured underneath. This is an issue we have in the matrix database at the moment, if you want to do per-room memory then you need to make sure you are using th

[2021-07-28 16:10] dud1337 commented on #1806
Wouldn't be happy any other way.

[2021-07-28 19:32] ajitdsa opened #1807 "The case for multitenancy"
# Description
This is meant to be more of a good spirited discussion than an "issue". Please consider it as such.

Let's say you create an opsdroid with a certain set of skills, and now you would like multiple groups/organizations/customers/whatever to use these skills. It feels like currently the way to do this would be to set up an opsdroid _PER_ group/organization/customer/whatever. I say this

[2021-07-28 19:48] ajitdsa commented on #1806
@jacobtomlinson I know that #1799 is my PR and I'm not in any way trying to say "my way is the right way!" but I just want to state that I was trying to be as considerate as possible to make a flexible enough use case that it can be used as the line in the sand, and that this would be where we draw the line in the sand, and then going forward endeavor to not break stuff. :P This is also why I work

[2021-07-28 21:16] jacobtomlinson commented on #1806
I totally understand where you are coming from. I'm just saying that with our limited time and resources we can't really afford to support this. We have a clear API that we support, anything beyond that and the user is on their own.

So I want to be clear that we do not officially support reusing the database tables that the memory module creates. And it's up to the user to take on the responsibil

[2021-07-28 22:53] ajitdsa commented on #1806
There must be some confusion or misinterpretation that I’m missing:

This is what we are advocating for, and this is what our PRs accomplish. Prior to our PRs, there wasn’t a simple way to accomplish one table/collection per skill. As far as I could tell, based on the configuration and available API, it is one table/collection for all skills.

Are you requesting that we find a different way to acc

[2021-07-29 08:15] dud1337 commented on #1806
He is.

See the code in https://github.com/opsdroid/opsdroid/issues/1806#issuecomment-888334872

So we'd use context managers rather than using the `table_name` kwarg.

[2021-07-29 09:19] jacobtomlinson commented on #1806
This is a "yes and" situation. The kwarg that you've done already is fine, and it would be great to see a follow up which adds a context manager too.

[2021-07-29 09:49] jacobtomlinson commented on #1807
Hearing about new use cases is great, I'm excited to learn more about what you are trying to build.

In my mind, I can see two scenarios where multi-tenancy is desirable. If there are more scenarios that I am not thinking of it would be great to hear about them.

**Scenario A: Building a public GitHub app**

You are trying to build something like [stale bot](https://github.com/apps/stale) where yo

[2021-07-29 09:51] jacobtomlinson commented on #1807
Corporate shills are very welcome here 😆. If you have time to contribute features and maintain them going forward then we are happy to add features that are more enterprise focussed. Just as long as we still support the current community of more DIY bot builders.

[2021-07-29 12:57] ajitdsa commented on #1806
That’s my bad, guys. I somehow missed the code sample above. Thanks for the clarification. Also, I am now in agreement with you all as well. 👍

[2021-07-29 17:48] ajitdsa commented on #1807
Oh wow, great answer. Thanks so much, @jacobtomlinson.

So I wasn't aware that your *Scenario B* outlined above already works. I'll see if I can give it a try and make a documentation PR about this for you. Nice.

**Use Case:**  What I was talking about was more akin to *Scenario A*. We would like for customers of our product to be able to install a Github app. For us specifically, the idea is tha

[2021-07-29 20:24] jacobtomlinson commented on #1807
Awesome. I am very keen that we work on the requirements to make scenario A a reality.

I propose that we close this issue out and open up a new one to cover app style oath in the GitHub connector. Do you think you could raise that?

[2021-07-30 15:09] ajitdsa commented on #1807
Yes, absolutely. This is great. Thanks @jacobtomlinson!

[2021-07-30 15:09] #1807 closed

[2021-08-02 02:11] arusahni commented on #1786
I have also encountered this.

[2021-08-03 11:40] jacobtomlinson opened #1810 "Upgrade redis database backend to use aioredis v2"
Looks like v2 of `aioredis` is out and has breaking changes which affect us. In #1809 I've pinned us to v1 for now but we should upgrade things to work with v2.

Specifically importing the parser fails

https://github.com/opsdroid/opsdroid/blob/a45490d1bdceca39b49880e20262b55ea0be101d/opsdroid/database/redis/__init__.py#L6

[code]

[2021-08-05 15:10] oleg-fiksel opened #1813 "Replace old Riot logo with the Matrix logo on the architecture diagram"
Current Matrix/Element/Riot logo on the [architecture diagram](https://user-images.githubusercontent.com/1610850/57621414-488ee280-7583-11e9-9eaa-f739300331f1.png) on the [overview page](https://github.com/opsdroid/opsdroid/blob/master/docs/overview.md) is outdated. [Riot is renamed to Element](https://element.io/previously-riot).

I suggest to use the Matrix logo instead of Element/Riot. Because

[2021-08-05 20:03] oleg-fiksel commented on #1813
Here's the Matrix logo (small version): https://github.com/vector-im/logos/blob/master/matrix/matrix%20favicon.svg

[2021-08-07 17:26] aasim-syed opened #1816 "Contribute link not working"
Tried to click on contribute it doesnt show a correct page.
![image](https://user-images.githubusercontent.com/70385414/128608844-67a80f6c-145d-4893-af2d-d94f00fe91ef.png)

[2021-08-09 08:55] #1813 closed

[2021-08-09 08:57] jacobtomlinson commented on #1816
Where was the contribute link that you clicked?

[2021-08-10 16:49] aasim-syed commented on #1816
In the README.md
![image](https://user-images.githubusercontent.com/70385414/128900667-70e6551b-a091-4f66-9518-d362dd78991e.png)

[2021-08-11 09:31] #1816 closed

[2021-08-15 10:18] chillipeper commented on #1786
I haven't taken a deep look into this, but I do think what @ajitdsa is referring to. tbh I do not have any idea on how this could be fixed. Maybe a "Troubleshooting Section" could be added to the docs?

The main problem is that this issue is not related to opsdroid itself, but some weird behaviour the Slack App has.

Maybe toggling the "Connect using Socket Mode" button, or the "Enable Events" but

[2021-08-15 12:38] ajitdsa commented on #1786
I agree with you @chillipeper. I’m not sure what can be done on the coding side, since something needs to be done on the Slack side. I think a documentation adjustment is probably the best idea. It may take me a little while as I’m working on something else at the moment, but I’ll see what the easiest and most succinct way I can do it would be and try to write up some documentation.

[2021-08-15 22:04] ajitdsa commented on #1786
@chillipeper Updated the documentation here: https://github.com/opsdroid/opsdroid/pull/1823

[2021-08-16 15:49] #1786 closed

[2021-08-19 14:58] #950 closed

[2021-09-07 10:42] #1787 closed

[2021-09-14 02:53] yypptest opened #1828 "no response with shell connector in docker"
# Description
I'm new to opsdroid. I installed opsdroid using docker and configured with shell connector, but there's no response for the command.

## Steps to Reproduce
1. Created the configuration.yaml as below:
[code]
2. installed opsdroid with docker with below steps, configuration.yaml is located in the path /images/opsdroid
[code]
3. Then run "hi/hello" for testing, no response from the bot.

[2021-09-14 03:17] yypptest opened #1829 "Install failed on Ubuntu 18.04"
# Description
I'm new to opsdroid, install opsdroid failed after the step `sudo pip3 install opsdroid[common]`, error is shown as below on Ubuntu 18.04.5 LTS (Bionic Beaver)
[code]

And is there platforms support matrix available for reference? I noticed only Ubuntu 16.04 is mentioned in the installation guide, not sure if opsdroid supports the newer version of Ubuntu (18.04 and 20.04), and other

[2021-09-14 12:12] FabioRosado commented on #1828
Hello @yypptest thank you for your message, the Shell connection tries to find your username to reply but  it seems that opsdroid couldn't find the environment variable that we use to try and deduce your username.

Can you add one of these and try again?

https://github.com/opsdroid/opsdroid/blob/e806de3b2533f8f7ac233c8ece5ffc0e7d76bbda/opsdroid/connector/shell/__init__.py#L31

[2021-09-14 12:19] FabioRosado commented on #1829
From that snippet that you shared with us it seems that you already have pyyaml installed locally with the version 3.12 but we are specifying anything bigger than 5.3.1.

https://github.com/opsdroid/opsdroid/blob/e806de3b2533f8f7ac233c8ece5ffc0e7d76bbda/setup.cfg#L58

It seems that pyyaml might have come with your distro or perhaps was installed with elevated privileges. You could try using pipenv

[2021-09-15 02:26] yypptest commented on #1828
@FabioRosado, thanks for response. It works when I run below with below command to run docker:
[code]
I suggest to update the docker run command mentioned in the doc with the environment setting for USER, and a default username to reply in case the environment variable is not set.

[2021-09-15 05:10] yypptest commented on #1829
@FabioRosado, pipenv seems not work, and I resolved this issue by running below command to upgrade the pyyaml package
[code]

[2021-09-15 05:20] yypptest commented on #1829
I still have a question for the support matrix, is there platform/OS support matrix available for reference?

I noticed only Ubuntu 16.04 is mentioned in the installation guide, not sure if opsdroid supports the newer version of Ubuntu (18.04 and 20.04), and other Linux OS (i.e RedHat), and other arch (i.e zLinux, pLinux)?
https://docs.opsdroid.dev/en/stable/installation.html#installation-methods

[2021-09-15 12:56] FabioRosado commented on #1829
Thank you for the update, glad that this works. I suspect that we should be able to support Ubuntu 18.04 but perhaps @Cadair  might know better on the Matrix front?

Opsdroid should work in any version of Ubuntu and our docs might be outdated, do you think this is something that you would like to contribute?

[2021-09-15 12:57] FabioRosado commented on #1828
This is great thank you for the update, not sure if you would like to contribute to the project and add that to the docs? We are happy to help you get started if needed :smile:

[2021-09-16 09:44] jacobtomlinson commented on #1829
We have a [Python version support page](https://docs.opsdroid.dev/en/stable/maintaining/supported-python-versions.html#support-table).

We test on Linux (ubuntu), macos and Windows on x86_64. But Opsdroid is pure Python so if you can install the dependencies it should run.

For Kubernetes you can just use the [Opsdroid Docker image](https://hub.docker.com/r/opsdroid/opsdroid). We do have a [helm c

[2021-09-16 09:45] #1796 closed

[2021-09-21 09:26] Satishmane-mit commented on #1829
i think the error is in PyYaml file cause it shows this "Cannot uninstall 'PyYAML'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall." and i think this time to configure PyYaml file again

[2021-09-22 06:31] szimszon commented on #1798
With Synapse Version: 1.43.0+buster1 I still have this issue.

[2021-09-22 06:50] szimszon commented on #1798
Error solved:

`pip3 install matrix-nio --upgrade`

Please forgive me. You shall close this issue.

[2021-09-22 09:44] #1798 closed

[2021-09-26 01:55] yypptest commented on #1829
Thanks for all your response. The original issue is resolved, so close this issue.

[2021-09-26 01:55] #1829 closed

[2021-09-26 01:59] yypptest commented on #1828
The original issue is resolved, so close this issue.

[2021-09-26 01:59] #1828 closed

[2021-09-26 04:03] bparbhu opened #1831 "Adding scalability features in Opsdroid"
Hi Opsdroid team,

I just wanted to say I'm a big fan of the opsdroid framework and I love
the design choices behind it and the modular aesthetic that runs through it from beginning to end.
I'm planning on using Opsdroid to build a chatbot that can service thousands of clients at a given time
and help alleviate ticketing issued by them.

The one thing I'm concerned about is scalability in terms of

[2021-09-27 10:49] jacobtomlinson commented on #1831
Great to hear from you @bparbhu! Glad you like opsdroid!

We discussed something similar to this in #299 and ultimately decided that it was something we didn't have time to explore back in 2018.

The goal here I guess is to have multiple instances of opsdroid running in some kind of auto scaling group.

Ultimately I think websockets are the wrong technology choice here for trying to scale things.

[2021-09-27 16:36] bparbhu commented on #1831
HI @jacobtomlinson ,

Thanks again for the feedback and direction on this, I appreciate it greatly!
I just want to further spec out what these ideas could be and the questions at large that could be here.

So ultimately the connector you would need to have is an REST API solution that needs to be either Push or Pull.
I think my own use case would require a Push config but I can see that it might b

[2021-09-30 05:13] DiptoChakrabarty commented on #1792
Can I try fixing this , my plan is to put this part https://github.com/opsdroid/opsdroid/blob/7615eaa4aa45fb05037911f94d5585856d10cb31/opsdroid/connector/matrix/create_events.py#L33-L35    in a try catch block and in the catch part log the error and return the eventid .

Does this sound good?

[2021-09-30 08:05] ying33 opened #1833 "Unhandled exception in opsdroid"
# Description
I'm new to opsdroid, I developed some skills for slack connector using Socket Mode, and sometimes the slack command will respond `Whoops there has been an error`, and I noticed there's below message in the log.

[code]

## Steps to Reproduce
1. Created slack app with Socket mode
2. Then deployed the opsdroid with docker.
3. Ran skill commands on slack, sometimes the command will retu

[2021-09-30 10:04] jacobtomlinson commented on #1833
Thanks for raising this @ying33. It looks like you've included your API tokens in your config file. You probably want to change those on Slack now.

Annoyingly it looks like the error is being truncated in your output so we can't see where it is happening. I've opened #1834 which will make these log correctly and hopefully we can see what is going on.

In the meantime @chillipeper do you have any

[2021-09-30 15:38] bparbhu commented on #1831
Something else, I've been thinking about is also what would a good database solution be for running OpsDroid at scale in terms of persisting chats at scale. I've been thinking about MongoDB as a solution but I was also looking at AWS DocumentDB which mimics a Mongo Database.
Here's a link to their page https://aws.amazon.com/documentdb/.
Do you think that would still be compatible with Opsdroid Mo

[2021-09-30 15:59] MrNaif2018 commented on #1810
Hello! I would like to take it up. Hacktoberfest is coming and it's becoming my good tradition to visit opsdroid and help a bit (:
One question before starting:
https://github.com/opsdroid/opsdroid/blob/a45490d1bdceca39b49880e20262b55ea0be101d/opsdroid/database/redis/__init__.py#L49-L54
Is the pure python parser setting intentional (it is slower)? Aioredis 2.0 uses hiredis parser if hiredis is ins

[2021-09-30 17:08] DiptoChakrabarty commented on #1792
Yes I understand the implementation so the room_context has to be compare  using isinstance and if it does not match log the error and return the eventid. I can do this however wouldnt it be better to execute this using a try catch in case error comes while getting the room_context value then we can catch the error log it and return eventid.

[2021-10-01 13:57] ying33 commented on #1833
@jacobtomlinson thanks a lot for your kind reminder, I have revoked them.

[2021-10-03 11:08] Cadair commented on #1792
I don't think we should need a try/catch. matrix-nio doesn't raise exceptions in normal operations if any http or matrix errors happen they are returned as a error response not raised as an exception.

[2021-10-05 10:38] jacobtomlinson commented on #1831
Yeah we already support MongoDB, so if it follows the same interface it should be fine.

[2021-10-05 10:39] #1810 closed

[2021-10-05 10:41] #1723 closed

[2021-10-05 17:37] Sleuth56 opened #1838 "Interacting with a new or newly joined room doesn't work"
# Description
If in a single event triggered by opsdroid a skill creates or joins a room. Then attempts to interact with it for example send a message in that "new" room this error occurs `nio.exceptions.LocalProtocolError: No such room with id !roomID:server.com found.`

It doesn't matter how long you wait between creating/joining and sending the message or other event the same error will occur.

[2021-10-06 04:01] bparbhu commented on #1831
Awesome! I'll let you know if that works as well.

[2021-10-06 11:18] Cadair opened #1839 "Add support to the matrix client for waiting for a sync to occur"
There are certain operations, such as joining a new room (or creating one) where nio requires a sync call to return to refresh its internal state.

For opsdroid this means we must call sync and then process it's return (and trigger any events) before we return from any coroutines which join a new room, otherwise we end up with issues like #1838 where things behave in weird ways.

Without looking a

[2021-10-06 11:27] Cadair commented on #1839
More info on how to fix:

This whole section of the `async def listen` method:

https://github.com/opsdroid/opsdroid/blob/e8dd6b099b3756acc79eb65aa56689f4f111bcab/opsdroid/connector/matrix/connector.py#L330-L346

would need moving out into a separate coroutine, which is then called inside the while loop in `listen`, and that new coroutine would need calling from the end of the [join room](https://

[2021-10-14 12:48] jacobtomlinson commented on #1831
Discussing services for running Docker Swarm is getting a little off-topic for this issue about scalability in opsdroid.

Maybe head over to our chat for this kind of thing instead.

<a href="https://app.element.io/#/room/#opsdroid-general:matrix.org"><img src="https://img.shields.io/matrix/opsdroid-general:matrix.org.svg?logo=matrix" alt="Matrix Chat" /></a>

[2021-10-14 14:29] bparbhu commented on #1831
Ah, will do, sorry about that @jacobtomlinson.

[2021-10-22 22:13] FabioRosado opened #1844 "Allow users to specify connector name"
I wanted to use two slack connectors, but in a lot of connectors, we are hardcoding the name in the `__init__` method, if we need to create a path in the API for webhooks, we can only use one name and one connector since both would be called slack and when we turn our configuration into a dict, the two connectors get merged into one.

Ideally, we should allow users to rename the connectors to what

[2021-10-23 14:10] #1844 closed, assigned to FabioRosado

[2021-10-30 14:07] DAMO238 opened #1853 "Use pre-trained Rasa model."
# Description
There is no option to take a pre-trained Rasa model (perhaps trained on a more powerful machine) and use that for predictions instead of training a new model each time opsdroid is started.

## Expected Functionality
There should be a configuration option under something such as `parsers->rasanlu->no-train` which by default is false, but can be set to true in order to prevent opsdroid

[2021-10-30 19:23] FabioRosado commented on #1853
Thank you for raising this issue @DAMO238  is this still the case? I'm just catching up on the convo in our community channel

[2021-10-31 14:44] DAMO238 commented on #1853
Yes, this is still an issue. I used a work around by commenting out the line of code responsible for training rasa in my installation, but this is more of a hacky work around than a solution. There seem to already be functions for loading a model and checking if rasa already has a model loaded. I propose that opsdroid should check if rasa has a model loaded, and then, only if there is no model, ch

[2021-10-31 14:55] FabioRosado commented on #1853
Ah gotcha thank you again for raising this and for the clarification 👍

[2021-10-31 16:25] FabioRosado commented on #1853
Can I ask you for an example on your configuration? Are you providing an intentions yaml file with your rasa config?

Looking at the docs it seems that we only train the model if you provide the intents yaml file.

[2021-10-31 17:25] DAMO238 commented on #1853
I am not providing an intentions yaml file, as I trained my model on a different computer and then copied it onto my server. Here is the rasa section of my opsdroid config:

[code]

Then my rasa config:

[code]

This is an exact clone of the config used to create the model so that rasa can load the model trained on my laptop.

[2021-11-01 10:43] #1853 closed

[2021-11-03 11:22] Cadair opened #1857 "pip install opsdroid[all] doesn't work"
The insanity needed to make the [teams connector](https://github.com/opsdroid/opsdroid/blob/master/setup.cfg#L96-L105) work has broken people's ability to pip install opsdroid as specified in our getting started docs:

[code]

This is *baaadddd* :wink:

---
tbh I kinda feel like we never should have published a release to PyPI with this like this but :shrug:

[2021-11-04 18:35] bparbhu opened #1859 "User configurable connection for mongo-based databases"
So the pymongo client has a multitude of ways for connecting to different mongo services

So for MongoDB Atlas users the connection string is given as such
for python connections to the mongo db atlas

`mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/myFirstDatabase`

In making the mongo connection to be user configurable we can specify different types of mongo services versus
just

[2021-11-05 09:53] jacobtomlinson commented on #1859
Thanks for raising this @bparbhu.

Looking at your connection URL you would configure the database like this.

[code]

Which we format into a string for you.

https://github.com/opsdroid/opsdroid/blob/ee43c560560bc5cff08062839200e77724945e6b/opsdroid/database/mongo/__init__.py#L52-L54

However I note that we have the protocol `mongodb://` hardcoded and your connection string has `mongodb+srv://`.

[2021-11-05 11:38] arusahni commented on #1857
A temporary workaround could be to update the documentation to encourage installing the connector they need (e.g., `opsdroid[connector_slack]`) instead of `[all]`. Of course, this doesn't help those trying to integrate with Teams.

[2021-11-06 16:24] FabioRosado opened #1861 "Add a gitlab connector to opsdroid"
At work, we use opsdroid for some things like nuking cloud accounts so devs can test things with a fresh account every time. We have moved to gitlab a couple months ago and would like to expand our use of opsdroid to automate some of our workflows.

With this in mind, we should add a gitlab connector to opsdroid so we can get events from gitlab and create skills based on those events.

[2021-11-08 11:26] jacobtomlinson commented on #1861
Sounds great!

[2021-11-08 11:45] #1859 closed

[2021-11-08 11:46] FabioRosado commented on #1861
Did some good initial progress on this, building the events from the payload now

[2021-11-10 20:49] bparbhu opened #1863 "Looking for Teams Service Endpoints in Mongo database forces error when no endpoints found within specified Mongo collection"
Hi all,

So I'm getting an error when using both teams and a mongo database. The database uses the new SRV protocol which has been added recently, much thanks to @jacobtomlinson  and @FabioRosado  for helping by adding functionality for that. The teams connector also goes through the new developer portal. So my bot and app are done through that versus the former app studio method they used before.

[2021-11-10 20:50] bparbhu commented on #1863
I'm not exactly sure what might be causing the error, if it's something teams related due to the new developer portal or mongo-related.

[2021-11-12 09:52] jacobtomlinson commented on #1863
Ah this is interesting. This is happening because connectors are started before databases, and teams is trying to use a database during startup.

[2021-11-12 10:18] jacobtomlinson opened #1865 "Update dialogflow to v2"
Dialogflow have move to v2 and renamed their package `google-cloud-dialogflow`.

We need to test our parser against that version and update the dependency.

[2021-11-12 11:20] #1863 closed

[2021-11-17 22:55] bparbhu commented on #1863
So I think this is still happening even with the connectors starting before databases.
I just tried this again with pulling in the latest changes into a new docker image and deploying again.
![opsdroid teams connector error](https://user-images.githubusercontent.com/7581178/142295560-a055328c-eec3-4fe2-bda8-403a2f5cea75.png)

[2021-11-18 09:57] jacobtomlinson commented on #1863
That looks like a separate error, would you mind opening a new issue? Also could you copy the actual log into the issue (and wrap it in triple backticks) rather than sharing a screenshot. Makes debugging much easier.

[2021-11-18 19:52] bparbhu commented on #1863
Ah ok, I will post it as a separate error then. Sorry about that @jacobtomlinson, my fault. I'll make the post now.

[2021-11-18 20:12] bparbhu opened #1868 "Microsoft teams connector looking for endpoints that exists in MongoDB"
Hi all,

So I'm getting an error when using MongoDB in conjunction with the Microsoft Teams connector and trying to deploy
to docker swarm.
It errors out because when looking for teams service endpoints it can't find any in my MongoDB.

The message is

[code]

I'm not sure what teams is expecting to find there as it's a database setup for the chatbot and is only used for persisting chats.

Thanks

[2021-11-25 09:35] #1861 closed

[2021-12-01 13:10] st01cs opened #1870 "How to load custom events that added by custom connector?"
I created a custom connector for our IM, and loads connector by configuration. Therer are several events defined by this connector. I found that connector and skill path dose not include opsdroid_modules.

So how can I load those events?

[2021-12-01 15:09] FabioRosado commented on #1870
Hello, do you have your connector somewhere public? If not, you might want to look at the [docs on match_event](https://docs.opsdroid.dev/en/stable/skills/matchers/event.html?highlight=match_event#example) if you haven't already.

Providing that your custom connector is emitting events in a similar way as how we are doing for the core events, for example:

https://github.com/opsdroid/opsdroid/blob

[2021-12-01 16:08] jacobtomlinson commented on #1870
Awesome to hear you have built a custom connector! I would recommend that you make your connector a full Python module that you can import yourself, that way you can import whatever you need from it within your skills.

For example if you called it `super_awesome_connector` in the `setup.py`/`pyproj.toml` then you would configure it like this:

[code]

Then you can import events in your skill like

[2021-12-02 11:48] st01cs commented on #1870
Thanks for your help!

I used @jacobtomlinson solution.

[2021-12-02 11:48] #1870 closed

[2021-12-03 23:14] #1857 closed

[2021-12-04 00:08] FabioRosado opened #1872 "Idea: Add a command centre for opsdroid"
**This issue is currently a draft/brain dump for this idea - I will do some clean up in the future**

## Goal

Allow users to test opsdroid from the browser and enable/disable modules from a running bot.

## Problem

You need to edit your config when opsdroid isn't running to add connectors/skills. You also need to add a connector to interact with opsdroid since the default connector is the WebSoc

[2021-12-06 05:32] Sleuth56 opened #1873 "Matrix_cache folder get's permission denied."
# Description
Now that the opsdroid container runs as an un-privilaged user when opsdroid attempts to create the Matrix_cache folder it gets a permission denied error.
I'm not sure how to fix this or if it's even possible. Might as well bring it up though just in case.

## Steps to Reproduce
For the sake of reproduction I'm going to include one of my skills.
`git clone https://gitlab.com/Sleuth56/

[2021-12-06 10:07] jacobtomlinson commented on #1872
Yes to all the things!

[2021-12-08 20:19] bparbhu opened #1874 "error in trying to build opsdroid docker image"
Hi guys,

So I tried building the opsdroid image from scratch by pulling down changes from the new release on the master branch,
then cd into the opsdroid directory and use the docker build command to build the image.

When I initiate the build I get this error message which stops it from happening.

[code]

I also reached out to the opsdroid community on element and had this error reproduced by @

[2021-12-11 16:14] FabioRosado commented on #1873
Just looked at the traceback and I don't think this is anything related to the Matrix_cache folder. From the traceback it seems that the issue was when opsdroid tried to copy the default `configuration.yaml` file into `'/home/opsdroid/.config/opsdroid/configuration.yaml'`

You might want to see if opsdroid has permissions to copy files (or you can add the config yourself manually and start opsdroi

[2021-12-14 17:39] Sleuth56 commented on #1873
Why when I disable encryption does this problem goes away?

[2021-12-15 00:59] bparbhu opened #1876 "Intent matching loop occurs when Opsdroid is used in conjunction with Rasa NLU-only server"
Hey guys,

So in setting up my soon to be opsdroid-rasa swarm I started testing it out with just a docker-compose file.
I'm using a Rasa NLU-only server because I train my Rasa models elsewhere and I also just want my containers to serve up
the model that's trained already.

I'm also using the telegram connector as well.

I started testing out my skill and I'm trying to just trigger a greet intent

[2021-12-15 10:05] jacobtomlinson commented on #1876
The strange thing about that loop is each iteration seems to be about 30 seconds apart, which is a very long time for opsdroid ot be hanging around, and is oddly regular. I wonder if Telegram is trying to redeliver the message because we aren't giving the correct response.

@FabioRosado do you have any thoughts on this?

[2021-12-15 23:26] bparbhu commented on #1876
I also ran into a similar problem with webex teams today as well. I included the output from opsdroid and rasa.
[opsdroid_webex_rasa_loop.txt](https://github.com/opsdroid/opsdroid/files/7723448/opsdroid_webex_rasa_loop.txt)

[2021-12-15 23:32] bparbhu commented on #1876
Both of these connectors also expose themselves to the internet and go through ngrok tunneling services.

[2021-12-17 17:20] bparbhu commented on #1874
Hey All,

Just wanted to follow up with this and see where things are at.

Thanks again and always appreciative,

-Brian

[2021-12-17 17:25] bparbhu commented on #1868
Hey All,

Just wanted to follow up and see if you guys need anything more from me on my end to look at this.
Also, I'd be willing to help out as well.

Thanks,

-Brian

[2021-12-17 17:26] bparbhu commented on #1876
Also, let me know if you guys need anything from me as well to help out with this. More than happy to help.

[2021-12-18 00:02] Sleuth56 commented on #1874
I bugged the devs the other day and they said that they are really busy right now. They are aware of this issue.

[2021-12-23 09:27] st01cs opened #1878 "How to add a customized logging handler?"
Hi,

I want to use my customized logging handler, how to config it ?

[2021-12-26 15:06] vinayman commented on #1874
Hi - nice to meet you all.

I saw this project on up-for-grabs.net so thought I could just look at any issues and help out whatever is open - hope that's okay!

I've raised a PR above which resolves the issue - to summarise:

The issue is that the docker build pulls down the pycryptodome dependency as a zip file rather than a whl or tar.gz (where tar.gz is correctly converted to a whl file).
The s

[2022-01-01 17:30] FabioRosado commented on #1868
Hello @bparbhu  can you do me a favor and test running Teams with a different database? Perhaps the sqlite and confirm if you see the same error?

I'm trying to diagnose this and that would help :+1:

[2022-01-01 17:33] FabioRosado commented on #1873
Not sure tbh perhaps the encryption creates a folder? @Cadair  any idea here?

[2022-01-01 18:47] #1874 closed

[2022-01-01 18:47] FabioRosado commented on #1874
@bparbhu just merged @vinayman  fix you should be good to go. Please let us know if you encounter any further issues :+1:

[2022-01-01 20:56] FabioRosado commented on #1876
Sorry just look at this now. I started by looking at the webex logs and it seems that the message was sent by direct message perhaps? if that's the case I don't think the webex connector accepts direct messages.

From the telegram I can't see anything in the logs and agreed the 30 seconds delay is weird. We are always returning a 200 from the webhook so that should work.

@bparbhu can you provide

[2022-01-02 16:23] FabioRosado commented on #1878
Hello @st01cs  currently there is no way to do this, but perhaps this is something you would be keen on implementing? :thinking:

[2022-01-05 17:33] bparbhu commented on #1876
Sure thing @FabioRosado , I'll do another try with telegram and give you my log in debug mode.

[2022-01-05 17:34] bparbhu commented on #1868
I'll try again with the teams connector but we have moved on to using the WebEx teams connector. It works well with MongoDB Atlas databases and I haven't run into database issues with that setup yet. I'll retry using teams with SQLite once we get our opsdroid rasa swarm up and running.

[2022-01-05 17:36] bparbhu commented on #1874
Will do and thanks again @vinayman  and @FabioRosado , much appreciative of all the work here!

[2022-01-07 22:21] bparbhu opened #1881 "adding wait-for and netcat to opsdroid dockerfile"
Hi all,

So I'm still working on getting an opsdroid-rasa swarm up and running and one of the things that I think might help would be to incorporate a tool of some kind to help opsdroid to controlled deployments.  Many of the examples I've seen with rasa and opsdroid involve someone writing either two shell scripts to spin up their rasa container first and then launch their opsdroid container of w

[2022-01-10 10:56] jacobtomlinson commented on #1881
I don't think this should be a deployment level thing. You should be able to start Opsdroid and Rasa in any order without things breaking. It sounds like we should add some retries and a configurable timeout to the Rasa code.

We should definitely add this in the training.

https://github.com/opsdroid/opsdroid/blob/a9ab3401202580fb396fdcbb38c85c42583ab0d2/opsdroid/parsers/rasanlu.py#L153

But also

[2022-01-10 17:22] bparbhu commented on #1881
Hi @jacobtomlinson ,

Thanks again for the feedback, much appreciated! Very cool, if you think this is not a docker-based issue and this can be fixed by just adding some retries and a timeout then I'm down with it. I think I went with a docker-based solution because I wasn't sure if this was something that needed to be handled in the parser codebase for rasa and most likely someone would just wait

[2022-01-10 17:29] jacobtomlinson commented on #1881
Yeah I think in the load method we should have a `setup_parsers` function which does anything that is needed before parsers can be used.

https://github.com/opsdroid/opsdroid/blob/a9ab3401202580fb396fdcbb38c85c42583ab0d2/opsdroid/core.py#L217

In this case if the Rasa parser is enabled it should just check that it can connect and if not wait for it to connect. It is probably best to add a timeout

[2022-01-10 17:56] bparbhu commented on #1881
Will do, I'll give it a shot @jacobtomlinson !

[2022-01-15 00:55] bparbhu commented on #1881
Hmm so I have been trying to get this to work but I could use a second set of eyes. It's mainly dealing with the rasanlu parser codebase. The parts I have decided to change deal with how aiohttp sessions do responses. It's there where I substitute for aiohttp_retry versions of responses but ultimately I do get an error around having sessions that aren't closed. Though, its weird in that I specific

[2022-01-15 00:57] bparbhu commented on #1881
Also this is the link to aiohttp_retry https://github.com/inyutin/aiohttp_retry

[2022-01-18 10:09] jacobtomlinson commented on #1881
@bparbhu feel free to open your changes as a draft Pull Request and we can discuss there. It's much easier for us to see what you've changed that way.

[2022-01-18 15:37] bparbhu commented on #1881
@jacobtomlinson will do. I don't think these are changes I want to permanently commit but I still need to talk about them.

[2022-01-18 15:41] bparbhu commented on #1881
Hey @jacobtomlinson Just submitted the draft pull request. Again just need some feedback and some better direction.

[2022-01-20 19:28] bparbhu commented on #1881
So I did get the rasa instance to work with opsdroid within docker-compose. All it took as just adding the timeout flags where your responses occur and also I had to make an entrypoint script that sleeps opsdroid for 60 seconds and then starts opsdroid with the config I want. Still testing out rasa skills but I think the fix looks promising.

[2022-01-21 15:01] bparbhu commented on #1876
So I don't think this is telegram related. I started looking more into this by just doing logging statements in debug mode from when the get_ranked_skills function kicks off to the parse_rasanlu and then call_rasanlu function within the rasa parser code base. The thing that isn't getting triggered which hangs is post response within the the call_rasanlu function. It never completes or just hangs e

[2022-01-21 15:05] bparbhu commented on #1876
Here's the function as I added the log
[code]

[2022-01-28 23:43] bparbhu commented on #1876
So taking things a bit further. I started making some changes to the core.py script under the train_parsers section. I added another method in the rasanlu parser code base for using pretrained models. Many if not most of the functions I'm calling are within the opdroid codebase. This is what the function looks like. Though, I could still use some help in getting this to work. It looks like the mod

[2022-01-28 23:44] bparbhu commented on #1876
The core.py addition looks like this.

[code]

[2022-01-30 10:30] D3N14L opened #1884 "No proper error message on failed skill dependency installation"
# Description
I played around with https://github.com/FabioRosado/skill-reminders/ . The installation of the skilled failed with the following error message:

[code]
when digging a bit deeper we can see that the dependency installation of the reminders skill fails because the requirements.txt file has a bogus syntax:

[code]

## Steps to Reproduce
Add the following snippet to your skills config:
[

[2022-02-08 16:12] D3N14L opened #1885 "Skill loading "Remote branch master not found" error with default branch `main`"
# Description
While developing a new skill I encountered a bad behavior of opsdroid when it has to load a skill from a repo thats default branch is not `master`.

## Steps to Reproduce
Create a new github repo for a plain skill that has a default branch other than `master`. (Which is true for all new repos as the new default is `main`.)

## Expected Functionality
Opsdroid should load the skill fro

[2022-02-11 06:22] gauravsanas88 opened #1887 "KeyError: 'confidence'"
# Description
I am trying to build chatbot using opsdroid, matrix and rasanlu but I am not able to extract entities. getting following error: ```
entity["entity"], entity["value"], entity["confidence"]
KeyError: 'confidence'
[code]
configuration.yaml
welcome-message: false

logging:
  level: info

connectors:
  matrix:
    # Required
    homeserver: $MATRIX_SERVER
    mxid: $MATRIX_MXID
    access

[2022-02-11 14:11] oleg-fiksel commented on #1887
@gauravsanas88 can you please try if [this PR](https://github.com/opsdroid/opsdroid/pull/1888) solves your issue?
(You can do it by checking out this repo & branch https://github.com/oleg-fiksel/opsdroid/tree/rasanlu/fix-entity-extraction)

[2022-02-20 14:01] #1887 closed

[2022-02-28 01:46] yypptest opened #1890 "Get multiple responses for one slack input command"
# Description
Using opsdroid with slack connector, there will be multiple responses for one slack input command.  From the debugging log, the same command is been detected and parsed for several times by opsdroid.

After investigation, it seems the slack will retry if the server took longer than 3 seconds to respond to the previous event delivery attempt (https://api.slack.com/apis/connections/eve

[2022-02-28 17:59] oscarzhpersson commented on #1884
I would like to be assigned to this issue with my group for a university project.

Thank you!

[2022-03-01 08:42] yypptest opened #1891 "Feature Request: Suggest implementing 'modal' support for the Slack connector"
# Description
I'm developing the skill with slack connector, and need to using 'modal' type in the skill to temporarily displaying dynamic and interactive information. So suggest opsdroid slack connector to have the capability to send a message as 'modal' type and handle the respond of the modal.

## Expected Functionality
The slack connector is able to send a message as 'modal' type and handle th

[2022-03-01 14:39] martinohmann commented on #1890
We also ran into this issue. The slack docs note that one should ack the event before processing it. Right now, it's the other way around in opsdroid:

https://api.slack.com/apis/connections/events-api#the-events-api__responding-to-events

[2022-03-05 12:05] yash226s opened #1893 "Review the project for possible area of help"
# Description
Please include a summary of the issue.

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.

## Expected Functionality
Explain what should happen.

## Experienced Functionality
Explain what happened instead(Please include the debug log).

## Versions
- **Opsdroid version:**
- **Python version:**
- **OS/Docker version:**

## Configurati

[2022-03-05 12:05] #1893 closed

[2022-03-05 15:12] soderqw commented on #1885
I would like to be assigned to this issue with my group for a university project.

Thank you!

[2022-03-05 15:32] FabioRosado commented on #1885
Hello @soderqw  👋
Feel free to start working on this issue with your group, no one is currently working on it 😄

[2022-03-09 10:58] #1890 closed

[2022-03-11 17:59] rodrigo-albuquerque opened #1896 "Message replies using Blocks in a thread end up outside of the thread even when start-thread: true"
# Description
When start-thread: true in configuration.yaml, regular text replies do end up in the thread. Fine.

However, the same reply inside of Blocks() construct, end up outside of the thread in a new message in the channel.

This is not expected.

## Steps to Reproduce
1) Set start-thread: true in configuration.yaml
2) Write the first message, then, create a thread inside of this message say

[2022-03-13 21:25] FabioRosado commented on #1896
I started working on this, but I can't give you a date were I will have it done by.
Just wondering, would it make sense to add another config arg to set "start-thread-blocks" to true/false so users can stop opsdroid from replying to blocks only if they want?

[2022-03-14 16:26] rodrigo-albuquerque commented on #1896
If there's a use case for this then yeah but in my case the reason I set start-thread: true is because I want *ALL* replies within a thread. No exceptions. I'm not sure who would want a thread not to be started just because they're using blocks. However, if you feel like there's a good use case for this kind of implementation, then go for it :)

[2022-03-29 04:22] yypptest commented on #1896
I have problem to enable one thread for non Block response message with `start-thread: True` in configuration.yaml, it's for the same hello skill.

And I'm using Event API as backend, not sure if `start-thread` works with this API?
[code]

[2022-03-29 04:25] yypptest commented on #1896
I have problem to enable one thread for non Block response message with `start-thread: True` in configuration.yaml, it's for the same hello skill.

And I'm using Event API as backend, not sure if `start-thread` works with this API?
[code]

[2022-04-12 06:50] oleg-fiksel opened #1899 "Matrix connector: redact (remove) messages or events"
# Description

Opsdroid Matrix connector doesn't support redacting/removing/deleting events/messages.

## Steps to Reproduce

* [ ] TODO

## Expected Functionality

* [ ] TODO

## Experienced Functionality

* [ ] TODO

## Versions
- **Opsdroid version: v0.25.0**

[2022-04-13 15:05] guimorg commented on #933
Hey everyone! I was really looking forward to this new paradigm on opsdroid. Any news about this?

[2022-04-16 18:33] Davasny opened #1900 "Unhandled exception in wit.ai matcher (wrong wit.ai response parsing)"
# Description
Opsdroid doesn't understand wit.ai time range response

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.
1. Connect with wit.ai app
2. Create new indent
3. Train indent to understand `wit/datetime`
4. Send message like `aws cost since december`
5. Opsdroid will fail to understand wit.ai api response

[code]

## Expected Functionalit

[2022-04-17 11:26] FabioRosado commented on #1900
Thank you for raising this issue, I haven't used wit.ai in a long time, perhaps they changed their API. Is this something you would be keen on fixing? If not I'll try to put it in my queue

[2022-04-17 14:57] Davasny commented on #1900
Hi thanks for fast reply. I've just created PR with my proposal of changes

[2022-04-17 16:41] #1900 closed

[2022-04-18 06:53] yypptest commented on #1890
@FabioRosado Do you have an estimates when the next opsdroid release is planned? Thanks!

[2022-04-18 18:58] FabioRosado commented on #1896
@rodrigo-albuquerque  apologies that this took me way longer than it should! The fix was pretty easy and I've opened up the PR to address this. I've decided to just keep it simple and use the `start-thread`, if folks complain that they don't want blocks to reply in a thread then we can add some logic after 😄

[2022-04-18 18:59] FabioRosado commented on #1890
Hey @yypptest  I've opened up an PR to address a small bug in the slack connector. Once that's in I'll try to do a release unless one of the maintainers beats me to it 😄

[2022-04-18 19:29] FabioRosado commented on #1891
@yypptest  apologies for the delay in getting back to you, I've just tested this and it seems we can fix the problem by passing the `"type": "modal"` to the API and it should work.

I'm going to add a new events for Modals that will contain this, when I tested the modal opsdroid submitted the blocks in the channel. Do you have a minimal reproducible example so I don't have to create a dummy test t

[2022-04-18 20:57] #1896 closed

[2022-04-19 02:21] yypptest commented on #1890
@FabioRosado that's great, thank you!

[2022-04-25 11:20] yypptest commented on #1891
Sorry I just noticed your message.

Actually I just tried with the modal type last month with the example provided by slack to see if it's supported. Maybe you can also try with the example here https://api.slack.com/surfaces/modals/using

[2022-04-25 11:24] yypptest opened #1904 "Feature Request: override the default start-thread for some commands"
# Description
There's a config parameter start-thread to control if to start a thread when replying to a message in slack, and it will be applied to all the slack commands.

Suggest to provide a way to override this default setting for some matching commands.

[2022-04-26 12:51] rodrigo-albuquerque opened #1905 "Event responses from a button end up outside of a thread even though start-thread = true"
# Description

When start-thread: true in configuration.yaml, replies using regular text or Blocks() construct end up inside of the thread, which is expected.

However, if the Blocks() construct has a button, the reply ends up outside of the thread in a new message in the channel.

# Steps to Reproduce:

0) set "start-thread: true" in configuration.yaml

1) Create a function that responds to a "he

[2022-04-28 14:20] #1744 closed

[2022-04-28 14:20] #1677 closed

[2022-04-28 14:20] #1876 closed

[2022-04-28 14:20] #1878 closed

[2022-04-28 15:05] chillipeper commented on #1891
hey all, I had a while ago some code that covers this issue but did not find cycles to work on it. Hopefully, it's useful. FWIW this code has been running already for a couple of months on my local instance without any issues.

[2022-05-05 05:41] D3N14L opened #1909 "Telegram connector stops working after a reply with just a GIF"
# Description
Bot stops working when a certain event occurs in the chat. It tries to handle a message but fails and does not react to subsequent messages.

## Steps to Reproduce

EDIT: A reply with just a gif is sufficient to trigger this. Send a GIF via `@gif something` as a reply to a message from the bot.

Not perfectly sure, but the error below points me to:
https://github.com/opsdroid/opsdroi

[2022-05-05 15:42] chillipeper opened #1910 "Slack Connector is logging an error which is not really an error"
# Description
Every time opsdroid responds in a thread for the slack connector, the log is throwing an error in the following form:

[code]

This is not really an error, but just a misplaced log message that should be a debug message.

The [create_event](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/connector.py#L190) method from the slack connector is returning an empt

[2022-05-08 21:10] jinnko commented on #983
I've had a look into this and was able to cross build an aarch64 container locally.  With docker buildx it's fairly simple.

1. Either make sure the host system support binfmt, or us the docker container approach [as documented in the docker docs](https://docs.docker.com/buildx/working-with-buildx/#build-multi-platform-images).
2. Run the build command with the targeted platform:

[code]

What I'm

[2022-05-09 09:12] jacobtomlinson commented on #983
We are still using the Docker Hub autobuild functionality, which I think doesn't support this. I'm very keen to migrate builds over to GitHub Actions though and push images to ghcr.io in addition to Docker Hub.

[2022-05-09 23:33] pataquets opened #1912 "Feature request: Alexa connector"
# Description
It would be awesome to use Amazon's Alexa as a command input and get results as replies on the Echo devices.
I'm not familiar with the Alexa SDKs, even less if it's doable. But I think it will be awesome, if it is possible.

[2022-05-13 05:55] jaas666 commented on #1198
@jacobtomlinson just letting you know that the links you originally posted are dead. I know it's an old issue but in case someone comes along and want to contribute they should be updated.

[Creating a skill tutorial](https://docs.opsdroid.dev/en/stable/tutorials/basic-skill/)
[Skills documentation](https://docs.opsdroid.dev/en/stable/extending/skills/)
[Constraints](https://docs.opsdroid.dev/en/s

[2022-05-13 06:25] jaas666 opened #1914 "Fix dead links in documentation: quickstart.md"
# Description
Links pointing to other documentation are broken. Looks like at some point documentation changed directories and links weren't updated.

## Steps to Reproduce
Most links from the [Quickstart](https://github.com/opsdroid/opsdroid/blob/master/docs/quickstart.md) are broken.

## Expected Functionality
Expect links to actually go somewhere.

## Experienced Functionality
404 error

[2022-05-13 11:05] #1914 closed

[2022-05-13 11:06] jacobtomlinson commented on #1198
Thanks @jaas666 I've updated the top comment.

[2022-05-13 13:26] jaas666 opened #1918 "Stickers form closed"
# Description

[Contribution page](https://github.com/opsdroid/opsdroid/blob/master/docs/contributing/index.md) still mention stickers for contributors, yet the form is not accepting new entries.

Is the form closed permanently? Shall we remove the mention of the stickers if that's the case?

[2022-05-13 13:44] FabioRosado commented on #1918
Hello @jaas666  that's correct we aren't sending stickers at the moment I think we can remove this 😄

[2022-05-13 14:24] #1918 closed

[2022-05-13 14:29] jaas666 opened #1922 "Broken links in documentation."
# Description
I've found some broken links in the documentation but most of them are simply missing the .md extension. After submitting a couple PR's (#1917 #1919 #1921) to fix this I've come to the realization that they might not be mistakes.

Can someone confirm if the missing extension on the links from the documentation are on purpose? Like, they have to be like that to show correctly on the a

[2022-05-14 12:00] #1910 closed

[2022-05-14 21:44] #1909 closed

[2022-05-14 21:45] #1891 closed

[2022-05-15 16:07] #1699 closed

[2022-05-15 18:53] jaas666 commented on #1922
Anyone?

[2022-05-17 04:43] yypptest opened #1924 "support to ssl handshake certification"
# Description
We are using opsdroid as a bot with slack connector, and we enabled SSL.

The security test report that no ssl handshake certification being passed, even there's no cert file provided from client side, the verification passed. Does opsdroid support two way certification?

<img width="1180" alt="opsdroid-ssl" src="https://user-images.githubusercontent.com/64583929/168730692-422a01f8-8

[2022-05-17 07:07] FabioRosado commented on #1922
Hello @jaas666 I've confirmed that the docs still work on the latest version, so if you would like you can keep adding the extension to the link if it helps navigating the docs in github 😄

[2022-05-17 07:09] FabioRosado commented on #1924
I haven't tested the SSL portion of opsdroid, but did you pass the ssl cert file and key to the configuration as the [docs mention](https://docs.opsdroid.dev/en/stable/configuration.html?highlight=ssl#web-server) ?

[2022-05-17 07:41] yypptest commented on #1924
yes, I did, and the opsdroid started with 8443 port.

[2022-05-17 18:34] #1922 closed

[2022-05-20 10:15] jacobtomlinson opened #1926 "Connector WhatsApp"
Looks like Meta just announced an API for WhatsApp.

https://developers.facebook.com/docs/whatsapp/getting-started/signing-up

Looks like it can send messages via a POST and receive messages via a webhook.

Would be fun to add support to opsdroid.

[2022-05-25 09:49] FabioRosado commented on #1924
Great thank you for the clarification, I will poke at this and see what's happening 😄

[2022-05-30 14:42] walkrr opened #1928 "Matrix Connector cannot import name Iterable from Collections"
When using the matrix connector on python 3.10, the module fails to start. When verbose logging is enabled, an error is logged in the console:

## Steps to Reproduce
To reproduce enable the matrix connector on a computer running python 3.10

## Versions
- **Opsdroid version: 0.26.0**
- **Python version: 3.10.4**
- **OS/Docker version: Arch Linux, Linux-Zen 5.18 kernel**

## Configuration File
Plea

[2022-05-30 14:47] walkrr commented on #1928
After some digging this seems to be an issue with Nio. The matrix connector itself does not have the import line mentioned in the error anywhere but nio does, which the matrix connector imports

[2022-05-30 14:51] walkrr commented on #1928
After going and changing the depreciated import statement in the nio base file to collections.abc import Iterable, opsdroid now gives a different error. Module nio.responses not found. Not sure if this is relevant but I did have to manually install nio because initially the error I was getting was Module nio not found.

[2022-05-30 19:25] walkrr commented on #1928
Figured it out, I ran pip install nio, when I should have run pip install matrix-nio

[2022-05-30 19:25] #1928 closed

[2022-06-13 21:04] FabioRosado opened #1930 "Add token to websockets connector"
Currently, anyone that knows opdroid url and endpoint will be able to request a socket to initialize a websocket connection.

Ideally, we should allow users to select a token in the configuration settings. When opsdroid gets a request, if the token doesn't exist then we just reject the request.

This will also a nice feature to implement along side opsdroid-web v2

[2022-06-16 09:13] #1872 closed

[2022-06-17 21:58] FabioRosado opened #1932 "Add possibility to configure CORS in routes"
While testing #1930 with opsdroid-web I've realised that we aren't handling CORS at all. This means that any request that we will try to do from the app will fail since we can't include an  `Authorization`  header when using `no-cors` and if we use `cors` then opsdroid will reply with `OPTIONS`.

We should probably expand opsdroid web to allow users to configure cors on every route. I've been play

[2022-06-17 22:21] FabioRosado commented on #1932
Annoyingly, this doesn't seem to be as simple as that. The request goes through, but then something breaks. Will need to figure it out before deciding on this

[code]

[2022-06-18 21:28] #1930 closed

[2022-06-19 14:17] FabioRosado opened #1933 "Websocket connect might not close properly"
# Description

While testing opsdroid-web it seems that sometimes the connection with opsdroid drops. If I try to reconnect from the opsdroid-web, the connection happens, but then when opsdroid tries to talk back to the socket, an error occurs:

[code]

I believe that the issue is happening on the following line:

https://github.com/opsdroid/opsdroid/blob/a280177d40be894f9cc0006c85ec5c6d674ca2a3/o

[2022-06-27 19:03] jacobtomlinson commented on #1926
I don't know about anyone else but I've already started getting spam messages on WhatsApp, so looks like folks have already jumped on this API 😅.

[2022-07-01 15:10] rodrigo-albuquerque commented on #1905
Hi Fabio, quick question. Is this somehow related to the other issue where Block replies ended up outside of a thread?

[2022-07-01 18:58] FabioRosado commented on #1905
It is somewhat related to that yet, but we are doing some 'odd' things with the event from the button click and when I had a quick look, I couldn't figure out what was happening there 😅

[2022-07-05 09:33] m-yosefpor opened #1938 "Direct message support for matrix (element) connector"
# Description

Ability to handle direct messages in matrix. Users should be able to interact with bot in pv for matrix connector (other connectors such as slack and telegram already support this)

[2022-07-06 03:53] yypptest opened #1939 "no response to user message after opsdroid running for several days"
# Description
We are using opsdroid  with slack connector, the backend API for slack app is Event API. We developed the several skills and they worked well to respond to the message from slack.

But after running for several days, there was no response to any user message to any skills. We deployed the opsdroid with helm chart, and the skill functions were recovered after restarting the pod.

## S

[2022-07-06 11:41] FabioRosado commented on #1939
Thank you for raising this issue, anything in the logs?

[2022-07-07 05:08] yypptest commented on #1939
I didn't find obvious errors in the log with INFO level, the only finding is there will be 2 POST messages when it's normal, one should be the user message and one should be the response to the user message, but only 1 POST message is recorded when there's no response.

Log before issues:
[code]

Log after issue:
[code]

[2022-07-08 01:57] yypptest commented on #1939
@FabioRosado I found a similar issue ever was opened for python-slack-sdk with socket mode, hope it will be helpful for further investigation.

https://github.com/slackapi/python-slack-sdk/issues/1110

[2022-07-17 14:54] #1932 closed

[2022-07-22 01:32] yypptest opened #1941 "Feature Request: Support to respond with Ephemeral message for slack connector"
# Description
Ability to send Ephemeral respond for slack connector. User is able to have option to send the respond as `in_channel` or `ephemeral` when sending responds, thanks!

[2022-07-28 19:28] diegodorgam commented on #1938
Having trouble to receive the direct messages also.
Using docker image `opsdroid/opsdroid:latest` running opsdroid connected to my self hosted matrix server, with the configuration:

[code]

I can receive and send messages from any public or private(not encrypted) room, but from DM generates this error:

[code]

Any ideas on how to solve it?

[2022-08-24 16:56] gkprasanth commented on #1696
@Cadair
Hi,
Can you explain me about the issue clearly. I am a beginner programmer and never contributed to open source ,will I be able to solve this issue?

[2022-09-05 05:19] yypptest commented on #1939
I found this issue happened when user clicking the `clear selection` option in the static options
<img width="357" alt="image" src="https://user-images.githubusercontent.com/64583929/188365834-43e3e458-90ec-436e-b391-ebbb7b405469.png">

[2022-10-09 00:44] Sleuth56 opened #1945 "Do we actually need openssh?"
# Description
I was running Lynis against dockerfiles and it noticed that openssh was being installed in the opsdroid container. That's an odd package to have installed in a container. What is it for? I assume it's a dependency or it's left over from testing something.

## Versions
- **Opsdroid version:** v0.27.0
- **Python version:** N.A
- **OS/Docker version:** N.A

[2022-10-09 00:45] #1873 closed

[2022-10-09 00:46] #1792 closed

[2022-10-09 07:20] #1789 closed

[2022-10-10 14:07] fraimondo opened #1949 "Github connector: No module named 'jwt'"
# Description
Please include a summary of the issue.

Just starting with opsdroid to create a github/matrix skill (linking github and matrix), having some functionality like what the github bot did to slack.

Problem is I get an error with the JWT module when starting opsdroid, namely a missing dependency not installed in the virtual environment.

## Steps to Reproduce
Please also include relevant

[2022-10-11 08:52] FabioRosado commented on #1949
Hello @fraimondo  thank you for raising this issue.

Just to be sure, do you get the same error if you install everything `pip install opsdroid[all]` ? If so, perhaps the GitHub library isn't adding the `jwt` package, we can fix that by adding it to our requirements for now (would this be something you would be happy to contribute?)

[2022-10-11 09:01] jaas666 commented on #1922
Perfect.. I'll go through all of them today. Thanks

On Tue, May 17, 2022, 2:07 AM Fábio Rosado ***@***.***> wrote:

[2022-10-11 09:18] fraimondo commented on #1949
Yes, even with opsdroid[all].

I temporarily solved it locally by installing PyJWT and then removing the `decode("utf-8")` call here:

https://github.com/opsdroid/opsdroid/blob/ddd8a8ed68571b9cb9fb1af2b98077f37e20ef20/opsdroid/connector/github/__init__.py#L62-L64

But is this the proper way?

[2022-10-11 13:12] jacobtomlinson commented on #1945
Ping @Dissonant-Tech who added this in #1820.

[2022-10-22 10:39] FabioRosado commented on #1949
Hello @fraimondo  apologies for the delay in getting back to you.  Does it mean we don't need to decode the token anymore?

If you have bandwidth it would be good to add github to the list of connectors and PyJWT to the dependencies, similar to what we do for other connectors here

https://github.com/opsdroid/opsdroid/blob/ddd8a8ed68571b9cb9fb1af2b98077f37e20ef20/setup.cfg#L84

[2022-10-27 09:41] fraimondo commented on #1949
Indeed this is the solution.

I am a bit overwhelmed right now, but I can give it a try at a PR as soon as I find a few minutes free. It should not be a big issue to do it.

[2022-11-02 16:02] Sleuth56 commented on #1945
According to the Dockfile it's only installed on the build container. Thank you for the explanation. I am going to close this issue.

[2022-11-02 16:02] #1945 closed

[2022-11-04 02:41] yypptest opened #1952 "Error in opsdroid 0.27.0"
# Description
We deployed kubernetes deployment for opsdroid with slack connector, and the pod worked well with 0.26.0. Recently we upgraded the opsdroid to 0.27.0 to leverage Modal for slack connector, and noticed the opsdroid will report below error and the pod containing the opsdroid will keep restarting after some time.

[code]

## Steps to Reproduce
1. deployed the helm chart for opsdroid 0.2

[2022-11-10 21:25] cshel16 commented on #1933
Hi, I'd like to work on this!

[2022-11-11 07:43] FabioRosado commented on #1933
Hi, please go ahead 😄

[2022-11-15 14:00] gereltuya commented on #1949
Hello @fraimondo, this issue does not come up when installing with `pip install opsdroid[all]`. Also, the decoding `AttributeError` was fixed with the last commit to fix #1954 I believe.

[2022-11-16 12:52] fraimondo commented on #1949
It might be the case that PyJWT gets installed as a dependency of a dependency. In my case, it was not installed even with `all`.

Regarding the decode, I guess #1954 fixes that issue.

[2022-11-16 13:04] FabioRosado commented on #1949
@fraimondo  Are you using the latest main or the latest version available in Pypi? If I'm not mistaken we haven't released the fix in #1954 🤔

[2022-11-17 09:23] fraimondo commented on #1949
I'm not using it. It's just that I saw the diff in #1954 and it's exactly what I did to fix the issue.

[2022-11-29 17:43] sfrunza13 commented on #1941
I have just come across this repo and am still getting to understand it but I would like to see if I could do this if that's alright. It might take me a little while, I'm not sure yet whether I have the abilities to get it done.

[2022-11-29 23:12] sfrunza13 commented on #1941
Update, started working on this and got my first ephemeral to send, I will open a draft PR soon so everyone can see what I am attempting to do