[2018-10-07 14:47] Cadair commented on #662
Can you override the core connector with a plugin connector? i.e. for development or similar?

[2018-10-07 18:57] #671 closed

[2018-10-22 18:12] jacobtomlinson commented on #676
Hey @arpit2297 I'm guessing you've not had time to work on this. If anyone else wants to take this up then please go ahead.

[2018-10-22 18:13] jacobtomlinson commented on #675
Hey @iamrajhans I'm guessing you've not had time to work on this. If anyone else wants to take this up then please go ahead.

[2018-10-22 18:13] jacobtomlinson commented on #674
Hey @moulikcipherX I'm guessing you've not had time to work on this. If anyone else wants to take this up then please go ahead.

[2018-10-22 18:15] jacobtomlinson commented on #667
Hey @Replayattack I'm guessing you've not had time to work on this. If anyone else wants to take this up then please go ahead.

[2018-10-22 18:16] jacobtomlinson commented on #664
Hey @souravsingh I'm guessing you've not had time to work on this. If anyone else wants to take this up then please go ahead.

[2018-10-22 18:16] jacobtomlinson commented on #663
If anyone wants to take this up then please go ahead.

[2018-10-22 19:00] souravsingh commented on #664
I have been getting busy with work. Let me create a WIP pull request.

[2018-10-22 20:06] jacobtomlinson commented on #664
@souravsingh That's no problem! I look forward to reviewing your PR.

[2018-10-22 20:52] #641 closed

[2018-10-23 19:38] lethonomia opened #709 "Skills are being loaded twice"
# Description
Thanks for all the hard work on this. I'm testing out the framework and hope to be able to contribute back into it in the near future.

I was investigating an issue with a cron skill running twice. I believe its related to the modules being loaded twice. Most don't trigger twice because of rank order. The easiest way to see this is to load the help module and run it. I altered the he

[2018-10-24 08:45] jacobtomlinson commented on #709
Thanks for raising this. You're spot on with your troubleshooting. I'll have a look into it.

[2018-10-24 10:34] #341 closed

[2018-10-28 10:34] jacobtomlinson commented on #643
I was going to tackle this in #711 but that PR has gotten so big already that I'm just going to put some thoughts here.

I think it would be a good idea to split the `Loader` class into `Loader` and `Installer` to simplify the class. `Loader` should handle loading config, loading modules and installing modules using `Installer`. I think `Installer` should not be instantiated but simple have class

[2018-10-30 09:40] jacobtomlinson commented on #498
#672 covers implementing this so will close this proposal.

[2018-10-30 09:40] #498 closed

[2018-10-31 13:02] #665 closed

[2018-11-01 11:05] FabioRosado opened #717 "Implement disconnect method to connectors"
# Description
Opsdroid can now exit in a clean way after #711 was merged. But most of the connectors (with the exception of websockets) don't implement the `disconnect` method and when opsdroid tries to exit, an exception occurs, because the connector task was destroyed while pending.

Implementing the disconnect method on every connector will avoid this exception to occur.

---
_As a work around

[2018-11-01 17:24] Cadair opened #719 "A Proposal for Handling Generic Events"
This is a proposal on how to resolve #536. It came from a discussion with @SolarDrew

## Event Classes

Currently opsdroid provides a `Message` class which is designed to represent a simple textual message. This proposal is for a hierarchy of different types of events decended from an `Event` abstract class.

For example a simple inheritance chain might be `Event` > `Message` > `Image`.

Other typ

[2018-11-01 19:50] jacobtomlinson commented on #719
🎉 This all sounds excellent and right along the lines of what I was thinking of doing myself.

I have a few questions that I would like your opinion on. There are not criticisms of this proposal, just questions which have come to mind while reading 😊. Some are relate to what you propose, some are related to opsdroid in general prompted by your proposal.

- Would `Event` and all subclasses have a `

[2018-11-01 22:17] Cadair commented on #719
All these comments are very encouraging, I think we are all thinking along the same lines here.

I would go for yes, all events should have a `respond` method. At the very least all events will have a connector property, and `target` (room) is currently (and presumably will continue to be) optional. In Drews example, of a room creation event, I would just expect there not to be a target property.

[2018-11-01 22:34] SolarDrew commented on #719
I'm not sure I understand how this would play out in practice - where would the responding event go if there's no target? Or do you just mean no default target?

You're a damn renegade, @Cadair, they'll have your badge for this.

I think we do though, at least in the long term. In the very general case where `Event`s can represent basically anything happening, I think we'll pretty quickly get past

[2018-11-02 07:30] jacobtomlinson commented on #719
The trouble with `@match_event(Message, text="some regex text")` is that you're making an assumption about the matcher you want to use (regex). You may be matching on a more complex intent model parser like Rasa NLU or something else.

[2018-11-02 09:05] SolarDrew commented on #719
I'm not sure that necessarily needs to be the case. I think `text=` would match just text content and take the place of `@match_regex`, (and in fact, `regex=` would probably be clearer here) but you could also have an `intent=` keyword which would pass to Rasa NLU or whatever underneath, so you needn't lose that functionality.

[2018-11-02 09:12] Cadair commented on #719
The issue I see is you have multiple properties of the event you might want to match (text, title, room, etc) and multiple ways you might want to match them (regex, equality, NLU etc).

[2018-11-03 09:56] jacobtomlinson commented on #660
@synapticarbors I'm gearing up to do a release of opsdroid. What needs to be done in conda forge for it to deploy there also?

[2018-11-03 14:56] synapticarbors commented on #660
Once the release has been made on pypi, one of the conda-forge bots should issue a pull request. It can be done manually, but the bot usually picks it up pretty quickly. Once that PR appears, I can walk you through the things I usually check to make sure it looks good. The bot itself puts some useful info about what to check as well, but it can sometimes miss stuff.

[2018-11-03 21:55] jacobtomlinson commented on #660
@synapticarbors ok great thanks. But just to confirm there is a manual release step which is required? I'll make sure to update the documentation once I've run through it once.

[2018-11-04 11:35] #672 closed

[2018-11-04 20:10] jacobtomlinson commented on #660
@synapticarbors the PR has been raised. https://github.com/conda-forge/opsdroid-feedstock/pull/1#issuecomment-435692483

[2018-11-04 23:04] jacobtomlinson opened #723 "Application hangs on kill if connector doesn't disconnect"
If a connector doesn't honour the disconnect method opsdroid can hang on shutdown. We should force kill connectors after 30 seconds after disconnect is called.

[2018-11-05 02:15] synapticarbors commented on #660
I'm not 100% sure what you mean by a "manual release step". Basically you can do one of several things:

- Wait for the bot to make the PR once it detects the pypi change, and then assuming everything looks good, merge the PR, which triggers the new binary to be pushed to anaconda.org in the conda-forge channel
- Wait for the bot to make the PR and then make manual changes and push to the PR branc

[2018-11-05 08:36] jacobtomlinson commented on #717
Related to #723

[2018-11-05 08:40] jacobtomlinson opened #725 "Refactor connector opsdroid pointer"
Currently in the `Connector` class we expect opsdroid to pass a pointer to itself on `connect` and `disconnect`. This seems a little pointless as the connector should be storing the pointer as an attribute anyway.

### Steps

- Add `opsdroid` as a kwarg in the `__init__` method of the `Connector` class and store it as an attribute.
- Remove the opsdroid kwarg from the `connect` and `disconnect` me

[2018-11-06 03:43] zonagilreath commented on #725
I think I can get this done pretty quickly

[2018-11-06 05:41] zonagilreath commented on #725
I will try to work on this.

[2018-11-06 05:49] zonagilreath commented on #725
This would be my first contribution to a project so I'm a little unsure of the protocol, should I also update the connector tests to reflect this change?

[2018-11-06 07:31] FabioRosado commented on #725
Hello @zonagilreath welcome to the project!
You are correct, the tests will need to be updated as well otherwise they will fail as they will have opsdroid as a param.

Let us know if you need any help 👍

[2018-11-06 13:18] FabioRosado commented on #725
Might be a good idea to add the opsdroid kwarg to the database class as well - this is related to the bug report of @colonelkrud
[code]

[2018-11-06 13:51] jacobtomlinson commented on #725
Yes!

[2018-11-06 15:45] zonagilreath commented on #725
Sounds good, I'll checkout the db class once I get the connector tests fixed.

[2018-11-06 17:02] zonagilreath commented on #725
I do have a question about the tests. In `test_connector_facebook`, line 34, there's:
`opsdroid = amock.CoroutineMock()`
which is later given to `connector.connect(opsdroid)`.
Later in the same test we have:
[code]
Keeping this same form shouldn't be an issue with the fb, rocketchat, etc connector tests,  but there's no precedent in just `test_connector` (because the `connect` method isn't impleme

[2018-11-06 17:10] zonagilreath commented on #725
Oh also, since the issue said "Add opsdroid as a **kwarg**" I'm adding it specifically as a kwarg and it won't be possible to supply it positionally. Is this what is desired?

[2018-11-09 17:24] gergelypolonkai opened #732 "Cannot disconnect from SQLite"
# Description
SQLite database connector can’t disconnect because of wrong method signature.

## Steps to Reproduce
Enable the SQLite database module, then try to shut down the bot.

## Expected Functionality
The bot should shut down.

## Experienced Functionality
This error message on the console, and the bot remains running (but with the connectors already disconnected).

[code]

## Versions
- **

[2018-11-09 17:32] gergelypolonkai commented on #732
Looking deeper into this it seems to affect mongo and redis, too, as neither of them override the default `disconnect()` method.

[2018-11-13 14:48] #732 closed

[2018-11-16 08:29] jacobtomlinson commented on #237
hello

[2018-11-17 08:08] jacobtomlinson opened #740 "A test please ignore"
test

[2018-11-17 08:09] #740 closed

[2018-11-17 15:36] #664 closed

[2018-11-18 09:20] #649 closed

[2018-11-19 09:18] jacobtomlinson opened #743 "Memory leak when using slack connector"
I've noticed in a couple of different deployments of opsdroid that there seems to be a memory leak. In my work deployment it seems to happen at the same time every day so it is likely related to the cron timing. It looks like the memory just keeps filling until the OOM killer ends the process and it restarts again. I'll have a look through the skills I have and see if anything lines up with the ti

[2018-11-19 11:44] jacobtomlinson commented on #743
I don't seem to have any skills with cron timings around that time.

[2018-11-20 17:17] GrugLife commented on #532
Hey @FabioRosado, I would like to add docstrings to web.py.  The link above no longer works so is this the format you are looking for?

https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

Looking forward to this as this is my first issue!

[2018-11-20 17:20] FabioRosado commented on #532
Hello @GrugLife you are right that is the style we intent to implement in opsdroid. We would be glad to have you contribute to the project let me know if you need any help 😀👍

[2018-11-21 11:19] FabioRosado opened #748 "Refactor Tests: Replace logmock with self.assertLogs"
Last year I needed to figure out how to assert if a logging level was called. I tried a few things and came up with the solution to mock the `_LOGGER.<level>` and then assert if logmock was called.

I have noticed that you can use a `self.assertLogs(self, logger, level)` to check if a message was logged. Since when we are testing we don't really care about what message was logged but if the messag

[2018-11-21 11:58] jacobtomlinson commented on #748
Awesome! Looks like this was added to unittests in 3.4 (back in Feb).

[2018-11-22 08:08] #660 closed

[2018-11-23 08:43] #748 closed

[2018-11-24 05:22] drmorr0 opened #756 "Add mypy types"
# Description
Let's add mypy types to opsdroid so that skills and other extensions using mypy can take advantage of type annotations.

[2018-11-24 05:42] jacobtomlinson commented on #756
I've not come across mypy. Is this related to #639? Or are you proposing something else?

[2018-11-24 08:59] jacobtomlinson commented on #756
Ok sure. I'm going to close this as a duplicate of that one.

I would appreciate if you could have a read of that issue and join the discussion. Any code style change like this needs to be debated by the community, and the more input the better.

[2018-11-24 08:59] #756 closed

[2018-11-25 07:16] drmorr0 commented on #639
I have a few comments:

I don't know that I particularly agree with this statement.  Python isn't dynamically typed (well it depends what you mean by dynamically typed because even that term is overloaded to the point of being useless).  But for this discussion, every object in Python has a type and you can't (more or less) change that type.  It's just that the _source code_ never tells you what t

[2018-11-26 16:40] jacobtomlinson commented on #639
Thanks for taking the time to write this 😀.

### Some responses

While you are technically correct I don't think it is helpful in this discussion. Python does not enforce typing in the same way as a strongly typed language. This makes things easier for beginners to get started, but also easier to tie themselves in knots. Type hints help avoid the type headaches of Python, but I feel it goes agains

[2018-11-26 17:07] #661 closed

[2018-11-26 20:59] petri opened #761 "shell connector fails on start"
# Description

Installing version 0.13.0 on MacOS, Python 3.6, when trying to use the shell connector, errors occur.

## Steps to Reproduce

Use the barebones configuration with just `shell` connector and `hello` skill. Try starting opsdroid.

## Experienced Functionality

[code]

Don't know if the call or the base class signature should be changed?

Also, FYI there are some more bugs lurking bene

[2018-11-27 05:35] FabioRosado commented on #761
Hello @petri thank you for raising this issue. I made changes to the shell connector in order to get #749 merged. But there were a few things still in need to change. I tried to raise a PR within @zonagilreath repo in order to get the tests passing again, but didn't get any reply from him.

I got some time today and will revert the changes done to the shell connector and it should work for you aft

[2018-11-27 06:07] #761 closed

[2018-11-27 06:53] FabioRosado commented on #639
I still haven't looked into typehints but I'm currently only contributing to opdroid so I never really needed to look much into it. The reason why I thought we should implement a google style docstring with out project was because at times I spent some time trying to figure out what did what and knowing the type and have a good docstring did help.

Is typehinting used with python 3.5? I had a look

[2018-11-27 10:44] petri opened #763 "localized error msgs fail due to _ not being found"
# Description

Logging in core.py fails.

## Steps to Reproduce
For example install slack connector and give bad token.

## Expected Functionality
There should be logging of the issue with the connector not being able to connect.

## Experienced Functionality
When logging, the _ variable that should be injected into scope by eg. gettext.install is not found and thus logging causes an unhandled exc

[2018-11-27 11:06] FabioRosado commented on #763
I have tested the slack connector with a fake token as you suggested. I can confirm that opsdroid just crashes. The `NameError` exception is related to the `gettext` dependency but this is not a true reason why opsdroid crashed - lately when `opsdroid.core.handle_async_exception` is called it will always show that `NameError` exception.

I tried to replace the `_()` within the `handle_async_except

[2018-11-27 11:12] petri commented on #763
The traceback for me was extremely long as well - basically what I copy pasted ^ just repeated, over and over and over.. I now pulled the master and cannot reproduce the issue any more. I guess we can close this.

[2018-11-27 11:12] #763 closed

[2018-11-27 11:17] FabioRosado commented on #763
Can you confirm that we are still getting a traceback similar to this tho?
[code]

[2018-11-27 11:26] FabioRosado opened #764 "Handle slacker connector invalid token exception"
# Description
This issue was found by @petri with #763

When we use an invalid token with the slacker connector opsdroid crashes badly. This is probably due to the fact that we changed dependencies and the code doesn't handle the exception raised by the aioslacker library.

We should probably refactor the connect method to check if the exception `slacker.Error: invalid_auth` was raised, if so an e

[2018-11-27 11:41] jacobtomlinson commented on #764
We should check whether the connectors actually connect [here](https://github.com/opsdroid/opsdroid/blob/44df8f609656ab5bafef1ff79c14ab8cc2cbc647/opsdroid/core.py#L248). If they don't we should probably gracefully exit opsdroid.

The connector itself should return `True` or `False` on connect and catch all errors. Then opsdroid core should handle when a connector returns `False`.

[2018-11-27 14:12] FabioRosado commented on #764
Okay so we need to change all connectors in order to return either true or false  and then handle that return on the core, this might add a few more if/else nested block in the core though so however we implement it should try to avoid that

[2018-11-27 16:20] varadgunjal commented on #674
I'd like to take this up. Will post updates soon.

[2018-11-28 07:44] petri opened #766 "Allow selective installation of requirements via setuptools extras_require"
When more extensions are added to the opsdroid core distribution, the number of dependencies will increase, making the package larger and adding potential installation issues.

The setuptools extras_require mechanism can be used to make installation of dependencies optional, alleviating this issue.

[2018-11-28 07:49] petri opened #767 "Support setuptools entry points for loading contributed extensions"
It is not desirable to have every contributed extension in the opsdroid core.

By supporting a loader mechanism that uses setuptools entry points, it becomes easy for contributors to maintain extensions as proper Python packages and publish them in PyPI.

The existing existing GitHub loader mechanism can of course be kept as-is; the two mechanisms are complementary.

[2018-11-28 07:51] petri opened #768 "Create a ZODB database extension"
I am working on this, just added issue for reference.

For ZODB docs, see http://www.zodb.org/en/latest/

[2018-11-28 07:56] petri commented on #676
I'm working on a Skype connector; got a working proof of concept done that works ok with the Skype bot emulator.

Reading the docs, it seems to me the implementation could be made work both with the consumer and business Skype network.

Per the docs, at least the consumer bots need to be implemented as servers, meaning the approach used with eg. Slack connector does not work. So I've created a 'co

[2018-11-28 08:09] petri commented on #767
The entry points could be called simply `opsdroid_connectors`, `opsdroid_skills` and `opsdroid_databases`.

Someone contributing eg. a Skype connector in a package called eg. `opsdroid.contrib.skype` with a `connector.py` top-level module that has a `SkypeConnector` class, would then just need to add the following to setup.py:

[code]

[2018-11-28 08:13] FabioRosado commented on #674
@varadgunjal  that would be great, please let us know if you need any help with this task 👍

[2018-11-28 08:15] FabioRosado commented on #767
Just to clarify but this will add another thing that we will have to add to configure out opsdroid right?
So we would have to change `config.yaml` plus add the `entry_points` dict into setup.py as well?

[2018-11-28 08:19] petri commented on #767
@FabioRosado no, the `entry_points` dict needs to be added just to the contributed proper Python packages.

[2018-11-28 08:31] FabioRosado commented on #767
Oh that's great then, I didn't know much about that. Thanks for clarifying this.

It sounds like a great way to keep opsdroid "small" again 👍

[2018-11-28 09:46] jacobtomlinson commented on #676
@petri it sounds similar to the [facebook messenger connector](https://github.com/opsdroid/opsdroid/blob/bc95a2bd4d7cf921974f4ee01ec1b51003249bc3/opsdroid/connector/facebook/__init__.py#L47). It adds some methods to the existing web server in opsdroid.

While you are probably right about the terminology I don't think it would be helpful to refer to it as anything other than a connector. If it make

[2018-11-28 09:57] jacobtomlinson commented on #767
This does sound good. I'm very keen to keep official supported modules in the core of opsdroid, they are not particularly big, many do not invoke additional dependencies and it makes testing and maintenance easier.

This could be a great way to support 3rd party connectors. However I'm not sure I see much difference between simply releasing a connector package to PyPI and configuring it with the n

[2018-11-28 09:59] jacobtomlinson commented on #768
Nice thanks!

[2018-11-28 10:04] jacobtomlinson commented on #766
I agree. We should combine this with #651 as part of a dependency refactor.

_It is worth noting that only three dependencies have been added as a result of merging the eight database and connector modules into core._

[2018-11-28 11:50] petri commented on #767
More code means more maintenance and more dependencies that may have platform-specific installation issues and so on. Some extensions may be obscure.

The "batteries included" slogan comes at a price.

Yes #766 alleviates some of those issues and there is a mostly one-time packaging overhead, that's true as well.  Package management for testing & maintenance is not that much more work with modern

[2018-11-28 14:14] jacobtomlinson commented on #767
Yes I agree. However opsdroid really doesn't have much code. It's a pretty simple package, the majority of the interesting stuff happens in the parsers, connectors and databases. I want to keep things simple for new users but extensible for advanced users. Therefore I would like to provide enough modules in the core to hit 80% of use cases, and then the rest can work through 3rd party libraries.

[2018-11-28 14:33] jacobtomlinson opened #770 "Add config validation"
Currently we are not doing a very good job of validating config before loading opsdroid.

An example of this is that we have [very old and now invalid configs](https://github.com/opsdroid/opsdroid/blob/bc95a2bd4d7cf921974f4ee01ec1b51003249bc3/tests/configs/minimal.yaml) in our tests and they are still passing. In that config `skills` is a dictionary, which was changed to a list a long time ago.

W

[2018-11-28 19:47] petri commented on #768
See https://github.com/koodaamo/opsdroid-zodb. Also on PyPI.

[2018-11-29 12:04] jacobtomlinson commented on #768
This is great thanks. Please feel free to put in a PR to the documentation in this project with install instructions and links to that module's documentation.

[2018-11-29 12:04] #768 closed

[2018-11-29 21:07] petri commented on #676
@jacobtomlinson thanks for pointing out the facebook connector - I did not realize server functionality could be provided so conveniently in opsdroid. Very nice.

I did not mean to suggest that connector be replaced with some other term in public docs; sticking to the skill-connector-database terminology makes sense, and in/outbound is a good way to distinguish between the two connector types.

[2018-12-03 19:32] petri commented on #767
completed, closing

[2018-12-03 19:32] #767 closed

[2018-12-03 22:07] #725 closed

[2018-12-05 09:13] jacobtomlinson commented on #723
This is ongoing.

[2018-12-05 09:13] jacobtomlinson commented on #717
This still needs fixing.

[2018-12-05 10:58] petri opened #776 "shutdown checks the wrong is_running flag"
This causes the dreaded "Task was destroyed but it's pending" error when shutting down opsdroid.

See https://github.com/opsdroid/opsdroid/blob/master/opsdroid/core.py#L128-L130

[2018-12-05 11:01] petri commented on #776
Duh they refer to the same one flag, should've read the code further.

[2018-12-05 11:01] #776 closed

[2018-12-05 22:38] petri commented on #639
As can be seen from the discussion thus far, it's clearly a balancing act - there's valid pros and cons. I would suggest starting to use them at some point in places where they can clearly clarify things, or help avoid errors. Or just start from the key public APIs. Or some mixture of those.

It's also worth remembering that type hints can fall behind and might have bugs (one more reason to start

[2018-12-13 13:53] bicep commented on #770
Hello, I'd love to help out on this project. Do you think this is a good place to start and if so can you say more about what need to be done for the config tests?

[2018-12-13 14:01] FabioRosado commented on #770
Hello @bicep welcome to the project. Can't say exactly if this is the right issue for you - I guess it depends on how well you know yaml and pyyaml 😄

Basically we are loading the `config.yaml` but there is little validation done on this file (for examples, adding three spaces instead of two will make the config break).

As for the tests, what needs to change is from a dictionary into a list and u

[2018-12-14 15:37] AndresCidoncha opened #781 "Documentation is not clear about the docker volume configuration."
# Description
Using the documentation steps for launch opsdroid in Docker, can't load my custom configuration.

## Steps to Reproduce
1. Create a configuration file named `configuration.yaml`.
2. Run `docker run --rm -it -v $(pwd)/configuration.yaml:/etc/opsdroid/configuration.yaml:ro opsdroid/opsdroid:dev`

## Expected Functionality
The documentation should explain that `/path/to/configuration.ya

[2018-12-15 21:32] contato318 commented on #781
My example (docker-compose.yaml):

[code]
My configuration file (example):  data/root/.config/opsdroid/configuration.yaml

[code]

[2018-12-18 09:40] jacobtomlinson commented on #781
I have no issue with creating `/etc/opsdroid` in the image.

However I would recommend using `/root/.config/opsdroid/` instead. We should probably update the docs to reflect this.

[2018-12-18 11:17] AndresCidoncha commented on #781
I create a PR with the documentation changes. Also, I add a docker service example.

[2018-12-18 13:08] #781 closed

[2018-12-19 15:33] FabioRosado commented on #743
@AndresCidoncha posted the following on gitter:

[code]

Could it be a skill  added to the config?

[2018-12-19 16:48] jacobtomlinson commented on #743
I've seen it happen on two separate opsdroids. One is using slack and websockets and has the grafana, apiap and homeassistant skills. The other is using slack, the sqlite database and the help, grafana, cloudhealth and a couple of custom skills.

So potentially if this is not a bug in opsdroid core then it could be related to the slack connector or the grafana skill.

As the slack connector has ch

[2018-12-19 17:04] AndresCidoncha commented on #743
When I had the problem only have in common with your configs the slack and sqlite connectors, so the problem must be in the slack connector :thinking:

[2018-12-21 20:35] #723 closed

[2018-12-21 21:09] #670 closed

[2018-12-24 08:27] dgacias opened #791 "Memory error"
# Description
It just crashed with a memory error, a restart made it work again.

## Steps to Reproduce
Just running it on the weekend produced it, using opsdroid:dev docker

## Experienced Functionality
This is the log: https://pastebin.com/2nW6G0mt

## Versions
- **Opsdroid dev container**
- **Python version 3.6**
- **Amazon linux 2, docker version 18.06.1-ce**

## Configuration File
The configu

[2018-12-24 12:51] FabioRosado opened #792 "Redis database keeps auto-reconnecting"
# Description
I have found an issue with the Redis database, if you set Redis on your `config.yaml` but the server is not running, the client will try to reconnect to the server ad infinitum.

This is possibly an issue with `asyncio_redis` and I have raised an issue within the project ([#126](https://github.com/jonathanslenders/asyncio-redis/issues/126)).

I have tried to set `auto_reconnect` to F

[2018-12-24 15:03] FabioRosado commented on #791
I have been trying to break my opsdroid to see if I could get that `NameError: '_' ...` exception, I know exactly what is it about (the gettext), but I had a feeling we had fixed this issue, having it in this log made me a bit confused so I been trying to get it but every thing I tried hasn't produced the error yet.

Looking at the logs it seems that the slacker couldn't connect to the server for

[2018-12-30 07:38] jacobtomlinson commented on #791
This could potentially be related to #743, especially as it seems to be the slack connector which is causing the problem.

[2018-12-30 09:07] FabioRosado commented on #791
I read something about this memoryerror and slacker - some people on stackoverflow said that it could be the keep alive method. Might be something worth checking?

[2019-01-12 01:49] #639 closed

[2019-01-12 17:33] FabioRosado commented on #580
Closed as it got solved in 803

[2019-01-12 17:33] #580 closed

[2019-01-16 15:00] #662 closed

[2019-01-18 20:56] Cadair opened #813 "support providing an access token in the configuration for the matrix connector rather than the password"
This would alleviate the need to plain text the password in the config, and the access token can be deactivated. This would be a case of detecting the key in the config and skipping the login call

[2019-01-20 11:33] jacobtomlinson commented on #791
I'm going to close this as a duplicate of #743

[2019-01-20 11:33] #791 closed

[2019-01-21 16:02] gsunit commented on #516
Hey, @jacobtomlinson
I would like to help by writing the tests. However, I am new to writing tests and would need your help.
Starting with the first test:

Which APIs will be concerned here? Please direct me to the relevant files.

[2019-01-21 17:00] jacobtomlinson commented on #516
Great to have you @gsunit. I highly recommend you take a look at the project documentation. The API referred to is covered in the documentation [here](https://opsdroid.readthedocs.io/en/stable/rest-api/).

The tests covered in this issue are for externally testing opsdroid, rather than unit tests. If you're new to testing and are interested in unit tests I would recommend looking at existing tests

[2019-01-26 09:57] jacobtomlinson commented on #719
Referencing https://github.com/opsdroid/opsdroid/pull/721#discussion_r250925108

[2019-01-26 10:10] jacobtomlinson opened #815 "Docker builds are failing"
Looks like docker builds are failing. This is likely to do with a newer version of `pip` which has a bug when using `--no-cache-dir`. See pypa/pip#6158.

A workaround that has been suggested is to add `--no-use-pep517`.

[2019-01-26 10:18] #815 closed

[2019-01-28 12:45] kaiiyer opened #821 "Error during installation of opsdroid"
# Description
There was an error while installing opsdroid on Debian, Kali Linux and Parrot GNU.

## Steps to Reproduce
$ pip3 install opsdroid
$ opsdroid

## Expected Functionality
Proper installation of opsdroid on the machine.

## Experienced Functionality
Error while installing the packages for opsdroid v0.13.0

## Versions
- opsdroid v0.13.0
- Python 3.6.8
- Parrot 3.11 and Kali 2017

## Addi

[2019-01-28 13:04] #298 closed

[2019-01-28 13:08] jacobtomlinson commented on #821
Thanks for raising this. It looks like the shell connector has been updated ready for `0.14.0` but this has broken backward compatibility. This highlights the issues raised in #92.

You can wait for `0.14.0` which I'm hoping to get out today and that should resolve the issue. In the eman time you can also disable the shell connector in the config ( run `opsdroid -e` and comment out the shell conne

[2019-01-30 13:39] Cadair commented on #719
I have been working on the next stage of the implementation of this, the `Connector.send` part. Take a look at this gist, where I have tested out my thoughts.

https://gist.github.com/Cadair/7f04936cd64112f9137e64bb380a26ab

[2019-02-05 15:13] FabioRosado opened #833 "Recast.ai new name - SAP"
I have just noticed that recast.ai has changed the name to - SAP Conversational AI!
We should update the documentation with the new name like we have done with dialogflow, as an additional task we probably should check if the api changed at all since the recast.ai matcher was created a while ago.

Recast.ai new site - [https://cai.tools.sap](https://cai.tools.sap)

[2019-02-06 21:03] Cadair opened #835 "Matrix Connector should not log HTML page contents on a 504"
If the matrix server responds with a 504 error on `/sync` (which is pretty common) the connector should not log the whole HTML page, as it clutters the log.

[2019-02-09 20:21] atul86244 commented on #649
I am using the latest version of opsdroid, aioslacker but still facing the same issue.

[2019-02-10 04:03] FabioRosado commented on #649
What sort of error are you getting?

[2019-02-11 04:57] atul86244 commented on #649
@FabioRosado, here it is:

[code]

[2019-02-11 09:44] jacobtomlinson commented on #649
Which version of aioslacker do you have installed? I think this is the issue that was fixed in `0.0.11`.

[2019-02-11 13:24] atul86244 commented on #649
@jacobtomlinson
[code]

[2019-02-11 13:43] jacobtomlinson commented on #649
Could you also share your configuration so I can test locally?

[2019-02-11 14:01] atul86244 commented on #649
[code]

[2019-02-11 16:42] FabioRosado commented on #649
Out of curiosity are you running windows?

[2019-02-11 16:57] atul86244 commented on #649
No, I am using Mac

[2019-02-12 10:07] jacobtomlinson commented on #649
I can't seem to reproduce your issue. I've run opsdroid v0.14.1 with your configuration and my slack API key and it seems to work. Perhaps this is an issue with your API key? Or with your dependencies.

<img width="271" alt="image" src="https://user-images.githubusercontent.com/1610850/52627703-e81dd580-2ead-11e9-85f1-1c9dc84dab0e.png">

[2019-02-12 10:17] FabioRosado commented on #649
I have tried on my end both on Mac and on my Linux distro and it works fine. I’ll try to get Vm running on the Linux distro and give it a go to see if I can reproduce this issue

[2019-02-13 22:24] iobreaker opened #839 "Telegram connector crashes when receiving a message from a channel"
Hi,

I have found an issue that make telegram connector craches when receiving a message from a channel. the problem is that the json does not contain a **message**  entry

[code]

Testing if "message" in result before parsing should correct this issue in function in function **async def _parse_message(self, response):**

"Telegram changes many entries name, testing if they exists is mandatory bef

[2019-02-13 22:34] iobreaker opened #840 "Telegram connector cannot find username in json response"
Hi,

Evry time i send a message to opsdroid bot using telegram, the module crashes parsing the json response file

[code]

The problem is because the function  async def _parse_message(self, response): the parsing method look for username entry

`user = result["message"]["from"]["username"]`

According to the log, **username** entry does not exist but **first_name** exists

I do not know if it's a

[2019-02-14 06:27] FabioRosado commented on #840
Hello @iobreaker thank you for raising this issue. The telegram api might have changed since I added the connector to the core.

I have some time today so I will fix this issue in the next couple of hours, let me know if you encounter any further issues 😀👍

[2019-02-14 06:52] iobreaker commented on #840
Hi,

You are welcome:-)

Yes I think telegram has changed a lot of things, the problem is not only related to the username entry but to "all" entries, sometime **text** exist (in one to one chat) but for channel chat it's missing.

I think a review of the new entries in response file is becoming mandatory for all types of responses :-(

Example :

`
DEBUG opsdroid.connector.telegram: {'update_id':

[2019-02-14 07:09] iobreaker commented on #840
Hi

as a really quick fix i changed the if test line to

`
    async def _parse_message(self, response):
        """Handle logic to parse a received message.

        Since everyone can send a private message to any user/bot
        in Telegram, this method allows to set a list of whitelisted
        users that can interact with the bot. If any other user tries
        to interact with the bot the

[2019-02-14 08:21] FabioRosado commented on #840
I had some time to have a look at it. In my end things are working, but perhaps is because I set up my own username.

How are you trying to talk to the bot? private message or from a channel? I am going to change things a bit because I want the username and first_name to be shown 👍

[2019-02-14 09:22] jacobtomlinson commented on #840
Thanks for raising this @iobreaker (and thanks for picking it up @FabioRosado ).

_For future reference if you use three back-ticks (`` ``` ``) instead of one when putting code blocks on github you get nicer formatting. I've gone through and edited your comments to use this._

[2019-02-14 12:23] FabioRosado opened #843 "Add pipfile and pipfile.lock to .gitignore"
I have been using pipenv to manage my virtual environments. Pipenv uses `pipfile` and `pipfile.lock` to manage the dependencies, but we aren't ignoring these files in our `.gitignore`.

This should be fixed by including both pipfiles to the gitignore file.

[2019-02-14 15:51] FabioRosado commented on #821
@kaiiyer could you please update opsdroid and check if the issue is fixed? I am eager to close this issue 😄 👍

[2019-02-14 16:19] FabioRosado commented on #566
I had a look at what changed on the V2 of the API and it seems a lot did change.  The major things that will need to be addressed are:

- Use OAuth instead of token to make api calls
- endpoint `/query` stops works and should know be `detectIntent` [documentation reference](https://cloud.google.com/dialogflow-enterprise/docs/reference/rest/v2beta1/projects.agent.sessions/detectIntent)
- webhooks a

[2019-02-15 06:52] iobreaker commented on #840
Hi,
@jacobtomlinson Thanks a lot

@FabioRosado I have both, a channel board and a group board.

Bellow some examples :

**Connecting message :**
[code]

**Channel message (Privacy mode On) - No answer :**
[code]

**Channel message (Privacy mode Off) - no answer :**
[code]

**Adding bot to a group log :**
[code]

**Group message (Privacy mode Off) - With Answer  -message -> @TestBot hi  :**
[code]

[2019-02-15 07:17] iobreaker commented on #840
@FabioRosado the try block has to be extended because if the message is comming from a channel like this one

[code]

the block will rise an exception because first_name does not exist

[code]

This test was made with the new code.

I have to look much better if it's a channel behavior (by design) or other strange thing

Regards

[2019-02-15 08:30] FabioRosado commented on #840
This is a bit annoying, they should had used the same api response for the different channels, but... their documentation is not the best one so this is no surprise haha

Thank you for testing the PR. I am going to change the things again, if you could test it again I would really really appreciate it 😄 👍

[2019-02-15 10:16] atul86244 commented on #649
I have tried setting up a new centos vm, installing opsdroid again but it still doesn't work, even tried with a new bot token.

[code]

[2019-02-15 10:41] FabioRosado commented on #840
I have missed your message before the last one. My PR was updated to handle the case when first_name and username are not provided. Unfortunately, I don't think that we will be able to handle messages sent to a channel message, mostly because the user field is missing.

`Opsdroid.Message` requires you to pass a `user` param so opsdroid knows who is talking and what sort of skills he needs to trigg

[2019-02-15 11:42] FabioRosado commented on #649
Looking at the traceback it seems that the issue might be with aioslacker or aiohttp. I did a search on `concurrent.futures._base.CancelledError` and someone said that adding a 0.1 sleep delay when connecting might solve the issue, you could try to add `asyncio.sleep(0.1)` before the connect and see if that fixes the issue, but again the issue might be on either of these libraries.

I just tried t

[2019-02-15 12:14] FabioRosado opened #845 "Slack Connector: Websockets exception raised - task pending"
# Description

I tested opsdroid on my kali machine for the first time with the slack, shell and websockets connector set up. I stopped opsdroid and an exception happened.

By the looks of the traceback, it seems that it happened because websockets `wait_for_connection_lost` before stopping, at the same time we are cancelling every pending tasking.

Perhaps we should add a delay before cancelling

[2019-02-15 16:39] #843 closed

[2019-02-15 23:21] iobreaker commented on #840
Hi @FabioRosado, I decided to write the code for handling this telegram response **inconsistency**

I think the best way to do it is to split the process into :

- Private messages (direct message, no @botName)
- Group messages (with and without @botName)
- Channel message (messages will be ignored for the moment)

It will make maintenance more simple as specification handling too

i did not refac

[2019-02-18 18:01] FabioRosado commented on #840
Heya, apologies it took me so long to reply.

Mostly the changes that you are suggesting here are somewhat what I have implemented on the last iteration of my telegram PR - the only difference is that I didn't logged any message when the user talks in the channel - so the message `Ignoring channel message id` won't be shown.

Do you think this would be useful? If yes I'm happy to include on the PR

[2019-02-19 09:53] iobreaker commented on #840
Hi @FabioRosado, no problem there is a lot of things to do in one day and sometimes 24h is not enough :-)

##

**About displaying the** `Ignoring channel message`, i think that each interaction must be logged at least in debug mode, this will help in case of debugging or understanding why there is no answer ( because not all users RTFM :-)  ) .

##

if you agree, I will rather start from the "need

[2019-02-19 11:18] FabioRosado commented on #840
I agree with you that perhaps it should be better to log a message saying that messages in a channel will be ignored.

If memory doesn’t fail me, Telegram is the only connector in which opsdroid won’t be able to interact with the channel - all others send the username with the request response.

I added a list of authorised users that can talk with the bot, so technically you have what you mention

[2019-02-20 13:59] iobreaker commented on #840
Hi @FabioRosado

Totaly agree :-)

I think when the fix will be merged this issue and the one related to #839 can be closed

Regards

[2019-02-21 16:31] colonelkrud opened #852 "Regression: Add support for m.notice messages on a room-by-room basis"
Re-add support for m.notice like in separate connector listed below. Will also need to update docs to show send_m_notice config.

https://github.com/opsdroid/connector-matrix/commit/dba9088e96529c860231978f135af26067a2157b

https://github.com/opsdroid/opsdroid/blob/b98e2a9713088cafe13b9802f465d78db142b9af/opsdroid/connector/matrix/connector.py#L213

[2019-02-21 20:18] Cadair commented on #852
It seems to be this: https://github.com/opsdroid/connector-matrix/commit/dba9088e96529c860231978f135af26067a2157b commit which never made it into core.

[2019-02-22 09:56] #833 closed

[2019-02-22 20:34] FabioRosado commented on #840
I'm off tomorrow so I'll try to finally fix these two issues and implement the suggested bits and bobs from our chats 😄 👍

[2019-02-23 12:50] FabioRosado commented on #845
I was playing around with and idea I had for the Telegram connector. If I'm using the shell connector this is the first one being stopped and removed, all the other connectors won't seem to cleanly call the `disconnect()` method.

_Note: I'm using the following connectors: shell, telegram._

This happened with the shell connector:
[code]

If the shell connector is not being run this is what happen

[2019-02-23 20:17] FabioRosado commented on #840
I have just submitted the update for the PR - I tried to sort as many issues as possible but some are still missing.
With this update you can:
 - get a logging message when a user talks in the channel
- whitelist users by nickname or userID

I haven't worked on the issue where the bot should talk in the channel, feel free to add the functionality with a PR - but perhaps this could be achieved with

[2019-02-24 11:35] iobreaker commented on #840
hi @FabioRosado

Perfect, you've done the max about this subject. thanks a lot

About the botname issue, I agree with you, this should be addressed outside of any connector. I think Message subject should evolve to be able to pass the whole message, the text message (without the senders name/nickname) and the rest of information already available.

P.S : About users authorization, i think this sho

[2019-02-24 13:29] iobreaker opened #853 "Telegram connector : can't use getUpdates method while webhook is active"
# Description
If the a webhook stay active after a previous connection, all **getUpdates** method cannot be issued and a **409** error code is raised by Telegram API due to this webhook active status

## Steps to Reproduce
Hard to discribe how to reproduce, this happen when many times we start and stop opsdroid from cli ( crtl + c ) after sending some messages

## Expected Functionality
Issue a **

[2019-02-24 14:30] FabioRosado commented on #853
Just to check with you, this is happening on the old code and was not tested with the changed added to my PR right?

I never encountered this issue that's why I'm wondering

[2019-02-24 14:34] iobreaker commented on #853
hi,

Yes it's with the old code, sorry, i did not mention it.
This happened to me many times since i started using opsdroid, I am a brand new comers :-)

Regards
Hicham

[2019-02-24 14:53] FabioRosado commented on #853
I tried to start opsdroid back and forth and see if that would reproduce the issue but it didn't, either way I am more than happy to update my PR in order to fix this issue as well 😄 👍

[2019-02-24 15:16] FabioRosado commented on #853
Btw this also made me think that perhaps I should try to implement the webhook instead of pinging the API ever x amount of seconds.

I might just update the PR with your suggestion and then try to work out how webhooks work 😄

[2019-03-01 14:28] Cadair commented on #719
Bad stale bot!

[2019-03-02 14:51] #764 closed

[2019-03-02 14:52] #839 closed

[2019-03-02 15:41] FabioRosado commented on #840
Now that the Telegram PR was merged into core everything should be working fine for you @iobreaker
As for your suggestion I would like to have @jacobtomlinson  opinion on them as he will be the right person to give feedback on those suggestions 😄

[2019-03-03 08:28] iobreaker opened #860 "rasanlu parser : dict object has no attribute matchers"
Hi all,

# Description
When using rasanlu parser with no intents file (no need to train the module, already done) an attribute issue error happened in function **_get_all_intents(skills)**

[code]
## Steps to Reproduce
1- create or use a skill that respond to an intent
2- use rasanlu as a parser
3- do not provide an intent file to opsdroid train your model outside of opsdroid
4- start opsdroid

##

[2019-03-04 11:58] jacobtomlinson commented on #860
Thanks for raising this! Looks like we need some more error checking!

[2019-03-04 12:01] jacobtomlinson commented on #840
These are definitely interesting suggestions. We could implement this with constraints. If we added a `@constrain_admin` constraint then those could be used within skills. We could also have some way (similar to what @iobreaker has suggested) to mark a skill as an admin skill in the config and therefore automatically adds that constraint to all skills within.

Could you please open a new issue to

[2019-03-04 21:52] iobreaker opened #862 "Telegram Connector : Parsing edited message cause process to freeze"
# Description
Hi,

I am experiencing a strange behaviour, when opsdroid is not active and someone send many messages and call them back for modification and send them back. this cause parsing error when opsdroid start receiving those messages and parsing them.

The problem is that the function **async def _parse_message(self, response):** try to parse a json with looking for **message** in it's te

[2019-03-05 07:11] iobreaker commented on #840
Thanks @jacobtomlinson
This modification/futures can bring the ability to opsdroid admins to remotely issue private commands like
- Get skills info
- Install skills
- Remove skills
- Disable skills
- Get X lines of skill's log
- Reload opsdroid config
- Get private/admin stats
- Get X lines of opsdroid logs
- Add authorization
- Remove Authorization
- Activate/deactivate connectors
- ...

This wil

[2019-03-05 14:08] FabioRosado commented on #862
Thanks for raising this @iobreaker just to clarify, on your log you have an original message and then an edited message? It seems you tried to run the vm command twice. I'm trying figure out if Telegram sends every edited message with the Json response or if it replaces it.

If the Telegram API returns all the edited messages (let's say you edit the same message 3 times) we will have to add some l

[2019-03-05 14:58] iobreaker commented on #862
Hi @FabioRosado

I confirm, when you edit nd send the message back the error occurs.

Bellow an example I just did that reproduce the error :

[code]

[code]

[code]

No message will be processed since opsdroid received the edited message

Hope it's clear :-)

[2019-03-05 17:01] FabioRosado commented on #862
I foresee some issues with implementing the edited message logic. I won't be able to keep track of previous messages - the bot will "consume" messages as they come.

So if you type an original message like:
`Hello`

And then edit it to `Bye`, opsdroid will reply both to the `hello` and `bye` message. Do you think this would be an alright solution for the connector?

[2019-03-06 09:59] iobreaker commented on #862
Hi @FabioRosado

Yes it's what i explained in my previous message using the example of chips and candies :-)

Two solutions to correct this issue

## The quick one

Changing the key of the returned dict from **edited_message** to **message**:
I checked the dict returned by telegram for edited_message, it has the same structure as the message one.

This solution will work until Telegram decide to c

[2019-03-06 14:09] jacobtomlinson commented on #862
I would be keen to discuss whether we think bots should respond to edited messages at all.

The main reason I raise this is because it is possible to edit messages way back in the past in many chat clients. This could result in unexpected actions from the bot.

[2019-03-06 15:17] iobreaker commented on #862
Good question.

If i take the example of sending a big CLI to the bot to execute an action and in case of this CLI is wrong, i would be really happy to just have to modify the error rather than rewriting the whole thing.

if you allow me, I will ask the question in a different way:  when a chat service allows an action (perhaps seen by the user as an excellent action), should opsdroid answer it or

[2019-03-06 15:22] FabioRosado commented on #862
I can see the reasoning behind jacobs input. Personally, I think opsdroid should handle the edited message. Taking in consideration what @iobreaker  was trying to do, if you mess up a long code by mistake, it's easier to just press the `up` arrow and get the last message, correct the mistake and sent the command back to the bot.

I am going to start a PR to fix this issue - I have also started usi

[2019-03-06 15:56] #853 closed

[2019-03-06 16:00] jacobtomlinson commented on #862
Sounds good to me. I'm happy to go down this route, I just wanted us to decide to do it explicitly. I wonder if we should start recording these kind of design decisions somewhere?

[2019-03-06 16:02] FabioRosado commented on #862
Not sure how should we record them to be honest, each connector have their own ways to handle edit messages. I wonder how did @Cadair solved this issue with the matrix connector -I think he mentioned something about edited messages handling as well?

[2019-03-06 16:04] jacobtomlinson commented on #862
That's kind of my point. I would like the handling to be consistent. We've captured the discussion and decision in this issue, but is that enough? Maybe we should add something to the "creating connectors" section of the docs.

[2019-03-06 16:07] FabioRosado commented on #862
I see your point and yeah I agree that we should maybe add that bit to documentation. In regards of edited messages, I think the best way would be run only the edited message, but in order to get that done we would have to somehow gather a list of messages and handle them - this would cause opsdroid to delay the response so it might not be the best way to do it 🤔

[2019-03-06 16:13] FabioRosado opened #864 "Pass botname to trigger skills or parse messages"
This has been suggested in the past and I have started thinking about this matter after @iobreaker mentioned it in issue #840. A few users have asked how to trigger a skill by using the botname, at the moment the workaround this issue is simply creating a regex rule containing `botname <text>` in order to get the skill to trigger.

This issue is meant to raise the discussion on this matter.

Shoul

[2019-03-06 16:23] jacobtomlinson commented on #862
That's a fair point and I agree an edit event is a good idea. However it would be great to have consistency in implementation.

[2019-03-06 16:24] FabioRosado opened #865 "Handle user authorisation for skill interaction"
_This issue was suggested by @iobreaker on issue #849 - the talks were placed here so I could close the other issue._

Opsdroid should manage user authorisation outside skills or connectors. An example in configuration could be stored in sections like such:

[code]

Iobreaker suggests that the rules could be basic:

- Skills under admin_skill can only be executed by admins in private rooms (not pu

[2019-03-06 16:27] Cadair commented on #862
Implementation in what way? I see an `Edit` event having a `new_message` attribute, and maybe some representation of the diff or something. What did you have in mind?

[2019-03-06 16:31] #840 closed

[2019-03-06 16:36] jacobtomlinson commented on #839
@iobreaker you seem to be raising some great issues and engaging in discussions in a very productive way. I'd like to send you some [opsdroid stickers](https://medium.com/opsdroid/contributor-sticker-packs-738058ceda59) to say thank you. Ping me your address via DM on [Twitter](https://twitter.com/_jacobtomlinson) or [Gitter](https://gitter.im/opsdroid) and I'll post you some!

[2019-03-07 06:44] iobreaker commented on #839
Thanks @jacobtomlinson it's a pleasure :-)

[2019-03-07 08:23] #862 closed

[2019-03-07 08:26] jacobtomlinson commented on #862
@Cadair I mean what should the bot do in response to an edit event. We should lay out some best practice stuff in the docs.

I guess my point is that connectors shouldn't do anything with them other than construct and emit them. The skills should do all the interesting work.

But maybe we also want a high level config option where people can choose whether an edit event should basically trigger a

[2019-03-07 16:21] iobreaker opened #867 "Websokect connector : message.text always None exception in core.py"
Hi Team,

I downloaded the last commit of opsdroid and test it with opsdroid-desktop (last version v0.2.7) in websocket mode.

After the first message saying hello, I've got an exception

[code]

## Steps to Reproduce

1- Install the last version of opsdroid (after the #826 patch commit)
2- Start opsdroid-desktop (i tested with v0.2.7)
3- Connect to opsdroid
4-  Send any message
5- Error occurs

#

[2019-03-07 16:43] jacobtomlinson commented on #867
@Cadair could you take a look at this?

[2019-03-07 18:01] Cadair commented on #867
*mutters something quietly about the dangers of rebasing*

Yep, I will patch this as soon as I get a second.

[2019-03-08 08:17] #867 closed

[2019-03-08 12:13] empathic-geek commented on #532
Hi @FabioRosado,  I  would like to help on this and would like to start on main.py - this is my first time using github so I'm not entirely sure how to proceed - but I'm sure I'll figure it out. Looking forward to working with you.

[2019-03-08 12:19] FabioRosado commented on #532
Hello @empathic-geek thank you so much for reaching out and working on this issue 😄 Please do let me know if you encounter any issue setting up your development environment or if you have any questions at all!

You can reach me on the [opsdroid chat](https://gitter.im/opsdroid/developers) or any other social networks 😄 👍

[2019-03-08 14:27] iobreaker commented on #860
Hi all,

can someone confirm why the code is passing each skill.matchers to get intents !?
[code]

What i can notice is that intents are linked to the skill itself as you can see in this log

[code]

I am working on a fix (the fix is working and ready for deployment) but i want to be sure that intent has nothing to do with skill.matchers in our case because intents can be loaded dorectly from each

[2019-03-09 16:00] betojulio commented on #743
Hi, I have been using Opsdroid with slack for a week now, and  I have not encountered any memory issue so far.

stack:
kurbenetes Engine in GCP
- 1 node : 1 vcpu, 1.70 GB memory
- No DB

![image](https://user-images.githubusercontent.com/6899441/54073899-0cbd6100-4252-11e9-9bba-7cd3b4c4421b.png)

[2019-03-09 16:29] iobreaker commented on #860
@jacobtomlinson or @FabioRosado
Any idea please ?

[2019-03-09 20:27] iobreaker opened #872 "Regex parser : No parsed group detected when using two skills with regex_matcher"
Hi

# Description

When activating more than one skill using regex  (example : hello skill and welcome skill or loudnoise skill) if the second skill use group name in regex parser, no group are detected and passed into **message.regex.group**

## Steps to Reproduce

1- clone the last version of opsdroid
2- activate regex parser in config file
3- activate hello skill in config file
4- activate welc

[2019-03-10 17:30] iobreaker commented on #872
Ok i thnink i found why this issue is present;

We can understand the problem trough the debug log bellow

[code]

### First problem :

The function **async def parse_regex(opsdroid, skills, message):** in **regex.py** parser file look for any function with a regex macher and then parse the message against it.

the problem is that this function alter message object each time here :

[code]

### Se

[2019-03-11 09:06] jacobtomlinson commented on #872
Thanks for this! That sounds like a reasonable solution.

I would be keen for you to check the other parsers to see if they suffer form the same problem when raising your PR.

[2019-03-11 09:10] jacobtomlinson commented on #860
We are using the RasaNLU format for intents and it is the only matcher which uses them. However I'm keen to use it as a generic way to specify intents and so it should be treated separately to the matchers.

[2019-03-11 16:12] iobreaker commented on #872
I checked some parsers, those seems ok.
I will create a PR with the modifications to correct this issue.

Proposition : It will be a good thing to allow user to choose between a full match (re.fullmatch) or a simple match (re.match) This will prevent a confusion between two skills the first parsing hi and the second parsing hihi  (it's just an example :-) )
It will add an other layer of security a

[2019-03-11 16:17] jacobtomlinson commented on #872
Sounds good. There is already a kwarg to set whether the regex is case sensitive or not. You could add this as another one.

[2019-03-11 16:27] iobreaker commented on #872
ok, to keep subjects separated, i will work on the fix first and after on adding the choices between a full or a simple match

[2019-03-12 07:28] #872 closed

[2019-03-13 10:25] iobreaker opened #875 "regex parser enhancement : Adding fullmatch and match capabilities"
This have been suggested as an enhancement in #872 .
The goal here is to allow users to choose what kind of regex matching they want to play against received message. for the moment the regex only allow search method.

Proposition as explained here in [python re module](https://docs.python.org/3/library/re.html) docs  :

- **search** : Scan through string looking for the first location where the r

[2019-03-13 10:32] iobreaker commented on #875
Hi,

Please find bellow the proposed solution (do not pay attention to the many _LOGGER.debug it's just for testing before the releasing)

[code]

[code]

[code]
I did some tests, all works fine.

please feel free to comment/update/modify and test

Regards

[2019-03-13 17:09] FabioRosado commented on #875
This looks great and like you suggested it will be a great modification to the regex matcher, I think you should go ahead and submit a PR with these changes so we can review and merge it 😄 👍

[2019-03-14 10:48] iobreaker commented on #875
Ok thanks :-)
going to do this

[2019-03-14 13:49] betojulio commented on #244
Can I take this one?

[2019-03-14 13:51] FabioRosado commented on #244
Hello @betojulio that would be great, please go ahead and submit a PR with this issue, if you need any help with anything you can ask us in [gitter](https://gitter.im/opsdroid/developers)

[2019-03-14 13:52] betojulio commented on #244
Cool, thanks...

On Thu, Mar 14, 2019 at 7:51 AM Fábio Rosado <notifications@github.com>
wrote:

[2019-03-16 13:02] brycearden opened #878 "Slack attachment support"
Is there any support for sending [slack attachment(s)](https://api.slack.com/docs/message-attachments) in opsdroid? I found [this open issue](https://github.com/opsdroid/connector-slack/issues/13) on the [connector-slack](https://github.com/opsdroid/connector-slack) project but can't seem to find any new information on additional support for attachments since the `connector-slack` project was depr

[2019-03-16 17:17] FabioRosado commented on #878
We have just merged event types to opsdroid, perhaps slack attachments could be supported easier with them, but so far the slack connector doesn't support them.  Would be good to update the slack connector to support this feature, would you like to work on it?

[2019-03-17 06:58] kaiiyer commented on #821
@FabioRosado Yeah it's fixed. You can close the issue :+1:

[2019-03-17 13:55] #821 closed

[2019-03-17 17:42] iobreaker commented on #860
No problem.
I am just trying to understand the logic befind the code :-)

the function **self._load_intents(config)** in **loader.py** is called in the beginning, when it find a intents.md file in the skill's directory, the content of this file is added to the intents dict.

This produce the bellow output

[code]

as you can see, no matcher attribute or dict is added to the dict.

Just after this

[2019-03-17 18:38] #875 closed

[2019-03-18 14:10] brycearden commented on #878
I could probably take a look at it. Maybe something like `message.respond_with_json(dict)` might be the easiest route? That way users could take advantage of any json api's provided by a backend (i.e. not just the `slack-connector`).

[2019-03-19 08:45] jacobtomlinson commented on #878
The way we handle events has changed dramatically. It might be useful for @Cadair to give some thoughts on how you imagine this specific example working?

[2019-03-19 08:46] jacobtomlinson commented on #860
Yeah thanks for catching this. If you could make your proposed changes that would be great.

[2019-03-19 09:05] iobreaker commented on #860
ok, I will work on it and submit a PR when it's done

[2019-03-19 17:40] iobreaker commented on #860
Unfortunately, this issue is purely not the only one, it is a drop in the ocean.

Correcting the initial issue i am now getting this one :

[code]

When trying to to correct this second issue, i discovered that the **model** info loaded from the config file is altered somewhere

[code]

Here is the built url result by **async def _build_training_url(config)**

[code]

The name **ergo** become **15

[2019-03-20 08:05] iobreaker commented on #860
Fixed the two first errors.
the error with str object is related to rasanlu itself i think

here is my testing version of rasanlu

[code]

I added a new **train** parameter in config file to let users choose if they want opsdroid to train the model or not _**(training is not always needed)**_ :

[code]

Is it ok  for you ?

[2019-03-20 09:17] jacobtomlinson commented on #860
I seem to remember that the training should only happen if the intents have changed. Therefore the `train` config option may be unnecessary.

[2019-03-20 09:24] iobreaker commented on #860
hi @jacobtomlinson , understood but what i meean is that the training step here is always started even if the rasa training does not occurs. why starting it each time even if it's not needed (or user doses not want it to happen).
T
he only for the moment is to force user to not have/or move the md file out of the skill directory

No problem to get `train` out of the scope if you think it's is not

[2019-03-20 09:26] jacobtomlinson commented on #860
I think if there is an `md` file then the trainig step should be triggered. It should then take a hash of the `md` file, compare it with the last trained hash (I can't remember where this is stored) and decide whether or not to actually do the training.

Therefore I think that this is intended behavior and shouldn't add overhead if training has already been done.

[2019-03-20 09:28] iobreaker commented on #860
got it :-), thanks a lot

[2019-03-27 11:14] diluga opened #884 "Add http&https proxy support"
it that any plan to Add http&https proxy support?

[2019-03-27 12:20] jacobtomlinson commented on #884
Sure! Is this something you feel like you could contribute?

[2019-03-28 08:03] #860 closed

[2019-03-30 12:07] iobreaker opened #886 "rasanlu parser does not manage the new returned response after training request"
# Description

This issue was initially detected by @jhofeditz when testing the fix #881.
The new rasanlu trainer instead of returning a json response after a model training, it return a zip file with all files generated by the trainer.

## Steps to Reproduce
1- Download docker image rasa/rasa_nlu:latest-spacy
2- Start docker image
3- Use a skill that interact with rasanlu and that need rasa to be

[2019-03-30 12:29] iobreaker commented on #886
I started working on a fix that detect if the returned data is a json one or a zip one.
Now opsdroid know how to deal with it

###Example :

**From Opsdrooid Side:**
[code]

**From Rasanlu side :**
[code]

**Testing the new model (intent:affirm) :**
[code]

Now still 2 things to address :

- Finding why rasa keep training models even if it is the same as before (already trained)
- What to do with

[2019-04-01 08:30] FabioRosado opened #888 "Opsdroid installs connector from repository instead of core"
# Description
I have got my hands on a raspberry pi 3 and decided to install opsdroid on it and keep it on permanently. I had set up the Slack and Telegram connector, but  I kept getting the exception:

[code]

I had to do a bit of digging in order to try and figure out why this was happening since I installed opsdroid from pip. Also, on my Kali machine, it worked just fine.

After checking the `c

[2019-04-01 15:27] jacobtomlinson commented on #719
Can we get a status update on this? What needs to happen next for it to progress?

[2019-04-01 15:29] Cadair commented on #719
I think #851 is the last major step, at least of the proof of concept.

There is a lot of other stuff that could be done afterwards, i.e. constrains on matchers, as well as needing to make the other connectors emit events other than Message, but I would consider this closed by #851 I think.

[2019-04-02 08:16] Cadair commented on #878
That's an interesting question that I haven't really considered. The events structure is well suited to having an event type for each of the attachments individually. I wonder if it would be worth having a collection event which could pass a group of events to the connector together and then the slack connector could represent them as attachments?

[2019-04-02 08:47] jacobtomlinson commented on #719
I had actually intended my comment to be on #851, not sure how it ended up here 😆

[2019-04-07 13:16] cupen commented on #884
@diluga  Is this what you want?
[code]

[2019-04-08 04:12] diluga commented on #884
yes~

[2019-04-08 14:04] cupen commented on #884
@diluga so…… is it done?  ;p

[2019-04-09 02:52] diluga commented on #884
thx~

[2019-04-09 08:02] jacobtomlinson commented on #884
This has not been done. It is available to be picked up.

[2019-04-12 11:10] #888 closed

[2019-04-14 17:17] iobreaker commented on #886
really, do not hesitate to comment :-)

[2019-04-14 17:21] iobreaker commented on #864
I think it's is more secure to pass in **public** rooms the name of the bot like

``
@SuperBot find wheater for paris
``

or just add a sign at the beginning of the phrase like

``
 !find wheater for paris

or

;find wheater for paris
``

In private room this can be ignored

[2019-04-14 17:23] iobreaker commented on #865
What do you think about this ?

[2019-04-18 18:58] anxodio opened #901 "Constraints remove skills "forever""
# Description
The new constraints feature (which by the way, are an awesome feature) remove a skill "forever" when are activated.

I write "forever" in quotes because the skills will be unavailable until Opsdroid is restarted.

## Steps to Reproduce
- Add any constraint to a skill (for example, `@constrain_users(['alice'])`)
- Send a message from the user `alice`. Opsdroid will answer as expected.

[2019-04-18 20:09] anxodio commented on #156
I'm thinking about this issue, I think that would be a great step for opsdroid.

I have a doubt about:

I suppose that "user" is a different context for every user, but what is the difference between "session" and "global"?

[2019-04-19 03:31] colonelkrud commented on #865
How would we identify an admin across multiple connectors? Nicknames are not reliable as admin identification. We would need a UUID that can be reliably verified on each connector.

[2019-04-19 03:52] colonelkrud opened #904 "Matrix Sync Error called by asyncio.TimeoutError"
Most web servers do not have a TimeOut of 6 hours. Apache2 ships with a 300 second timeout. We should either lower this value to something under 300 seconds or deal with timeout errors without calling `ERROR opsdroid.connector.matrix.connector: Matrix Sync Error` every 5 minutes (300 seconds).

https://github.com/opsdroid/opsdroid/blob/11508b513ea563a58fc95581b7032256449c65c1/opsdroid/connector/ma

[2019-04-19 03:58] colonelkrud opened #905 "Matrix connector tries to parse empty messages"
Talked about this in opsdroid-general: the matrix connector tries to parse empty messages (like ones sent from the bot itself). We should avoid this by checking that the message is not `None` before parsing. Cadair pointed out that we can do this with `if message:` above L143 in the connector.

https://github.com/opsdroid/opsdroid/blob/11508b513ea563a58fc95581b7032256449c65c1/opsdroid/connector/ma

[2019-04-19 07:48] FabioRosado commented on #865
I did raise this to iobreaker when we discussed the issue. The only way to keep things secure and avoid people from abusing the rules by changing the username, so we would need to get the user id from the connector and check if the userid == to the one in the config, if it is then parse the message. If not then ignore it.

[2019-04-19 22:43] roens commented on #649
I'm seeing what seems to be the same error, using the `opsdroid/opsdroid:latest` docker image. The only config changes I've made are to set database to sqlite and enable the Slack connector.

[code]

[code]

[2019-04-23 09:33] Cadair commented on #904
Yeah we should drop this, 300s sounds sensible.

[2019-04-23 09:54] #901 closed

[2019-04-23 09:56] jacobtomlinson commented on #156
Session would be the current conversation. We would need to somehow break things up into separate conversations, it could be some logic like "user not spoken for 30 minutes".

It could also be room specific. E.g speak to user in one room it is one context and another room is a different context.

Would love some feedback on this.

[2019-04-26 09:24] #905 closed

[2019-04-27 11:24] paw39 commented on #904
Hi! Can I fix it as my first issue? :)

[2019-04-27 11:26] FabioRosado commented on #904
Hello Pawel yeah you can tackle the issue, let us know if you need any help 👍

[2019-04-27 11:27] paw39 commented on #904
How can I simply test it after change this timeout? Description from main page of this repo will be good?

[2019-04-27 11:31] paw39 commented on #904
Or maybe I don't have to? :) Just change this value.

[2019-04-27 12:25] Cadair commented on #904
this can be closed now :smile:

[2019-04-27 12:26] FabioRosado commented on #904
Haha oops I forgot to check if the PR would close the issue thanks for the call Cadair 😄

[2019-04-27 12:26] #904 closed

[2019-04-30 10:11] paw39 commented on #770
Hi! I'd like to try fix this issue. Could you tell me a little bit more about this? When we need to check config.yaml ? Any code snippet or hint?

[2019-04-30 10:23] paw39 commented on #770
I've found some class named Loader, I think it should be there.

[2019-04-30 10:52] Cadair commented on #770
We could take a leaf out of Home Assistants book here and have connectors and skills define a schema for their config.

See https://developers.home-assistant.io/docs/en/development_validation.html and https://pypi.org/project/voluptuous/ is the lib they use.

[2019-04-30 11:30] paw39 commented on #532
I've create pull request for some docstring update :)

[2019-05-02 12:56] iobreaker commented on #886
ok no answer :-(
So I am going to ignore the returned zip for the moment and deal with that in new version if needed

[2019-05-02 13:26] jacobtomlinson commented on #886
Sorry! That sounds good.

[2019-05-06 12:34] FabioRosado opened #923 "Docker build is failing"
The Docker builds are failing due to timeout (no action for over 10minutes). The PR raised by @anxodio  errored on `Step 3/16 : RUN mkdir -p /usr/src/app` after I have restarted the build the docker build failed on `(1/5) Installing nghttp2-libs (1.35.1-r0)`

This is the error message:
[code]

Not sure if this is something related to the [docker breach](https://thehackernews.com/2019/04/docker-hub

[2019-05-08 08:32] jacobtomlinson commented on #923
I don't think this is related to the breach.

It looks like something in the build is going funny and stopping. The error is travis just cleaning up the jobs.

I've triggered it again in case it was a transient Travis issue. Let's see what happens.

[2019-05-08 10:17] FabioRosado commented on #923
I guess it was a travis issue then since now all docker tests are passing 😄 👍
I am going to close this issue since it doesn't seem to apply anymore

[2019-05-08 10:17] #923 closed

[2019-05-09 09:25] #719 closed

[2019-05-10 08:52] jacobtomlinson opened #928 "Add time to crontab log message"
When the cron parser is triggered it emits a debug log saying `Running crontab skills`.

It would be more useful if it included the time that opsdroid thinks it is. This would help when trying to debug issues where skills are triggered at the wrong time due to opsdroid having the wrong timezone.

The line which needs updating is [here](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/pars

[2019-05-12 01:03] WillHensel commented on #532
Hi @FabioRosado, I would like to start on loader.py.

[2019-05-12 06:41] FabioRosado commented on #532
Hello @WillHensel that would be awesome, feel free to start a PR and let us know if you need any help 👍

[2019-05-13 05:20] iobreaker commented on #886
Ok Thanks :-)
Will apply the changes and submit a PR

[2019-05-13 14:03] jacobtomlinson opened #933 "Overview of event flow"
Thanks to the awesome work in #826 and #851 we now have an events system. This has sparked me to think more about the overall design of opsdroid and how events should flow through it. I wanted to raise this issue to lay out my thoughts and gather feedback.

Currently events are created by connectors and passed to `opsdroid.parse()`. Opsdroid then runs the event through some parsers and then calls

[2019-05-13 14:24] FabioRosado opened #934 "Regex.group broke after events got merged into core"
# Description
After the events PR was merged to Core an `AttributeError` exception is raised when we try to get a regex group.

The issue stars in `opsdroid.core` on [line 467](https://github.com/opsdroid/opsdroid/blob/d1d25927107892008f62e6bf83d4f82fb994736c/opsdroid/core.py#L467)

And possibly something in `opsdroid.events` is not parsing the regex groups.

## Steps to Reproduce
Have a skill tha

[2019-05-13 14:44] jacobtomlinson commented on #934
Does the event have the `regex` property at all?

[2019-05-13 14:47] FabioRosado commented on #934
I am going to assume tht it might be something related to how the message is being parsed. Before the events that line was `ranked_skills[0]["message"]` so I guess the Message class is just calling the parsers but not any of the specific methods of that parser? 🤔

[2019-05-13 17:10] SolarDrew commented on #933
I like the idea of more explicitly separating out the parsing and matching operations. For my own use case, I've mostly used `match_regex`, so I'm interested in how that would fit into this new paradigm (and I'm not that familiar with how parsers are used currently). So would the `match_regex` functionality just be handled by `match_intent`, which would check for intent in whatever attributes of t

[2019-05-13 18:32] jacobtomlinson commented on #933
Yeah mostly.

The regex matcher is unusual because the model used to match the message (in this case the regular expression itself) is never given a name. In other parsers the model is an actual statistical model and needs to be created and referred to because it lives on some other service.

So in this proposal I guess I'm suggesting giving expressions names in order to make them consistent with

[2019-05-14 06:06] FabioRosado commented on #933
I had mentioned on our channel yesterday that this looks like a great idea. Now that I feel more rested and reread everything again my opinion still stands 😄

In terms of context I agree with @SolarDrew, it will probably be difficult to track only a small portion of messages, but I don't think we need to go beyond that anyway. Let's say that we start a "convo" with the bot, the context will move f

[2019-05-14 09:24] jacobtomlinson commented on #933
I was thinking along the lines of the wit.ai example. The entities property would be a dictionary of lists of entities. Each parser would add the entities to the dictionary. If one parser is more certain than another it would replace the value.

[code]

[2019-05-14 18:37] Razi007 commented on #674
I would like to take this up.If it is still open.

[2019-05-14 18:38] FabioRosado commented on #674
Yeah this issue is still open and that would be great 👍 let us know if you need any help

[2019-05-14 19:00] Razi007 commented on #674
After reading gutter api docs.Here is my plan

- * set **auth_token** and room info in config file.
- * **listener**: keep listing from room using **gitter stream api’s**.
- * **respond**:respond back skill parsed message via **gitter post api**.

[2019-05-15 05:49] FabioRosado commented on #674
Yeah that's basically it, you can have a look at the telegram or rocket.chat connectors since I used the API to connect to these services. That should give you a good guide on what sort of things you might need to implement on the connector.

Also if you struggle with testing, have a look at the tests created for these connectors I'm sure you can implement the same solutions for gitter 😄 👍

[2019-05-15 07:33] anxodio commented on #934
I was just about writing and issue about this!

Version 0.15 brokes regex (and parseformat, but let's focus on regex), and I discovered the reason.

In `parse_regex`, regex makes a copy of the Message object instead of directly mutating it:

[code]

Other parsers like the NLU ones directly mutates the original message.

The problem is that Opsdroid ignores the `message` key of the `matched_skills`

[2019-05-15 08:01] jacobtomlinson commented on #934
My suggestion here would be to mutate the original message.

As raised in #933 I'm keen to move from mutating attributes like `message.regex` to adding to a static  dictionary attribute like `message.raw_parses['regex']`.

[2019-05-15 08:42] jacobtomlinson commented on #864
This looks like it might be a duplicate of #273.

[2019-05-15 08:42] #864 closed

[2019-05-15 08:44] jacobtomlinson commented on #273
To build on #933 we could add a parse step which infers whether a message was intended to be direct to the bot.

This could be by having the bots name at the beginning of the message, being in a DM room with the bot or maybe even by some more advanced NLU.

This parser would add a property to the event that it was direct which could then be filtered on with a constraint.

[2019-05-15 08:55] jacobtomlinson opened #941 "AppVeyor failing on Python 3.5"
It looks like tests on Python 3.5 on AppVeyor have started failing. This seems to be due to the version of python being executed in tox not being the expected version.

[2019-05-15 09:11] jacobtomlinson commented on #941
Made optional for now to unblock builds.

[2019-05-15 09:17] #934 closed

[2019-05-15 09:56] jacobtomlinson opened #942 "Make web server default to all networks"
Currently the opsdroid web server is only served on `127.0.0.1` by default. In order to make opsdroid accessible via other networks you much set the `web.host` config option to something else (usually `0.0.0.0`).

This can be misleading for new users and is also causing problems when running on more complex infrastructure like Kubernetes.

I propose that the default is changed to `0.0.0.0` which r

[2019-05-15 12:58] #928 closed

[2019-05-15 13:59] #942 closed

[2019-05-15 15:34] jacobtomlinson opened #944 "PyPI deployments are failing"
Looks like PyPI deployments are failing. `v0.15.1` and `v0.15.2` haven't gone out.

[code]

[2019-05-15 15:35] jacobtomlinson commented on #944
Looks related to the py35 setuptools issue. #941

[2019-05-15 15:42] FabioRosado commented on #941
Do you think this is something related to aiosqlite?

[2019-05-15 17:47] #944 closed

[2019-05-15 18:06] jacobtomlinson commented on #941
Maybe?

[2019-05-16 15:52] FabioRosado commented on #813
Could you create a PR with the changes that have been merged into your fork? Seems like a nice thing to add 😄

[2019-05-16 15:53] Cadair commented on #813
There is / was one

[2019-05-16 15:55] FabioRosado commented on #813
Erm... yeah you are right! Ignore me 😬

[2019-05-16 15:55] jacobtomlinson commented on #813
Would be good to get some progress on that. Looks like the change is done, just needs tests and docs.

[2019-05-16 16:03] jacobtomlinson opened #950 "Versioneer not working in docker container"
Due to the way we are constructing the docker container (not adding the `.git` directory) versioneer is unable to calculate the correct version (`0+unknown`).

We should figure out a way, maybe with multi-stage builds, to correctly retain the version info.

[2019-05-16 16:06] FabioRosado commented on #813
I am going to write tests for it and docs. Will create a PR later today hopefully 😄

[2019-05-16 18:36] FabioRosado commented on #813
Just submitted a PR. Tox showed that the coverage was 100% hopefully it will work and we can merge the PR 😄

[2019-05-16 19:09] Razi007 commented on #674
@FabioRosado
Please suggest:

- As gitter uses HTTP stream which keeps connection alive forever.Is it a good approach to keep connection alive and keep listening response from it.
- Does aiohttp.ClientSession() have Http stream support.
- Gitter also have  pooling api's which needs last read message offset.But I think we should use HTTP stream here.

[2019-05-17 07:09] FabioRosado commented on #674
Hello Razi apologies for not being able to reply to you earlier.

I agree with you, using the http stream might be the best way to do things since you don't have to keep calling the API every x seconds like we are doing with rocketchat and gitter. Testing this method might take a bit of trial and error since we don't have any tests like this before but should be okay (basically you could set a res

[2019-05-18 07:30] Razi007 commented on #674
@FabioRosado
I want to test connector on my local machine.
using docker to build opsdroid.
[code]
but when typing something in gitter unable to get anything.Also if i left some bug in code docker is running fine.If I am doing something wrong?

[2019-05-18 07:32] FabioRosado commented on #674
I am unable to help you with this since I don't use docker, perhaps @jacobtomlinson has any idea how to do it 🤔

[2019-05-18 07:33] Razi007 commented on #674
Okey any suggestion how should i test it.

[2019-05-18 07:46] FabioRosado commented on #674
How I usually do it is not TDD but I write the code, test it on the chat service to see if a simple skill is working (like hello) if opsdroid replies all is good. If it doesn't then I try to figure out why.

Make sure you have logging set to debug and console set to true on your `config.yaml` and do step by step.
First check if opsdroid is able to connect to the service (that's why we log that mes

[2019-05-18 14:52] Razi007 commented on #674
[code]
@FabioRosado  this is my idea of implementing connector and listener.You can suggest if i am going in right direction.As of now i am getting some errors in parse_response(),Trying to solve it.Will open initial level PR then.Also what is the frequency of calling listener function is it configurable or depends or run by asyncio only.

[2019-05-18 14:56] NanduTej commented on #941
Hey! Can I give this a try?

[2019-05-18 19:08] FabioRosado commented on #674
That is up to you, but for you to change the frequency of the call you will have to add a `asyncio.sleep()` after the `await self.parse_response()` what I am doing on rocketchat is using 1second wait before calling the API again, I'd say go with a minimum of 1 second between calls otherwise you will just flood the service and might bring problems haha

[2019-05-18 19:11] FabioRosado commented on #941
Hey @NanduTej that would be great 😄 👍

[2019-05-19 10:31] NanduTej commented on #941
Thank you! So basically as far as I understood, appveyor is used for building the app and the tests for python 3.5 are failing in this. We have to figure out why. Is this right?

[2019-05-19 14:14] FabioRosado commented on #941
Yeah that's pretty much it. I believe that the issue might be somewhere with the aiosqlite but if you can test 3.5 you can check the error log and see if its indeed coming from there or not

[2019-05-19 16:56] NanduTej commented on #941
Hey! I ran the app on a python 3.5 virtual environment. The result I got was:

py35: commands succeeded
SKIPPED:  py36: InterpreterNotFound: python3.6
SKIPPED:  py37: InterpreterNotFound: python3.7
lint: commands succeeded
docker: commands succeeded

I followed only the commands mentioned in the contributor's guide. So maybe there is an issue on appveyor. Does that sound right? If yes, can you gui

[2019-05-19 19:29] jacobtomlinson commented on #941
Thanks for checking this out @NanduTej. I'm afraid none of us are that familiar with AppVeyor and probably wont be able to provide much assistance with this one. My recommendation would be to check out the AppVeyor documentation.

[2019-05-19 19:33] jacobtomlinson commented on #674
I also recommend adding a `listening` attribute to your connector which defaults to `True` and is set to `False` in the disconnect method. Then use that attribute in your `while` loop, this way the connector will gracefull close when opsdroid is stopping.

[2019-05-20 12:28] jacobtomlinson opened #953 "Should we drop Python 3.5 support"
It has been raised a few times in the Matrix chat that we should consider dropping Python 3.5 support.

There are a number of improvements in [Python 3.6](https://docs.python.org/3/whatsnew/3.6.html) which we could benefit from. This would also be a breaking change for users still on 3.5 and will require them to upgrade to continue using opsdroid.

The reason this has cropped up for me again is be

[2019-05-20 13:34] Cadair commented on #953
I am all in favour of this. Supporting older versions of Python (and other libs) can cause a lot of extra work and it's really not that hard to find a way of installing a newer Python interpretor. (Docker, debian backports, conda etc)

[2019-05-20 13:38] FabioRosado commented on #953
I'm happy with this as well. I have got a raspbian and was pretty easy to update the python version so perhaps it could be good to drop 3.5 especially after the issues we were having on appveyor.

[2019-05-20 15:39] FabioRosado opened #954 "Add filters to logging"
Currently, opsdroid has a lot of things logging into debug mode, which makes it hard to try and find things while doing the actual debugging.

It would be good to implement filters that could be added to the logging through the `config.yaml` file.

After sharing this in the channel Jacob suggested to implement filters by creating a class that goes through all those logs and then use the config to

[2019-05-20 15:53] jacobtomlinson commented on #954
Sounds good!

We should add some kind of config option like:

[code]

We would need to implement a log filter class which would compare the log domain with the filter list and return `False` for anything which starts with one of the filters.

[2019-05-20 15:58] FabioRosado commented on #954
Thank you that helps as it gives a bit more guidance on how to tackle this issue 😄 👍

[2019-05-20 19:14] NanduTej commented on #941
Hey! I realized I made some mistakes yesterday. You were right about this coming from aiosqlite. When running the tox command and while setting up the requirements, it fail at the aiosqlite part.

[2019-05-23 17:15] SolarDrew commented on #953
I'm also on board with dropping 3.5. All hail f-strings!

[2019-05-25 18:14] Razi007 commented on #674
@FabioRosado @jacobtomlinson help needed here
just open a [ PR](https://github.com/opsdroid/opsdroid/pull/957/files).
Here I am able to connect with gitter stream.And able to receive message.But when I try to parse message getting en error.Mentioning the same in current pr for better clarification.Also,please suggest if I am missing something .

[2019-05-25 18:21] Razi007 commented on #674
config file changes::
`## Connector modules

connectors:
  - name: gitter
    bot-name: "mr.boot" # default "opsdroid"
    room-id: "to be added"
    access-token: "to be added"

parsers:
  - name: regex
    enabled: true

skills:
  - name: dance
  - name: hello
  - name: loudnoises
  - name: seen
`

[2019-05-26 08:59] #865 closed

[2019-05-27 10:11] #953 closed

[2019-05-27 10:14] jacobtomlinson commented on #941
Python 3.5 support has been removed in #960.

[2019-05-27 10:14] #941 closed

[2019-05-27 10:20] jacobtomlinson commented on #717
Only the Rocket Chat connector needs this implementing now. @FabioRosado is this something you could pick up?

[2019-05-27 10:21] jacobtomlinson commented on #852
@Cadair @SolarDrew do you have any interest in picking this up?

[2019-05-27 16:11] #717 closed

[2019-05-29 08:25] #954 closed

[2019-05-29 20:08] jseiser commented on #878
Has there been any update on this?  If I could somehow format my slack messages it would greatly improve my end users interactions.

[2019-05-30 02:54] FabioRosado commented on #878
The events have been merged and Jacob has a ongoing PR that will implement sending images and files so this will be done in the future.

Slack is a bit funny with permissions so things need to be tested and such

[2019-05-30 09:08] jacobtomlinson commented on #878
What do you mean by this?

[2019-05-30 12:18] jseiser commented on #878
Most of our skills, are just interacting with rest API's, returning JSON back to opsdroid.  Something like 'list inventories in Ansible AWX Dev', and returning data like

`{3: 'xxx-automation-aws-inventory', 2: 'xxx-automation-ent-dev-Inventory'}`

Its ugly, and hard to read, especially as the results get longer and longer.  If we supported attachments, i could use each key/value pair as a field i

[2019-05-30 12:28] FabioRosado commented on #878
As a work around you could read the Json and Post the changed message

[2019-05-30 12:37] jseiser commented on #878
@FabioRosado

I dont follow.

[2019-05-30 14:15] jacobtomlinson commented on #878
I'm interested in why you are sending the JSON object back to the chat client. I would've thought you would decode the response and extract the bits you want to show to the user. Alternatively you could pretty format the JSON and return it within code fences.

[2019-05-30 14:20] jacobtomlinson commented on #878
Also looks like Slack are [transitioning from attachments to blocks](https://api.slack.com/messaging/attachments-to-blocks).

[2019-05-30 14:36] FabioRosado commented on #878
Like Jacob said I meant that you could perhaps decode the Json object and transform it into a more readable format.

The blocks seem interesting but like it says in the docs we might need to rethink how to implement things with slack.

[2019-05-30 15:07] jacobtomlinson commented on #878
I started having a quick hack to look at implementing this and it looks like we will need to fix `aioslacker` first as it seems to be out of date with the Slack API.

[code]

https://api.slack.com/methods/chat.postMessage

[2019-05-30 16:37] FabioRosado commented on #878
Did we created our own fork is aioslacker or was it of something else?

[2019-05-30 17:44] jseiser commented on #878
Im an idiot.  I was attempting to send things, like I would direct to the slack client.  I never even though to just build up a string, with the proper concatenations to format the message.

[code]

Works fine.

[2019-05-30 18:13] jacobtomlinson commented on #878
Don't put yourself down! Could we improve the docs or add examples to help other people avoid these assumptions?

[2019-05-30 20:01] #878 closed

[2019-06-02 17:19] xavierdurawa commented on #532
Hi @FabioRosado, I would like to take a crack at matchers.py.  This will be my first time contributing to a project so I'll ask for your patience :smiley:

[2019-06-02 17:20] FabioRosado commented on #532
Hello Xavier welcome! It would be great if you could work on that and it will help us a lot moving forward to a more consistent code base!

If you do need any help please let us know 😄

[2019-06-03 10:51] jacobtomlinson opened #974 "Explore aiojobs"
I've just been reading about [`aiojobs`](https://aiojobs.readthedocs.io/en/stable/intro.html) which seems like a nice manager for asyncio tasks.

We could look into using this to make opsdroid more robust instead of managing a loop and futures ourselves.

[2019-06-04 14:36] #792 closed

[2019-06-04 19:44] jseiser opened #980 "Possible to Specify ssh key for private github skill"
# Description
We almost exclusively use private github repo's, in our github enterprise.  It would be ideal if I could load a key into the docker container as a secret or config, and reference it in the configuration to be used when pulling the skill.

## Steps to Reproduce
Currently, unable to pull in a private ssh repo, without rebuilding the docker image

## Expected Functionality
[code]

## Ex

[2019-06-04 21:08] jacobtomlinson commented on #980
This is an interesting request and something we would definitely like to support!

Doing some quick research it seems you cannot tell git which keys to use directly, it's all down to your ssh config.

One option could be to set the `GIT_SSH_COMMAND` env var to override gits ssh command before subprocess calls git. Then clear the env var again.

[code]

[2019-06-05 12:33] jseiser commented on #980
Something like this?  I assume, determining the key path should probably be done somewhere besides '_install_git_module'

[code]

Then docker-compose.yml

[code]

Config:

[code]

[2019-06-05 12:45] jacobtomlinson commented on #980
That looks good to me!

My only suggestion would be that you could simplify setting the `key_path` variable.

[code]

[2019-06-06 14:39] jacobtomlinson opened #982 "Add Snips NLU parser and matcher"
Add a parser and matcher for [Snips NLU](https://github.com/snipsco/snips-nlu).

Parser would need to call to the Snips NLU api and get back a response to set the intent and entities of an `Event`.

[2019-06-07 06:07] octagonprogramming opened #983 "Add arm64 docker images"
# Description
Please include a summary of the issue.
[code]

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.
### Requirments
[code]

[code]

## Expected Functionality
Explain what should happen.
[code]

## Experienced Functionality
Explain what happened instead(Please include the debug log).
[code]
## Versions
- **Opsdroid version:**
[code]

- *

[2019-06-07 08:12] octagonprogramming commented on #983
Update: I cloned the repository and rebuild the container and ran it with the provided command in the README (with a different image name) and the container ran without the same error.

[2019-06-07 21:13] octagonprogramming commented on #983
On further investigation, the opsdroid image from the official repository is for an amd64 system so it does not work on my system which is arm64.

[2019-06-09 12:04] iobreaker commented on #886
Hi All,

I Finished the fix. it's working, but i have some problem with the tox test (adding tests to test_parser_rasanlu.py).

I am not a gourou of tox, so can someone assist with that please

Fixed Function :

[code]

Now the test should include when returned response is a zip file and when a returned response is a json dict

Thanks

[2019-06-09 20:23] jacobtomlinson commented on #983
Thanks for raising this. We are currently only building images for x86/64 architectures.

It would be great to add support for ARM processors, we should look into how we can do this.

[2019-06-09 20:29] jacobtomlinson commented on #886
Its hard to tell without seeing the whole test. But my guess would be that you need to set the content type of `result`.

[2019-06-10 12:55] iobreaker commented on #886
Hi,
The whole test is in the original file (the problem is with the content of the original file)

[code]

During my tests i tried to adapt it by adding

[code]

but the problem still the same

[2019-06-10 12:57] jacobtomlinson commented on #886
Hmm strange. It might good for you to raise a PR at this point. Then we can see the tests fail in Travis and dig a little deeper. Also makes testing locally a bit easier.

[2019-06-10 13:34] iobreaker commented on #886
Ok thanks for your help
Going to do this

[2019-06-11 05:21] octagonprogramming commented on #983
I would love to work on this!

[2019-06-11 07:37] jacobtomlinson commented on #983
@octagonprogramming please go ahead! Let us know if you need any help.

[2019-06-14 15:24] SolarDrew commented on #852
Interest, yes, but not much time at the moment I'm afraid.

[2019-06-18 17:45] kollyuchka commented on #770
Hello, I would like to handle this issue. Is it still actual?

[2019-06-19 16:00] awesome-michael opened #992 "Add support for end to end encryption in Matrix Connector"
I tried opsdroid in a docker container to connect to a matrix server. So far everything works fine. But I realized that opsdroid does react in unencrypted rooms only. I assume that there is no end-to-end-encryption support built in the matrix connector. Is there a possibility to enable encryption in opsdroid?

[2019-06-19 17:06] FabioRosado commented on #770
Heya and welcome!

Yeah this issue is still actual and would be great if you could tackle it. We have just updated pyyaml to the latest version 5.1.1(2?) but home assistant is still using 3-4.

Please let me know if you need any help with this issue.

Thank you 😄👍

[2019-06-20 13:52] #886 closed

[2019-06-22 08:44] jacobtomlinson commented on #992
cc @Cadair @SolarDrew

[2019-06-22 09:24] Cadair commented on #992
It's something I want to add, but I am unlikely to have time in the near future. To do it we need to change the underlying matrix library.

In the short term if you want to use opsdroid in encrypted rooms the best thing would be to use https://github.com/matrix-org/pantalaimon which is an e2ee proxy.

[2019-06-22 10:42] jacobtomlinson commented on #992
Is there anything we can do in opsdroid in the short term to warn users about this? Perhaps detect the room is encrypted and log a warning message.

[2019-06-22 14:05] Cadair commented on #992
We could emit a warning if we receive encrypted events, would be easier to detect than rooms.

[2019-06-30 08:10] killerontherun1 commented on #532
Hey @FabioRosado, taking up core.py. Raising multiple small PRs as suggested by @jacobtomlinson.

[2019-06-30 10:20] FabioRosado commented on #532
Hello @killerontherun1 that would be awesome, please let me know if you need any help with anything 👍

[2019-07-01 02:23] killerontherun1 commented on #532
Hey Fabio, do you have a doctest written? So that one can check whether the
docstrings are fine or not?

On Sun, 30 Jun, 2019, 3:51 PM Fábio Rosado, <notifications@github.com>
wrote:

[2019-07-01 15:27] FabioRosado commented on #532
Yeah you can have a look at this link: [Example of Google style docstrings](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html), you can also have a look at the following methods that have been updated with the docstrings:
- Core:
  - setup_skills
  - send
- Memory.py

And there are a few other places, these should provide you some help. Let me know if you need further hel

[2019-07-01 16:54] killerontherun1 commented on #532
Sorry, I'm a bit of a noob. But do you want me to rewrite the docstrings itself? Or just adjust the follow the syntax in the given link?

[2019-07-02 21:20] Cadair opened #995 "Document the expected return value of send for events"
We need to document the expected behaviour for each event when passed to `connector.send` (via `opsdroid.send`).

I.e. `NewRoom` should return the room ID of the room that was created, `Message` should return the ID of the message that was sent.

[2019-07-02 21:20] Cadair commented on #995
@SolarDrew

[2019-07-02 23:27] FabioRosado opened #996 "Telegram Connector: Fix update interval code"
**This issue is aimed at folks that wish to get started contributing to open source**

Today I was setting up opsdroid on a raspberry pi which will be running continuously so I had to change the update interval on the configuration to a bit longer than 1 second.

I have noticed that there is an issue with the update interval code.

In the documentation it says that we need to set update interval l

[2019-07-03 13:48] athanikos commented on #996
Hello,
I just started working  on opsdroid. Could I work on this issue?
Thanks
Nikos

[2019-07-03 15:44] FabioRosado commented on #996
Heya yeah that will be great! Let me know if you need any help with anything 😄👍

[2019-07-03 19:47] #996 closed

[2019-07-04 08:55] FabioRosado commented on #743
I've been running opsdroid on my raspberry pi for the last two/three days and today I have noticed that opsdroid stopped responding to my commands. I went to the raspberry and noticed that it had been killed.

I'm using two skills that are using crontabs and the bot is set up to use slack and telegram. The sysanalytics skill is running every minute to get % of ram and CPU and put these into a sqli

[2019-07-05 21:18] Cadair opened #999 "Add a way of running a skill on startup"
This could be an event that's emitted on startup or shutdown or a matcher.

It should be triggered after all the connectors and skills have completed their startup etc.

[2019-07-05 22:59] law opened #1000 "Slack integration uses old API/Token method"
# Description
Opsdroid's Slack integration wants to operate off of a Webhook or API Token, which seems to be a deprecating (not yet deprecated) method of integrating with Slack.  See attached screenshot of the warning message they display when trying to do a 'Webhook' or generic 'Bot' integration in an Enterprise Slack instance.

## Steps to Reproduce
Try to set up a 'Webhook' or 'API/Bot' integra

[2019-07-06 11:48] FabioRosado opened #1001 "Unable to send message to connector from a crontab skill"
I am still trying to debug the slack connector, I created a silly skill that would log the date of each day just to make it easier to divide the logs.
I've also noticed that some of my skills that use cron aren't sending messages to a connector.

I tried to send a test message to the connector every minute but it didn't work.

This is the log:
[code]

This is the skill:

[code]

[2019-07-06 21:48] athanikos commented on #593
can I take this up ?

[2019-07-07 10:55] FabioRosado commented on #593
Yeah this issue is still open it would be great if you could work on it. Please let me know if you need any help

[2019-07-07 10:56] kollyuchka commented on #770
@FabioRosado
Here is the PR #1003.
Can you review ?

A lot of tests that deals with old config style fail the validation, so I skipped them.
Is that a correct solution?
Should we delete the tests?

[2019-07-07 10:57] FabioRosado commented on #770
Ah okay thanks for this 😄👍
I am going to work now but will review the PR once I’m home

[2019-07-07 18:52] jacobtomlinson commented on #1001
This looks like a problem with the way that the websocket connector is getting the default target.

A quick look at the code makes me think that the websocket connector doesn't implement the default connector which results in a default of `None`. Then [there appears to be a check](https://github.com/opsdroid/opsdroid/blob/8b252588aeb2f7bfcfda01845b5c9c985c2b19a8/opsdroid/connector/websocket/__init

[2019-07-08 10:29] FabioRosado commented on #1001
I'll just try to get the right place to send the message within the skill itself since I just need to add the target.

As for where the default target messages, I'm not entirely sure. If we get any information about the connectors that are currently using websockets we could add a param to set it as default or just use the first one 🤔

[2019-07-10 11:32] #974 closed

[2019-07-10 12:15] FabioRosado commented on #743
So I got the logs for the slack connector:

[code]

It seems that the websockets timed out waiting for pong and I'm assuming that the connection closed afterwards. So the issue might be the heartbeat that keeps slack socket open.

Any idea how to handle this from out end? 🤔

[2019-07-13 16:00] iobreaker opened #1010 "telegram connector does not handle emoji message"
Hi,

When opsdroid receive an emoji message from telegram  "_perhaps this issue impact other platforms_"  it does not succeed to parse the incoming message (no text field found) and enter a loop process indicating **ERROR opsdroid.connector.telegram: Unable to parse the message**

[code]

## Steps to Reproduce
1- configure configuration.yaml to use telegram connector
2- start opsdroid last version

[2019-07-13 16:04] FabioRosado commented on #1010
Thanks for raising this. That’s an expected reaction to an emoji since the connector uses the text found in ‘message’ or ‘chat’ response of the api call to parse the text.

Telegram sets an emoji with the param ‘emoji’ and we haven’t handled this cases so it won’t be able to parse that message since no ‘message’ or ‘chat’ was found in the response.

Do you think we should handle emojis? Not sure i

[2019-07-13 16:08] iobreaker commented on #1010
Hi @FabioRosado, By handling the emoji i mean avoiding the error loop caused by the emoji message (and by the note updated **last_update** variable)

[2019-07-13 16:13] iobreaker commented on #1010
I did a quick fix that update the next message and display a log when an emoji is detected

[code]
As you can see, the log message is now a DEBUG message instead of an ERROR one.
The log indicate clearly that opsdroid is just ignoring the emoji message (for a happy debugging :-) )

What do you think ?

[2019-07-13 16:58] FabioRosado commented on #1010
Oh sorry I missed the bit that you said it goes into a loop haha yeah that fix seems good are you ok to raise a PR for it and I’ll merge it? 😄

[2019-07-13 17:10] #1010 closed

[2019-07-19 05:47] cupen opened #1047 "reload doesn't works"
opsdroid v0.15.4
python3.7.3

`./configuration.yml`
[code]

[code]

[2019-07-20 08:48] FabioRosado opened #1019 "Update example config script"
Our `configuration.yaml` file has suffered a few alterations and the script that should update the `example_configuration.yaml` file is really out of date.

There are also a few bugs where the skill is added both to commented ones and active ones.

We should update this script in order to get out configuration files up to date. We should also update the `example_configuration.yaml` file.

[2019-07-26 14:10] SolarDrew commented on #999
This is now implemented in #951 , but there's a _lot_ of new stuff in that so it's a way off being merged yet.

[2019-07-30 00:05] bistaastha commented on #1019
Hi
Can I work on this issue?

[2019-07-30 06:30] FabioRosado commented on #1019
Hello! That would be awesome!

Please let me know if you need any help whilst working on this issue 😄👍

[2019-08-04 21:49] n8felton opened #1036 "Migrate to slackapi/python-slackclient"
# Description
With v2, the [python-slackclient library](https://github.com/slackapi/python-slackclient) provided by Slack now supports asyncio natively (https://github.com/slackapi/python-slackclient/blob/add2757ce7ce688ba45355079bafa911a9b61ea5/README.md#async-usage).

I wanted to mention this in case there was any benefit to migrating to using the Slack-provided library. It may be easier to supp

[2019-08-05 06:49] FabioRosado commented on #1036
Since we are having a memory leak with the slack connector it might be a good idea to think about replacing the connector to use the slack provided lib 🤔

[2019-08-05 18:06] bistaastha commented on #1019
Hi
I went through the `example_config.yaml` and the corresponding script that updates it, and I don't understand what needs to be updated.

[2019-08-08 18:47] FabioRosado commented on #1019
Hello @bistaastha  Apologies for not replying to you sooner.
You will need to do a few things to fix this issue:

1.  Update the script to remove the connectors/databases that have been included in the core
2. Make sure that the connectors/databases that have been included into core are shown in the example_config.yaml
3. Update the script to not include duplicate things - sometimes it would leave

[2019-08-10 16:43] bistaastha commented on #1019
Yes, it does. Thank you :)

[2019-08-13 01:30] himanshupathak21061998 commented on #666
@jacobtomlinson I would like to solve this

[2019-08-13 07:05] FabioRosado commented on #666
Hello there it would be great if you could take on this task. Please let me know if you need any help

[2019-08-14 02:07] #995 closed

[2019-08-15 05:47] #1001 closed

[2019-08-15 08:53] bistaastha commented on #1019
Hi.
I'm editing the example_config.yaml right now. There are skills which are both commented out and active. Which part has to be kept?

[2019-08-15 09:15] FabioRosado commented on #1019
The default connectors/skills that should remain uncommented are:
connectors: websockets
skills: dance, hello, loudnoises, seen

All the others should remain commented out. Hope this helps

[2019-08-15 09:27] bistaastha commented on #1019
Actually loudnoises and seen were commented as well as uncommented.
Thanks, this helps.

[2019-08-15 16:09] jseiser commented on #743
Running into the same issue.  Opsdroid will either disconect from slack, or will die and restart.  All skills are using the slack connector, no cron jobs.  I had set the limit to 2GB, went in and uncapped it, and the same thing would happen, but it would eat up 4.5 GB.

![OpsdroidMemory](https://user-images.githubusercontent.com/4855527/63108703-840bc500-bf55-11e9-9627-485199a1d586.png)

[2019-08-18 09:35] jacobtomlinson commented on #1036
This sounds good to me. Let's do it!

[2019-08-18 09:37] jacobtomlinson commented on #1000
This may be resolved with #1036

[2019-08-18 09:43] jacobtomlinson commented on #1047
Migrated this issue to the main repo as it will be a problem with the core.

[2019-08-18 12:00] #770 closed

[2019-08-26 16:52] jacobtomlinson commented on #566
Just had a reminder email that this needs to be done by October 23rd.

[2019-08-26 17:43] sagardubey3 commented on #1019
Hi @bistaastha ,
I was going through the conversation.are you still working on the same?
I was thinking about helping out so let  me know if you need my help.

[2019-08-27 15:20] FabioRosado commented on #566
I'll try to address this issue on my days off 👍

[2019-08-31 11:11] FabioRosado commented on #566
I had a look at the documentation and started to try and wrap my head around the changes implemented to V2, it seems you need to use google cloud platform to authenticate your account, they also suggest that we should use the SDK in order to interact with dialogflow.

Should we write the dialogflow parser to use the sdk? 🤔

[2019-08-31 14:57] FabioRosado opened #1055 "Issue with pyyaml schema validation"
# Description

I'm working on the upgrade for dialogflow and usually use Telegram to test opsdroid. Opsdroid didn't start due to pyyaml validation issues. It seems that for some reason the validation is asking to use all the options on the other connectors - the log should make more sense.

I'm going to assume that since we are saying that these options are optional, the validating code is complai

[2019-09-01 16:26] #674 closed

[2019-09-02 07:59] jacobtomlinson commented on #1055
Should it be `telegram` with a lowercase t?

[2019-09-02 12:45] kollyuchka commented on #1055
Hello. My examples of configs:
`welcome-message: true

connectors:

  - name: Telegram
    token: "811186170:AAEKCnmBg89g9Q7mZIrO0JQLtLjXgVSmALA"
    update_interval: 0.5
    default_user: user1
    whitelisted_users:
      - user1
      - user2

skills:

  - name: dance
  - name: hello
`

[2019-09-02 12:52] kollyuchka commented on #1055
`welcome-message: true

connectors:

  - name: Telegram
    token: "811186170:AAEKCnmBg89g9Q7mZIrO0JQLtLjXgVSmALA"
    update_interval: 0.5
    default_user: user1
    whitelisted_users:
      - user1
      - user2

skills:

  - name: dance
  - name: hello
`

[2019-09-02 13:37] FabioRosado commented on #1055
I've tried with lowercase as well and got the same error, unless the schema is setting all the optional configs of the connector as required?

[2019-09-02 16:05] kollyuchka commented on #1055
Hello. My example config:
[code]

[2019-09-02 16:05] kollyuchka commented on #1055
Both options work with a lower case letter and without.

[2019-09-02 16:14] FabioRosado commented on #1055
just out of curiosity did you set token, update_interval, default_user and whitelisted_users as required in the schema? 🤔

[2019-09-02 18:49] goruha commented on #1055
@FabioRosado can you try with the following config?

[code]

[2019-09-03 13:48] kollyuchka commented on #1055
@FabioRosado
Can you review PR ?
Because whitelisted_users field was required, an error occurred.

[2019-09-03 14:14] jacobtomlinson commented on #1055
I've merged the PR. Thanks!

@FabioRosado could you test that things are ok for you now and then reclose this?

[2019-09-03 14:58] FabioRosado commented on #1055
Can confirm that this issue has been resolved thanks for working on it 👍

[2019-09-03 14:58] #1055 closed

[2019-09-04 12:48] jseiser commented on #193
Was there any progress on this?  Id love to be able to fail the container, if/when it disconnects from slack.

[2019-09-06 03:59] profwacko commented on #532
Hi I'd like to help out with this as well! I can try to check out the `matchers.py `file if no one else is working on that.

[2019-09-06 07:26] FabioRosado commented on #532
Hello @profwacko that would be great let me know if you need any help 👍

[2019-09-06 21:39] #666 closed

[2019-09-09 07:04] FabioRosado commented on #1036
I had a quick read through the clients and the official documentation. It seems they have two different clients:

-  Slack Web API and Real Time Messaging (RTM) API
- Slack Events API

For what I gathered it seems that the RTM api is the one we been using on the connector and looks like they still using token based authentication.

In #1000 is mentioned that the token based authentication will be

[2019-09-16 17:23] Razi007 commented on #663
@jacobtomlinson @FabioRosado :: Interested to work here.

[2019-09-17 07:09] FabioRosado commented on #663
Hello @Razi007  that would be awesome! Let us know if you need any help 👍

[2019-09-24 10:02] #980 closed

[2019-09-25 09:26] jacobtomlinson opened #1077 "Expand maintenance team"
As the third and fourth biggest contributors to opsdroid and active members of the community I would love to extend and invitation to @Cadair and @SolarDrew to join the @opsdroid/maintainers team.

![image](https://user-images.githubusercontent.com/1610850/65587364-a3970400-df7d-11e9-9951-4880cf04954a.png)

You are both very fimilar with the internals of the project due to your awesome work on #72

[2019-09-25 09:35] Cadair commented on #1077
Thanks @jacobtomlinson I would be very happy to join the maintainers, opsdroid is a great project :smile:

[2019-09-25 09:36] SolarDrew commented on #1077
Agreed, thanks very much :D

[2019-09-25 09:43] jacobtomlinson commented on #1077
Awesome! Invitations have been sent.

[2019-09-25 10:07] #1077 closed

[2019-09-25 13:17] jacobtomlinson opened #1078 "Hacktoberfest 2019 - Documentation Drive"
We are nearly at [hacktoberfest](https://hacktoberfest.digitalocean.com/) time again! This year I propose we focus our efforts on documentation and stability.

There are some tasks which should be done this week:
- [x] Get a release out to put a pin in things before hacktoberfest
- [x] Create the `hacktoberfest` label
- [x] Label up existing issues we want to highlight
- [x] Write a blog post anno

[2019-09-25 13:20] Cadair commented on #1078
What are peoples opinions on changing the way the documentation is built to include api documentation. I think this is more relevant now we have things like the Events classes which has raised the amount of API surface area we are exposing to skill writers quite considerably?

I know I was finding myself looking at the source code for reference when using the Events classes in Picard, so I would a

[2019-09-25 13:26] jacobtomlinson commented on #1078
Yup sounds good to me. How do you propose we do that?

[2019-09-25 13:29] Cadair commented on #1078
The most common tool for that is sphinx, but that comes with a whole load of other baggage. I certainly would be willing to set that up (I may have done it just a few times before). How attached to markdown as the language are you?! :grin:

[2019-09-25 13:41] jacobtomlinson commented on #1078
I'm pretty attached to markdown. I find rst pretty unpleasant to write, it's a necessary evil in Python docstrings sadly.

You can use sphinx with markdown though right?

[2019-09-25 13:43] Cadair commented on #1078
I thought you might say that :grin:

There are extensions which let you do it, it's something I can certainly look into.

[2019-09-25 14:00] FabioRosado commented on #1078
This sounds good. Since there was talks about i11n on matrix we should perhaps add translation of opsdroid to the list and also convert all logs and messages to include the `_()` pattern - i know I had failed to follow this convention a few times mostly because I forgot :/

The translated files are also out of date and we should update them as well adding other languages.

I agree that more exampl

[2019-09-25 15:25] #999 closed

[2019-09-25 18:49] FabioRosado commented on #1019
Since we haven't got any PR being raised in regards to this issue I am going to say that this issue is still open and we are accepting PR's to fix this 😄

[2019-09-27 09:16] jacobtomlinson commented on #1000
The documentation is still outdated. Sorry this got closed as stale.

[2019-09-27 10:19] #743 closed

[2019-09-27 10:19] #845 closed

[2019-09-27 10:19] #1036 closed

[2019-09-27 10:19] #1000 closed

[2019-09-27 12:27] Cadair opened #1082 "All events should take both "user" and "user_id""
Currently the base [`Event` class](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/events.py#L103) takes a `user=` parameter to it's constructor. This is generally implemented as the human readable name of the user. For a number of events we also need the machine readable user id for the event.

I propose that we add `user_id=` to the event base class and all subclasses, and in all place

[2019-09-27 12:31] Cadair commented on #992
The way I propose we would fix this, is change the underlying layer of the matrix connector to use [matrix-nio](https://github.com/poljar/matrix-nio) which is a more actively maintained Python library, and has built in support for asyncio.

For more details on using `matrix-nio` there is this: https://matrix.org/docs/guides/usage-of-matrix-nio guide.

[2019-09-27 13:17] dLaMothe commented on #1082
I'll take a look at this one if that works.

[2019-09-27 13:21] Cadair commented on #1082
@dLaMothe sounds great :)

[2019-09-27 13:49] Cadair opened #1083 "Add a constraint that matches to room permission level"
Quite often you only want certain actions to be able to be taken by users who have a given permission level in a room.

In matrix (which I am most familiar with) you would have an integer number represent the power level:

[code]

I am not clear on what a cross-connector solution for this would look like.

[2019-09-27 13:51] Cadair opened #1084 "Replace references to the Gitter room with matrix"
The matrix channel appears to have been more active than the gitter channel recently, should we replace links and stuff everywhere with the matrix channel, or link to both?

[2019-09-27 13:56] jacobtomlinson commented on #1083
I think this is one of the areas that we are going to find wildly different models between connectors and therefore trying to write a universal constraint will be hard/impossible.

I would be tempted to just try and namespace the import and write a matrix specific one. E.g

[code]

Similar to the connector specific events.

[2019-09-27 14:11] jacobtomlinson commented on #1084
You're right about that. I'm keen to just link everyone to the Riot web app.

[2019-09-27 14:13] jacobtomlinson opened #1085 "Invert constraints"
I can imagine situations where it would be useful to be able to invert constraints so that they do the opposite of what they are designed to do.

[code]

[2019-09-27 14:17] jacobtomlinson commented on #1083
Heh looking at the Slack API there are some fun things we could do with this and #1085.

[code]

[2019-09-27 14:50] SolarDrew opened #1086 "Meta contraints"
@Cadair and I were just chatting about how best to combine constraints, given the conversation in #1083 about using multiples. What we came up with is that we could have `@constrain_all` and `@constrain_any` decorators. Without arguments, these could apply `and` and `or respectively to all other constraint decorators specified on the skill, or you could optionally pass them decorators to only appl

[2019-09-27 14:56] SolarDrew commented on #1083
Of these I think the per-connector approach is better for the flexibility. I think for a few things we might be able to wrap connector-specific things in a more generic core constraint, but I don't know how much that would really benefit us.

[2019-09-27 14:57] OlgaCh commented on #1085
Hey @jacobtomlinson
Would love to work on this one during `hacktoberfest` if you don't mind.

[2019-09-27 15:33] FabioRosado commented on #1084
Yeah I think we should move to the Riot web app. We might need to update the documentation with how to join the room, at least I remember that I had to figure out how to join haha

[2019-09-27 17:55] jacobtomlinson commented on #1085
Please go ahead!

[2019-09-27 18:02] jacobtomlinson commented on #1086
Yeah I've thought about something similar in the past. My worry here is that we are reinventing control flow logic in decorators. It feels like it could be taken too far.

Decorators like `constrain_users` could be also implemented within the skill. Check whether the event user is in a list and if not return and short circuit the skill. This would have the added benefit that the list of users coul

[2019-09-28 18:06] pluse09 commented on #532
Hi!
I am a beginner of this project, but I will participate because I can contribute easily and easily.

It may be a really small PR...

[2019-09-28 18:30] jacobtomlinson commented on #532
Sounds great @pulse09! We look forward to reviewing it.

[2019-09-29 20:40] #446 closed

[2019-09-29 20:41] jacobtomlinson commented on #446
This was closed in #955

[2019-09-29 20:46] jacobtomlinson opened #1090 "Add auto documentation"
It would be great if we could automatically document classes and public APIs. Perhaps using something like Sphinx. I am keen however to keep the bulk of the documentation in markdown as it currently is.

[2019-09-29 20:53] jacobtomlinson commented on #1084
For anyone who wants to tackle this issue [here is a search](https://github.com/opsdroid/opsdroid/search?q=%22gitter.im%2Fopsdroid%22&unscoped_q=%22gitter.im%2Fopsdroid%22) for all the references to the gitter chat room in this repo.

Links to the general room need to be updated to [this Riot/Matrix room](https://riot.im/app/#/room/#opsdroid-general:matrix.org). And links to the developers room ne

[2019-09-29 20:54] jacobtomlinson commented on #1084
Also see opsdroid/opsdroid.github.io#38

[2019-09-29 21:04] jacobtomlinson opened #1091 "Restructure documentation"
I think we need to restructure our documentation to make it a little friendlier to new users. I think we need to put more emphasis on skills than connectors and databases as it is more likely that people will be building skills.

I also think we should put a lot of effort into an examples section which would provide people with a rich copy-paste pool to draw from when writing their own skills. I'm

[2019-09-29 21:08] jacobtomlinson opened #1092 "Build custom documentation theme"
Currently [our documentation](https://docs.opsdroid.dev/en/stable/) uses the default read the docs theme. It would be great to build our own to make it look more like the [opsdroid website](https://opsdroid.dev/). We could also clean up some of the issues I feel there are with the official theme (code highlighting for one).

We could start with the official theme and extend it [like the Dask proje

[2019-09-29 21:09] jacobtomlinson commented on #1092
@FabioRosado as you've done awesome work on the website before and are good with web stuff is this something you would be interested in picking up?

[2019-09-29 21:12] jacobtomlinson opened #1093 "Remove function skill deprecation warning"
A while back we added class based skills and added a deprecation warning to function based skills.

In hindsight we probably don't want to deprecate function based skills as they can still be useful and easier for a beginner to get on with.

So let's remove [this deprecation warning](https://github.com/opsdroid/opsdroid/blob/96477f218d4b900746bc868956caa53d1b862c76/opsdroid/core.py#L259).

[2019-09-29 21:21] rafaeelaudibert commented on #1093
I can certainly do that to get used to the code, as I'm a beginner to the project (as well as to count towards my PR's for Hacktoberfest).

If possible, will contribute with another PR as well, for some other issue.

[2019-09-29 21:28] rafaeelaudibert commented on #1084
I can tackle this issue altogether with https://github.com/opsdroid/opsdroid.github.io/issues/38.
Is it okay for you?

[2019-09-30 01:36] jos3p commented on #1019
Hello,
can I take this issue?

[2019-09-30 05:22] gagandeepp commented on #1090
I can take a look into this

[2019-09-30 05:35] jacobtomlinson commented on #1019
Sure @jos3p!

[2019-09-30 06:59] FabioRosado commented on #1090
That woud be great thank you @gagandeepp

[2019-09-30 07:00] FabioRosado commented on #1092
Yeah I've been meant to pick this up for a while so I would like to take a stab at it for hacktoberfest 😄

[2019-09-30 07:03] FabioRosado commented on #1084
Hello Rafael thank you for showing interest on this issue. It seems you have shown interest in different issues, I'd say take on one and then try to do the other ones.

Also this issue is marked as a beginner level

[2019-09-30 07:33] himanshupathak21061998 commented on #982
I want to work on this for `hacktoberfest`.

[2019-09-30 08:04] FabioRosado commented on #982
Please feel free to work on this issue, let us know if you encounter any issues 👍

[2019-09-30 09:07] Cadair commented on #1092
SunPy also built a custom sphinx theme, so I would be happy to share what limited experience I have with that.

[2019-09-30 17:36] FabioRosado commented on #1092
I haven't checked how sphinx works with themes so i will probably poke you before you go on holidays Cadair :D

[2019-09-30 22:47] vgangaprasad commented on #1093
Hi Jacob,

I did the changes and trying to push but getting 403 access denied message, do i have to add myself in contributor list or something?

Thanks,
Vijay

[2019-09-30 23:10] rafaeelaudibert commented on #532
The URL to Sphinx example in the first comment is broken, it has an extra "l" in ".html"

[2019-09-30 23:14] rafaeelaudibert commented on #532
I'd commented on other issues that I'd tackle on them but people already started to do some part of it, so I'll let for them. So, I'll try to document some of the missing files in the list above, respecting what @pluse09 already started doing at #1087.

[2019-10-01 05:00] sakethramanujam commented on #663
Has this issue been addressed already?

[2019-10-01 05:15] Razi007 commented on #663
Yes,I am working here.Will raise the PR asap.

[2019-10-01 06:39] jacobtomlinson commented on #1093
Thanks @vgangaprasad, you need to raise a Pull Request from your own fork.

https://help.github.com/en/articles/creating-a-pull-request

[2019-10-01 09:32] jacobtomlinson opened #1101 "Codecov not reporting"
For some reason coverage reports are never happening on new PRs.

[2019-10-01 11:27] endersonmenezes commented on #1019
Hello @jos3p if you are not working on this issue I would like to try, can you update me where you left off, or need help?

[2019-10-01 14:01] FabioRosado commented on #1101
I've been trying to fix this the whole morning but can't figure out why codecov is not reporting. I've even tried to check the verbose log to see if there was any issues with it - on the forums someone had a problem because the file was too big - but codecov sends the report to the s3 bucket and the coverage report is working fine.

For some reason the issue seems to be trying to push the coverage

[2019-10-01 14:44] #1093 closed

[2019-10-01 15:14] jacobtomlinson commented on #1101
Might be related to [this issue on their end](https://status.codecov.io/incidents/m1gbpnq16kqv) from yesterday.

[2019-10-01 15:56] #1101 closed

[2019-10-01 18:54] FabioRosado opened #1113 "!include constructor is broken on python 3.6"
# Description

After adding pyyaml validation, the `!include` constructor stopped working. I am still unsure if the issue is due to yamale and how it handles nested yaml files.

We need to fix the include constructor so we can keep the functionality of including a yaml file inside another.

## Steps to Reproduce
Add [skill-chat](https://github.com/FabioRosado/skill-chat) to opsdroid
set up skill-c

[2019-10-01 19:39] #1084 closed

[2019-10-01 20:40] jacobtomlinson commented on #1113
Does anyone actually use the include functionality? I use the env var one all the time, but never this one.

Maybe we should consider just removing it?

[2019-10-01 22:06] #1085 closed

[2019-10-01 22:10] FabioRosado commented on #1113
I don't really use it to be honest. I think we added the include constructor because we wanted to allow users to use it like how homeassistant does 🤔

[2019-10-02 08:29] butuzov opened #1120 "Documentation Cleanup"
# Description
There are a lot of links broken in documentation. I have  fix it! (or maybe made it worse!)

## Steps to Reproduce
I have used my tool `deadlinks` (in dev), but I guess you can use any link checker.

[code]
Stats: Found 157; Not Found 18; Ignored 65
* https://docs.opsdroid.dev/en/stable/tutorials/matchers/recast.ai.md - 404
* https://rasahq.github.io/rasa_nlu/dataformat.html - 404
*

[2019-10-02 08:33] butuzov commented on #1120
1) somehow, index pages not available in docs... so link 1 skipped.
2) haven't found events.md, not sure about history of this link/page.

[2019-10-02 09:23] jacobtomlinson commented on #1113
Yeah. I say let's remove it. If anyone complains then we can always re-instate it.

[2019-10-02 09:35] jacobtomlinson commented on #1120
Thanks for raising this!

The [events page is here](https://github.com/opsdroid/opsdroid/blob/master/docs/extending/events.md).

[2019-10-02 09:41] jacobtomlinson commented on #1120
Reopening as not all links fixed in #1121.

[2019-10-02 13:29] FabioRosado commented on #1113
I've tried a few things based on @ MrNaif2018 PR and everything seems to work fine - the coverage gets bumped up to 100% as well it seems so perhaps we can get the PR merged and leave it until it breaks for good? 😄

[2019-10-02 13:55] jacobtomlinson commented on #1113
Ok sure. If both the `!include` and `!envvar` constructors work and test coverage is up then I'm happy. I'll leave it to you!

[2019-10-02 15:53] butuzov commented on #1120
Hi Jacob. Somehow, few more errors ware added.

[code]

- As for CI:  I think it's first to sinish tool (current state - is training in so I can polish it), in future.. maybe github action or bot will be created alongside with tutorial how to implement to travis or Jenkins..

P.S.
And for CI... check tox.ini line 33. It was giving few advices, on how to implement things.

[2019-10-02 16:39] butuzov commented on #1120
Oh, btw. It's a part of #hacktoberfest, but I am genuinely interested to dig in, once have more time.

[2019-10-03 03:05] jos3p commented on #1019
I'm still on it, will post a pullrequest soon

[2019-10-03 14:30] #1113 closed

[2019-10-04 09:08] #1019 closed

[2019-10-04 23:17] adityakaria commented on #532
I'd like to try my hand at adding docstrings to the `core.py` file and its pending methods, if it's not assigned to anyone else already!

[2019-10-05 06:04] jacobtomlinson commented on #532
Please go ahead

[2019-10-05 10:10] FabioRosado opened #1128 "Make all logging translatable"
We have started using gettext to translate our logging messages, although I've come across a lot of messages that won't be translated.

In order to make a message translatable it has to be wrapped with `_(<string>)` so we should update all the logging messages to use this convention so we can translate all the messages available.

As an example on opsdroid.logging.ParsingFilter we are logging the

[2019-10-05 10:18] Pralkarz commented on #1128
I can pick this up if that's okay for you.

[2019-10-05 10:19] FabioRosado commented on #1128
Hello @Pralkarz that would be great 👍 please let me know if you need any help

[2019-10-05 11:24] Pralkarz commented on #1128
Hello @FabioRosado, I'm pretty much done working on the issue right now, however I cannot commit due to the following message:

[code]

Does that mean I need to install Python 3.6?

[2019-10-05 12:35] FabioRosado commented on #1128
Did you install pre-commit and back with the command:
`pip install pre-commit black`?

I'm wondering if its a problem with precommit

[2019-10-05 12:49] Pralkarz commented on #1128
Yes, I have. Maybe the problem stems from the fact that I have only Python 3.7 installed?

[2019-10-05 14:17] jos3p commented on #1128
I had the same problem when I was working on my PR earlier, installing Python 3.6 didnt seem to have worked so I uninstalled pre-commit ($ pre-commit uninstall) and did run black ($ black ./pathto/file) manually

[2019-10-05 16:33] anuragsachdeva28 opened #1130 "Typo in ISSUE_TEMPLATE.md"
# Description
Typo in ISSUE_TEMPLATE.md file

## Steps to Reproduce
spelling error in word 'below'

[2019-10-05 16:44] anuragsachdeva28 opened #1132 "Typo in README.md file"
Description
Typo in README.md file

Steps to Reproduce
Spelling and different grammatical errors in the whole document.

[2019-10-06 09:35] #1128 closed

[2019-10-06 12:54] suparnasnair commented on #532
Hi, may I look into `loaders.py `, there are couple of methods that need Google style docs.

[2019-10-06 13:33] FabioRosado commented on #532
Hello @suparnasnair thank you for the message, that would be great. Please let me know if you need any help with anything 😄👍

[2019-10-06 13:49] ziebam opened #1137 "Inconsistency in the logging messages"
# Description
A lot of the logging messages are inconsistent. Let's take the file `loader.py` for example. On the line 254 there's that message that doesn't end with a dot:
[code]
Yet just a few lines ahead, on line 267, there's a message that does end with a dot:
[code]

There are also some inconsistencies with the parsers and connectors naming. In some logging messages they are capitalized prope

[2019-10-06 19:04] suparnasnair commented on #532
I have updated for 2 methods for a start. Sorry I'm a newbie. Please let me know if this is fine, I ca. Go ahead with the remaining ones and clean them up. Thanks !

[2019-10-07 12:15] FlipTheBit commented on #1137
Attempted to fix the issue with the dots, can I try my hand at the capitalisation issue?

[2019-10-07 12:34] p0larstern commented on #532
@FabioRosado there are couple of methods left in loader.py(envvar_constructor, include_constructor), can I take them up if no one else is working on them?

[2019-10-07 13:20] Abelarm commented on #1137
I would like to work on this.
I had an idea to solve this problem in a nice way, but it requires pylint.
I would write a custom checker for pylint that will check all the logs and raise and warning based on a config file.

[2019-10-07 17:23] p0larstern opened #1141 "outdated-to-be links present in dialogflow.md"
# Description
According to docs site of Dialogflow (https://dialogflow.com/docs), on 23 October 2019, V1 API will be deprecated and related documentation would be deleted.
`./docs/matchers/dialogflow.md` have many links pointing to old site.

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.

## Configuration File
Please include your version of th

[2019-10-08 09:18] ammar0211 commented on #1137
I would like to work on this issue and look for all sorts of logging messages issues to make them all uniform

[2019-10-08 09:24] jacobtomlinson commented on #1137
Thanks so much for raising this issue @ziebam and for picking it up folks.

Perhaps a good thing to do would be to add a section to the [contributing docs](https://github.com/opsdroid/opsdroid/blob/master/docs/contributing.md) with guidelines on how logs should be formatted.

[2019-10-08 09:35] jacobtomlinson commented on #1141
Closing in favour of #566

[2019-10-08 09:35] #1141 closed

[2019-10-08 09:45] jacobtomlinson commented on #532
@suparnasnair your PR was great. Welcome to open source! Please feel free to do more.

@p0larstern please go ahead.

@FabioRosado dod you mean to close this?

[2019-10-08 10:18] FabioRosado commented on #1137
Thats actually a good idea Jacob since we should explain better how gettext works and how we should pass the params to a logging that uses gettext 🤔

[2019-10-08 10:22] FabioRosado commented on #532
Ooops I didn't notice that the PR that I've merged would close the issue. I've reopened it haha

[2019-10-08 10:49] Abelarm commented on #1137
Hi guys,
Are you looking more for:
- a test/checker for bad formatted logs
- a guideline for writing logs

[2019-10-08 13:37] jacobtomlinson commented on #1137
Let's start with this.

[2019-10-08 13:41] #1130 closed

[2019-10-08 13:41] #1132 closed

[2019-10-08 17:42] dLaMothe commented on #1082
Looks like I was a little slow. I'll let @himanshupathak21061998 take over on this one.

[2019-10-08 22:30] sesam commented on #193
@jseiser maybe you would want to become the first user of this feature? :) But first, in what way would you, best-case, detect that the container should be failed? Is there some format or specs for how this health endpoint should work to be the most useful?
I tried to find docs on how prometheus compatible endpoints should work, but quick search and read did not suceed -- any pointers welcome. I d

[2019-10-09 09:23] jacobtomlinson commented on #193
[Here is an example](https://github.com/dask/distributed/pull/2499) of a prometheus endpoint being added in another project.

The official client for Python is a good way to capture and record metrics, and then they need to be exposed using the [built-in web server](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/web.py).

[2019-10-10 09:20] #667 closed

[2019-10-11 15:58] #566 closed

[2019-10-12 09:49] butuzov commented on #1120
Thanks for not closing it!

Got weird issue with linking `matchers/webhook` from `rest-api` page.  RTD generates addiitional `../` so it ends up generating bad links.

While locally, the link looks correct, I will back in town on Wednesday and will be check what's wrong more carefully.

[2019-10-13 17:05] awesome-michael opened #1159 "Error when starting with matrix-connector"
When I try to start opsdroid I keep getting the following error. I double checked indentation and when I delete the matrix-connector part opsdroid starts fine.
[code]

## Configuration File

[code]

[2019-10-13 19:28] lkcbharath commented on #532
Hi, I'm new to open source. Can I help out with adding docstrings in `main.py`?

[2019-10-14 09:19] #1120 closed

[2019-10-14 12:38] jacobtomlinson commented on #532
@lkcbharath please go ahead

[2019-10-14 12:39] jacobtomlinson commented on #1159
cc @Cadair @SolarDrew

[2019-10-14 14:23] Cadair commented on #1159
The config looks fine to me, I am little confused as to how this:

[code]
is being triggered off [this](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/configuration/schema.yaml#L70) regex?

[2019-10-14 14:37] awesome-michael commented on #1159
I forgot to mention that I'm using the docker image `opsdroid/opsdroid:latest` pulled yesterday. So should be v0.16.0

[2019-10-14 14:51] jacobtomlinson commented on #1159
@Cadair yeah it's that regex. I've seen something similar when indentation has been off. There aren't any other options missing in the config are there?

[2019-10-14 14:58] FabioRosado commented on #1159
Could this be some issue with the yamale check? I remember the issue I had with Telegram(#1055) the messages seems somewhat similar to what I was getting 🤔

[2019-10-14 15:16] awesome-michael commented on #1159
Yes I'm trying to connect to my own homeserver. In fact I'm trying to connect to pantalaimon that should connect to my own homeserver as suggested in #992 ;)

I'll check if editing the regex will help with this issue.

[2019-10-14 15:18] FabioRosado commented on #1159
Please let us know but I think it will be one of these fields (if not all of then) that are causing the issues. For what I've gathered they assume you are using matrix.org only.

Please feel free to raise a PR fixing the issue if you wish otherwise i'll try to tackle it when I got the time once it has been confirmed 😄 👍

[2019-10-14 15:36] Cadair commented on #1159
:see_no_evil: Why?! :scream:

[2019-10-14 15:42] jacobtomlinson commented on #1159
Ok let's roll the validation back a bit.

I'm also not very impressed with the error handling in yamale. It seems to just blast a ton of errors at you

[2019-10-14 15:50] FabioRosado commented on #1159
Instead of reverting the validation PR how about we fix the schema? I'm with Cadair about validating the yaml beyond type - it makes sense on the required things but doesn't on other situations like this one.

Yamale allows you to just specify type like this:
[code]

We could check if some things are strings, lists, dicts, etc. You can also write custom validators but I'm not sure if it will be us

[2019-10-14 15:57] jacobtomlinson commented on #1159
Yeah I didn't mean revert the PR. I meant relax the rules.

[2019-10-14 15:58] FabioRosado commented on #1159
Oh sorry misunderstood the comment!

I did a quick look at yaml validators and Cerberus seems like a good way to get error handling 🤔

What do you think? [Cerberus Usage](http://docs.python-cerberus.org/en/stable/usage.html)

[2019-10-14 16:11] jacobtomlinson commented on #1159
Would that be a replacement for yamale?

[2019-10-14 16:19] FabioRosado commented on #1159
If we want better error handling we might have to replace it yeah, not sure how it compares with yamale yet though

[2019-10-14 16:44] awesome-michael commented on #1159
okay I verified that the regex checks are responsible for the error. I changed the scheme.yaml to ```...
---
matrix:
  name: regex('^(?i)matrix$')
  mxid: str(required=True)
  password: str(required=True)
  room: str()
  rooms: (include('room1'))
  homeserver: str(required=True)
  nick: str(required=False)
  room_specific_nicks: bool(required=False)
  send_m_notice: bool(required=False)
---
room1:

[2019-10-14 16:50] FabioRosado commented on #1159
If you are participating on the hacktoberfest you can just change the schema for what you have show shown on your comment that seems a good temporary fix until we decide what to do next.

[2019-10-14 17:09] awesome-michael commented on #1159
Since hacktoberfest seems to be perfect occasion for this (would be my first PR) I begun to write a fix. Now I think I have an explanation for all the `Required field missing` errors:
all these fields are checked with `str()` in the other sections. Looks like `str()` is equivalent to `str(required=True)` and the parser is ignoring that these fields come from other sections.
How to deal with that p

[2019-10-14 17:18] FabioRosado commented on #1159
That’s a good question, I don’t understand why yamale decided to just go add the required if you specify a type, this is pretty weird...

It’s a pain in the back but perhaps turn all of those that are not required to False?

[2019-10-14 17:20] awesome-michael commented on #1159
Was my first thought too.. but I think these values are checked with `str()` because they are all required for their sections...

[2019-10-15 09:21] awesome-michael commented on #1159
I read a bit through the documentation of yamale..
It says

and

so the schema.yaml you built can not check for the individual connectors but checks always everything. Thats the reason it complains about the required fields so much.

[2019-10-15 16:53] awesome-michael commented on #1159
Okay.. yamale seems not to see all the fields as required, but when an error occurs all these fields are shown as "missing required fields". If the config is fine the fields aren't reported. So it's "just" the error handling that is misleading.

I opened a PR to address the actual issue: #1166
I was unsure if the mxid and room addresses should rather be checked with a regex to assure they are vali

[2019-10-18 06:44] profwacko commented on #532
Hi @FabioRosado would there be a quick way for me to understand the functionality of each of the functions I'm writing docstrings for (in `matchers.py`)? Or maybe sort of bump me into the best direction for that.

[2019-10-18 10:36] FabioRosado commented on #532
I'd say reading the matchers documentation might give you a better understanding of what each of them do. But basically matchers are decorators that you use to match a skill(python function) to an intent obtained from a parser.

For example on the dialogflow  - the parser will call the API and send over the message from the user, then the API does its thing and returns a response which might conta

[2019-10-18 14:00] paqman85 commented on #532
Hi @FabioRosado!
I'm looking to help out on this as well. Looks like the checklist may be out of date now? - I see there was a merge for the CORE section but still some outstanding checkboxes. Can you confirm if the checklist is up to date? I'd love to try and tackle any stragglers.

[2019-10-19 09:24] FabioRosado commented on #532
Hello paqman unfortunately the checklist has been out of date for a while and I haven't have the time to fix it yet. It would be great if you could tackle some of them, Im off in 5 days so I'll try to update the list, you can wait until then or check each file and see if any is left without the google style docstrings - I know there is still a lot of them that don't have it

[2019-10-19 23:35] martingoldstone commented on #884
I'd be happy to take a look at this

[2019-10-20 07:14] jacobtomlinson commented on #884
@martingoldstone that would be great thanks!

[2019-10-23 08:41] #1159 closed

[2019-10-23 08:46] Cadair opened #1186 "Improve Config Schema Validation"
Currently when the schema fails to validate it gives a very unhelpful error, i.e.:
[code]
the actual issue here was there was no `'main'` in the `rooms` dict, not that you would ever know it from that error :stuck_out_tongue_closed_eyes:

I don't know if this is a limitation of the validation library (I also can't think of another one which gives reliable errors), but I think this is actually maki

[2019-10-23 09:06] gergelypolonkai opened #1188 "Schema validation fails for custom connectors (and maybe others)"
# Description

Configuration of custom connectors doesn’t validate against the hardcoded schema.

## Steps to Reproduce

Add the configuration of the imaginary foo_chat service to the config file:

[code]

## Expected Functionality

opsdroid starts and connects to foo chat (given the connector module actually exists).

## Experienced Functionality

The configuration fails to validate against the b

[2019-10-23 09:10] Cadair commented on #1186
see also #1188

[2019-10-23 09:47] jacobtomlinson commented on #1186
Yeah this isn't great. There have been a bunch of issues since we added the schema validation.

Unless we can get more sensible error messages from the validation I propose that we disable it for now and re-open the issue to implement it. The current implementation doesn't seem to be fit for purpose.

[2019-10-23 21:43] iguyking opened #1189 "No file [...]\opsdroid\\configuration\\schema.yaml on windows starting opsdroid"
# Description
Attempting to start opsdroid in a clean config

## Steps to Reproduce
virtualenv venv
. venv/Scripts/activate.ps1
pip install opsdroid
opsdroid start

## Expected Functionality
Opsdroid starts with a default configuration or says "need to create base files" or creates the base folder structure to start with the defaults.

## Experienced Functionality
(venv) ~\[...]> opsdroid start
[E

[2019-10-23 22:05] iguyking opened #1190 "Ctrl-C does not kill in windows"
# Description
Trying to kill session using powershell on windows can take several minutes to register the ctrl-c

## Steps to Reproduce
opsdroid start (in a powershell window)
Hit control-c

## Expected Functionality
opsdroid should shut down

## Experienced Functionality
Can take several minutes then finally decide to shut down.

## Versions
- **Opsdroid version:** v0.16.0
- **Python version:** 3

[2019-10-24 08:32] jacobtomlinson commented on #1189
This has been fixed in #1187.

Could you test the master branch to ensure this fix works for you?

`pip install git+https://github.com/opsdroid/opsdroid.git`

[2019-10-24 09:02] iguyking commented on #1189
That appears to have fixed it.   Thanks.

[2019-10-24 09:02] #1189 closed

[2019-10-24 10:26] FabioRosado commented on #1186
I've been playing around with validators and heres what I think:

**Cerberus**
The schema seems overcomplicated imo:

[code]

error shows as:

[code]

At the moment I'm getting a `TypeError: argument of type 'bool' is not iterable` that seems to be coming from cerberus.schemas

**Voluptous**

The schema seems to be as close as the config and easy to write:

[code]

The error handling seems easy to

[2019-10-24 10:35] Cadair commented on #1186
:+1: for Voluptous I have used it before and it's pretty nice to work with.

[2019-10-24 10:37] FabioRosado opened #1193 "Remove gitter badge from readme"
We have moved to matrix (#1084) but we still have the gitter badge on our readme, the badge should be removed.

[2019-10-24 10:41] jacobtomlinson commented on #1186
Agreed Voluptuous is good and well used.

[2019-10-24 10:57] Anilpandiya commented on #1193
@FabioRosado removed gitter badge.
PR raised - [Pull Request](https://github.com/opsdroid/opsdroid/pull/1195)

[2019-10-24 11:01] #1193 closed

[2019-10-24 11:29] Cadair commented on #1186
I am pretty sure you can turn this off where you need to.

[2019-10-24 12:42] jacobtomlinson opened #1198 "Add examples to the documentation"
We have a new examples section in our documentation. This is a place for small guides demonstrating examples of what you could do with opsdroid.

We need help adding as many examples as we can to the documentation. We also have a bunch of ["official" skills](https://github.com/opsdroid?utf8=%E2%9C%93&q=%22skill-%22&type=&language=) that you can use with opsdroid, they would be a good place to star

[2019-10-24 17:23] imrishabh18 commented on #1198
Hey, I would like to take this issue.

[2019-10-24 18:50] imrishabh18 commented on #1198
I have made a pull request just for one example.Review it and tell me what things i need to add.

[2019-10-26 03:36] profwacko commented on #532
Hi @FabioRosado, thanks for the tips. It's definitely more clear now. The checklist for `matchers.py` seems to be lacking a few more functions, namely:

- [ ] match_event
- [ ] match_parse
- [ ] match_sapcai
- [ ] match_watson

Also the following functions don't seem to be there anymore, i'm guessing they are now the dialogflow api ones?
- [ ] ~match_apiai_action~
- [ ] ~match_apiai_intent~

I'll

[2019-10-26 03:54] FabioRosado commented on #532
Yeah you were right the api ai matcher has now become dialogflow - i think I added the google style on them when i updated the version not sure though.

Those new ones aren't there because they were added after I created this issue, which reminds me that I forgot to update the list 👍

[2019-10-26 03:57] profwacko commented on #532
@FabioRosado I hope my pull request is okay for the first few changes I did, please let me know if there's anything I can do to make the pull request better!

[2019-10-26 15:00] butuzov opened #1207 "ci for checking links"
# Description
Thanks for `opsdroid` project made some improvements on my tool, and I keep using your docs live goto docs for tests. One thing I would like to ask to focus on is documentation.

You already have in place `mkdocs build` instruction, but we have two important conclusions:
1) It's wouldn't error if there something wrong.
2) It shows what problems you already have.

Like at this moment,

[2019-10-26 15:01] butuzov commented on #1207
btw, guess `matchers/watson.md` needs to be located in the new menu ?

[2019-10-26 15:21] FabioRosado commented on #1207
Yeah I probably forgot to add it to the mkdocs.yml - I tend to forget this one haha

I think that would be good and it would prevent me from forgetting to add stuff to this file.

Let me know if you need help with your project would be more than happy to give a hand 😄👍

[2019-10-27 05:52] jacobtomlinson commented on #1207
Yes please go ahead and add your tool to the CI.

[2019-10-29 20:47] iguyking opened #1217 "Slack connector crashes after running dance several times"
# Description
Slack connector crashes after running dance several times in a row

## Steps to Reproduce
Launch opsdroid with slack connector configured with bot token
go the channel connected in and run dance 3+ times in  a row

## Expected Functionality
Opsdroid keeps running fine

## Experienced Functionality
Opsdroid crashes with the following error:
[code]

## Versions
- **Opsdroid version:**

[2019-10-30 08:57] jacobtomlinson commented on #1091
I would still like this to be tackled regardless of hacktoberfest to pinning as an `enhancement`.

[2019-10-30 09:24] jacobtomlinson commented on #1217
After some investigation it seems that when you use the dance skill the bot responds with an image link. Slack automatically replaces the link with the actual image and this triggers a `message_changed` event which our connector currently doesn't handle. This must be one difference between the official Slack library and the third party one we were using before.

I've raised #1220 to resolve this.

[2019-10-30 09:30] #1217 closed

[2019-10-31 15:53] jacobtomlinson commented on #77
I wasn't good at YAML when I wrote this. Empty key-pairs can be represented better with an empty dict `{}`.

[code]

[2019-10-31 16:57] iguyking opened #1229 "Ability to send messages to threads"
# Description
In Slack there is the ability to do threaded messaging.  It would be nice to be able to send a message into a thread from the original message.

## Steps to Reproduce
Feature Enhancement

## Expected Functionality
Send a message and be able to say "attach it to this thread".

Possible approach:

[code]

## Experienced Functionality
Message is attached to the thread

## Versions
- **O

[2019-10-31 16:57] iguyking opened #1230 "Be able to respond in thread in slack"
# Description
Slack has various event types and information that comes through from the RTM feed.   Some of the message subtypes are ignored today and removed from use by opsdroid.   It would be good to be able to respond to a "message_changed" subtype of an event for example.

https://api.slack.com/events/message

## Expected Functionality
Ability in skills to respond to message subtypes.

## Exp

[2019-11-01 09:57] daniccan opened #1232 "ssl.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed in Slack Connector"
# Description
I am trying to build a Slack bot using Opsdroid (master branch). When running `opsdroid start`, I get an error where the Opsdroid bot fails to connect with the Slack Workspace.

## Steps to Reproduce
1. Install opsdroid
[code]

2. Create `configuration.yaml` with following content
[code]

3. Start opsdroid

[code]

## Expected Functionality
The expected functionality is for the Opsdr

[2019-11-01 10:00] jacobtomlinson commented on #1232
It looks like the SSL certificate for Slack is being rejected. Do you have the certificate bundle installed ([instructions](https://www.techrepublic.com/article/how-to-install-ca-certificates-in-ubuntu-server/))?

[2019-11-01 10:20] daniccan commented on #1232
How do I get the certificate bundle of Slack?

[2019-11-01 10:22] daniccan commented on #1232
This looks like an issue with the `websocket-client` library version 0.48.0 and above. FYI, https://github.com/websocket-client/websocket-client/issues/451#issuecomment-417918570. I am unable to lock on to version 0.47.0 of the library due to another dependency.

[code]

[2019-11-01 11:39] jacobtomlinson commented on #1232
You just need the main certificate bundle. Slack should be signed by one of the root certs.

That issue is discussing whether or not to use certifi for systems with a misconfigured certificate bundle.

My preference here would be for you to correctly configure your certificate bundle (as per the instructions I linked to). If your certificate bundle is in a non-standard location then you can point

[2019-11-01 12:12] daniccan commented on #1232
I tried both the above with no success.

[2019-11-01 13:20] jacobtomlinson commented on #1232
Are you able to locate your ca cert bundle on your system and point `WEBSOCKET_CLIENT_CA_BUNDLE` to it? They are usually in `/etc/ssl/certs` or `/usr/share/ca-certificates`.

[2019-11-01 13:21] jacobtomlinson commented on #1232
Also random question but is the time correct on your system? Sometimes certs can fail when the clock is wrong.

[2019-11-01 14:57] daniccan commented on #1232
The time is correct on my system. It is in IST. Hope that is not a problem. Also, I see a bunch of certificates in `/etc/ssl/certs`. What would be the name of the cert bundle required for slack?

[2019-11-01 16:32] jacobtomlinson commented on #1232
IST will be fine. You don't really need to know which cert authority they use, just ensure you have an up to date set.

Looking at their website though they seem to use Digicert.

![image](https://user-images.githubusercontent.com/1610850/68039945-23269a00-fcc5-11e9-893c-629e46c51ddb.png)

Could you try `export WEBSOCKET_CLIENT_CA_BUNDLE=/etc/ssl/certs`.

[2019-11-02 14:33] Cadair commented on #1229
The API I would envisage for this is:

[code]

The question is how we easily expose the original thread_ts to users. It would currently require a connector specific trip into the `raw_event` attribute.

Maybe we should make connectors which support replies / threads to set the target of the event, so you could do:

[code]

if fact, if we set `message.target` in the slack connector if the message i

[2019-11-03 18:44] #1086 closed

[2019-11-04 09:26] daniccan commented on #1232
Using the `certifi` library and fetching the certificate fixed the issue. Updated the PR with the changes.

[2019-11-04 10:10] jacobtomlinson commented on #1229
I generally like this approach.

I'm not sure I like this. I use multiple Slacks on a day to day basis (hooray 😒) and each has its own etiquette. Some like threads, some hate threads. Therefore I think this should be configurable somehow.

Currently the target gets set to the room. Your proposal is to set the target to the `thread_ts` instead. Maybe we could have a configuration option like `respo

[2019-11-04 11:40] #1232 closed

[2019-11-04 11:45] daniccan opened #1239 "Exiting opsdroid with ctrl+c fails with exception"
# Description
I am trying to build a Slack bot using Opsdroid (master branch). When pressing `ctrl+c` to exit opsdroid, the process does not stop and throws an error.

## Steps to Reproduce
1. Start opsdroid and wait for it to run

[code]

2. Press `ctrl+c` to exit the process

## Expected Functionality
The opsdroid process should exit on pressing `ctrl+c`.

## Experienced Functionality
The opsdro

[2019-11-04 11:55] FabioRosado opened #1240 "Update regex pattern for the envvar construtor"
You can use envvars on your configuration, but they need to follow this pattern `$ENVVARNAME` the regex pattern should be updated to allow users to use either `$ENVVARNAME` or `${ENVVARNAME}`.

While we are at it we should allow users to use other characters as well like `_` or `-`.

This change needs to be done on [opsdroid.loader.load_config_file](https://github.com/opsdroid/opsdroid/blob/674013

[2019-11-04 12:09] jacobtomlinson commented on #1239
Ok just reproduced locally. This seems to happen when `slack` is the first connector in the list.

#### Fails to exit

[code]
and
[code]

#### Successfully exits

[code]
But with the following errors in the log.
[code]

[2019-11-04 12:21] jacobtomlinson commented on #1239
Raised #1241 to fix this.

[2019-11-04 13:48] #1239 closed

[2019-11-05 12:07] jacobtomlinson commented on #1240
I'm also having issues when using quotes.

#### Works

[code]

#### Doesn't work

[code]

[2019-11-05 12:09] jacobtomlinson commented on #654
This just came up again. We really should do this.

[2019-11-06 17:47] #654 closed

[2019-11-07 07:53] daniccan opened #1246 "Direct messages to Slack Users is sent via Slack Bot instead of the configured Bot User"
# Description
Sending messages directly to Slack Users is sent by the default Slack Bot instead of the configured Bot User.

## Steps to Reproduce
1. Configure Slack Connector in Opsdroid.
2. Send a message to a user instead of a channel by setting the `message.target` value (e.g. @someuser)

## Expected Functionality
The message should be sent to the user via the bot user whose API token we have

[2019-11-07 10:11] #1246 closed

[2019-11-07 12:13] daniccan commented on #673
@jacobtomlinson Hi, is anyone working on this or can I pick it up?

[2019-11-07 12:16] FabioRosado commented on #673
Hello @daniccan thank you for showing interest on this. No one is currently working on this task so it would be great if you could take it up 😄 👍

Please let us know if you need any help

[2019-11-07 12:38] daniccan commented on #673
Sure @FabioRosado. Thanks.

[2019-11-10 09:09] butuzov opened #1250 "Documentation - matchers/watson.md missing from mkdocs file"
A separate issue for `matchers/watson.md` not found in the menu.

@FabioRosado can you take a look to this?

[2019-11-10 09:09] butuzov commented on #1207
Implemented

@jacobtomlinson @FabioRosado can you check it?

[2019-11-10 17:36] FabioRosado commented on #1250
Thank you for this @butuzov  as usual I have forgot to put the documentation into the `mkdocs.yaml`.

This could be a good issue for new beginners so I am going to label it and if in 2 days we don't have it fixed I will create a PR to fix this issue 😄 👍

[2019-11-10 17:43] butuzov commented on #1250
Just tell in which category that file should fit: Simple, Third party NLU (my guess page belong here) or Misc ?

[2019-11-10 17:45] FabioRosado commented on #1250
You are right it should be under Third party NLU and above the wit.ai due to alphabetical order 😄

[2019-11-10 17:47] butuzov commented on #1250
Now let's wait for one who whats to get that fruit!

[2019-11-11 11:01] daniccan commented on #673
To connect with the mattermost server, I am using the `mattermostdriver` in python. While registering the websocket to receive messages, I am getting `RuntimeError: This event loop is already running` error in the line `https://github.com/Vaelor/python-mattermost-driver/blob/master/src/mattermostdriver/driver.py#L146`.

[2019-11-14 11:51] daniccan opened #1253 "Ability to delete a key from Opsdroid memory"
# Description
The Opsdroid's memory class currently has two methods: `get(key)` and `put(key, object)` to fetch and persist data in memory. It would be good to have an additional method `delete(key)` to delete the data from memory.

[2019-11-15 09:31] #1250 closed

[2019-11-16 11:58] #1082 closed

[2019-11-17 14:34] #1253 closed

[2019-11-17 20:35] #673 closed

[2019-11-18 07:45] daniccan opened #1259 "Token based authentication for Webhook Matcher"
# Description

The webhook matcher allows you to trigger the skill by calling a specific URL endpoint.

Currently, a skill with a webhook matcher would be called if you send a `POST` to `http://localhost:8080/skill/exampleskill/examplewebhook`.

This URL is public and does not have any form of authentication/authorization checks, which means it can be triggered by anyone. Adding an `Authorization`

[2019-11-18 10:10] jacobtomlinson commented on #1259
Yep this would be awesome! What are your thoughts on now we would configure this? Would there be one token for all endpoints, would we configure it in the skill?

[2019-11-18 10:54] daniccan commented on #1259
My choice would be one token for all endpoints. Configuring in each skill would not be maintainable as the number of skills grows.

[2019-11-18 14:12] jacobtomlinson commented on #1259
Sounds good to me! Maybe it should be in the `web` section of the config.

[2019-11-19 12:46] daniccan commented on #532
@FabioRosado I would like to contribute to this issue. Any file that I can pick up?

[2019-11-19 13:45] jacobtomlinson commented on #532
At this point I would just have a look through files on master and see what doesn't have good docstrings.

[2019-11-19 15:10] #1259 closed

[2019-11-22 06:54] daniccan opened #1263 "Default message for unskilled Bot"
# Description
The Bot currently does not respond to messages that it is not skilled to answer. It would be good to have a default message/matcher set to the Bot so that it can respond with the default message if it is not skilled for that particular scenario.

An example default message would be,
`I’m sorry, but I don’t know that.` or `I’m sorry, but I don’t understand that.`

## Steps to Reproduc

[2019-11-22 06:56] daniccan commented on #1263
I was thinking of adding an optional configuration `default-bot-reply` which can be used as response of the Bot if there are no matches.

[2019-11-22 09:07] jacobtomlinson commented on #1263
Thanks for raising this. I would be happy to add functionality like this but we should be thoughtful about how we implement it.

Here are a few things to consider:
- Should this be a matcher, or a configuration option?
- If multiple skills are installed which should be giving the default response?
- ChatOps bots are often in group rooms where many people will be talking. We probably don't want the

[2019-11-22 09:28] Cadair opened #1264 "Add support for m.tombstone events in the matrix connector"
When a matrix room is upgraded a `m.tombstone` event is emitted, with a link to the upgraded room. The matrix connector should automatically follow this link and join the new room and continue as normal.

[2019-11-22 10:08] jacobtomlinson commented on #1264
What happens if a bot misses this event (restart, downtime, etc)? Is there a way it can also query a room on startup to see if it has been upgraded?

[2019-11-22 10:09] Cadair commented on #1264
Yeah, I meant to add that, it should in theory come down in the initial sync everytime the bot starts, so it should also check for that as well.

[2019-11-22 10:11] jacobtomlinson commented on #1264
Ok! Sounds good.

[2019-11-22 15:49] FabioRosado commented on #1263
I'm finding a problem when using opsdroid in a room full of people because opsdroid will trigger on every single message and spam the room. Perhaps this issue should be implemented together with #273?

So when opsdroid is indeed addressed to we should give a default message if we can't understand the message given.

I agree that we should give a list of potential replies to give the user, perhaps

[2019-11-22 16:50] jacobtomlinson commented on #1263
Agreed. I think we could implement it without #273 and just set the default to

[code]

which just disables it anyway. Then folks who know the bot will only ever be spoken to directly could configure it.

Then we could add #273 later as an extra feature which then makes it even better!

[2019-11-25 13:38] jacobtomlinson opened #1267 "Slack Blocks interactive button support"
It is currently not possible to take actions on button clicks within Slack Blocks (rich messages in Slack). We should add this.

## Slack Interactivity

_This section is probably useful for adding to the docs once we implement this._

When you click a button in a rich Slack message or use a message action (a [todo list app](https://slack.com/apps/A0NSTB8R3-todoist) may have an "add to list" action

[2019-11-25 14:16] jacobtomlinson commented on #634
Just came back to this issue. We should totally add a CLI argument to allow you to pass the path to a config file instead of automatically checking through the default ones.

I propose we add a `-f` flag to all cli arguments (I think we can just so this in the root group) and if it is set we don't check any of the default config locations at all and exit with an error if the path the user gives do

[2019-11-25 14:30] benjpalmer commented on #1240
Hey @FabioRosado,

I am new to opsdroid and just starting to dip my toes into open source. Something like this might satisfy your requirements:
`re.compile(r"^\"?\${?([A-Z-_]*)}?\"?$")`

Here are some examples:
![Screen Shot 2019-11-25 at 7 25 49 AM](https://user-images.githubusercontent.com/28970163/69548661-f88ed080-0f54-11ea-9b47-46648657d20c.png)

Is this issue available to work on? I would al

[2019-11-25 14:34] jacobtomlinson commented on #1240
Thanks for commenting @benjpalmer, that looks great (I think `$something` is a valid env var, just not a best practice style). Please feel free to pick this up.

Shout if you need any help, we are usually around in Matrix chat [over here](https://riot.im/app/#/room/#opsdroid-developers:matrix.org).

[2019-11-25 14:39] #884 closed

[2019-11-26 06:42] #1240 closed

[2019-11-26 09:42] daniccan commented on #982
Is anyone working on this? Can I pick it up? @himanshupathak21061998 @FabioRosado

[2019-11-26 10:01] jacobtomlinson commented on #982
Things seem quiet here. Please go ahead @daniccan.

[2019-11-26 10:22] himanshupathak21061998 commented on #982
Hey @daniccan I am working on this. @jacobtomlinson actually I was not familiar with snips nlu that's why I started learning now I am getting a bit understanding of it. Sorry for delay just give me some time to complete the pr

[2019-11-26 11:53] jacobtomlinson commented on #982
Ah ok sorry @himanshupathak21061998, you've just been silent on this for nearly a month.

Do you have an idea of when you'll get to this?

[2019-11-26 14:02] #1137 closed

[2019-11-26 14:20] himanshupathak21061998 commented on #982
Give me atmost 4 days by the time I will complete this.

[2019-11-27 09:36] #532 closed

[2019-11-27 15:27] #1207 closed

[2019-11-29 09:49] daniccan commented on #1267
@jacobtomlinson I would like to pick this up.

[2019-11-29 13:35] #1078 closed

[2019-12-02 09:59] Cadair opened #1283 "Add ability to specify configuration file"
It would be nice if you could do something like

[code]

to override the config on a run, by run basis.

[2019-12-02 10:41] jacobtomlinson commented on #1283
We are way ahead of you!

See #634 and #1271.

[2019-12-02 10:56] FabioRosado commented on #1283
On the PR that I’m working allows you to start opsdroid from a path but doesn’t overwrite the normal config. Should we add a new flag to do this? 🤔

[2019-12-02 11:54] jacobtomlinson commented on #1283
I think @Cadair means just use the config specified by the flag. Not replace their default config with that file.

[2019-12-02 15:24] FabioRosado commented on #1283
Ah got it I misunderstood the overwrite bit haha

[2019-12-02 21:15] Cadair commented on #1283
Closing as a dupe of #634

[2019-12-02 21:15] #1283 closed

[2019-12-02 21:16] Cadair commented on #593
Having just spent a good number of hours on a plane hacking on opsdroid, I can attest to this not being solved :grinning:

[2019-12-02 21:17] Cadair commented on #593
It seems there are at least 3 config tests which still try to git pull.

[2019-12-03 09:10] jacobtomlinson commented on #593
Sounds good.

[2019-12-04 09:06] #1267 closed

[2019-12-05 11:13] #244 closed

[2019-12-05 11:52] FabioRosado commented on #1188
With the implementation of #1212 this should now be fixed. I'm going to close this issue but please @gergelypolonkai  let us know if you encounter any issues 👍

[2019-12-05 11:52] #1188 closed

[2019-12-05 11:53] FabioRosado commented on #1186
Since #1212 added voluptuous and improved the schema I am going to close this issue 👍

[2019-12-05 11:53] #1186 closed

[2019-12-05 17:06] mr-nand commented on #1230
Hi.
I would love to work on this issue if it's still open and nobody is currently working on it?

[2019-12-05 17:45] Cadair commented on #1230
I have done some ground work for edits and threads in #1070, in that I added the Event types we could use to represent those subtypes.

For edits I have an [`EditedMessage`](https://github.com/opsdroid/opsdroid/pull/1070/files#diff-1119f556aa74c33d12583d03ced0b89cR273) event class, which the matrix connector can "send" (to have opsdroid edit one of it's own messages) https://github.com/opsdroid/op

[2019-12-05 17:52] Cadair opened #1293 "Document the specifics of how each connector interacts with events"
While we have tried to make the events framework generic and cross-connector there will be differences in interpretation and implementation of different events between connectors. (For example `UserRole` or `Reply`). We therefore should have an easy way for connector authors to document this, and also a nice concise way for users to see what events each connector supports and how they interpret th

[2019-12-06 10:53] daniccan commented on #1091
I would like to help with this. Where do I start?

[2019-12-06 13:34] jacobtomlinson commented on #1091
Thanks for the offer @daniccan. I think this may actually be done as of #1265.

You can find the new docs here https://docs.opsdroid.dev/en/latest/index.html.

If you are looking to contribute to the documentation I would really appreciate some help on #1198.

[2019-12-06 13:34] #1091 closed

[2019-12-06 13:35] jacobtomlinson commented on #1293
That would be awesome!

[2019-12-06 16:36] #852 closed

[2019-12-06 23:22] jcomeaux commented on #1198
an example of a rudimentary authorization technique would be fabulous! 😄

I've been following along with the docs on how to configure a skill, and am trying to graft in a very simple "get a list of admin users..." and use that list with `constrain_users` but am having a dickens of a time doing it

[2019-12-07 12:35] jacobtomlinson commented on #1198
Hmm I can see why you're having trouble @jcomeaux. Decorators are processed at import time, so by the time the `__init__()` method in the skill is called the skill has already been registered.

Hopefully if my understanding of pointers in Python is correct you should still be able to decorate the function during the init and opsdroid should act accordingly.

[code]

Perhaps you could give this a g

[2019-12-09 20:42] himanshupathak21061998 commented on #982
@jacobtomlinson I think we need to close this.

[2019-12-10 09:51] #982 closed

[2019-12-10 09:51] jacobtomlinson commented on #982
Yeah, it's a real shame!

[2019-12-14 15:40] kirilyer opened #1302 "The Slack Connector interaction handler fails on Overflow block elements"
# Description
When an [Overflow block element](https://api.slack.com/reference/block-kit/block-elements#overflow) is clicked in Slack, a `KeyError` is raised from the Slack Connector.

## Steps to Reproduce

1. Setup the Slack Connector.
2. Create a Skill that responds to a message with Blocks that contains an Overflow element:
[code]
3. And a Slack Interactions handler:
[code]
4. In Slack, send "

[2019-12-14 15:44] kirilyer commented on #1302
I would actually like to pick this up and fix it but i'm not sure how to handle the Multi-Select element - is saving all the selected item's values as a list under the "value" entity acceptable?

[2019-12-16 08:48] jacobtomlinson commented on #1302
Thanks so much for taking the time to raise such a thorough issue!

If you're happy to work on it that would be appreciated too. I think a list of items sounds great!

[2019-12-21 09:41] mouryachintalapati opened #1310 "Hello skill not working"
Hi,

I have setup opsdroid in windows 10

Versions:
Opsdroid 0.17.0
Python 3.8.1

Configuration.yaml:

[configuration.txt](https://github.com/opsdroid/opsdroid/files/3991251/configuration.txt)

Right after launching opsdroid with start command: when i type "hi" in the windows client seeing below error:

[code]

[2019-12-29 18:28] #1263 closed

[2020-01-03 13:41] #1302 closed

[2020-01-03 14:06] jacobtomlinson commented on #1310
Sorry for the delay in getting back to you! Looks like this is a bug and was missed in #1116.

[2020-01-03 14:16] #1310 closed

[2020-01-03 14:24] jacobtomlinson commented on #1310
This is now fixed in v0.17.1. Please upgrade your opsdroid.

[2020-01-07 11:12] Cadair opened #1333 "Add support for matrix homeserver URL lookup based on .well-known"
It is possible to determine the homeserver URL to connect to based on the full matrix username (mxid) by following the [Server Discovery](https://matrix.org/docs/spec/client_server/latest#server-discovery) section of the matrix specification. This would make it easier for people to configure the matrix connector, as they wouldn't have to specify the URL.

[2020-01-10 12:17] #634 closed

[2020-01-10 12:17] FabioRosado commented on #634
Closed  since we can now load a config from a path (#1271)

[2020-01-28 14:33] jacobtomlinson opened #1345 "Add get module convenience methods"
Sometimes it is helpful to be able to grab a connector, database, etc from within your skill.

You may wish to call `connector.send` on a specific connector, or use the `database.client` to directly interact with the database (just don't mess with the `opsdroid` table).

Currently you can access the lists of modules from the attributes `opsdroid.connectors`, `opsdroid.databases`, etc. However to g

[2020-01-28 14:37] Cadair commented on #1345
If it doesn't already work, we should allow the `connector=` kwarg to `Event` to be a string, which gets converted into the connector based on the name. This would let you do send easily by doing something like
[code]

[2020-01-28 14:48] jacobtomlinson commented on #1345
Ooh yes definitely!

[2020-01-30 08:57] quulah opened #1347 "Skill configuration issues"
# Description
I'm working on a skill which should have the ability to pull the room and connector from it's config. This issue is partly a feature request, and maybe bit of a bug report or at least the documentation may need some additions.

## Steps to Reproduce
Skill `__init__()`:
[code]

[code]

## Expected Functionality
The above should work and push the message from the cron trigger to #somet

[2020-01-30 09:02] quulah commented on #1347
For the image, it is indeed v0.17.1, so there might be something wrong with the image or the `opsdroid version` command. :)

[2020-01-30 09:14] FabioRosado commented on #1347
Hello @quulah  thank you for raising this issue.
I am going to just touch on the `CONFIG_SCHEMA` suggestion - I remember that when I touched the config validation, each module will try to look for this const and run the validation.  Got to be honest and say that didn't really try  validating skills, but it should work 🤔

For the rest I think we need to try and fix #1345 and should help you, perhap

[2020-01-30 09:18] jacobtomlinson commented on #1347
Let me unpack this a little as there are a few things to discuss.

## Bugs

This is because you are not constructing the `Message` object correctly. This is certainly our fault for having some out of date documentation somewhere, if you could point us to it I would appreciate it. As we kept fiddling with the interface to the event objects we switched everything over to kwargs to avoid future probl

[2020-01-30 10:37] quulah commented on #1347
Thanks for the Swift responses. I really appreciate it!

Sorry for smashing multiple things together. I was in a bit of a hurry and
wanted to get it all out of my head. :)

For the bugs, I'll do some more digging and get back to you. This may not
be until next week.

The configuration things: I meant that it could be nice to have a
`CONFIG_DEFAULTS` similarly to `CONFIG_SCHEMA` which would be auto

[2020-01-30 14:23] jacobtomlinson commented on #1347
It turns out it is actually possible to specify defaults in `CONFIG_SCHEMA`, we just aren't capturing them correctly at the moment. I've raised #1348 to resolve this.

I'll start a separate discussion issue around default rooms and connectors.

[2020-01-30 14:39] jacobtomlinson opened #1349 "Configure skill specific default connectors and targets"
Currently you can specify a default connector and default targets for Opsdroid to message in. If not specified the default connector is the first connector specified in your config and the default targets is a sensible default set by the connector.

Alternatively you can be explicit in your config:

[code]

In this config we are telling `slack` to be the default and changing the default target to

[2020-01-30 14:49] jacobtomlinson commented on #1349
Actually after re-reading this issue the code example could be simplified to this.

[code]

If `"default-connector"` or `"default-target"` is not set then they will be set to `None`, which internally will cause opsdroid to fall back to the system defaults.

Therefore I am tempted to say that the solution to this is trivial enough that we should not implement this, but perhaps just document this ex

[2020-01-30 14:59] Cadair commented on #1349
I think this needs #1345 to really make it that trivial.

[2020-01-30 15:13] quulah commented on #1347
I found the mistake in the docs for the crontab example and created #1350

I noticed that there's also the older non-kwargs `Message()`s being created in the tests.

For example:

https://github.com/opsdroid/opsdroid/blob/master/tests/test_parser_regex.py#L37

[2020-01-30 15:19] jacobtomlinson commented on #1349
The second example doesn't actually need that as you don't need to get the connector within the skill.

[2020-01-30 15:56] FabioRosado commented on #1349
I'm thinking about what Cadair mentioned in riot - will this not cause issues if we have 2 slack connectors? Perhaps we could also accept a name somehow?

[2020-01-30 16:06] Cadair commented on #1349
Won't doing this:
[code]
need the ability for `Event` to resolve that (presumably) string to an actual connector object?

[2020-01-30 16:14] jacobtomlinson commented on #1349
It does doesn't it? You wrote this...

https://github.com/opsdroid/opsdroid/blame/master/opsdroid/core.py#L526-L527

[2020-01-30 16:51] Cadair commented on #1349
:man_facepalming: well cool!

[2020-01-31 10:02] jacobtomlinson commented on #1349
I've raised #1353 to update the crontab documentation and add the trivial example from above.

My position is that we should not implement this in opsdroid itself and instead refer people to that documentation.

[2020-01-31 10:02] #1349 closed

[2020-02-04 19:22] TonyRoomZ opened #1354 "Telegram connector needs update for event message"
# Description
The telegram connector uses message.target['id'] instead of message.target.  This leads to problems when trying to use default_target per normal configuration and usage of the event flow logic.

## Steps to Reproduce
Setup telegram as the default connector... call the telegram connector.send with a target...
[code]
The default_target is also always None.
[code]
You can hack around it

[2020-02-06 18:28] #1354 closed

[2020-02-10 10:53] abhiky opened #1361 "opsdroid slack connector intermittently ends up in an exception"
# Description - opsdroid slack connector intermittently ends up in an exception

this doesnt happen for all users - but i see that line 146 in   File "/usr/local/lib/python3.7/site-packages/opsdroid/connector/slack/__init__.py" is the culprit.

[code]

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.

i am not sure if this can be reproduced elsew

[2020-02-10 11:10] jacobtomlinson commented on #1361
Thanks for raising this!

It looks like opsdroid is getting a message which does not have a user field. This is a little strange as I woudl expect all messages to have a user, perhaps some system messages do not or something.

We should catch this `KeyError`, skip parsing and log it.

If we also catch `KeyError` [here](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/__ini

[2020-02-14 09:13] #1361 closed

[2020-02-15 21:34] awesome-michael opened #1368 "Connection through pantalaimon is failing"
# Description
I tried to run Opsdroid v0.17.x from Docker-Hub through pantalaimon which worked before. But now Opsdroid keeps failing with following error:

[code]

[2020-02-15 21:36] FabioRosado commented on #1368
Thank you for raising this issue, could you show your config as well? I’m wondering if something broke when we moved to dicts

[2020-02-15 21:42] awesome-michael commented on #1368
sure.. my config looks like this:

[code]

[2020-02-16 17:37] awesome-michael commented on #1368
Sorry for bothering you with the problem. The error came from pantalaimon. Pantalaimon creates it's own device at the homeserver and uses his access_token for some requests. This device got deleted on the homeserver but pantalaimon still tried to use it's token for the sync request. Unfortunately it just proxies the error to the client so it seems the client has a wrong token but actually its pant

[2020-02-16 17:37] #1368 closed

[2020-02-17 08:26] daniccan commented on #1333
Anyone working on this? Can I pick this up?

[2020-02-17 09:23] FabioRosado commented on #1333
Hello @daniccan no one is working on this, would be great if you could help with the issue 👍

[2020-02-25 17:40] himanshu010 opened #1377 "Slack is imported more than one time"
# Description
Please include a summary of the issue.
Slack is imported more than one time in tests/test_connector_slack.py

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.
N/A

## Expected Functionality
Explain what should happen.
Import should happen only one time

## Experienced Functionality
Explain what happened instead(Please include the de

[2020-02-25 18:54] himanshupathak21061998 commented on #1264
Hey @Cadair I want to work on this issue can you please explain that I need to add extra event connector in this https://github.com/opsdroid/opsdroid/blob/7282a5da065cbe73212245f55b7cc4b3537ebd37/opsdroid/connector/matrix/events.py#L3  or anything else we have to do.

[2020-02-26 11:21] Cadair commented on #1264
There are a few components to this.

1) Emitting and sending tombstone events. This requires you to add an event class in `matrix/events.py` modify the event creator to emit that event as it comes down sync, and then write a handler on the connector to send a tombstone state event into the room.
2) Reacting to room upgrades. The real reason for tombstone events is almost always that the room has b

[2020-02-27 12:26] jerrykan commented on #1345
This would be a really useful feature. However is there a potential problem with just using the connector name as the key? What if there are multiple connectors of the same type?

Maybe there needs to be some sort of `id` associated with the connector configuration? ie:
[code]
It would then be used something like:
[code]

However, if we were willing to make a backward incompatible change, then cha

[2020-02-27 19:03] #1377 closed

[2020-02-28 13:30] jerrykan opened #1381 "Constraints don't apply to non-Message events"
# Description
It seems that constrains don't apply to non-Message events.

## Steps to Reproduce
[code]

## Expected Functionality
The `user_join()` skill method would only run if a user joined `room1`

## Experienced Functionality
The `user_join()` skill method is run when a user joins any room the connector is configured to join.

## Versions
- **Opsdroid version:** 7282a5da06
- **Python version

[2020-02-28 13:36] Cadair commented on #1381
Yep: https://github.com/opsdroid/opsdroid/blob/master/opsdroid/core.py#L494L497 should be an easy fix, and there is no good reason for it either.

[2020-02-28 15:28] luisbattle opened #1382 "not_allowed_token_type with slack integration"
[code]

----------

Any Idea ?

My slack configuration file:
  websocket:
    # optional
    bot-name: "mybot" # default "opsdroid"
    max-connections: 10 # default is 10 users can be connected at once
    connection-timeout: 10 # default 10 seconds before requested socket times out

  slack:
    # required
    token: "MY_TOKEN_HERE"
    # optional
    bot-name: "mybot" # default "opsdroid"
    d

[2020-02-28 16:05] Cadair commented on #1382
What are the first few characters of your token, so we can tell what type it is?

[2020-02-28 16:19] luisbattle commented on #1382
I am using Bot User OAuth Access Token that I created into SLACK:
xoxb-3651060682-XXXXXXXXXXXXXXXXXXXXXXXXX
is it OK?  or i should use other ?

Thanks in advanced

[2020-02-28 16:37] Cadair commented on #1382
I am going to have to defer to @jacobtomlinson who hopefully knows more about slack tokens

[2020-02-28 16:40] luisbattle commented on #1382
thanks @Cadair !!!

[2020-02-28 17:14] FabioRosado commented on #1382
From your log it seems that the bot doesn't have enough permissions:
[code]

Looks like you are missing the `users:read` scope and that might be the reason why the things failed. Could you check on slack if you can give these permissions to your bot? 🤔

[2020-02-28 17:33] luisbattle commented on #1382
@FabioRosado thanks for your response.
Add what you told me but the problem persist:

Opsdroid has a new configuration format since version 0.17.0, we will change your configuration now. Please read on how to migrate in the documentation.
Configuration param for witai has been deprecated in favor of 'token', please update your config.
Opsdroid has a new configuration format since version 0.17.0, w

[2020-02-28 17:48] FabioRosado commented on #1382
I haven't used slack in a while bu, could this issue related to this specific comment [python-slack-client #326)[https://github.com/slackapi/python-slackclient/issues/326#issuecomment-581613589]?

I'm assuming you have added the bot to the workspace as well right?

[2020-02-28 18:02] luisbattle commented on #1382
Yeaahh... I added to my workspace...
Reading the other issue something change into de slack API......

I will see if i can find the solution...
Thanks @FabioRosado

[2020-02-28 18:35] luisbattle commented on #1382
I don't understand I should change someting in opsdroid ?

[2020-02-29 18:27] FabioRosado commented on #1382
Think we need to see if the issue is the slack API and the changes they added or if it's from your end. I'll try to do some testing with my test slack bot config and see if I get the same error

[2020-03-01 02:01] luisbattle commented on #1382
@anxodio could you help me?

[2020-03-01 11:37] FabioRosado commented on #1382
I've created a new bot app and tested it in my end. Unfortunately, I can confirm that this issue is happening on my new bot as well. I'm assuming that the issue is due to slack changing their API and we might need up update the slack connector in order to make it working again 😬

[2020-03-01 15:57] FabioRosado commented on #1382
@Cadair  Has helped in our matrix channel and my thoughts that the connector was broken isn't true. The issue is that the new apps won't allow you to connect to RTM, but you can create [legacy apps](https://api.slack.com/apps?new_classic_app=1).

@luisbattle could you create a legacy/classic app by following [the link](https://api.slack.com/apps?new_classic_app=1) and the connector should work for

[2020-03-11 17:00] FabioRosado commented on #193
I was thinking to tackle this issue and have some idea of what could be done, but the more I look at it the more unsure I am if this is the right way to tackle the issue.

The idea is to add a `{connector}/health`  api call and also method on the connectors and then keep track of the code returned by the chat service - if it keeps returning 200 then its all good, if the previous call returned 200

[2020-03-12 09:38] Cadair opened #1395 "We should probably not be pinning a version of setuptools"
I am not entirely sure why we are pinning an exact version of setuptools, but it seems like a bad idea to me. Many linux distributions ship a specific version of setuptools and people might not want to update it, also if you are in a development environment it's very easy to end up in a situation where opsdroid wont start because of the incorrect version being installed.

i.e.:
[code]

I propose w

[2020-03-22 16:47] FabioRosado commented on #1395
It took me a while to  reply but I agree with you might be better to choose a minimum version for setup tools and accept any new versions. Not sure why we are pinning the versions but might be a way to try and keep the dependencies updated maybe 🤔

[2020-03-23 02:08] QidongS opened #1407 "Duplicated shell prompt"
# Description
When I run the hello skill from the shell, I found duplicated shell prompt output. I think there's some issue with the shell connector.

## Steps to Reproduce
[code]

## Expected Functionality
There should be only one prompt printed after the skill response.

## Experienced Functionality
One extra prompt is printed.

## Configuration File

[code]

[2020-03-24 17:50] #1407 closed

[2020-03-26 02:26] #1047 closed

[2020-04-03 12:31] igorfcardoso opened #1417 "Error Creating a custom connector to Microsoft Bot Framework"
Hi, I'm trying to add a custom connector to Microsoft Bot Framework following the "Creating a custom connector" from Opsdroid Docs guide. I'm trying to use the default code, overwriting just a few lines to test the behaviour from the code as follow:

On configuration.yaml:
[code]

On botframework.py:
[code]

No matter what changes I make on the botframework.py, the error is the same:

[code]
I'm u

[2020-04-07 11:51] jacobtomlinson commented on #1395
I'm going to close this as a duplicate of #651. I agree we should relax our package pinning.

@Cadair had some good points about moving our deps into `setup.cfg`. If this something you could pick up?

[2020-04-07 11:51] #1395 closed

[2020-04-07 11:53] jacobtomlinson commented on #1345
You cannot set a duplicate name. Opsdroid tries to autodetect which module you want based on the name. Setting the name to `matrix` will set the module property to `opsdroid.connector.matrix`. So for multiple matrix connectors you should set something like this.

[code]

[2020-04-07 12:02] jacobtomlinson commented on #1382
Given that we get a reasonable response `The server responded with: {'ok': False, 'error': 'not_allowed_token_type'}` we should catch that and log the link to the docs.

[2020-04-07 12:07] jacobtomlinson commented on #1417
Hmm looks like this docs may be out of date. The `__init__` method should look like this `def __init__(self, config, opsdroid)`.

See the base class for reference.

https://github.com/opsdroid/opsdroid/blob/76ccc9f7ce3c40a08e198247421a4a97a3f61332/opsdroid/connector/__init__.py#L40

[2020-04-07 12:23] igorfcardoso commented on #1417
Thanks Jacob.
[code]
Solved part of the problem.
The other problem I found is that:
[code]
Can't have opsdroid object on it. So like this:
[code]
And all worked! Thanks!

[2020-04-07 12:23] #1417 closed

[2020-04-07 12:32] Cadair commented on #1395
potentially, I will keep it in mind :smile:

[2020-04-07 12:47] jacobtomlinson opened #1422 "Automate releases"
As those of us who maintain opsdroid do it in our spare time we often work on it in bursts.

One of the things I find hardest is making releases. Writing up the release notes and the blog post takes a couple of hours and I just struggle to fit that in. Which means we often go a long time between releases.

Recently I've been finding it even harder to work on opsdroid, and so I propose we automate

[2020-04-07 13:20] Cadair commented on #1422
Sounds like it could work, how could we integrate better change descriptions into this process. For other projects I use towncrier, but I wonder if we can do it with Github?