[2016-07-23 20:31] jacobtomlinson opened #1 "Project aims"
This chatbot aspires to these aims:
- [x] Can connect to multiple messaging clients simultaneously
- [x] Multiple rule formats (regex, intents, etc)
- [x] Can use Natural Language Understanding (NLU) services
- [x] Plugins should be installed as python modules
- [x] Users should interact with the bot in natural language, not act like a CLI in a chat client
- [ ] Bots should maintain knowledge of c

[2016-07-27 13:01] jacobtomlinson opened #2 "Add tests"

[2016-07-27 13:01] jacobtomlinson opened #3 "Add coverage"

[2016-07-27 13:01] jacobtomlinson opened #4 "Add travis"

[2016-07-30 12:12] #4 closed

[2016-07-30 12:12] #3 closed

[2016-07-31 13:43] #2 closed

[2016-07-31 13:45] jacobtomlinson opened #5 "Sync memory to database"
When items are added to and retrieved from the memory they should be synced into a persistent database.

This requires a database module or two to be written and `opsdroid.memory.Memory` to be extended.

[2016-07-31 13:48] jacobtomlinson opened #6 "Connectors should fork"
When a connector is started it should fork into its own process. This is because connectors block to accept messages from their source.

This requires #5 to enable persistent memory between connector processes.

[2016-07-31 13:49] jacobtomlinson opened #7 "Manage logging properly"
When a function calls `subprocess.Popen()` the logging seems to reset to default and print to `stdout` and `stderror`.

This is probably because logging hasn't been configured properly. The `opsdroid` object should probably handle this as it is accessible almost everywhere.

[2016-08-03 21:44] #6 closed

[2016-08-03 21:44] #5 closed

[2016-08-06 08:30] #7 closed

[2016-08-06 08:30] jacobtomlinson commented on #7
Turned out to be `pip` and not `subprocess`.

[2016-08-06 09:04] jacobtomlinson opened #16 "Loader static methods"
There are some functions at the beginning of the loader file. These should be private static methods in the class.

[2016-08-06 09:06] jacobtomlinson opened #17 "Connector and Database base classes"
Connector and Database module classes should inherit from some kind of base class with required methods defined to raise not implemented errors.

This would also mean that instead of checking the class name when importing the modules we can instead check whether the class inherits from the base class.

[2016-08-06 09:23] jacobtomlinson opened #18 "Documentation and website"
As of [v0.2.0](https://github.com/opsdroid/opsdroid/releases/tag/v0.2.0) the core project has the main features implemented, which means it is ready for general consumption.

Therefore the following needs to be done:

 * Documentation
   - [x] Getting started
   - [x] Contributing to the core
   - [x] Creating connectors
   - [x] Creating database connectors
   - [x] Writing skills
 * Social media

[2016-08-06 09:26] jacobtomlinson opened #19 "Document official skills, connectors and databases"
All skills, connectors and databases under the [opsdroid](https://github.com/opsdroid) GitHub org should at least have a comprehensive README.

Would also be good to have tests.

[2016-08-06 09:31] jacobtomlinson commented on #18
Created [@opsdroid](https://twitter.com/opsdroid) on twitter.

[2016-08-06 17:01] jacobtomlinson opened #21 "Config locations"
Currently opsdroid looks for the `configuration.yaml` file in the current working directory. It should also look in `~/.opsdroid/configuration.yaml` and `/etc/opsdroid/configuration.yaml`.

[2016-08-07 21:38] #21 closed

[2016-08-09 14:52] jacobtomlinson opened #24 "Skill setup should be optional"
You might not want to have a setup function in your skill.

[2016-08-10 08:34] jacobtomlinson opened #26 "Cron skill decorator"
It should be possible to decorate a skill with a cron method, which causes the skill to run at specific time intervals.

[2016-08-11 15:05] #24 closed

[2016-08-12 12:50] jacobtomlinson opened #27 "Regex case sensitive"
The regex match is currently case insensitive. It shouldn't be.

https://github.com/opsdroid/opsdroid/blob/master/opsdroid/helper.py#L30

[2016-08-12 13:48] #27 closed

[2016-08-12 13:51] jacobtomlinson opened #29 "Copy message on respond"
When a message responds it updates it's `text` value and passes itself to the connector.  Due to pointers in Python the next rule to parse the message goes on to parse the response text.

The message respond method should create a shallow copy of itself to pass to the connector, instead of updating itself directly.

[2016-08-12 14:32] #29 closed

[2016-08-15 09:05] jacobtomlinson commented on #26
This may be useful https://github.com/dbader/schedule

[2016-08-19 10:10] #17 closed

[2016-08-19 10:12] jacobtomlinson opened #33 "Check for base classes instead of name when importing connectors and databases"
Currently you must give your connector or database class a specific name for them to be imported.

Now that these classes should inherit from the base classes we can test for `isinstance(baseclass)` instead.

[2016-08-24 14:56] jacobtomlinson opened #39 "Generate default config"
It should be possible to generate some basic config with a command line flag to opsdroid. It should cause opsdroid to print out the config so that is can be piped into a file.

e.g
[code]

[2016-08-26 10:35] #39 closed

[2016-08-26 10:37] jacobtomlinson commented on #19
Done!

[2016-08-26 10:37] #19 closed

[2016-08-26 10:46] jacobtomlinson commented on #18
opsdroid/opsdroid.github.io#1

[2016-08-26 13:34] #16 closed

[2016-08-26 15:17] #18 closed

[2016-08-26 15:18] jacobtomlinson opened #44 "Improve module installation"
- [ ] Allow for updating or reinstalling of modules
- [ ] Test if url or ssh path exists before installing
- [ ] Handle GitHub authentication

[2016-08-31 14:09] jacobtomlinson opened #45 "Install modules locally"
Currently modules are installed using git. Therefore when developing a module all changes must be committed before it can be installed, even if installing from a local git repository.

It should be possible to pass in a path instead of a git repository and for that to be used instead.

[2016-09-02 12:48] jacobtomlinson opened #48 "Default connector and default room"
When writing a skill which originates from something other than a message (e.g cron #26) the response may need to know which room to post into.

Most chat clients have a default room, like `#general` in Slack. This could be available as a property in the connector so that skills can easily access it.

e.g

[code]

It should also be possible to override the default room in the connector config.

[c

[2016-09-02 15:04] jacobtomlinson opened #49 "Queue messages"
Messages should be sent via multiprocessing queues.

Currently messages are responded to by calling the respond method on them, which in turn calls the respond method on the connector that message came from. However that means messages can only respond via their own connector.

Instead of directly sending messages back to their connector they could be put in a queue which is accessible to all thre

[2016-09-09 10:13] jacobtomlinson opened #50 "Switch from Multiprocessing to Threading"
**Multiprocessing** allows the application to take advantage of multiple cores, however it means that each process has a separate memory namespace.

**Threading** allows multiple code threads to be running at once, sharing a single cpu resource. These threads are in the same memory namespace and can therefore interact more freely.

As opsdroid should not be doing any heavy computation it would sim

[2016-09-09 11:04] jacobtomlinson commented on #50
![slack for ios upload-3](https://cloud.githubusercontent.com/assets/1610850/18384963/94ce5f9a-7685-11e6-84cd-5cb6238d37c9.jpg)

[2016-10-11 08:09] jacobtomlinson commented on #50
Home Assistant has switched to [asyncio](https://docs.python.org/3.4/library/asyncio.html) since this was raised. Perhaps it is worth going that way instead.

[2016-11-14 17:22] #50 closed

[2016-11-14 17:22] #49 closed

[2016-11-17 09:38] jacobtomlinson commented on #48
It would also be good to have a default connector. This could either be the first specified or the one tagged with `default: true` (or the first one tagged in case of error).

This could be accessed like:

[code]

[2016-12-19 14:55] #48 closed

[2016-12-19 14:55] jacobtomlinson commented on #26
Requires #48

[2016-12-21 14:22] jacobtomlinson commented on #26
Done in #60

[2016-12-21 14:22] #26 closed

[2016-12-23 10:35] jacobtomlinson opened #64 "Specify module install directory"
Currently modules are installed to a `modules` directory in the current working directory. This is fine when being run in a container as you definitely have write access to the `WORKDIR` within the container. However this could cause problems if installed without docker.

A config option should be added to specify where modules should be installed, this should also be added to the python path with

[2016-12-23 10:41] jacobtomlinson opened #65 "Thinking delay and typing delay"
Configuration options should be added to allow users to set delays for responses. This would allow a bot to appear more human.

#### Thinking delay

This delay would be added to every message and would simulate a user thinking about what to respond. This option should take the delay seconds as an integer or an array of two integers to determine the delay or the range for random delays respectively

[2016-12-23 10:43] jacobtomlinson opened #66 "Add "user is typing" support"
For chat services which support displaying a "user is typing" message there should be a method available on the base connector class for triggering this.

This would be particularly useful when implemented with a typing delay (#65).

[2016-12-23 11:26] jacobtomlinson opened #67 "Don't await parsing messages"
Messages parsed in `opsdroid.parse()` should be added to the event loop as a task instead of being awaited. When the jobs are awaited it blocks `opsdroid.parse()` which in turn blocks the `Connector.receive()` method causing messages to stack up or be missed.

[2016-12-24 07:42] jacobtomlinson opened #68 "Enable/Disable parsers on a skill by skill basis"
Skills may be written with multiple parsers. Particularly when using an advances parser like api.ai, not all users will want to use this service so it is likely a regex fallback will be provided.

However this means for users who do enable api.ai this skill could potentially be called twice if the regex and api.ai both match.

It could be useful to enable/disable parsers on a skill by skill basis

[2016-12-24 08:29] #67 closed

[2016-12-24 08:33] jacobtomlinson opened #70 "Change skill module imports"
Currently when importing a skill opsdroid is looking for a file with the same name as the skill within the skill directory.

This should be changed so it just looks for the skill directory. This would allow a skill to be either a directory containing an `__init__.py` file or a simple python file.

Old structure

[code]

New structure

[code]

[2016-12-26 22:10] jacobtomlinson opened #72 "Change logging settings"
By default opsdroid should log to `stdout`/`stderror`. There should be configuration options to specify logging to a file.

Documentation for the [shell connector](https://github.com/opsdroid/connector-shell) should also be updated to recommend setting log to file to avoid issues when using the connector.

[2016-12-26 22:14] #70 closed

[2016-12-26 22:14] #45 closed

[2016-12-26 22:14] #64 closed

[2017-01-04 15:36] jacobtomlinson opened #73 "aiohttp missing from requirements"
[code]

[2017-01-04 16:12] #73 closed

[2017-01-04 16:12] jacobtomlinson commented on #73
Fixed in #74

[2017-01-04 16:25] jacobtomlinson opened #75 "Config in ~/.opsdroid/configuration.yaml doesn't load"
When storing the config file in `~/.opsdroid/configuration.yaml` you still get an error.

[2017-01-04 16:26] jacobtomlinson opened #76 "Missing configuration file error too verbose"
[code]

[2017-01-05 09:57] jacobtomlinson opened #77 "Change module configuration layout"
As suggested by @tpowellmeto `connectors`/`databases`/`skills` are all lists of modules. Therefore they should probably be a list in the configuration rather than a dictionary.

This makes empty module configurations easier to read as they are not empty key/value pairs.

Before

[code]

After
[code]

[2017-01-05 10:00] jacobtomlinson commented on #77
This should potentially apply to parsers too as that is a list of things. However parsers are builtin to the core and are less custom.

[2017-01-06 12:00] jacobtomlinson opened #78 "Change default modules directory"
Currently the default modules directory location is `./modules`.

This makes a few assumptions:
* Current directory is in the python path
* There are no other python modules in the current directory
* There are no other modules named `modules`
* Current directory is writable

A better default location may be `~/.opsdroid/modules/opsdroid-modules`. This would be created if it doesn't exist and `~/.

[2017-01-06 12:10] jacobtomlinson opened #79 "Rename skills submodule"
When writing a skill you need to import a match function to decorate your function with.

[code]

This could potentially be confusing as the function you're importing isn't a skill, its a helper function for creating skills.

It should probably be renamed to one of the following:
* `opsdroid.matchers`
* `opsdroid.match`
* `opsdroid.skill-helpers`
* `opsdroid.skill-decorators`
* `opsdroid.triggers`

[2017-01-31 17:11] #77 closed

[2017-01-31 17:13] jacobtomlinson opened #84 "Add ability to disable regex parser"
You may not want the regex parser to be enabled.

[2017-01-31 17:24] jacobtomlinson opened #85 "NameError when exiting with ctrl+c"
[code]

[2017-01-31 18:37] jacobtomlinson opened #90 "Add webhook parser"
It should be possible to trigger skills via a webhook. This could be implemented as a matcher and parser to allow users to directly decorate their skills to be called by a webhook.

To implement the RESTful API [Flask](http://flask.pocoo.org/) could be incorporated into opsdroid and run at startup.

An example skill could look like

Skill
[code]
Config

[code]

This skill could then be triggered w

[2017-01-31 18:40] jacobtomlinson opened #91 "Add debug telemetry data"
It would be useful for opsdroid to track some statistics such as messages parsed, average response time, etc.

This could be written to a text file periodically or even published via a web page like the [nginx status page](http://nginx.org/en/docs/http/ngx_http_status_module.html). A web status page would require #90 to implement Flask.

[2017-01-31 18:44] #76 closed

[2017-01-31 18:44] #75 closed

[2017-01-31 18:44] jacobtomlinson commented on #84
Related to #68

[2017-01-31 18:48] jacobtomlinson opened #92 "Check skills for required opsdroid version"
It should be possible in opsdroid skills, connectors and databases to specify a minimum version of opsdroid required to run them. Then when opsdroid starts it can check to ensure it is able to support all modules specified. If not it can skip loading them and log a warning.

[2017-01-31 18:51] #79 closed

[2017-02-05 12:35] jacobtomlinson commented on #91
Closed by #96

[2017-02-05 12:35] #91 closed

[2017-02-05 12:35] jacobtomlinson commented on #90
Closed by #96

[2017-02-05 12:35] #90 closed

[2017-02-05 12:36] jacobtomlinson commented on #85
The issue was specific to Python 3.5.1. Updating to 3.6.0 resolved this.

[2017-02-05 12:36] #85 closed

[2017-02-15 13:49] jacobtomlinson opened #102 "Dependancy hell in modules"
When installing modules the dependancies can conflict with the main project deps. This seems to work fine on first run but if you then restart the application it fails due to incorrect deps.

[2017-02-15 13:49] jacobtomlinson opened #103 "Add average response time stat"
Average response time should be recorded and added to the stats page.

[2017-02-15 13:49] #72 closed

[2017-02-15 13:52] jacobtomlinson commented on #72
Done in #93

[2017-02-15 13:55] jacobtomlinson opened #104 "Change config reference"
Config reference sections should be headers to make them readable in readthedocs.

http://opsdroid.readthedocs.io/en/dev/configuration-reference/#reference

[2017-02-15 16:30] jacobtomlinson opened #106 "Should mutation tests be added?"
It could be interesting to add mutation tests.

Had a quick go with [cosmic-ray](https://github.com/sixty-north/cosmic-ray) but it doesn't play well with `asynctest`.

[2017-02-15 17:00] #103 closed

[2017-02-16 10:12] jacobtomlinson opened #110 "Automate version number"
Current the version number is hard coded in the opsdroid/const.py file which causes problems if it is accidentally not updated as in v0.7.0.

This should be set automatically at runtime either from the previous production build or from the current working repository.

[2017-03-18 16:08] jacobtomlinson opened #115 "Error when logging not specified in config"
[code]

[2017-03-23 09:15] jacobtomlinson opened #119 "Specify requirements in a constant"
It would be nice for skills to be able to specify their requirements in a constant as well as in a `requirements.txt` file.

[2017-03-23 09:17] jacobtomlinson opened #120 "Gather all requirements before installing"
Currently when installing modules each set of requirements is individually pip installed. It would be better to gather all requirements (including core opsdroid requirements) and do a single pip install. That way any collisions will be detected and potentially handled by pip, or errored on.

[2017-03-23 09:19] jacobtomlinson opened #121 "Add metadata constants to skills"
Skill developers should be able to write a couple of string constants describing their skill and it's usage, these should be stored somewhere in opsdroid when the modules are loaded. An official "help" skill should also be created to allow users to access these constants.

[2017-03-23 09:22] jacobtomlinson opened #122 "Handle audio data"
In order to support parsers such as [AWS Lex](https://aws.amazon.com/lex/) fully opsdroid should be able to handle audio input as well as text input.

This will require connectors which support audio capture to handle this data too.

Once way would be to rename `opsdroid.parse` to `opsdroid.parse_text` and add a `opsdroid.parse_audio` too. The [websocket connector](https://github.com/opsdroid/conn

[2017-03-23 21:26] jacobtomlinson commented on #115
Turns out this was because I had a different config file with the old logging syntax.

[2017-03-23 21:26] #115 closed

[2017-03-23 21:27] jacobtomlinson opened #124 "Web configurator"
Maybe opsdroid should be able to be configured using a web UI instead of hacking yaml directly.

[2017-03-23 21:28] jacobtomlinson opened #125 "Built in web chat tester"
A built in browser based chat connector may be better for testing than the shell connector.

[2017-03-24 22:23] jacobtomlinson opened #127 "Generate default config automatically"
Instead of running `opsdroid --gen-config` and piping the output into a file opsdroid should simply check for the existence of a config file and if it can't find one it should create one in `~/.opsdroid` using the default config file.

[2017-03-26 08:11] jacobtomlinson opened #129 "Skills folder"
It might be good to have a directory where users can drop single file Python skills which will be loaded without updating the configuration.

Perhaps somewhere like `~/.opsdroid/custom-skills`.

This would require #119 for dependency installation.

[2017-03-31 11:56] jacobtomlinson opened #132 "API.AI Error when network is disconnected"
The following error should be caught and warned about cleanly.

[code]

[2017-05-03 19:29] jacobtomlinson opened #141 "Make crontab parser timezone aware"
The crontab matcher should take a timezone as a kwarg. It should also be possible to set a global timezone in the config. Default should be UTC.

[2017-05-05 20:11] #141 closed

[2017-05-31 07:42] jacobtomlinson commented on #125
Dropped in favour of [opsdroid desktop](https://github.com/opsdroid/opsdroid-desktop)

[2017-05-31 07:42] #125 closed

[2017-05-31 13:30] jacobtomlinson opened #154 "Only run one skill per message"
Currently all matching skills will be executed when a message is parsed. This will add complications when dealing with context. Therefore it would be better to just run one skill.

Requires #155

[2017-05-31 13:31] jacobtomlinson opened #155 "Rank matching skills on parse"
When matching skills each one should be given a score. This could be based on the certainty returned from an NLU API or based on the amount of matching context.

[2017-05-31 13:34] jacobtomlinson opened #156 "Add context"
Skills should be able to persist data to give the conversation "context". This can be built on top of the memory functionality.

Skills should be able to persist key-value pairs in "user", "session" and "current" context namespaces. Skills should also be able to match or filter based on the current context.

Requires #154.

[2017-05-31 14:14] jacobtomlinson opened #157 "Reload skills"
It should be possible for opsdroid to flush out all the loaded skills and other modules and reload them without restarting the application.

[2017-05-31 14:16] jacobtomlinson opened #158 "Reload skill on file change"
If a skill has been included via the `path` option it would be possible to watch for file changes and reload the skill.

This would simplify development as you would not need to restart opsdroid on code changes.

Rewquires #157

[2017-05-31 14:17] jacobtomlinson opened #159 "Update skills hook"
It would be nice to be able to update all skills by talking to the bot itself. This would require a hook to update all skill repos and then reload the skills.

Requires #157

[2017-05-31 14:23] jacobtomlinson opened #160 "Package as standalone application"
It may be good to distribute this as a standalone application. It would require packaging using something like pyinstaller for different target platforms and architectures.

[2017-05-31 20:21] jacobtomlinson opened #162 "Module path is not expanded"
If the module path is set in the config to something like `~/.opsdroid/modules` it created a directory in the CWD called `~`.

The path should be expanded automatically.

[2017-05-31 20:21] jacobtomlinson commented on #162
Related to #78.

[2017-05-31 21:48] #78 closed

[2017-05-31 21:49] #162 closed

[2017-06-02 13:46] jacobtomlinson commented on #160
This will also require packaging a standalone pip for use when installing modules.

[2017-06-02 13:47] jacobtomlinson commented on #157
The web server must be stopped first and started again after as some skills will be webhooks.

[2017-06-06 15:41] #127 closed

[2017-06-06 16:42] jacobtomlinson opened #166 "Module specific site-packages"
It could be good for modules to install their dependancies in a specific `site-packages` directory which is only added to the path when it is time to import the modules.

A good place could be `~/.opsdroid/site-packages`.

[2017-06-06 16:43] jacobtomlinson commented on #119
This may add more complication than it's worth.

[2017-06-06 16:43] #119 closed

[2017-06-06 16:50] jacobtomlinson commented on #124
This could be handled through the API to allow modification from [opsdroid-desktop](github.com/opsdroid/opsdroid-desktop)

[2017-06-06 18:03] #166 closed

[2017-06-06 18:07] jacobtomlinson opened #168 "arrow dep missing"
Fresh install of ubuntu 16.04

[code]

[2017-06-06 18:13] #168 closed

[2017-06-06 18:22] jacobtomlinson opened #171 "Add `web` to example config"
Add the [web config](http://opsdroid.readthedocs.io/en/latest/configuration-reference/#web) to the [example config file](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/configuration/example_configuration.yaml).

[2017-06-06 18:32] jacobtomlinson opened #172 "Bug when installing module requirements with pip 8.1.1"
[code]

[2017-06-06 18:47] jacobtomlinson commented on #172
Easiest solution is to upgrade pip

`pip install --upgrade pip`

[2017-06-06 19:38] jacobtomlinson commented on #171
README would need updating too.

[2017-06-06 19:44] jacobtomlinson opened #174 "Change default log location"
Logs by default are written to `./opsdroid.log`. So they end up being written wherever you run the command.

Logs should either be written to `/var/log/opsdroid.log` or as that may not be writeable by all users maybe `~/.opsdroid/opsdroid.log`.

[2017-06-07 20:08] jacobtomlinson opened #178 "Cannot use ~ in module paths"
Modules specified in the configuration with a path that includes the `~` character do not import. This character needs to be expanded.

[2017-06-08 13:00] #157 closed

[2017-06-11 07:22] #178 closed

[2017-06-11 07:24] jacobtomlinson commented on #106
Probably a step too far for now.

[2017-06-11 07:24] #106 closed

[2017-06-13 07:22] jacobtomlinson opened #181 "Add ssl to the web server"
It should be possible to enable ssl on the web server and pass in paths to the ssl keys in the config.

[2017-06-13 08:26] #181 closed

[2017-06-13 18:43] jacobtomlinson commented on #159
The methods were implemented in #179. A skill for developers should probably be added that uses the methods.

[2017-06-13 19:01] jacobtomlinson commented on #160
With #167 hugely cleaning up the installation of module dependancies it leaves the main install as being pretty straight forward. As long as python 3.5+ is available (the default in ubuntu 16.04) and opsdroid is installed with `pip3` then it doesn't matter if the `pip` command on the path uses python 2.7 underneath.

Therefore it's probably not necessary to package opsdroid as a standalone.

[2017-06-13 19:01] #160 closed

[2017-06-13 19:01] #174 closed

[2017-06-13 20:10] #132 closed

[2017-06-13 20:41] jacobtomlinson opened #185 "Merge connectors and databases into the main project"
One solution for handling versioning the connector and database modules would be to merge them into the main project.

## Pros
* Modules will be updated inline with opsdroid
* Reduce complexity of the loader
* Combined documentation

## Cons
* Reduce flexibility of third-party modules
* Complex testing or testing exceptions
* More dependancies for the main project

[2017-06-14 12:46] jacobtomlinson opened #186 "Add case-insensitive kwarg to the regex matcher"
It would be nice to specify case insensitive matching in the regex matcher.

e.g
[code]

[2017-06-17 08:51] jacobtomlinson commented on #171
Done example config file in #190

[2017-06-17 08:54] jacobtomlinson opened #191 "YouTube getting started series"
Create a Getting Started video series on YouTube.

### Prerequisites
- [x] Create YouTube channel
- [x] Add link in documentation (#192)
- [x] Promote on Twitter

### Series

- [ ] Installation
  - [x] Ubuntu https://www.youtube.com/watch?v=7wyIi_cpodE
  - [ ] macOS
- [x] Configuration
- [x] Writing a simple skill
- [ ] Connecting to Facebook Messenger
- [ ] Databases
- [ ] Advanced skills (cronta

[2017-07-18 09:23] jacobtomlinson opened #193 "Add health endpoint"
In order for opsdroid to be scheduled by an orchestration service like Kubernetes it needs a health check endpoint. Using `/stats` is a good start, however it would be better to have a dedicated health endpoint and an api for connectors to mark themselves as unhealthy.

This could be implemented as a property in the base Connector class which can be implemented to check whether the connector is ab

[2017-07-20 10:16] jacobtomlinson opened #194 "Allow usage of env vars in config"
The configuration should be parsed for environment variables when loaded. This would allow for secrets like api keys to be kept outside of the opsdroid configuration.

#### Example

[code]
In this example `$SLACK_API_KEY` would be replaced with the contents of the environment variable of the same name.

[2017-07-29 08:22] jacobtomlinson opened #195 "Allow sending images via connectors"
It should be possible to send images to chat services which support that. The base `Connector` class should have some kind of `send_image` method. It's default behavior can be to respond with an error saying it is not supported.

The `Message` object should have a wrapper method similar to `respond`, perhaps called `respond_with_image`.

[2017-08-18 09:29] jacobtomlinson commented on #193
Perhaps a prometheus compatible endpoint.

[2017-08-18 09:39] jacobtomlinson commented on #159
Added [devtools skill](https://github.com/opsdroid/skill-devtools).

[2017-08-18 09:39] #159 closed

[2017-08-18 09:41] jacobtomlinson opened #196 "Generate linux installers"
It would be great to automatically generate `.deb`, `.rpm`, etc.

[2017-08-20 14:49] JaniKarh opened #197 "Choosing SSL over TLS on web.py submodule, any particular reason?"
Since this is my first contribution to this project, I cannot help but say: Awesome! This has so much potential to grow and be used as a basis in multitude of bot apps / channels.

After reading the codebase, a few questions come in to my mind. Let's start with a simple one :)
 (sorry for the long intro)

In the `web.py`submodule, the *sslcontext* is set as so:
`sslcontext = ssl.SSLContext(ssl.PRO

[2017-08-20 21:11] jacobtomlinson commented on #197
Thanks for your kind words!

No reason at all, I confess it's probably just me copying and pasting from the docs/stack overflow and not checking thoroughly. I would definitely appreciate a PR to fix this.

[2017-08-30 13:11] #197 closed

[2017-08-30 13:16] #186 closed

[2017-09-06 07:53] FabioRosado opened #214 "Create script to update automatically the config file with new skills"
- Create a scripts directory in the root of the project.

- If a new skill is added, call the script (located in the scripts directory) in the Makefile and update the example_configuration.yaml automatically.

[2017-09-06 08:11] jacobtomlinson opened #215 "Log some getting started guidance on first run"
If a users starts opsdroid for the first time they will get a [default config file created](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/loader.py#L109) for them.

At the same time it might be nice to log some getting started information. Perhaps a pointer on how to install opsdroid desktop and a link to the getting started videos or the config reference.

[2017-09-06 11:45] FabioRosado commented on #215
Would you like this to be added in the **main** and to be logged every time opsdroid is started or only when a default config file is created?

[2017-09-09 12:01] gabeduke opened #219 "Better error handling for bad config path in docker container"
When passing a bad config location to Docker container the error returned should be more descriptive:

[2017-09-13 07:02] FabioRosado opened #223 "'UrlDispatcher' object has no attribute 'add_get'"
When trying the slack connector I get the following error when running opsdroid.

[code]
[Link to web.py ](https://github.com/opsdroid/opsdroid/blob/b67d32310da842dddddb9b907f731a03d0562a2f/opsdroid/web.py#L26)

[2017-09-13 07:06] FabioRosado commented on #223
Apparently, my aiohttp rolled back to an older version for some reason.
After updating all is fine!

[2017-09-13 07:06] #223 closed

[2017-09-13 13:38] jacobtomlinson opened #224 "Connector disconnect method"
When opsdroid is exiting it should call a `disconnect` method on each connector. This would allow connectors to clean up before the application exits.

 - [x] Implement dummy method in the `BaseConnector`
 - [x] Call the method on each connector at exit

[2017-09-13 16:40] jacobtomlinson commented on #219
Thanks for raising this.

[2017-09-13 17:20] jacobtomlinson commented on #219
I think this is actually an issue with the websocket connector.

opsdroid/connector-websocket#1

[2017-09-13 17:35] jacobtomlinson commented on #219
Actually after disabling the websocket connector I'm still getting the message so it's not that.

[2017-09-13 21:51] #194 closed

[2017-09-16 18:32] FabioRosado opened #227 "Skills being parsed with the same name and path as last installed skill"
The key "config" from the skills dictionary is getting the name, path, module_path, install patch and other attributes (such as no-cache: True) from the last installed skill.
This happens for every single skill, so when we do **help skills** the only skill shown is the latest installed skill.

[code]

### Tests Done:

- Noticed devtools **help skills** getting wrong value on my mac after opsdroid

[2017-09-18 11:31] jacobtomlinson commented on #227
This could be an assignment issue where a set of pointers are being overwritten.

Could you try changing [this line](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/loader.py#L236) from

[code]

to

[code]

and also adding this import to the file

[code]

[2017-09-18 12:21] jacobtomlinson commented on #227
Ok I've tried that and it didn't work. I think the issue is around the way that matchers pair the config with the functions.

You are seeing differences because in some places you are logging the skill modules, and in others you're logging the skill functions. Frustratingly they are both lists names `skills` so I see why you did that.

In the `core.py` in `start_loop` if you log `skills` and `self

[2017-09-18 12:23] jacobtomlinson commented on #227
If you look [here](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/loader.py#L231) you can see that `loader.current_import_config` is being set to the config of the current module being imported. Then it calls `import_module` which should refer back to the `current_import_config` for the value. However it must not be running in the order I imagined.

[2017-09-20 13:20] jacobtomlinson commented on #227
Changing `_reload_module` in `loader.py` to look something like this should fix the issue.

[code]

[2017-09-20 14:18] jacobtomlinson commented on #227
This bug caused skills to get the wrong config and therefore not function correctly. This has now been resolved in #228.

[2017-09-20 14:18] #227 closed

[2017-09-27 22:21] gtseres opened #232 "[Docker] DEFAULT_ROOT_PATH should be created if it does not exist"
I have tried to run opsdroid in a Docker container, in the following environment:

[code]

The process I followed is the following:

1. `docker pull opsdroid/opsdroid:latest`
2. Created an initial configuration in the host: `/var/tmp/configuration.yaml`
3. Ran the following command: ` docker run --rm -v /var/tmp/configuration.yaml:/etc/opsdroid/configuration.yaml:ro opsdroid/opsdroid:latest`

The

[2017-09-27 22:40] gtseres opened #234 "Add test execution for Docker in Travis config file"
There were a couple of issues that came up when running opsdroid in a container ( #232  , #219 ), so it would be a good idea to add some Docker related testing into the `.travis.yml` file. This way, we can make sure that the unit tests are executed in the container offering of opsdroid as well.

[2017-09-27 22:40] gtseres commented on #234
I can look into this, please let me know if any suggestions / concerns.

[2017-09-29 10:37] #232 closed

[2017-09-29 12:13] #215 closed

[2017-09-29 20:36] jacobtomlinson opened #236 "KeyError: 'welcome-message' on run"
If `welcome-message` is not specified in the configuration at all then opsdroid fails to start.

This error needs to be caught in a try/except.

[code]

[2017-09-29 20:36] jacobtomlinson commented on #236
@FabioRosado

[2017-09-29 20:55] jacobtomlinson opened #237 "test issue, please ignore"
This issue is for testing some opsdroid skills. Please ignore.

[2017-09-30 02:05] FabioRosado commented on #236
I should had thought about that!

[2017-09-30 03:58] accessdenied12 commented on #236
@jacobtomlinson - Wouldn't it be easier to just use an if/in?  I have this ready to submit.  Or I can do a try/except.  Would you like the except to just pass?

[2017-09-30 08:38] jacobtomlinson commented on #237
hi

[2017-09-30 08:40] jacobtomlinson opened #240 "another test issue"
does this count as a comment?

[2017-09-30 08:40] #240 closed

[2017-09-30 08:40] jacobtomlinson commented on #240
No it doesn't

[2017-09-30 09:18] jacobtomlinson commented on #237
hi

[2017-09-30 09:19] jacobtomlinson opened #241 "another test"
hi

[2017-09-30 09:19] #241 closed

[2017-09-30 09:20] jacobtomlinson opened #242 "another test again"
hi

[2017-09-30 09:21] #242 closed

[2017-09-30 09:21] jacobtomlinson commented on #237
hi

[2017-09-30 17:55] gabeduke opened #244 "Add --load-config flag"
Need a flag for installing local skill dependencies when running a dockerized app. Should call the install new requirements.txt from skills loaded by `path` without running the bot

[2017-09-30 18:52] jacobtomlinson commented on #244
This flag basically needs to tell opsdroid to exit after running the [load method](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/__main__.py#L121).

This would allow you to install all modules and their dependancies without running opsdroid itself.

[2017-09-30 18:56] jacobtomlinson commented on #236
Fixed in #239

[2017-09-30 18:56] #236 closed

[2017-09-30 19:36] jacobtomlinson commented on #237
hi

[2017-09-30 19:37] #237 closed

[2017-09-30 19:55] gtseres opened #246 "New Docker image should be built on every merge"
Having a look at [DockerHub](https://hub.docker.com/r/opsdroid/opsdroid/builds/) or inspecting the latest Docker image after pulling it, it seems that it has been created on the 20th of September (10 days ago). This means that the latest image does not contain any fixes that have been made to opsdroid after that date.

We could automatically build a new `opsdroid:latest` Docker image when a pull r

[2017-09-30 20:06] gtseres commented on #65
Should this be added as a section in the configuration file? Maybe a `customizing` section, or something like that?

[2017-09-30 20:17] gtseres opened #247 "SIGINT (Ctrl+C) should be handled by opsdroid"
When executing opsdroid in Ubuntu or in a Docker container, the following message appears:
`(Press CTRL+C to quit)`

When hitting `Ctrl+C` though, the following traceback is produced:

[code]

This should be handled, so that opsdroid can exit gracefully without producing any tracebacks.

[2017-09-30 21:16] jacobtomlinson commented on #247
I definitely agree. I had a look into this before and I think it's a bug in asyncio itself which is fixed in python 3.6. Perhaps it's worth moving the docker image onto 3.6.

[2017-09-30 21:17] gtseres opened #248 "Update skills.md to reflect the changes in adding new skills"
After going through the [`skills.md`](https://github.com/opsdroid/opsdroid/blob/master/docs/extending/skills.md) documentation file and comparing it with a sample skill ([skill-hello](https://github.com/opsdroid/skill-google-it/blob/master/__init__.py)), there is a couple of things that may be outdated:
1. `__init__.py` should exist for a skill instead of `<skill_name>.py`
2. `match_regex` now exi

[2017-09-30 21:20] jacobtomlinson commented on #248
Definitely!

1. You can still use `<skill_name>.pu` but `__init__.py` is preferred
2. Yep!

[2017-09-30 21:24] jacobtomlinson commented on #246
The `latest` tag is an alias to the latest official release (currently `v0.9.1`). If you're looking for an image which is equivalent to master you need the `dev` tag.

[2017-09-30 21:24] #246 closed

[2017-09-30 21:48] gtseres commented on #247
I have created a new image, based on Python 3.6: `FROM python:3.6-alpine`, but the issue still occurs

[code]

With Python version being:
[code]

[2017-10-01 08:41] #104 closed

[2017-10-01 08:47] jacobtomlinson opened #251 "Add Lex parser and matcher"
Add a parser and matcher for Lex, similar to the ones for api.ai ([parser](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/parsers/apiai.py), [matcher](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/matchers.py#L26)).

The parser needs to send the message test to Lex and then compare the skills loaded using the matcher against the response.

[2017-10-01 08:47] jacobtomlinson opened #252 "Add LUIS parser and matcher"
Add a parser and matcher for [LUIS](https://www.luis.ai/), similar to the ones for api.ai ([parser](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/parsers/apiai.py), [matcher](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/matchers.py#L26)).

The parser needs to send the message text to LUIS and then compare the skills loaded using the matcher against the response.

[2017-10-01 08:50] jacobtomlinson opened #253 "Add wit.ai parser and matcher"
Add a parser and matcher for [wit.ai](https://wit.ai/), similar to the ones for api.ai ([parser](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/parsers/apiai.py), [matcher](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/matchers.py#L26)).

The parser needs to send the message text to wit.ai and then compare the skills loaded using the matcher against the response.

[2017-10-01 09:10] #248 closed

[2017-10-01 15:06] FabioRosado commented on #253
I've checked wit.ai and they have a python library to work with their API so this should be easier to implement. I'll give it a try 👍

[2017-10-01 15:16] gtseres commented on #219
It seems that the place where the issue occurs is `web.run_app()` of the `web.py`, but I'm not sure what the root cause is.

[2017-10-01 17:07] jacobtomlinson commented on #253
Nice! Make sure it works with asyncio though. You may end up writing some blocking code which isn't good. It might be easier to use their API directly using `aiohttp` like the api.ai parser.

[2017-10-01 17:30] FabioRosado commented on #253
Yeah, they don't work with asyncio so I will have to use the API. I'll try to swing it, I'll need to learn how to interact with API's properly anyway haha

[2017-10-02 05:03] bege13mot commented on #171
Hi jacobtomlinson,

Hope that pull request #257 is the correct one to close this issue.

[2017-10-02 07:15] #171 closed

[2017-10-02 07:16] jacobtomlinson commented on #247
#254 appeared to fix but hasn't

[2017-10-02 07:18] jacobtomlinson commented on #247
@gtseres you're definitely on the right lines. When the `SIGTERM` is sent the applications needs to exit gracefully. I just can't seem to find where to handle that.

[2017-10-02 15:12] slapula commented on #251
I'm not a 'Lex'pert but I can take a look at this.   I am pretty comfortable with boto.

[2017-10-02 15:47] jacobtomlinson commented on #251
@slapula thanks! This project is built around `asyncio` so please be sure to use [aiobotocore](https://github.com/aio-libs/aiobotocore).

Shout if you need any help!

[2017-10-03 17:18] pohzipohzi commented on #252
Hey can i try taking this?

[2017-10-03 22:08] jacobtomlinson commented on #252
@pohzipohzi please go ahead! Looking forward to seeing it.

[2017-10-04 18:14] go8ose opened #261 "add a conversation parser/matcher workflow"
Instead of decorating a skill with a matcher, it would be nice if you can have a skill that registers a regex matcher temporarily.  Something like:

    @conversation()
    async def do_something_destructive(opsdroid, config, flow):

      await message =  flow.match_regex(r'delete (\w+)')
      delete_target = message.regex.group(1)
      await message.respond("Are you sure you want me to delete

[2017-10-04 18:24] go8ose commented on #185
I like this idea.  Especially for connectors. opsdroid is not useful without connectors.  It's arguable that the same is true for databases.  So you'd expect the core package to include the things that make the software useful.

Perhaps core connectors and databases should have a requirement that they don't add unnecessary dependancies.  For the databases, that means the core databases would be in

[2017-10-04 18:28] go8ose commented on #261
This looks like an alternative to #156.  I like my in-the-one-method approach, because I think it makes it easier to write.  But maybe that's because I'm used to an iterative programming style.

[2017-10-04 18:29] go8ose commented on #129
Given you've closed off #119, is it worth closing this as well?

[2017-10-04 19:54] jacobtomlinson commented on #261
Thank so for raising this.

I dislike forcing people down specific flows on conversation. Conversations rarely follow an exact pattern and often change context mid flow.

Using context adds more flexibility and allows each skill to exist in isolation but only be called when the appropriate chain of events have happened.

[2017-10-04 21:33] go8ose commented on #154
How will ties be broken? If #155 is implemented it's conceivable that two matches will both have rank 1.0 (or 100%, however the ranking system works).  Perhaps core would respond with a message saying this is an error condition, and the configuration and logs should be checked, then not run any skill.

[2017-10-04 22:19] jacobtomlinson commented on #154
That's definitely an interesting question. I don't think resulting in an error is necessarily the best way to handle this. But I can't immediately think of an alternative.

[2017-10-04 23:14] gabeduke commented on #154
You could give a choice which skill to run

[2017-10-04 23:19] go8ose commented on #154
How do you give a choice?  Do you mean you have a third skill, an "arbitrator" skill that only sends messages in this situation, and asks the user how to proceed?  That sounds a bit awkward.

Maybe it should log an error message, and run all the matching skills.  Or maybe there should be a configuration option that picks between run all matches, run 0 matches, or run a random match

… actually, le

[2017-10-04 23:43] gabeduke commented on #154
It's not the users fault that 2 skills recognize the same language. I feel like they should still be able to complete their request. The issue is that if it errors out they won't be able to use the skill unless they remove  the conflicting one. if they decide to keep both the bot could let them choose which path to follow.

[2017-10-04 23:56] go8ose commented on #154
@gabeduke I agree with you that it's not the users fault.  I just think it might be hard to implement.  What happens if opsdroid sends a reply to the user, and their answer comes back and two matches match this later message?  That's why I proposed a deterministic action driven by the configuration.  If there is also an alert sent to the user, the user can try and ask the administrator of the bot

[2017-10-16 14:35] #261 closed

[2017-10-16 14:35] jacobtomlinson commented on #261
Closed due to inactivity.

[2017-10-16 20:23] #252 closed

[2017-10-17 01:04] go8ose opened #269 "context matcher"
I wonder if a "context" matcher might be a good idea, to limit skills to specific rooms, or users. Example:

[code]

Now that I've written that out, getting the config outside of the skill looks clumsy.  Perhaps the skill should just check it's configuration, connection, room (etc) when it's running.  What do other people think?

[2017-10-17 06:59] jacobtomlinson commented on #269
That's a really interesting way to think about it. There is an issue (#156) discussing this however I do like the idea of having an additional decorator instead of kwargs in the existing decorators.

You're right about getting access to config items. This has crossed my mind before as it would be interesting to allow overriding regex items in the config which would also require access to the confi

[2017-10-17 07:55] jacobtomlinson commented on #156
@go8ose has raised in #269 that a matcher may be another way of adding context.

[code]

[2017-10-17 07:56] jacobtomlinson commented on #156
That's a really interesting way to think about it. I do like the idea of having an additional decorator instead of kwargs in the existing decorators.

You're right about getting access to config items. This has crossed my mind before as it would be interesting to allow overriding regex items in the config which would also require access to the config outside of the method.

Perhaps a way around th

[2017-10-17 07:56] jacobtomlinson commented on #269
Moved your question to #156 and copied my response their. Closing in favour of that issue.

[2017-10-17 07:56] #269 closed

[2017-10-17 08:01] jacobtomlinson opened #270 "Add a test for `aiohttp.ClientOSError` exceptions in parsers"
In both the [api.ai](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/parsers/apiai.py#L43) and [LUIS](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/parsers/luisai.py#L39) parsers there is a `try ... except` block for an `aiohttp.ClientOSError` when contacting the API.

These lines are not covered in the tests. This needs adding.

[2017-10-17 18:37] FabioRosado commented on #270
While browsing stackoverflow and checking the wit.ai test cases I came up with this:

[code]

This simply raises the ClientOSError and assets it to true. Would this be something worth using for this issue or I should put more thought into it?

[2017-10-18 20:38] go8ose opened #273 "spoken_to matcher"
I've been thinking about the context issue, #156.  I think another element of context is whether or not the bot is directly addressed by the user.  You might only want a skill to be invoked if a user messages the bot in a direct one-to-one channel, or specifically mentions the bots name in the message.

For example, you might want to distinguish between these two interactions:
john> @bot can you p

[2017-10-19 17:49] jacobtomlinson commented on #273
Yeah I've thought about this before, but this seems like a neat approach!

I know in other bot frameworks like Hubot there is a distinction between `hear` and `respond` where the first is for overhearing within general chat and the second is direct messages only.

Just thinking about how this could be implemented. The `Message` object could have a `direct` parameter which is boolean and is set by

[2017-10-19 17:49] jacobtomlinson commented on #273
Also not sure if I like `@match_spoken_to`, perhaps there is a better way to phrase it.

[2017-10-19 18:00] jacobtomlinson opened #277 "Add a matcher which always matches"
It is conceivable that you might want a skill to match on every message which passes through opsdroid. An example would be updating the last seen time of a user in the [seen skill](https://github.com/opsdroid/skill-seen).

Currently this is achieved by using the `match_regex` decorator with an expression which matches anything. However once #154 has been implemented this will cease to work.

There

[2017-10-19 18:36] jacobtomlinson opened #279 "Fix matcher titles"
Most of the matcher titles still refer to them as parsers in the docs.

[2017-10-19 18:53] #277 closed

[2017-10-19 18:53] #279 closed

[2017-10-20 05:01] FabioRosado commented on #253
I forgot to mention  this issue on my PR. Is there anything else I need to add before we can close the issue?

[2017-10-20 07:01] #253 closed

[2017-10-20 07:01] jacobtomlinson commented on #253
Yeah we should've referenced this in the PR. Closed now.

[2017-10-20 10:26] jacobtomlinson opened #281 "Better logging when loading modules"
Currently when loading modules opsdroid tries to import a few different name variations to allow for different ways of writing modules.

When then module fails to import a line is logged stating so, however the next import may succeed resulting in the module loading but the logs looking as if it perhaps hasn't.

Perhaps logging should only occur when a module totally fails to load.

[code]

[2017-10-20 10:33] jacobtomlinson opened #282 "Better logging level separation"
Much of the logging is sent as `debug` as you would expect, however this has resulted in the higher levels such as `info` being a little more sparse than expected.

#### INFO
[code]

#### DEBUG
[code]

[2017-10-20 11:44] jacobtomlinson opened #283 "Intermittent install failures in docker"
Intermittently when trying to run with a docker container all modules fail to load with a `No module named 'opsdroid-modules'` error.

This must be related to how the python path is being appended to with the module path.

[code]

Config file

[code]

[2017-10-20 11:49] jacobtomlinson opened #284 "Add Issue and PR templates"
It would be nice to have templates for issues and PRs.

Issues would generally require the following information:
- opsdroid version
- python version
- os version (or docker version)
- Configuration file
- Expected functionality
- Experienced functionality (including debug log)

PRs should require the following info:
- Issue number related to
- Description of what the PR adds
- Checkboxes for code

[2017-10-20 14:58] jacobtomlinson opened #286 "Add contributor CLA and change to Apache 2.0 license"
Thanks to hacktoberfest there has been a nice increase in the number of contributors to opsdroid. Despite the size of the project still being reasonably small it might be a good time to start thinking about introducing a [CLA](https://en.wikipedia.org/wiki/Contributor_License_Agreement) and thinking about open source licensing going forward.

## License

When I started this project in August 2016

[2017-10-20 15:06] jacobtomlinson commented on #286
Pinging existing contributors for visibility.

@pjbollinger, @bege13mot, @tpowellmeto, @arhix, @gabeduke, @gtseres, @TechieBoy, @hougasian, @pohzipohzi, @FabioRosado, @go8ose, @orangenbaumblatt, @Blendify

[2017-10-20 15:13] #284 closed

[2017-10-20 15:50] #270 closed

[2017-10-20 17:35] pjbollinger commented on #286
I think that the Apache 2.0 license makes sense based on the project being very product-like. However, I would worry that the CLA would deter people from contributing to the project but I understand the concern, especially with the different modules and wouldn't want a contributor to pull their code due to a dispute.

[2017-10-20 18:28] jacobtomlinson commented on #286
Thanks for the feedback!

What about the CLA do you think would put people off? Is there anything you
can think of that would make it feel less of a blocker?
On Fri, 20 Oct 2017 at 18:35, Patrick Bollinger <notifications@github.com>
wrote:

[2017-10-21 04:13] suprithIUB commented on #281
Hi Jacob, I'd like to work on this. I'll send a PR in few hours. Any suggestions on best way to test this?

[2017-10-21 12:06] jacobtomlinson opened #288 "Warning in tests `coroutine 'parse_crontab' was never awaited`"
# Description
When running tests they complain about `coroutine 'parse_crontab' was never awaited`.

## Steps to Reproduce
Run `tox` and check the warnings.

## Expected Functionality
There should be no warnings

## Experienced Functionality
[code]

## Versions
- **Opsdroid version:** v0.9.1-25-g177449b
- **Python version:** 3.5.3
- **OS/Docker version:** macOS 10.13

[2017-10-21 12:47] pjbollinger commented on #286
I see it as a barrier to entry for committing to the project since you have to join this other service. I'm surprised something can't be included in the pull request itself, like an automated message or something with text similar to the CLA, but without leaving the Github ecosystem.

I don't think it will be that bad or anything, this is just the first time I heard about this kind of thing and th

[2017-10-21 12:53] jacobtomlinson commented on #286
It's a fair comment.

It is done through the PR, a bot sends a message, the user clicks a link,
agrees to the CLA and then is returned to the PR.

Its an increasingly common thing and if you contribute to any project like
Docker or Kubernetes you have to do something like this.
On Sat, 21 Oct 2017 at 13:47, Patrick Bollinger <notifications@github.com>
wrote:

[2017-10-21 15:52] jacobtomlinson opened #290 "Fixes to module imports breaks opsdroid"
# Description
After merging #287 starting opsdroid results in an error.

## Steps to Reproduce
- clone the latest master branch
- `git checkout 177449b49165b317c51fd14fb5f95e5229f60538`
- `python -m opsdroid`

## Expected Functionality
opsdroid should start

## Experienced Functionality
The following error occurs

[code]

## Versions
- **Opsdroid version:** v0.9.1-25-g177449b
- **Python version:**

[2017-10-21 15:53] jacobtomlinson commented on #290
#289 will back out the PR for now.

@suprithIUB please could you take a look at this.

[2017-10-21 15:55] jacobtomlinson commented on #281
Reopened due to #290

[2017-10-21 16:02] suprithIUB commented on #290
Sure. I'll take a look

[2017-10-21 17:48] #288 closed

[2017-10-21 18:23] jacobtomlinson opened #293 "API.AI is now Dialogflow, needs updating throughout"
On the 10th of October Api.ai renamed their company to [Dialogflow](https://blog.dialogflow.com/post/apiai-new-name-dialogflow-new-features/).

Therefore I suggest the following changes:
 - Copy `match_apiai_action` and `match_apiai_intent` to `match_dialogflow_action` and `match_dialogflow_intent`
 - Modify `match_apiai_action` and `match_apiai_intent` to log a deprecation notice. These will be r

[2017-10-21 18:41] FabioRosado commented on #293
I can do this if you'd like Jacob

[2017-10-21 19:07] jacobtomlinson commented on #293
Go for it!
On Sat, 21 Oct 2017 at 19:41, Fábio Rosado <notifications@github.com> wrote:

[2017-10-22 02:40] go8ose commented on #286
I don't have a lot of experience with them, and what Jacob has written confuses me in a couple of places.  Hence some thoughts and questions.

I don't understand how a developer could choose to re-license their contributions and remove their code.  Once they have released it under once license, isn't that fixed?  I can understand that they can release future versions of that code under a different

[2017-10-22 06:25] jacobtomlinson commented on #286
I understand your confusion. I'm still trying to get to grips with it.

My understanding is that the license only applies to the original work, e.g
my code in opsdroid. Contributions are not covered by the license and so
generally it is assumed the contributor is happy with it being distributed
and used in the same way, but they do have the right to withdraw it. The
CLA grants the project explicit

[2017-10-22 10:15] #293 closed

[2017-10-22 10:23] go8ose commented on #110
Hi @FabioRosado. I was looking at your commits. Doesn't referencing pypi like this mean that when there is a new release on pypi all the existing opsdroid installations would incorrectly start reporting they are the new release?

[2017-10-22 12:00] FabioRosado commented on #110
@go8ose  Yeah that's correct and that's the reason why we didn't use the PR  👍

[2017-10-22 12:17] go8ose commented on #110
Having a single authoritative location for the version number, which is tracked in revision control, sounds like a good idea to me.  I don't understand what the problem is.

Is there a documented procedure for doing a release, and does it mention that you need to do a commit that increments the version number (maybe post release, so the version number in master is always the next releases version)

[2017-10-22 13:45] jacobtomlinson commented on #110
@go8ose yes I agree that a documented process would be useful.

The issue in February was me forgetting to update the `const.py` file before doing a release, which having a documented process could've avoided.

One thing that could be even better would be to automate the release process, something akin to running `make release <version>`. This could update the `const.py` file, generate the release

[2017-10-22 17:38] Cadair commented on #286
(IANAL)

I do not agree with this. I would argue that opening a PR is a implicit agreement that the code be covered by and distributed under the terms of the project licence, and only the project licence. (This is what a CLA would make explicit.)

If you want to re-licence the code in the repository you would need each copyright holder of the work to agree to their work being distributed under the

[2017-10-22 17:44] Cadair opened #295 "When installing modules from a git repo, make sure they are up to date on startup."
Correct me if I am wrong but it appears that when you pull a component in using the `repo:` or in fact when it comes from the opsdroid org, when opsdroid starts it does not fetch updates to the repo?

Is this intended behaviour or something that could be changed?

[2017-10-22 19:06] jacobtomlinson commented on #286
I appreciate you opening with IANAL, I should've probably done the same.

I agree that this is one interpretation, and I agree that you could be
right. However you could also be wrong. I guess that's the point of making
it all explicit, so that this kind of thing doesn't come up.

I'm basing this on examples such as Docker, Kubernetes and Home Assistant.
I would expect that the first two have had

[2017-10-22 19:35] Cadair commented on #286
This is a reasonable description of the issues from github. https://opensource.guide/legal/#what-if-i-want-to-change-the-license-of-my-project

[2017-10-22 19:58] jacobtomlinson commented on #286
Yes this is reasonable. And this is the guidance I am following.
On Sun, 22 Oct 2017 at 20:35, Stuart Mumford <notifications@github.com>
wrote:

[2017-10-22 20:14] Cadair commented on #286
I think you will need to get everyone with code in the repo to sign off on the re-licence, as the apache 2 licence is not compatible with the GPL (the GPL places more restrictions than apache 2). For instance, a contributor may only want their work distributed under a licence that includes a copyleft clause.

[2017-10-22 20:47] jacobtomlinson commented on #295
This is definitely desired functionality 😄 .

[2017-10-22 21:08] jacobtomlinson commented on #286
Agreed. Which is why I raised this issue and pinged the people who
contributed to the project so far to let them know of my intended changes
and to gather agreement.

[2017-10-22 21:08] jacobtomlinson commented on #286
Agreed. Which is why I raised this issue and pinged the people who
contributed to the project so far to let them know of my intended changes
and to gather agreement.

[2017-10-22 23:01] Blendify commented on #286
Generally, I am fine with a CLA, however, I do know that many people will not submit code simply because they do not want to go through the hassle of signing a CLA.

[2017-10-23 00:02] go8ose commented on #286
So far only 2 people of the 13 that Jacob pinged (me and @Blendify) have explicitly said they are agreeable to the change.  But no one has said they disagree with the change, the discussion has been mostly about clarifying things.

I'm sometimes a bit cynical, so I suspect we won't get a majority reacting with a thumbs up.  The CLA that seems to be talked about is about explicit license choice, in

[2017-10-23 00:36] Blendify commented on #286
I am not one to comment on that because I have not contributed anything highly meaningful and do not know the project that well. From personal experience though, I do not find a license will not stop most users from contributing to a project.

[2017-10-23 05:43] go8ose commented on #110
@jacobtomlinson I had a look at how to pass a parameter to a make file.  According to https://stackoverflow.com/questions/2214575/passing-arguments-to-make-run you can arrange for your make file to allow:

According to https://stackoverflow.com/questions/2826029/passing-additional-variables-from-command-line-to-make you could also do:

I imagine the make file would simply pass that parameter to a

[2017-10-23 06:19] suprithIUB commented on #290
Hi Jacob,

I tested opsdroid with python 3.6 and it works fine. I'll update the thread after verifying opdroid on 3.5.1 and 3.5.4.

[2017-10-23 08:57] FabioRosado commented on #286
I've been following this issue and did a bit of reading about both licenses, I can't seem to find a massive difference between the two licenses and if changing the apache license will potentially bring more people to the project I'd say I'm happy with the change 👍

[2017-10-23 12:20] jacobtomlinson commented on #286
**TL;DR - My primary goal here is to choose appropriate licenses for the opsdroid community going forward. So let's talk about it.**

I'm going to start this comment by saying this thread is really awesome! The level of discussion here is way beyond what I expected.

When I raised this issue I decided to phrase is at "I am going to..." rather than "Do you think we should...", mostly because I didn

[2017-10-23 18:07] FabioRosado commented on #282
Im off to Poland for a few days but since I got a few hours to kill between airport and flights I’ll give this issue a try

[2017-10-23 18:47] jacobtomlinson commented on #282
Nice! Have a good time.
On Mon, 23 Oct 2017 at 19:07, Fábio Rosado <notifications@github.com> wrote:

[2017-10-23 20:30] Cadair opened #298 "Failed initialisation of opsdroid leads to a signaling error"
# Description
It seems that there is a strange interaction with the signal handers and the construction of the main opsdroid object.

## Steps to Reproduce
misconfigure opsdroid in someway, i.e. a bad connector in the config.

## Expected Functionality
There should be a readable error and opsdroid should shutdown cleanly.

## Experienced Functionality
[code]

## Versions
- **Opsdroid version:** ma

[2017-10-23 22:01] vitkhab commented on #283
How to reproduce this problem?
After running `docker run --rm -v /tmp/configuration.yml:/etc/opsdroid/configuration.yaml:ro opsdroid/opsdroid:latest` I get 14 loaded skills and no errors like `No module named 'opsdroid-modules`
https://gist.github.com/vitkhab/4423e2d21c1b7dee3c52cc108199dc1e

[2017-10-24 00:26] pjbollinger commented on #286
@jacobtomlinson Thanks for sharing your thoughts, I can imagine it would be hard to transition thinking from _your_ project to a _community_ project.

I want to say that I agree with the proposed changes. Earlier I was just trying to get a better understanding and see if the CLA should be required.

An additional thought: I just submitted a PR on a Github project that required the CLA. It wasn't t

[2017-10-24 09:25] jacobtomlinson commented on #286
@pjbollinger It is hard but don't get me wrong, it's really exciting and exactly what I had hoped for.

Yes I agree with that! I'm aware that there is a small contributing section in the `README.md` and also a contributing page in the docs, but no actual `CONTRIBUTING.md` file in the root of the project. A nice change would be to merge these two pages into a `CONTRIBUTING.md` page and symlink to i

[2017-10-24 11:00] vitkhab commented on #214
@FabioRosado "If a new skill is added" where? What should the script use as a source of truth? Should the script automatically detect new skills?
And what should the script put it into example_configuration.yaml? There might be lots of configuration associated with new skills.

I see next solution:
- Trigger to run script is to be defined
- On run script looks at https://github.com/opsdroid repos

[2017-10-24 11:09] FabioRosado commented on #214
Hello @vitkhab, we created this issue when I updated the example_config file @jacobtomlinson  might have a better idea of what should be done, but I believe that you got it right.

Since opsdroid checks the  https://github.com/opsdroid repo to install the skills, I believe Jacob wanted the script to just update the example_config file with a new skill found there (probably just adding the comment

[2017-10-24 11:12] jacobtomlinson opened #299 "Clustering and parallelisation"
The initial design for opsdroid was for a singular instance to run and handle everything. However it would be interesting to explore how opsdroid could scale if it was required to handle large numbers of conversations.

## Connectors
Each connector interacts with the chat service in a slightly different way, but they broadly fall into two categories:
- **Push** - the chat service sends messages to

[2017-10-24 11:48] jacobtomlinson opened #300 "Support for serverless"
Following on my train of thought from #299 it could be possible to run opsdroid on a serverless platform such as [AWS Lambda](https://aws.amazon.com/lambda).

As a serverless application consists of both code and "Infrastructure as Code" ([IaC](https://en.wikipedia.org/wiki/Infrastructure_as_Code)) there would need to be some kind of compilation tooling in opsdroid to dynamically generate the IaC

[2017-10-24 14:13] jacobtomlinson commented on #65
@gtseres gah just seen this comment sorry!

Potentially, although it could be best to add it to each connector.

[2017-10-24 14:14] jacobtomlinson commented on #68
This could still be useful, however I think #154 will avoid the issues states above.

[2017-10-24 14:15] jacobtomlinson commented on #84
#154 supersedes this.

[2017-10-24 14:15] #84 closed

[2017-10-24 14:17] jacobtomlinson commented on #110
@go8ose I personally like using make, however I can understand that it does add another level of abstraction.

For now let's just go for documenting the process as I'm the only one following it for the time being. As the project grows it may be useful to automate the process.

[2017-10-24 14:22] jacobtomlinson commented on #129
@go8ose not necessarily because of closing #119.

After reading it again though I don't think I like the idea any more. Everything should be in the config, if there are skills running which aren't specified in the config it could be confusing to debug issues.

A better approach would be to create a generic custom skill, even if it's huge and messy, which could be treated as a place to drop random

[2017-10-24 14:22] #129 closed

[2017-10-24 14:34] jacobtomlinson commented on #185
@go8ose again sorry I hadn't seen this comment, I think I missed a load of notifications a while back.

Now that you've become more familiar with the project and we've had more discussions how do you feel about this? Do you still agree with what you wrote above?

[2017-10-24 15:11] jacobtomlinson commented on #214
@FabioRosado @vitkhab

Good question about when to trigger the script. I imagine this could be done at release as part of the the release documentation #110.

I think it would be awesome if it could scrape through the skills and pull out their config examples to make one big one. And as @FabioRosado said add the comments in the format of `# <name of skill> (<repo url>)`.

[2017-10-24 15:34] jacobtomlinson opened #301 "Updating asynctest to 0.11.0 causes failures"
# Description
When updating asynctest to 0.11.0 there are six tests which begin failing.

All tests fail with the same error `E TypeError: object MagicMock can't be used in 'await' expression`.

The tests are:
- TestMemory.test_database_callouts
- TestParserAlways.test_parse_always_raises
- TestParserDialogflow.test_parse_dialogflow_raises
- TestParserLuisai.test_parse_luisai_raises
- TestParserRe

[2017-10-24 20:04] jacobtomlinson commented on #283
You're getting a slack auth error as I would expect as you've set the token to `0`. As you say you're not getting the `No module named 'opsdroid-modules` error.

I'm only getting this error intermittently. I'm deploying on kubernetes so there may be some subtle differences there. If you repeatedly clean up your images and then run that script again so you get consistent results?

I'm wondering if

[2017-10-24 20:15] vitkhab commented on #283
I ran container several times both from DockerHub image and from image built from GitHub locally. And I've never had such error.
Yes, I run it with wrong API tokens, but I don't think it affects module loading anyhow.

Can you fully describe how you deploy the app?

[2017-10-24 20:35] jacobtomlinson commented on #301
Fixed in #302

[2017-10-24 20:35] #301 closed

[2017-10-24 20:48] jacobtomlinson commented on #283
I'm using helm to deploy on kubernetes. The chart template for the deployment looks like this:

[code]

[2017-10-24 20:56] FabioRosado commented on #283
@jacobtomlinson I believe this issue is related with the #281 the main issue is that two try/except in the loader, after @suprithIUB fixes the issue those intermittent installs should be fixed as well.

I could provide a temporary fix to this issue (the suggestion to move the try/except inside the first one) until suprithIUB gets a better solution 😃

[2017-10-24 23:03] go8ose commented on #185
I've changed thoughts a little bit. Let me first declare that I still find the dynamic importing in opsdroid to be a bit novel.  I've not noticed that being done elsewhere (but you can tell by my github stars I'm not a serious developer).  I can see the advantage for skills. This approach makes it simpler for users to add skills to their bot, all they need to do is alter a configuration file.  The

[2017-10-25 08:33] jacobtomlinson commented on #185
Thanks for the thorough response, it's really useful!

My initial idea for module installation was inspired by hubot. In hubot you install new adapters and database modules by installing separate packages on the same system as hubot, then when it starts it looks for all node modules with `hubot-` at the beginning and loads them, you also have to set environment variables to pass config to the bot.

[2017-10-25 10:09] Cadair commented on #286
I am ok with the move from GPL to A2, although a move to L-GPL would solve the "import problem". Having the core being A2 means that as long as the plugin system remains as (or more) flexible as it is at the moment, code which wants to import GPL code can live in a plugin.

As for the CLA, I am not sure I really see the need, but I also don't see any issue with it.

[2017-10-25 10:27] tpowellmeto commented on #286
I am OK with the move Jacob. Good Luck with the project and well done to everyone who has contributed so far. Go team Opsdroid 🤖

[2017-10-25 21:16] suprithIUB commented on #290
Hi Jacob, Quick question, Why are we reloading already imported modules? Many suggest against reloading the modules.

[2017-10-26 01:05] go8ose commented on #185
I like the model that the [saltstack](https://saltstack.com/community/) project has.  Everything is in "core", (and hence lots of dependancies), but it's also possible to easily add your own external modules.  This means when you go to use it, all the core stuff just works, it's already installed.  People get to develop their own things and keep it private.  But it's easy for them to contribute it

[2017-10-26 06:15] go8ose commented on #299
Clustering sounds like a very large feature to implement. Perhaps this is a good idea for a post 1.0 version, or maybe an enterprise version.

[2017-10-26 08:02] jacobtomlinson commented on #185
Yeah that does sound like it could be a good approach. From a developer perspective it doesn't sound any more complex. From a user perspective I think using custom modules would become harder, but using core modules would be easier. This could be a fair tradeoff!

I definitely want skills to maintain the current approach of dynamic installation though. And therefore perhaps it makes more sense for

[2017-10-26 08:05] jacobtomlinson commented on #290
The only modules being reloaded are not being imported into the namespace, they are using the import machinery to load them as an object. This mitigates many of the issues around reloading modules. The functionality is there to allow soft restarts of the application where opsdroid would load new versions of skills without restarting the application, this is particularly useful when developing skil

[2017-10-26 08:20] SolarDrew commented on #185
I would have just opened a PR, yes, but I'm not new to open source so that may not be representative of many other new contributors. You might be able to reduce the barrier to entry a little by linking to some basic git/GitHub tutorials in the docs.

I agree it makes some sense for connectors and databases to have the same installation process as skills, but on the other hand they are far more int

[2017-10-27 08:22] jacobtomlinson commented on #286
After the discussion above and also getting some advice from other open source maintainers I have decided to go ahead with the switch of open source licenses from GPLv3 to Apache 2.0 as it has been agreed this would be a good move for the project, the community and the users.

However it is best for me to get explicit approval from all contributors. Therefore if i haven't had agreement from you by

[2017-10-27 19:21] pohzipohzi commented on #286
I approve of the change!

[2017-10-28 03:45] suprithIUB commented on #290
Do I have write access to resolve conflict? If not, please take a look and let me know if you are okay with changes.

[2017-10-28 05:38] FabioRosado commented on #290
@suprithIUB  if you pull the changes from the main opsdroid repo with the command `pull upstream master` (provided that you have the main opsdroid repo set as a remote) you can resolve the conflicts in the opsdroid.loader.

Once the conflicts have been resolved you should be able to push these onto your github repository and the PR should be updated with the new version.

Let me know if you need f

[2017-10-28 10:47] gabeduke commented on #286
Approved!

[2017-10-28 11:04] accessdenied12 commented on #286
Approved!

[2017-10-29 14:43] jacobtomlinson opened #306 "Support for `apiai` in the config has broken"
# Description
Since Api.ai was renamed to Dialogflow in #294 any config file with a parser with the name set to `apiai` will not load.

This is bit of a harsh break and it should probably still work for a while and just show a deprecation message.

## Steps to Reproduce
Configure the Dialogflow paser with the old name of `apiai`

## Expected Functionality
It should still work but show a deprecatio

[2017-10-29 14:44] jacobtomlinson commented on #306
FYI @FabioRosado

[2017-10-29 19:14] FabioRosado commented on #306
The PR should fix this issue, my apologies for this I didn't think it thought and just assumed that people would change the name when obviously that probably won't happen at first!

Hopefully the quick fix is an okay solution for the issue 👍

[2017-10-30 02:20] suprithIUB commented on #299
I would love to work on this. I'll read some papers and get some ideas.

[2017-10-30 08:38] sgreszcz commented on #195
Would be great to have this extended to any binary types: send_binary method.

[2017-10-30 09:00] sgreszcz opened #308 "Debug logging doesn’t show message contents only headers."
# Description
Debug logging - doesn’t show message being sent/received to/from the bot, only headers. In my debug trace it does seem to extract the text to parse, but not the response from the skill returned to the bot

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.

Trigger a skill that responds with anything (for example text)

## Expected Fu

[2017-10-30 09:04] jacobtomlinson commented on #299
Please feel free to do some research. As @go8ose says this is a large feature so we should discuss how you plan to tackle it before you make a start.

[2017-10-30 09:05] sgreszcz opened #309 "Opsdroid seems to default to apiai parser, on by default?"
# Description

Opsdroid seems to show in the debug logs that the apiai parser is being used, although it is commented out.  Is it on by default?  Also it doesn't show the parser that I would expect to be using (regex)

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.

Trigger a regex skill that responds with anything (for example text)

## Expect

[2017-10-30 09:12] sgreszcz opened #310 "For local skill files, no-cache should the default config?"
# Description

Not sure if caching for local skill files should be on by default as it is a bit confusing to not see changes to the skills being reflected in the functionality. I had to dig a bit to see that opsdroid was caching local files in ~/.opsdroid/modules. Totally makes sense for git repositories though where the lag would be a problem for quick parsing.

## Steps to Reproduce

1) Build a

[2017-10-30 09:23] jacobtomlinson commented on #309
This is a bug, the log message is not within the `if` statement which checks if apiai has been configured. This should be resolved in #311 and will be fixed in the next release.

[2017-10-30 09:28] jacobtomlinson commented on #308
This is a very valid point. The intention is that if you set the debug level to `INFO` or above you shouldn't see messages in the log. This is for security reasons as someone who has access to the logs may not have permission to see everyone's conversations.

However these should be shown in the debug log, and possibly there should be a separate log output to store a chat history.

[2017-10-30 10:01] FabioRosado commented on #310
I might be wrong but I believe that the idea of the no-cache flag was created to be used by devs when testing/developing their skills.

Once a skill is released as final version there won't be much need to reload it unless an update has been made. Also, if you delete the local folder (because you uploaded it to github) and forgot to change the path in your configuration the skill will stop working

[2017-10-30 12:25] jacobtomlinson commented on #310
I think I agree with what @FabioRosado is saying. I wonder if a good compromise would be to have a higher level `developer: True` config option which sets `no-cache` to default to `True`. This could be documented in the "how to write a skill" docs as a recommended option for when you are developing locally.

[2017-10-30 12:36] #306 closed

[2017-10-30 19:15] jacobtomlinson opened #313 "Support for the `skillname/skillname.py` module style has gone"
# Description
As #305 support for the skill structure of `skillname/skillname.py` has been removed. This is probably a good thing as it does not follow python conventions for a module. A skill should follow standard practice and be a single file (e.g `skillname.py`) or a directory (e.g `skillname/__init__.py`).

The [documentation](https://github.com/opsdroid/opsdroid/blob/master/docs/extending/sk

[2017-10-30 19:15] jacobtomlinson commented on #313
FYI @suprithIUB

[2017-10-30 19:25] vitkhab commented on #214
I made a PR with prototype. And these are my concerns:
- I can never be sure, that `Configuration` section provides working code. And it doesn't for https://github.com/opsdroid/skill-apiai#configuration . What should script do? Put not working example inside configuration or skip it or raise exception?
- I need set of skills uncommented by default. Now I'm taking it right from example_configuratio

[2017-10-30 19:42] jacobtomlinson commented on #214
Nice one!

- I agree. I would raise an exception.
- I would create a constant at the beginning of the script with the uncommented skills. I would like this script to automatically update the `example_configuration.yaml` file as well as the `README.md`.
- I imagine this will be run manually by maintainers as part of the release process.

[2017-10-30 19:51] jacobtomlinson commented on #154
I've had a go at implementing this in #311.

The way ties are broken are by creating a list of skills which match and giving them a score, then I use the `sorted` method to order them and select the 0th element from the list. This does lead to a rather arbitrary tie breaker which is akin to randomly selecting one.

I agree with @go8ose that this is not ideal and it would be great for the user to f

[2017-10-30 21:11] #281 closed

[2017-10-30 22:40] go8ose opened #317 "opsdroid chat community"
# Description
This project is about building a tool for automatic responses to a variety of chat protocols.  It feels like it is becoming a small community of like minded developers.  However there is no (semi-)official space for the community to congregate outside of the raw commits/issues/PRs.

Perhaps we should have a chat space, that is mentioned in opsdroid/docs somewhere.

## Expected Functi

[2017-10-31 05:41] FabioRosado commented on #317
We currently use [gitter](https://gitter.im/opsdroid/) to talk about dev issues, there is also a lobby and a general room but at the moment no one is using those.

Perhaps we should mention the gitter chatroom in the CONTRIBUTION.md or some other place? If I'm not mistaken the only place that the gitter chatroom is mentioned is in the form of a button on the header of README.md.

[2017-10-31 09:43] jacobtomlinson commented on #317
Yeah this is a good point. I would say that currently the community is small enough that Gitter and GitHub is enough. I think a forum would be overkill for now.

@go8ose Do you have any specific technologies which you would recommend that we use in the future?

[2017-10-31 14:40] vitkhab commented on #234
I've added basic test in my PR for building and running container. It doesn't check for being in working state (it's much more work with mocking and etc. as I see it). But it should be good for start.

Still have a questions.
- Now it use no config. Should be one there? For testing only purposes?
- I see an error in container logs https://travis-ci.org/vitkhab/opsdroid/jobs/295272026#L668 . Should

[2017-10-31 14:54] jacobtomlinson commented on #234
Thanks for making a start on this! I had a read of the blog post you shared, it's quite interesting.

To answer your questions:
- When you specify no config it uses the default config, which should be fine.
- That error is raised in #219 and requires further investigation.

I have some thoughts. Currently the travis tests are separated into three separate builds, `py35`, `py36` and `lint`. Your PR

[2017-10-31 21:18] jacobtomlinson commented on #286
We are now at the end of October and I've gone ahead and changed the license throughout the rest of the projects, where applicable.

Everyone who has submitted code to an opsdroid project has approved the change of license, which is fantastic. Thank you to everyone for taking the time to understand what we are trying to achieve with this change and giving your approval.

The commits from the two u

[2017-10-31 21:18] #286 closed

[2017-10-31 22:44] go8ose commented on #317
@jacobtomlinson I don't have any specific technology recommendations.  Gitter seems fine, it's got clients for the major platforms, looks easy to get started with.  I guess documenting it more prominently would be sufficient to close out this issue.  In that vein, I thought a note on README.md about the gitter chat space is sufficient.  But the README is getting a little long.  It might be good to

[2017-11-01 08:20] jacobtomlinson commented on #317
All good suggestions! I'll raise some more bite sized issues to tackle some parts of what you're said.

I think the fact that you were unable to find the Gitter community shows that this issue has not yet beed solved.

[2017-11-01 08:22] jacobtomlinson opened #321 "Add more references to the Gitter group in the docs"
# Description
Add more references and links to the [Gitter group](https://gitter.im/opsdroid) throughout the documentation. This will help users and contributors stay more involved in the opsdroid community.

Resulting from #317.

[2017-11-01 08:25] jacobtomlinson opened #322 "Refactor the README"
# Description
The `README.md` is getting rather long and there are some sections which could be refactored out into other sections of the documentation.

A good start would be that the contributing section could be merged into the contributing documentation page. (This could also be moved to `CONTRIBUTING.md` in the root of the project and sym-linked into the docs, similar to the `README.md`)

Res

[2017-11-02 13:50] jacobtomlinson opened #324 "Typo in welcome message"
# Description
There is a typo in the welcome message.

## Steps to Reproduce
Run opsdroid with `welcome-message: true` in the config.

## Expected Functionality
Should say

## Experienced Functionality
Says

[2017-11-02 14:20] jacobtomlinson opened #325 "Tests overwrite config"
# Description
When running the test suite (`tox`) the config file in `~/.opsdroid/configuration.yaml` is overwritten as a side effect of the test suite.

## Steps to Reproduce

- Edit your `~/.opsdroid/configuration.yaml` file
- Run `tox`
- Check your config to see it has reverted to the default

## Expected Functionality
The config should not be modified.

## Experienced Functionality
The config

[2017-11-02 20:08] suprithIUB commented on #325
Hi @jacobtomlinson I've identified the root cause. I'll send a pr in few hours.

[2017-11-03 09:35] #325 closed

[2017-11-03 10:04] #290 closed

[2017-11-03 10:07] jacobtomlinson commented on #283
Still seeing this issue in the latest dev build. It all seems to be related to a failure in creating the skills directories. Sometimes it fails complaining about unable to `pip install` the requirements which have come in the module, despite the code explicitly checking for the `requirements.txt` file before running `pip`.

Also there are occasionally git errors in the logs and then the error arou

[2017-11-03 10:25] jacobtomlinson commented on #283
This issue seems to be a problem in the way kubernetes mounts [configMaps](https://kubernetes.io/docs/tasks/configure-pod-container/configmap/). These maps get mounted as a directory where the keys are files and the values are the contents of the files. In the above config we are mounting a config map to `/root/.opsdroid`. This directory is also being written to by opsdroid when installing modules

[2017-11-03 10:25] #283 closed

[2017-11-03 14:05] raghavgr commented on #324
Hi, I was thinking of working on this issue. However, when I am running `opsdroid` on my Mac terminal it is throwing an error. I have attached a screenshot.
<img width="1181" alt="screen shot 2017-11-03 at 5 04 39 pm" src="https://user-images.githubusercontent.com/33322020/32377550-1d82a16a-c0b9-11e7-8bc8-562fa206dcf7.png">

[2017-11-03 14:16] jacobtomlinson commented on #324
@raghavgr It looks like you are using Python 2. You need to be running at least Python 3.5 to use opsdroid.

[2017-11-03 14:17] #313 closed

[2017-11-03 14:18] jacobtomlinson commented on #309
Should now be resolved in `v0.10.0`

[2017-11-03 14:18] #309 closed

[2017-11-03 14:22] #282 closed

[2017-11-03 14:23] #224 closed

[2017-11-03 14:23] #155 closed

[2017-11-03 14:23] #154 closed

[2017-11-03 15:18] #324 closed

[2017-11-04 13:03] vitkhab commented on #234
I tried to make test configuration and poll API with curl from outside container and I had an idea.
I think it will be better to add `HEALTHCHECK` command inside dockerfile (with `curl localhost:8080`) and then poll container status in tox. So it will be the consistent place to look for health status of container in tests and in production. How does it sound?

I see no pros or cons in running test

[2017-11-04 21:32] go8ose opened #332 "document infrastructure"
# Description
.
A docs/project/infrastructure.md page might make sense, that describes (briefly) the infrastructure the project uses. So it could mention github for revision control, issues, etc, and who has write access to the main repository. It could mention the readthedocs site, how it gets updated, and who’s got control of making adjustments to it’s configuration. It could describe the Travis

[2017-11-06 09:26] jacobtomlinson opened #335 "Add rasa parser and matcher"
# Description
Add support for [Rasa NLU](https://github.com/RasaHQ/rasa_nlu), similar to the ones for Dialogflow ([parser](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/parsers/dialogflow.py), [matcher](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/matchers.py#L56)).

As Rasa is written in Python it can be directly imported into the project rather than being used via the HT

[2017-11-06 22:19] sgreszcz commented on #335
Heard about Rasa NLU on [Python Init Podcast](https://www.podcastinit.com/rasa-ai-chatbots-with-joey-faulkner-episode-134/) where they also spoke about the potential for opsdroid integration.  Awesome.

[2017-11-07 16:33] FabioRosado commented on #335
I tried to install rasa on my fedora machine and was unable to do it (some issues while installing some of its requirements). Docker install didn't work as well (but then again I'm having issues with docker and fedora 26)

Perhaps using the API would be a better alternative? We could always create a skill if people wanted to use opsdroid and an imported version of Rasa - would this even work?

[2017-11-07 18:48] jacobtomlinson commented on #335
I was testing using the docker image. Seemed to be working well for me on MacOS.

It's a tricky one because I would love for Rasa to be the "default" parser. From a skill developer point of view you wouldn't have to write awful regexs any more and you could create way more flexible skills. At the moment you kind of have to create a regex and then add Dialogflow/LUIS/wit options as more flexible op

[2017-11-08 10:24] jacobtomlinson commented on #234
I see where you're coming from. I agree the healthcheck could be good in the future.

My concern is mixing unit tests and end-to-end tests. I'm happy to have both eventually but the scope of this issue is to check that the unit tests run in the container.

It's not a question of whether docker will be the main distribution instead of the python module. Both are important and supported distribution

[2017-11-08 10:26] jacobtomlinson commented on #251
This is up for grabs again as #267 went stale.

[2017-11-10 11:47] jacobtomlinson opened #337 "Add recast.ai matcher/parser"
# Description
Add a matcher and parser to use the [recast.ai API](https://man.recast.ai/#analyse-endpoints
).

[2017-11-13 09:48] vitkhab commented on #234
Thank you. I've understood the needs and I'll start working on it right away

[2017-11-13 13:15] jacobtomlinson opened #339 "Add Node-RED support"
_This feature is probably best implemented as a [skill](http://opsdroid.readthedocs.io/en/latest/extending/skills/)._

It would be useful for beginners to be able to create skills using Node-RED. This would require some [nodes](https://nodered.org/docs/creating-nodes/) to be created which would be able to interact with a Node-RED skill. These would probably be created as a separate repo in the ops

[2017-11-13 13:27] jacobtomlinson opened #340 "Document the adding to the REST API"
Some connectors such as [Facebook Messenger](https://github.com/opsdroid/connector-facebook/blob/master/__init__.py#L29) and [Cisco Spark](https://github.com/opsdroid/connector-ciscospark/blob/master/__init__.py#L78) add extra methods to the REST API in order to receive webhooks from other services.

The `opsdroid.web_server.web_app` object is an instance of `aiohttp.web.Application`. The server i

[2017-11-13 15:55] jacobtomlinson opened #341 "Pass config to skill setup method"
# Description
When running the `setup` method of a skill only a pointer to opsdroid is passed, the config for that skill should be passed too. See the [call here](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/core.py#L153).

[2017-11-14 20:46] FabioRosado commented on #337
I've played around with this a bit and got a question for you @jacobtomlinson, should we use only the NPL Api endpoint? Because recast.ai offers a dialog function, but due to the nature of opsdroid I'm not sure if there is any point implementing it.

Also, recast.ai has their own python package to interact with the api. At the moment I'm not using it to avoid importing another module. Should I kee

[2017-11-15 12:54] FabioRosado commented on #325
My config file got overwritten when testing the changes added by Recast.AI parser. Just checking if this happen to you as well @jacobtomlinson or if it's just a side-effect of using pyCharm to run the tests.

[2017-11-16 08:38] jacobtomlinson commented on #325
I haven't had it happen since #326.

[2017-11-22 04:26] ItsBraanddon commented on #321
I would be happy to help. I understand that you want me to add more References and Links to the Gitter Group. Could you explain how you would like me to do that? 👍

[2017-11-22 06:36] jacobtomlinson commented on #321
Thanks that would be great. If you have a look through the documentation in
the `docs` folder and see if there is anywhere that it would be good to add
more references to the Gitter.

@FabioRosado has just done a load of work on the docs so he may have some
thoughts.
On Wed, 22 Nov 2017 at 05:26, Brandon <notifications@github.com> wrote:

[2017-11-22 07:06] FabioRosado commented on #321
Hello @ItsBraanddon  welcome on board!
As Jacob mentioned I've added a few mentions to the gitter channel to some of the documentation (some in the tutorials, in contributing, etc).

But I'm sure there are a a few places that I've missed. Perhaps it would make sense adding the gitter reference on the matchers/parsers part of documentation (since it can be a thing people might need help getting sta

[2017-11-22 22:44] go8ose commented on #321
There are several different opsdroid gitter channels.  While you are reviewing the documentation it might make sense to provide a mention of each gitter channel, and what it's for.

[2017-11-23 07:53] FabioRosado commented on #321
That might be a good idea @go8ose, when I linked the gitter  in the documentation I've added just the channel(https://gitter.im/opsdroid/) but didn't say which room to use

[2017-11-23 07:54] jacobtomlinson commented on #321
Thanks @go8ose that's a good idea. Annoyingly it's not possible to delete gitter rooms otherwise I'd clean it up a bit. I mainly intend just for developers and general to be used.

[2017-11-29 03:14] walker-w opened #352 "Not Implemented Error on fresh install"
# Description
installed opsdroid on windows 10 powershell using the command:
pip3 install opsdroid

When attempting to run the command opsdroid I get the error:
[code]

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.

## Expected Functionality
Explain what should happen.

## Experienced Functionality
Explain what happened instead(Please include

[2017-11-29 08:31] jacobtomlinson commented on #352
Thanks for raising this.

Currently opsdroid does not support native windows installs and makes some assumptions around that. This error looks to be coming from one of those assumptions.

I'm going to close this issue and open a new one for adding windows support because I expect there are more issues than just this.

[2017-11-29 08:31] #352 closed

[2017-11-29 08:33] jacobtomlinson opened #353 "Add windows support"
Currently opsdroid does not support native running on windows.

There are some assumptions around handling signals which are probably preventing it from working. (See #352 for example).

It would be great to get this working on windows.

[2017-12-13 10:57] #337 closed

[2017-12-31 09:47] jacobtomlinson opened #369 "Update pycron usage to include anacron functionality"
# Description
In 0.80.0 of pycron the `has_been` method was added which allows you to check whether a cron expression has been true during a time period. This would be useful in opsdroid to avoid missing cron skills if the bot were restarted.

Currently the cron timer runs every minute and uses [some logic](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/parsers/crontab.py#L16) to ensure

[2017-12-31 17:02] #68 closed

[2018-01-01 09:32] #214 closed

[2018-01-05 08:28] FabioRosado opened #375 "String Formatting consistency"
Hello guys, I hope you had a good time over the holidays!

I was reading the book Mastering Python and came across string formatting, which reminded me that we switched the string format of the logging by using % .

Through the code base we use both the % and .format() versions of the string formatting, that made me wonder if we should just stick with one version through the code base and which on

[2018-01-05 08:57] jacobtomlinson commented on #375
Happy new year!

My preference is use `.format()` for everything except log messages which insist on `%` in pylint.

Eventually everything should switch to fstrings. However I don't anticipate this happening for a number of years. Maybe when the version of Python shipped with Debian is 3.6 we could safely make that the minimum for opsdroid.

[2018-01-05 14:49] FabioRosado commented on #375
I didn't know that pylint insists on using % for log messages. I guess this Issue is pointless now since the only thing using the % string formatting is the logging haha

I haven't played around with fstrings much to be honest because it will take ages until everybody upgrades to 3.6 (at least until python 2 is still strong I guess)

[2018-01-07 18:05] jacobtomlinson commented on #375
Well logging must be passed a string with placeholders like `%s`, `%i`, etc and the rest of the args must be the vars to populate the string. Which is slightly different to `'%s' % var`. But the point is it uses `%s` instead of `{}` for placeholders.

I'll close this for now, hopefully a change in the logging library or the default python version will cause us to reopen it.

[2018-01-07 18:05] #375 closed

[2018-01-12 12:01] jacobtomlinson opened #377 "Improve 'adding skill' documentation"
# Description

Looking at the Google Analytics from the documentation it shows that many users visit the root of the documentation and then immediately navigate to the "adding skills" page. This page could be improved as it makes assumptions that the user has read the getting started page.

http://opsdroid.readthedocs.io/en/latest/extending/skills/

The page immediately jumps in with things like:

[2018-01-12 16:01] jacobtomlinson opened #378 "Error if parsers is empty"
# Description
If you leave the `parsers` section of the config as an empty dictionary an error is thrown and startup fails.

## Steps to Reproduce
Uncomment the parsers section of the config but with no actual parsers

[code]

## Expected Functionality
The application  should start with the default parsers only. The same as if `parsers:` is not in the config.

## Experienced Functionality

[code]

[2018-01-12 16:17] jacobtomlinson opened #380 "Move magic strings to constants file"
Many of the parsers have strings like API endpoints of third-party services embedded within the code. For example in the dialogflow parser you will find `"https://api.dialogflow.com/v1/query"` and also an api version in the payload `"20150910"`.

These should be in the `const.py` file with names like `DIALOGFLOW_API_ENDPOINT` and `DIALOGFLOW_API_VERSION` and imported into the parsers. This will ma

[2018-01-13 09:14] FabioRosado opened #381 "Change logging level of opsdroid.memory"
# Description
When running opsdroid from the command line, every time opsdroid replies to the user input a logging.warning is printed in the console.

## Steps to Reproduce

**1.** Don't have any database configured in `configuration.yaml`
**2.** Start opsdroid from the command line
**3.** Type hello

## Expected Functionality
database warning to be shown on first lines of opsdroid but then go sil

[2018-01-13 09:58] jacobtomlinson commented on #381
Agreed these messages are overkill. Let's take them out.

[2018-01-13 16:55] nicgrayson commented on #121
TL;DR: I want to write to code required for this issue

I'm looking to switch to a python based chatbot away from [lita](http://lita.io). It's a huge difference to not have a help that lists all commands you can send the bot. I've thought about a few ways to make this work but they each change how skills are created a fair amount.
1. Add a parameter to the matchers like `def match_regex(regex, cas

[2018-01-13 17:27] jacobtomlinson commented on #121
@nicgrayson awesome we would love you to contribute!

I hadn't even considered using the docstrings to do it but I think that is a really neat idea. Let's go with that. Not sure the best way to solve the second problem though, neither option is appealing. I wonder if you could use the function name somehow?

In terms of the help skill if you create it in your own GitHub and then we can transfer it

[2018-01-13 17:35] jacobtomlinson commented on #121
@nicgrayson feel free to drop into the developer room on the [gitter](https://gitter.im/opsdroid) too.

[2018-01-14 06:55] gabeduke opened #383 "Add intents params to rasa nlu docs"
# Description
rasa nlu documentation should include the following requirements
* there must be at least 2 intents or rasa will not return anything. For a user new to rasa this could be a large time sink (:wave:)
* each intent must have at least 3 training values

[2018-01-14 07:05] gabeduke opened #384 "Streamline local skill development in docker"
# Description
I've been recently playing around w/ Go and they have a clever way to develop locally before pushing up to github. The engine first looks in the GOPATH for the directory structure [github]/[user]/[project] and if there is no local folder structure that matches, it grabs the code from github.

This same idea could be a very handy way to install skills to a docker container. The repo w

[2018-01-14 08:29] jacobtomlinson commented on #383
Ah that's really interesting! I hadn't noticed those limits.

Maybe we should even go beyond documentation and add a check in the code too.

[2018-01-14 08:31] jacobtomlinson commented on #384
I do like the way go manages dependencies but I'm not sure I follow exactly how that would be used in opsdroid.

Could you give an example of the config and describe what would happen in that instance?

[2018-01-14 12:14] FabioRosado opened #385 "FileNotFound error: No such file or directory: pip"
# Description
Honestly this issue might be just my own fault. I probably installed python 3 wrong when I first got my Macbook pro. Anyway, when I try to run opsdroid with a skill that contains a `requirements.txt`  I get a `FileNotFoundError: [Errno 2] No such file or directory: 'pip'` exception.

If I change 'pip' in  `opsdroid.loader.pip_install_deps`  for 'pip3' everything works fine.

Should a

[2018-01-14 12:30] jacobtomlinson commented on #385
I have come across this before. You need to have the pip command available in your path for opsdroid to install modules correctly.

Are you using virtual environments?

[2018-01-14 12:50] FabioRosado commented on #385
My interpreter in pycharm was set to my global python path when I got the error.
I tried to run a virtual environment and change the interpreter in pycharm, the error persisted still

[2018-01-14 19:32] gabeduke commented on #384
This is how I would imagine the directory tree and config looking. You would keep the key value the same for resources (`repo: github.user.project`). Opsdroid loader would just first search for that path locally before reaching out to the url. The repository would still be installed to the code base as part of opsdroid starting up, which would be the key difference between how the `path:` key work

[2018-01-14 19:52] gabeduke commented on #383
I'll start working on this.

[2018-01-14 20:13] jacobtomlinson commented on #384
That does sound interesting.

When opsdroid starts and uses the `path` location for installing, the skill is copied into the private opsdroid module path. When using a `repo` it gets cloned directly into the private module path.

Are you suggesting that going forwards we clone to `~/.opsdroid/skills/<git host>/<username>/<repo>` and then do a `path` style install instead?

[2018-01-14 20:14] jacobtomlinson commented on #385
I would suggest that this is expected functionality as the command `pip` cannot be found and is required by opsdroid. However we should probably catch the `FileNotFoundError` and log an actually useful error message.

I would be open to also trying `pip3` if `pip` cannot be found though.

[2018-01-14 20:26] FabioRosado commented on #385
Okay I'll play around with this tomorrow and see if the issue gets resolved, it might be helpful for someone else as well haha

[2018-01-15 02:05] gabeduke commented on #384
Okay this can be closed. I misunderstood how skills were loaded, & using path does actually work.. silly me. :roll_eyes:

[2018-01-15 09:32] #384 closed

[2018-01-15 17:42] nicgrayson commented on #121
I've created a help skill that pulls from docstrings: https://github.com/nicgrayson/skill-help

[2018-01-16 14:08] #381 closed

[2018-01-17 10:43] #353 closed

[2018-01-17 20:22] jacobtomlinson commented on #383
@gabeduke did you get a chance to look at this? If not I think I'll pick it up as I want to get it done before the next release which is imminent.

[2018-01-18 01:52] gabeduke commented on #383
I've not been able to start work on this yet unfortunately. You can go ahead and take it over.

[2018-01-18 08:15] #383 closed

[2018-01-18 08:15] #385 closed

[2018-01-18 08:16] #335 closed

[2018-01-18 08:58] jacobtomlinson opened #395 "Readthedocs builds are failing"
# Description
It looks like the [readthedocs builds](http://readthedocs.org/projects/opsdroid/builds/) are failing. This means the documentation for v0.11.0 hasn't been updated.

I can't immediately see an issue with that line so it requires further investigation.

[2018-01-18 09:00] jacobtomlinson opened #396 "Fix license in pypi"
# Description
The license in pypi is still reporting GPLv3. This needs updating to Apache 2.0 in the `setup.py` file.

[2018-01-18 13:24] jacobtomlinson commented on #395
Didn't fix.

[2018-01-19 16:18] anujgtm1 commented on #377
Hi @jacobtomlinson, I'd like to contribute to the project starting with this issue. I'm a newbie and this would be my first open-source contribution. What documents would you recommend reading regarding contribution to the project? and what should I give special attention for this issue?

[2018-01-19 16:35] FabioRosado commented on #377
Hello @anujgtm1  and welcome!

I'd recommend you read the [tutorial series](http://opsdroid.readthedocs.io/en/latest/tutorials/introduction/) first just so you know how opsdroid works. But if you have been playing around with opsdroid you probably know how to create a skill already.

The documentation about [opsdroid configuratio (http://opsdroid.readthedocs.io/en/latest/configuration-reference/)

[2018-01-19 18:30] afibanez commented on #295
I will do a PR with a proposal :smiley:

[2018-01-20 17:23] anujgtm1 opened #410 "'importlib' issue when starting opsdroid"
# Description
When starting up opsdroid (either cloning the repo or from pip) I get a long stacktrace with error opsdroid failed to start.

## Steps to Reproduce
Start __main__ module of opsdroid when running from repo, or run the opsdroid command when using pip version. We get stacktrace after some log info.

## Expected Functionality
Opsdroid should start and we should get an opsdroid shell "ops

[2018-01-20 18:13] jacobtomlinson commented on #410
Thanks for raising this.

I've also seen [this Stack Overflow question](https://stackoverflow.com/questions/39660934/error-when-using-importlib-util-to-check-for-library) which has a similar solution.

Please go ahead and raise a PR to add the import you suggested in your issue.

[2018-01-20 18:25] afibanez commented on #295
So now we can close this issue :wink:

[2018-01-20 18:44] #295 closed

[2018-01-21 08:31] #410 closed

[2018-01-21 08:34] jacobtomlinson opened #412 "opsdroid fails to start if Rasa NLU is not available"
# Description
When starting opsdroid with Rasa NLU configured but without Rasa NLU running a long traceback is thrown.

## Steps to Reproduce
Configure opsdroid to use Rasa NLU without running Rasa NLU. Start opsdroid.

## Expected Functionality
In the startup log there should be an error stating Rasa NLU is unavailable. Or perhaps it should block and attempt to reconnect.

## Experienced Function

[2018-01-21 09:44] jacobtomlinson opened #413 "Skill dependencies are not reimported on reload"
# Description
When reloading skills any library which is imported in the skill is not reimported.

This means that if you split your skill into multiple files and import them from the `__init__.py` they don't get reimported. As opsdroid immediately reloads all skills on startup this means any skills in separate files are never loaded.

_Raised on [Gitter](https://gitter.im/opsdroid/developers) by

[2018-01-21 15:44] #377 closed

[2018-01-22 07:52] jacobtomlinson commented on #121
Sorry for the delay, I missed this comment.

The skill looks great. If you want to transfer the ownership of the repository to me I'll move it into the opsdroid org and it will become an official skill.

It might also be worth putting in a PR to add it to the example configuration as an automatically enabled skill.

[2018-01-22 15:12] nicgrayson commented on #121
@jacobtomlinson i set a transfer to you then you can put it in the org. I'll send a docs PR soon.

[2018-01-22 21:28] jacobtomlinson commented on #121
Transferred! Many thanks.

Ping me your address via DM on [Twitter](https://twitter.com/_jacobtomlinson) or [Gitter](https://gitter.im/opsdroid) and I'll post you some [opsdroid stickers](https://medium.com/opsdroid/stickers-for-contributors-a0a1f9c30ec1)!

[2018-01-23 06:14] fititnt commented on #219
This issue still exist.

[code]

And I can cofirm that even line "- name: websocket" commented on

[code]

[2018-01-23 08:44] fititnt opened #416 "Connector shell do not work on Docker using suggested `docker run` without -it param"
# Description

Connector shell do not work using suggested docker run without `-it` param.

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.

This is what opsdroid readme file suggest
![captura de tela de 2018-01-23 05-50-18](https://user-images.githubusercontent.com/812299/35263803-620afc7e-0001-11e8-86c0-a691de8d0747.png)

but without -it param

[2018-01-23 08:53] jacobtomlinson commented on #219
I am able to reproduce.

This bug seems to be in the connector-shell, not the connector-websocket as I stated above.

If you include `-ti` in your docker command the interactive shell works.

[2018-01-23 08:55] jacobtomlinson commented on #219
Ah looks like you beat me to it in #417 @fititnt. I'll also raise an issue on the shell connector as this should be caught and a useful error message should be printed.

[2018-01-23 09:07] #416 closed

[2018-01-23 09:07] #219 closed

[2018-01-23 09:09] jacobtomlinson commented on #219
Raised opsdroid/connector-shell#3.

[2018-01-24 08:44] afibanez opened #422 "Lozalize opsdroid"
Opsdroid is designed with English in mind. A developer can write his skills (regex and responses) in any other language, but actually it has some complications:
- Some parts of the core code assume English (see [this](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/core.py#L223)  or [this](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/parsers/recastai.py#L15) examples)
- As a

[2018-01-24 08:57] jacobtomlinson commented on #422
This is a great idea and I basically agree with everything you have said. Here are a few additional thoughts from me:

- All logging should be translated into the language specified in the config.
- We need to be consistent with the word we use for translation configuration, you use `langauge` and `lang` in your comments. My vote would be for `lang`.
- I'm apprehensive to duplicate matchers to add

[2018-01-24 09:29] afibanez commented on #422
- In my opinion, logging translation is not as important as answer translation, because logging is read by developers/system administrators and normally they speak English. But I think it's a nice plus, so I agree with the idea of add the mechanism to translate them and do it with core logs.
- Totally agree with the use of `lang` in configuration.
- I agree with your `@match_regex` design. I was t

[2018-01-24 10:11] jacobtomlinson commented on #422
- As a native English speaker it's always hard for me to know what people expect to be translated and what is acceptable in English. Let's aim to translate the logs though as it would be nice.
- Falling back to English is probably best, but it needs to be clear in the logs that this has happened.
- I've not used `gettext` before so need to read up on it. But happy to take your advice.
  - Would yo

[2018-01-24 10:13] FabioRosado commented on #422
I like the idea of allowing other people that don't speak english very well to use opsdroid.
I also like the idea of using a language param on the `@match_regex` it should make things a bit easier to implement.

English should be the fallback language if the parser doesn't support the chosen language, this way everything will work fine - I agree with the warning if the language is not supported.

[2018-01-24 10:29] jacobtomlinson commented on #422
It shouldn't cause any problems. The translated string should contain the same placeholder.

[code]

will become

[code]

and if the language is set to Spanish then the translated string could be `mi nombre es {}` which will still work with the formatting.

We might want to think about switching our formatting from arg based to kwarg based which will allow translations to omit placeholder if they

[2018-01-24 10:35] jacobtomlinson commented on #422
@FabioRosado I found [this blog post](https://inventwithpython.com/blog/2014/12/20/translate-your-python-3-program-with-the-gettext-module/) useful.

[2018-01-24 11:27] afibanez commented on #422
Yeah, I agree totally with the use of .format() if it's possible (I think logging uses old formatting tools with `%`). This is a great lecture: [pyformat](https://pyformat.info/)

And I think it's easy for the skills developers to use `gettext`, because it is in standard libraries, and the `.pot` files are automatically created by a command. Of course, we need to document the process and publish s

[2018-01-24 11:42] jacobtomlinson commented on #422
Sounds good.

So the agreed design is:
- [ ] Use `gettext` for translations.
- [ ] Add a `lang` option to the main config for users to set their language.
- [ ] Add a `lang` kwarg to the applicable matchers to allow the skill developer to specify which language it is.
- [ ] Add language support for matchers like LUIS by passing the language through to the API.
- [ ] Add language support for skill

[2018-01-24 12:33] FabioRosado commented on #422
Sounds awesome! Yeah I was thinking that using something like: `'{1} {0}'.format('one', 'two')` to print (two, one) could work, or how you wrote it down @jacobtomlinson. We just need to update all the formatted strings since we have been just passing `{}`.
I'll start checking the parsers that I created to see if we can just use different languages in all of them 😄

[2018-01-25 09:43] jacobtomlinson opened #424 "Broken link in README"
# Description
The contributing link in the [contributors](https://github.com/opsdroid/opsdroid#contributors) section points to `CONTRIBUTING.md` which doesn't exist. It should point to `docs/contributing.md`.

[2018-01-25 09:44] jacobtomlinson commented on #424
cc @monkeywithacupcake

[2018-01-25 13:56] dhairyakhale commented on #424
Hi! Can I take up this issue?

[2018-01-25 14:06] jacobtomlinson commented on #424
@dhairyakhale please go ahead!

[2018-01-25 14:28] dhairyakhale commented on #424
Submitted a PR. Please let me know if I made some mistake.

[2018-01-26 00:48] monkeywithacupcake commented on #424
sorry I missed that!

[2018-01-26 07:35] jacobtomlinson commented on #424
No probs!

[2018-01-26 07:35] #424 closed

[2018-01-27 11:35] jacobtomlinson opened #427 "Add pypi version badge to README"
# Description
We should have a badge showing the current version available on pypi next to the existing badges.

![pypi version](https://img.shields.io/pypi/v/opsdroid.svg)

[code]

[2018-01-28 06:32] vettyvignesh commented on #427
Hi, I am new to open source so can you please assign this issue to me.

[2018-01-28 09:49] may55 commented on #427
I am new to open source, can you please tell me how exactly i can fix this issue?

[2018-01-28 09:53] FabioRosado commented on #427
Hello @may55, welcome!
@vettyvignesh  is currently working on this issue, but if you want to contribute I'd suggest an equally easy issue to fix: #380

Pop in the [gitter](https://gitter.im/opsdroid/developers) channel if you need any help 👍

[2018-01-28 13:51] jacobtomlinson commented on #427
Closed in #429

[2018-01-28 13:52] #427 closed

[2018-02-06 11:57] jacobtomlinson opened #434 "Adding new maintainers"
# Description
I am adding @FabioRosado to the @opsdroid/maintainers team which has write access to the project to help me with maintenance. I imagine this team will grow in the future and some people may come and go. We currently have a contributing and releasing section in the docs and we should add a maintainers section too.

Here are some initial thoughts of what should be in that guide:

_Most

[2018-02-06 16:59] jacobtomlinson opened #435 "Add welcome message config option to the docs"
# Description

In #231 the `welcome-message` configuration option was added. If set to `true` then a welcome message is printed in the log at startup. It defaults to `true` in the example config.

This should be documented in the [configuration reference](https://github.com/opsdroid/opsdroid/blob/master/docs/configuration-reference.md).

[2018-02-06 17:52] OzRamsay opened #437 "Add references about asyncio and change the description about the youtube videos"
# Description
Documentation enhancement proposals
1. currently the youtube videos are mentioned on the [home](http://opsdroid.readthedocs.io/en/latest/) page of documentation as "Installation Check out the Getting Started video series on YouTube." As the videos also teach how to create some skills, I propose to change the description and also add references to the videos to the [tutorials](http://

[2018-02-06 19:30] OzRamsay opened #440 "Catch importlib.util.find_spec returning None"
# Description

Failed initialisation of freshly installed opsdroid leads to a signaling error

## Steps to Reproduce
No changes has been made to the configuration fail.

## Experienced Functionality
[code]

## Versions
- **Opsdroid version:** master
- **Python version:** 3.6
- **OS/Docker version:** Lubuntu 17.10

## Configuration File
Default configuration

[2018-02-06 21:25] jacobtomlinson commented on #437
Sounds good!

[2018-02-06 21:26] #435 closed

[2018-02-06 21:27] jacobtomlinson commented on #440
Duplicate of #298

[2018-02-06 21:29] jacobtomlinson commented on #440
The signal error is not the real problem here. That is just an annoying bug which pops up. The actual issue is a few lines above in the traceback.

[code]

[2018-02-06 21:33] jacobtomlinson commented on #440
@OzRamsay are you sure you're using the default config?

[2018-02-07 06:49] OzRamsay commented on #440
The case is that I did receive errors without changing the config (as I reinstalled the OS wiping all the data, I am sure about that). However, sometimes it did work, so eventually, I did change the config. Then I reinstalled the Opsdroid, but I didn't delete .opsdroid folder. So I assume the previous problem was because of the misconfiguration.
I did not save the traceback of errors that I receiv

[2018-02-07 07:40] jacobtomlinson commented on #440
Ok no problem! If you do see this issue again please raise a new issue 😀.

[2018-02-07 07:40] #440 closed

[2018-02-07 18:30] #65 closed

[2018-02-07 18:30] #66 closed

[2018-02-07 18:31] #110 closed

[2018-02-07 18:31] #121 closed

[2018-02-07 18:31] #172 closed

[2018-02-07 18:33] #234 closed

[2018-02-07 18:33] #322 closed

[2018-02-07 18:34] #396 closed

[2018-02-07 21:18] jacobtomlinson opened #442 "Add message.react(emoji)"
# Description
In opsdroid/connector-slack#9 there is a request to be able to [react to messages via Slack](https://get.slack.help/hc/en-us/articles/206870317-Emoji-reactions).

Rather than implement a Slack specific feature in the connector it would be good to create a generic method on the `Message` class which can be extended by connectors to react to messages. This would allow other connectors

[2018-02-07 21:31] jacobtomlinson opened #443 "Keep raw message as property of the Message class"
# Description
When a message created by a connector it only sets the text, room, username and connector properties. Many chat clients will provide more information about the message, for example the timestamp, message id, etc.

It would be useful to keep track of this info in a property called `raw_message` as it may be useful to the connector when responding.

I think the best way to implement th

[2018-02-07 23:30] lights-a5 commented on #321
Is this still an issue? I'm currently trying to get into contributing to open source stuff, but I'm still learning and I figured this is something I could do.

[2018-02-08 00:29] redfruitt commented on #443
Hi @jacobtomlinson, I'd like to work on this!

[2018-02-08 04:34] jacobtomlinson commented on #321
Yes please go ahead!

[2018-02-08 04:35] jacobtomlinson commented on #443
Please go ahead!

[2018-02-08 15:28] jacobtomlinson opened #444 "Add no-deps"
# Description
To speed up skill development it could be good to skip skill dependancy installation as it will likely be installed already.

Similar to `no-cache` we should add `no-deps` which defaults to `False` in the skill config.

[code]

[2018-02-09 10:09] jacobtomlinson opened #446 "Add helper method for getting entities from a message"
# Description
Depending on which matcher is used to match a skill the `message` object has additional attributes containing the raw response from the parser.

For example if matched with `match_regex` then the `re.match` object is available at `message.regex`, if matched with `match_rasanlu` then the response object from the Rasa NLU api is available at `message.rasanlu`, etc.

This means that if

[2018-02-09 10:19] jacobtomlinson opened #447 "Update regex docs to encourage named regex groups"
# Description
Inspired by #446 we should update the documentation on the regex matcher to encourage people to use [named regex groups](https://docs.python.org/3/howto/regex.html#non-capturing-and-named-groups).

When capturing a group from a regular expression you can write something along these lines

[code]

However this means that if you include multiple groups you need to know their order to g

[2018-02-09 14:36] #443 closed

[2018-02-09 15:07] jacobtomlinson opened #449 "Update matchers overview documentation"
# Description
The [overview of the matchers section](http://opsdroid.readthedocs.io/en/stable/matchers/overview/) of documentation has become out of date with the actual matchers.

This should either be updated or removed.

[2018-02-09 21:50] redfruitt commented on #449
I think it makes more sense to remove it, please assign it to me.

[2018-02-09 22:05] redfruitt commented on #413
I haven't used it, since its unreliable its better to remove it rather than having someone waste their time trying to figure out what's happening.

[2018-02-09 22:06] jacobtomlinson commented on #413
Yeah had the same comments in gitter. Therefore it should be removed.

[2018-02-09 22:07] jacobtomlinson commented on #449
Please go ahead

[2018-02-09 22:08] redfruitt commented on #413
I'll take this up after I complete #449

[2018-02-10 10:10] #449 closed

[2018-02-10 11:05] #380 closed

[2018-02-14 10:47] jacobtomlinson opened #457 "Upgrading aiohttp beyond v3 breaks tests"
# Description
As demonstrated in #456 upgrading aiohttp to v3 or above causes a bunch of tests to fail.

This is likely an issue with the tests but it should be investigated to ensure there are no fundamental issues with opsdroid.

The tests need to be fixed and the version updated in a manual replacement for #456.

[2018-02-16 16:52] #434 closed

[2018-02-18 10:54] anxodio opened #458 "Change the way opsdroid prioritize regex / NLU skills"
# Description
Actually opsdroid use a score system to decide what skill have to run when more than one skills match a message.
This score system is designed to prioritize NLU engines over regex (see #311).

The problem comes when you're working at the same time with some NLU engine and some regex skills. If the regex skill have some words of some NLU intent, it will be never executed, even though

[2018-02-18 14:40] jacobtomlinson commented on #458
I agree that regex skills should be able to score higher than NLU skills if it truly is a better match. When writing this I was worried about simple regex's winning over advanced NLU, for example if an NLU engine is trained with sentences like "will it rain in {place} at {time}" and there is a regex that matches "will it rain" then I want the NLU to win.

But your examples demonstrate that the reg

[2018-02-18 20:02] redfruitt commented on #457
I'll take this up

[2018-02-19 08:48] anxodio commented on #458
And what about make win any regex with anchors (`^$`)? So if instead of "will it rain" the skill matches "^will it rain$", then you want this specific sentence and it must win NLU engines.

[2018-02-19 20:09] go8ose commented on #458
I have another idea. Add an optional parameter to the regex matcher, so the programmer can change the priority to be above or below the NLU skills. Then also create a configuration option that sets the default regex priority, so the operator can decide if in general if they want regex to have priority, or not.

[2018-02-20 07:09] FabioRosado commented on #458
I like @go8ose idea because you give the power to the user to choose NLU or Regex priority.
One thing that I would like to mention is that in some cases the NLU will give a 100% score when detecting the intent of a sentence, so we shouldn't use the score to specify which parser should have priority. Perhaps using a sort of flag that points either to regex or the NLU?

[2018-02-20 09:07] jacobtomlinson commented on #458
@go8ose I like this idea of changing the weighting of regex in the configuration.

@FabioRosado I'm not sure I understand what you mean. If something has a 100% score then I think that should always win. Or do you mean if two parsers both return 100%?

[2018-02-20 09:18] FabioRosado commented on #458
Sorry I was still half asleep when I wrote that haha
I mean we should use something other than the score to decide which parser has priority because in some cases the NLU will return a 100% score on the sentence and that would make the regex be skipped again

[2018-02-20 10:03] jacobtomlinson commented on #458
But if the NLU returns 100% then surely it is 100% confident of the match? The whole point of the scores is to tell opsdroid which one to run.

Ideally I want to treat regex like any other parser. It matches a string, it calculates a score to say how confident it is on the match and then opsdroid uses the scores to decide which parser to use.

[2018-02-20 10:52] go8ose commented on #458
@jacobtomlinson I didn't think regex's did partial matches. They either match, or they don't. I mean, in a regex with optional elements you might have some groups that have nothing in them, but the regex would still have matched or not.

If an NLU is 100% sure it's a match for the intent, but a regex is also 100% sure, how do you break the tie? If I had an existing opsdroid bot, and I add as skill

[2018-02-20 11:49] jacobtomlinson commented on #458
@go8ose Thanks for that, really useful stuff!

To break ties the parsers have an order of priority in the code (due to the nature of the code, not intentionally), I guess what @FabioRosado was suggesting is the ability to reorder them in the config. Regex is currently first if that makes a difference 😄.

In my head a partial regex match in your example above would be `please could you ping 8.8.8.8

[2018-02-20 12:07] jacobtomlinson commented on #458
Also this might be useful

[code]

[2018-02-21 14:28] FabioRosado commented on #458
@jacobtomlinson  Yeah that was what I was trying to say, but you had it covered so its all good haha

[2018-02-21 14:38] #457 closed

[2018-02-21 15:04] FabioRosado commented on #444
I've been checking the issues that we have open at the moment and came across this one again.

The idea of 'no-deps' would be to just  prevent opsdroid from running the method `_install_module_dependencies` right?

[2018-02-21 15:24] jacobtomlinson commented on #444
Yeah.

[2018-02-22 04:23] #442 closed

[2018-02-24 07:26] OzRamsay commented on #437
Hi, @FabioRosado. I am very sorry, but I started a new job, so currently, I do not have time:(

[2018-02-24 08:55] FabioRosado commented on #437
@OzRamsey no worries I was just checking up on this issue anyway. The issue will remain open and if you find some time and the issue is still open feel free to give it a go 😀

[2018-02-24 18:38] #413 closed

[2018-02-27 11:19] FabioRosado commented on #158
Jacob should we close this issue since #157 was reverted?

[2018-02-27 16:40] jacobtomlinson commented on #158
Yup!

[2018-02-27 16:40] #158 closed

[2018-02-28 18:12] FabioRosado opened #473 "Removing reload function breaks opsdroid"
# Description
After the PR #461 was merged opsdroid lost the ability to reply to commands.  After digging a bit it seems that the restoring the method `_reload_modules` opsdroid will reply to commands again. Check all the changes in the PR #471

I started digging around `opsdroid.loader` to figure out what part of this method could be removed/changed. It seems that nothing much matters other than

[2018-02-28 19:21] jacobtomlinson commented on #473
I think [this line](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/loader.py#L248) should also have been removed in #461.

Try deleting it and see if that helps.

[2018-02-28 19:33] FabioRosado commented on #473
Yeah that works! I didn't try that, all I did was going around the _reload module haha
I'll close my PR #471  and submit a new one removing this line. Thanks for looking into this Jacob 👍

[2018-03-01 09:41] #473 closed

[2018-03-01 09:41] jacobtomlinson commented on #473
Good stuff thanks for testing it!

[2018-03-01 10:49] #444 closed

[2018-03-01 11:02] FabioRosado commented on #412
@jacobtomlinson  I've been trying to replicate this issue, but my opsdroid just work normally when I don't have rasanlu running - but it's on the config.yaml file. Whenever you have the time can you check if this issue still happens of it a previous PR fixed it by silencing the traceback?

[2018-03-01 11:42] jacobtomlinson commented on #412
Yes this is still valid. You need to have a skill enabled which uses Rasa otherwise the training will be skipped. You can test this using the Rasa branch of the hello skill, looks like I missed that line off the example config above. I'll update it now.

[2018-03-02 19:16] FabioRosado commented on #437
@TarunRKaushik Hey nice seeing you here. Feel free to submit a PR with your changes 👍

[2018-03-02 19:34] jacobtomlinson commented on #124
It's been nearly a year since I raised this issue and I wonder if now some of the community members have thoughts?

Are you happy configuring opsdroid via a `yaml` file, or would you prefer to configure it through some GUI? We could aim for a hybrid approach but that would likely end up in the yaml being rewritten when you update through the GUI and things like comments would be lost.

cc @FabioRo

[2018-03-02 19:38] jacobtomlinson commented on #299
Going to close this off for now. It can always be reopened if this comes up again.

[2018-03-02 19:38] #299 closed

[2018-03-02 19:40] #310 closed

[2018-03-02 19:40] #317 closed

[2018-03-02 19:41] jacobtomlinson commented on #321
This has been quiet for a while so it's available if anyone wants to grab it.

[2018-03-02 19:41] redfruitt commented on #124
I'm not sure a GUI would provide the same level of flexibility we get from the yaml file.

[2018-03-02 19:43] jacobtomlinson commented on #446
@redfruitt have you made any progress on this?

[2018-03-02 19:45] redfruitt commented on #446
not much yet, will buck up this weekend.

[2018-03-02 19:47] jacobtomlinson commented on #124
@redfruitt thanks for your thoughts! What makes you say that?

[2018-03-02 19:55] redfruitt commented on #124
So the configurational file seems to be more intuitive (for me atleast) to look into while trying to add
new skills/connections/parsers. For example if I'm trying to add new connector, I can always glance at the defined example or existing connector above and write up the necessary parameters for it.

Also adding and removing a component is as simple as commenting/uncommenting. If we introduce a G

[2018-03-02 20:00] jacobtomlinson commented on #124
Thanks that's useful information!

[2018-03-02 20:08] jacobtomlinson opened #477 "Document parser configuration"
The [configuration reference](https://github.com/opsdroid/opsdroid/blob/master/docs/configuration-reference.md) currently doesn't have a section on parsers. This should be added.

I also think each [parser/matcher section](https://github.com/opsdroid/opsdroid/tree/master/docs/matchers) should start with the configuration information for that parser, followed by the usage within a skill.

[2018-03-02 20:42] TarunRKaushik commented on #477
U meant "it does not have a section on parsers"?

[2018-03-02 20:42] FabioRosado commented on #124
I haven't thought much about this yet to be honest, but perhaps it could be possible to add a sort of "settings" option to opsdroid-desktop in which a page - layout opens and you can add the configuration through a sort of GUI?

Not sure if that makes sense, apologies if it doesn't been up since 4 am haha

[2018-03-03 08:18] jacobtomlinson commented on #477
Yes

[2018-03-04 00:10] redfruitt commented on #446
Hey @jacobtomlinson, wanted to know your thoughts on how best setup this @property within the Message class, I'm stuck a little with the regex clause.
And do you see any problems with the how I wrote rasa's entity fetch?

[code]

[2018-03-04 08:39] anxodio commented on #124
I think that remove the yaml it's a bad idea, because it's harder to copy and move the configuration (dev/prod), and deveopers or administrators are normally used to work with this kind of file configuration (yaml/json/ini...).

It could be nice have a helper GUI that, as @jacobtomlinson said, rewrites the yaml. It can help to non technical users to setup an opsdroid demo in an easy way. But it ha

[2018-03-05 09:22] jacobtomlinson commented on #124
Thanks for the feedback everyone! I'm going to close this off for now but it can always be revisited at a later date.

[2018-03-05 09:22] #124 closed

[2018-03-05 12:09] #437 closed

[2018-03-05 14:25] jacobtomlinson opened #481 "PR template does not auto close issues"
# Description
In our [PR template](https://github.com/opsdroid/opsdroid/blob/master/docs/PULL_REQUEST_TEMPLATE.md) we have a section for stating which issue is closed by this PR.

[code]

However this doesn't seem to actually auto close the issue. Removing the bold notation (`**`) fixes this.

[2018-03-05 14:25] #412 closed

[2018-03-05 16:37] TarunRKaushik commented on #481
Well I raised a PR removing the bold notation.

[2018-03-05 16:43] #481 closed

[2018-03-18 03:29] sbeesm commented on #477
Hello! First time contributor here. Can I work on this one?

[2018-03-18 09:43] FabioRosado commented on #477
Hello there @sbeesm it would be great if you could work on this issue, please let me know if you need help with anything!

Also, welcome 😀👍

[2018-03-18 18:09] sbeesm commented on #477
If I'm not wrong, parsers are being used to analyse the messages that the bot receives and the matcher matches it with the available skills and the bot replies accordingly.
So is the working of a parser needs to be documented?

Very sorry but I am slightly confused about what exactly needs to be done and how to get started.
I've gone through some parsers and matchers code but couldn't really figur

[2018-03-18 20:04] jacobtomlinson commented on #477
Hi sbeesm

The configuration reference doesn't have any info on how to configure the parsers. Each parser needs to be added with information on how to configure it.

Also if you look at the documentation for each matcher you'll see that some have a configuration section, some don't. They all need one and it should be at the top too.

[2018-03-18 20:19] FabioRosado commented on #477
The parsers have all the logic to connect to the NLU parsers network and parse the meaning of the words that a user typed in channel/to opsdroid.

The matchers are used as decorators (check regex parser/matcher) and they are used to trigger the parser that connects to the NLU service.

As for what needs to be done, Jacob beat me to it haha

[2018-03-19 19:03] sbeesm commented on #477
Thanks @jacobtomlinson and @FabioRosado for helping me get started. 😀

PR #382 fixes #353 and adds windows support but I still get this error when I try to run opsdroid:

INFO opsdroid: ========================================
INFO opsdroid: Started application
INFO opsdroid: ========================================
INFO opsdroid: You can customise your opsdroid by modifying your configuration.yam

[2018-03-19 19:23] sbeesm commented on #477
In the test and example_config files, most of the parsers have configurations like name, access-token, min-score.
Are there more configurations as well? If so, where can I find them?

And can u please tell me that how can I find more info on these configurations so that a proper documentation can be prepared. 🙏
Because to be honest I am not really able to understand the concept of parser configs.

[2018-03-20 07:20] FabioRosado commented on #477
At the moment you have different kinds of parsers in opsdroid:
- Natural Language Processors
  - Dialogflow
  - Rasa
  - luis.ai
  - recast.ai
  - witai
- Regex Parser
- Crontab parser
- weekhook
- always

All NLP parsers need to be specified in the file `configuration.yaml` in order to be used with opsdroid. Some parses take different configuration settings - as example check the [Rasa NLU config

[2018-03-20 13:28] FabioRosado opened #494 "Opsdroid fails to start on windows if installed with anaconda"
# Description
This issue was raised by @sbeesm on issue #477 - He is unable to run opsdroid when installed with anaconda present in the system.

On an - probably not related - note I've also had issues with anaconda any my python3 install so maybe this could be an issue with conda?

## Steps to Reproduce
Install anaconda on a windows machine. Try to run opsdroid.

## Expected Functionality
Opsdroi

[2018-03-20 14:27] sbeesm commented on #494
I am using Windows 10 (Version 1709), and Conda 4.3.34

Opsdroid installs correctly but an error is raised as the service starts.

I think the error may be related to the loader file because error is raised after opsdroid.loader says "Cloning hello from remote repository", whereas at this point in the Ubuntu video tutorials, it simply connects to opsdroid.web and runs successfully.

`WARNING opsdr

[2018-03-20 15:17] jacobtomlinson commented on #494
Do you have the git command line installed?

[2018-03-20 15:46] sbeesm commented on #494
Yes, but I am using the git command line tools from git bash only. I have not installed it over windows command prompt.

[2018-03-20 16:17] jacobtomlinson commented on #494
Yes I think that's the problem. When opsdroid installs modules it needs to be able to run git from the command prompt.

I have two thoughts here:
- We should wrap this error in a better error message.
- Should we add a config option to allow you to point opsdroid to a git binary?

[2018-03-20 16:30] sbeesm commented on #494
A config option would be really helpful! 😃

[2018-03-22 06:43] tctovsli opened #498 "Connector request: RocketChat"
# Description
A connector for [RocketChat](https://rocket.chat) whould be great. It does support webhooks, but a native one would be awesome.

[2018-03-22 09:12] jacobtomlinson commented on #498
I agree this would be awesome!

[2018-03-22 15:35] sbeesm commented on #477
Is this ok?

[code]

[code]

[2018-03-22 15:36] sbeesm commented on #477
The always matcher parses every message as it is always working/running. So can the always matcher be configured or does it need to be configured?

[2018-03-22 15:42] sbeesm commented on #477
Also, all the links to matchers under the 'Matchers available' section in Docs/tutorials/intoduction.md seem to be broken. They are not working.

[2018-03-22 15:56] FabioRosado commented on #477
What are you using to read the documentation? The links work in the site and on my pycharm :)

[2018-03-22 15:59] sbeesm commented on #477
I am using Chrome browser, and this is what it shows:
![image](https://user-images.githubusercontent.com/27358509/37782077-095b6a1a-2e18-11e8-8a1b-9d63cda8f215.png)

[2018-03-22 16:06] sbeesm commented on #477
And shall I add a new Parsers section in the Configuration Reference or just add the missing configurations in their respective matcher docs?

[2018-03-22 16:10] FabioRosado commented on #477
Is it only the wit.ai not working or all of them?
The configuration should be added to both places

[2018-03-22 17:30] sbeesm commented on #477
All of them aren't working.

[2018-03-23 08:30] jacobtomlinson commented on #477
Yes the links are not designed to work on the GutHub website, they are designed to work in the mkdocs documentation.

[2018-03-24 08:44] sbeesm commented on #477
I've created a PR #502
Waiting for review!

[2018-03-24 11:04] #477 closed

[2018-03-30 12:38] musatoktas commented on #321
Hey!
Basicly what I understand is, you want us to share referance links from your docs in Gitter channel am I right?

[2018-03-30 12:40] FabioRosado commented on #321
Hello @musatoktas and welcome!
No, we think that it could be helpful if we link our Gitter channel in our documentation to help people if they need anything.
Hope this helps.

[2018-04-01 14:03] musatoktas commented on #321
Hey!! Shall I add reference to Gitter Channel every doc files' beginning and endings. Like this; https://github.com/opsdroid/opsdroid/pull/507

[2018-04-01 16:41] sbeesm commented on #494
I have set the path of my default Python environment in Git Bash but the problem still persists.
Am I doing something wrong or it won't work that way?

[code]

[2018-04-01 18:14] FabioRosado commented on #494
The issue might be on the shell connector as well I’ll try something and see if that helps

[2018-04-01 20:41] FabioRosado commented on #494
@sbeesm  I have created a quick test to see if you are able to run opsdroid on windows. I would test it myself but I am away for two weeks in Poland and don't have access to a machine with windows installed.

Go to your documents(or desired folder) and could you please run the following on your command line:
[code]

Your `__init__.py` file will be updated with the changes found [here](https://gith

[2018-04-01 21:17] FabioRosado opened #511 "Connectors need to be updated"
# Description
_This issue is not really related to opsdroid itself but to every single connector used in opsdroid - I'm creating this issue here to increase visibility._

Since PR #493 was merged into the master branch, opsdroid fails to reply to user input. The issue lies in [this line of code](https://github.com/opsdroid/opsdroid/blob/a4c13f4f2cff2af5899b4bb0f5897eeaff98b249/opsdroid/message.py#

[2018-04-02 13:01] alexenriquent commented on #511
I'm new to open source contribution and it'd be great if I could help out. I've already submitted the pull requests to make changes to each of the connectors.  Hopefully I've done it right.

[2018-04-02 13:08] FabioRosado commented on #511
Hello @alexenriquent welcome!
Thank you so much for taking the time to fix this issue that spans across all of the connectors on opsdroid, this is a great help.

I’m out at the moment and don’t have access to my laptop but later either me or Jacob will merge your changes to the connectors.

Also you can get opsdroid stickers for your work, dm [opsdroid twitter](https://mobile.twitter.com/opsdroid)

[2018-04-02 13:08] #511 closed

[2018-04-02 14:53] sbeesm commented on #494
After updating the `__init__.py` and the connector-shell section in `configuration.yaml`, this happens:

[code]

But if I replace the existing `__init__.py` file in the Documents/.../opsdroid-modules/connector/shell with the new one (and not adding a path to the config file, i.e keeping the `configuration.yaml` file same), no error is shown but the opsdroid is stuck here:
[code]

[2018-04-02 15:01] FabioRosado commented on #494
I’m happy to see that my quick fix seem to work (kind off), when I was looking at your traceback I was worried that you would have issues running opsdroid due to how the filepath is build in the `opsdroid.loader`.

This line:
`PermissionError: [WinError 5] Access is denied: 'C:\\Users\\HP/.opsdroid\\modules\\opsdroid-modules\\connector\\shell\\.git\\objects`

Just made me sure that the issue exist

[2018-04-02 15:09] FabioRosado commented on #494
Btw out of curiosity how does your .opsdroid file shows and where is it located?

This folder is followed by the dot in order to hide it from the desktop  , does your show up? (I was reading and this could cause some issues on windows as well)

[2018-04-02 16:37] sbeesm commented on #494
No, the .opsdroid folder does not show up on the desktop. But I can access it from C drive. `C:\Users\HP\.opsdroid` is the path to be exact. This folder is visible there.

[2018-04-02 16:54] sbeesm commented on #494
@FabioRosado Regarding the change you suggested in `message.py` file [here](https://github.com/opsdroid/opsdroid/blob/a4c13f4f2cff2af5899b4bb0f5897eeaff98b249/opsdroid/message.py#L55)
from:
`await self.connector.respond(response, room)`
to:
`await self.connector.respond(response)`

The `message.py` file I have already has the latter part. This issue may have already been fixed.

[2018-04-02 17:27] FabioRosado commented on #494
Okay great I wasn’t sure if the .opsdroid would cause any issue with windows or not. I guess if we fix all the path linking with that os.path.join it should make things work for you. As for the message.py bit I wrote that comment before digging deeper into the cause of the issue, once I found that the problem was with every single connector I pushed the changes to that test branch of the connector

[2018-04-03 16:14] jacobtomlinson opened #513 "Switch config location to use appdirs"
Currently opsdroid config gets dropped into `~/.opsdroid`. This involves some manual management of this directory and isn'y very platform agnostic.

We should switch the config to use [`appdirs`](https://github.com/ActiveState/appdirs). It's a simple library which provides appropriate paths to store config in.

This change would require:
- Update the config directory to use `appdirs`
- Add some ki

[2018-04-03 16:17] jacobtomlinson opened #514 "Switch CLI to use click"
I recently discovered [`click`](http://click.pocoo.org/5/) which makes adding command line options and arguments to your python application super simple and much more robust.

We should look at replacing the [current argparse code](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/__main__.py#L88) with `click`!

[2018-04-03 18:41] sbeesm commented on #494
Debug log:
[code]

[2018-04-03 18:50] sbeesm commented on #494
[code]
I think this error at the bottom is encountered when I force kill the terminal when it hangs.

[2018-04-03 19:33] FabioRosado commented on #494
It seems that currently the issue with the shell connector is due to the failure when it tried to import it from github.

Jacob just merged my PR to replace the use of pwd with os.environ to get the user data, could you try to replace the connector bit on your `configuration.yaml` with:
[code]

Then run opsdroid again in order to get it downloaded and imported again from the official repo. Once th

[2018-04-04 07:44] jacobtomlinson commented on #494
I'm still not sure if the shell connector will work on Windows.

You could try disabling the shell connector and just use the [websocket connector](https://github.com/opsdroid/connector-websocket) with [opsdroid desktop](https://github.com/opsdroid/opsdroid-desktop).

[2018-04-04 09:56] FabioRosado opened #515 "Fix no database warning message"
# Description
When opsdroid is run with no databases set in the `configuration.yaml` a warning message is logged saying the following:
`"No databases in configuration. This will cause skills which store things inmemory to lose data when opsdroid is restarted."` located on [line 241](https://github.com/opsdroid/opsdroid/blob/7e0aa02595ba18121aecb67006c0980eeb62ddfb/opsdroid/loader.py#L241) in the f

[2018-04-04 19:19] jacobtomlinson opened #516 "Add end to end tests"
As well as the existing unit tests it would be good to add some end to end tests.

Some of this has already been added in #319 with the docker tests which checks the api endpoint as well as running the unit tests.

Good things to test would be:
- The API becomes available within a certain time (10 seconds?).
- Using the `webhook` connector and the `hello` skill a message can be sent and responsed

[2018-04-04 19:51] jacobtomlinson opened #517 "Setting typing delay to 0 means bot never responds"
# Description
When a typing delay is defined it is an integer which states how many characters per second opsdroid should type. If you set this to `0` then it can type no characters per second and therefore never responds.

## Steps to Reproduce
- Configure a connector with a `typing-delay` of `0`.
- Talk to the bot

## Experienced Functionality
The bot never responds.

## Expected Functionality
I

[2018-04-04 19:51] jacobtomlinson commented on #517
@FabioRosado I would be interested in your thoughts as you implemented this

[2018-04-05 15:54] sbeesm commented on #494
When I replace the connector in `configuration.yaml` with:
[code]
Again a permission denied error is encountered:

[code]

[2018-04-05 16:05] sbeesm commented on #494
But keeping the default connector config:
[code]

Opsdroid does seem to work, but hangs after this:

[code]
It does not respond to the messages and neither Ctrl+C works.

Is there any possibility that these issues are being encountered due to git-bash?
Because I am trying to run opsdroid through git-bash by adding a path to python environment.

[2018-04-05 19:39] FabioRosado commented on #494
I looked at that config path before and mentioned that the issue might have been there. I didn't have enough time to explore that idea though. Also, I was reading today that the shutil module has some issues when run on windows - mostly that permissionError exception being thrown.

I'm coming back home tomorrow night and will still have three days of leave before going back to work so I should be

[2018-04-05 19:49] FabioRosado commented on #517
I agree that both should be measured in seconds to avoid confusion. I can't remember why I decided to go with characters per second to be honest, perhaps it was to divide these two functions because otherwise one would be enough (saying that should we refactor the code to just use one delaying function?)

 I also remember setting a default on that delay but for some reason I didn't added it in the

[2018-04-06 09:48] subhrm commented on #515
I would try to fix this issue.

[2018-04-06 12:02] #515 closed

[2018-04-09 19:55] r39132 opened #524 "[IGNORE] Testing out the PR template integration with issue closing"
# Description
Please include a summary of the issue.

## Steps to Reproduce
Please also include relevant information and steps to reproduce the bug/issue.

## Expected Functionality
Explain what should happen.

## Experienced Functionality
Explain what happened instead(Please include the debug log).

## Versions
- **Opsdroid version:**
- **Python version:**
- **OS/Docker version:**

## Configurati

[2018-04-09 19:57] #524 closed

[2018-04-11 18:51] #514 closed

[2018-04-16 12:42] adityac8 commented on #321
Hey @jacobtomlinson I would like to work on this 😃

[2018-04-17 09:15] jacobtomlinson commented on #321
@adityac8 that's great. Have a look at the PR that @musatoktas raised and see the comments I made.

If you can raise a new PR including his change and then the tweaks I suggested that would be great!

[2018-04-18 09:46] #321 closed

[2018-04-20 19:06] jacobtomlinson commented on #494
I'm going to close this as resolving #513 should resolve this.

[2018-04-20 19:06] #494 closed

[2018-04-25 14:50] #513 closed

[2018-04-27 08:33] sims34 commented on #516
Hi @jacobtomlinson !
I am student in CS and i would like contribute, but i'm new in the open source system how can i help, where  i should start ?
Thk :)

[2018-04-27 09:45] jacobtomlinson commented on #516
Hey @sims34. This issue probably isn't the best place to start. Why don't you hop into our [gitter channel](https://gitter.im/opsdroid/general) and we can chat about it there.

[2018-04-27 11:17] sims34 commented on #516
Hey,
ok thk

[2018-04-27 15:23] FabioRosado opened #532 "Add Google Style Docstrings"
We should implement Google Style Docstrings to every function, method, class in opsdroid. This style will support existing documentation and will help in the future by generating documentation automatically.

This consists in a bit of effort so this issue can be worked by more than one contributor, just make sure that everyone knows what you are working on in order to avoid other contributors spen

[2018-04-27 20:30] jacobtomlinson commented on #532
Yes we should definitely do this!

It can also be really useful for automatically generating reference documentation.

[2018-04-28 16:42] FabioRosado commented on #532
Awesome I'll wait a few days to see if anyone is opposed to this idea or if they would like to give some advice/comment on the issue.

If in a few days no one says anything I'll edit this issue just to explain more in depth what we expect of the comments and how to do it - I'd recommend dividing opsdroid per each .py file so different people can contribute to the issue 😄

[2018-04-28 23:51] go8ose commented on #532
I like the idea. Is it possible to add a test that inspects the doc strings,  and fails if they don't match the format? If so, would Jacob be happy with test coverage "reducing" in the short term as this test was added,  but before all the doc strings complied?

On 29 April 2018 2:42:05 am AEST, "Fábio Rosado" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please

[2018-04-29 06:07] jacobtomlinson commented on #532
Yes I'm happy with that approach.

I've been thinking about it and I think there are two reasons why anyone would want to do this. The first is for autogenerating documentation, the second is making it easier for people to contribute.

As you said you are intending this to help people contribute, and I definitely agree. I just want to be clear on why we are doing this beyond it just being a thing

[2018-04-29 19:45] sims34 commented on #516
Hi @jacobtomlinson
i sent you a message on gitter channel.

[2018-04-30 07:51] FabioRosado commented on #532
I'm not sure if it's possible to enforce google doc style in the lint, but I know that you can run tests on the docstrings like @go8ose  suggested, Sphinx has a command for this (it uses the doctest module), but this tests might provide some issues and headaches.

The doctests will use the string representation present in the docstring to run the tests, if the result is not consistent like... a fu

[2018-04-30 09:33] go8ose commented on #532
Hi Fabio,

I'm not suggesting we add more tests in the form of doctests. That would indeed be a waste of effort. I'm suggesting we check conformance with the google style doc strings.

Jacob suggested seeing if this can be checked in the linting run. That is a good idea,  linting is what I should have suggested initially.

Cheers,
Geoff

On 30 April 2018 5:51:38 pm AEST, "Fábio Rosado" <notificati

[2018-04-30 11:02] jacobtomlinson commented on #532
This tool looks like it tests the docstrings against the google convention. We should explore it more.

https://github.com/terrencepreilly/darglint

[2018-05-02 14:31] sims34 commented on #532
Hi Fabio,
I like your idea, i new here on this project i can try to do something and make a pull request.
For my part i'm going to begin with **helper.py** it's Thk ok for you ?
Thk best regards

[2018-05-02 18:34] FabioRosado commented on #532
Heya @sims34 yeah that would be much appreciated, let me know in gitter if you need any help with this 👍

[2018-05-09 08:20] Cadair opened #536 "Add support for non-Message events"
Currently the main opsdroid bus only handles connectors receiving messages and passing them to skills as `Message` objects. For opsdroid to be used to do things other than a chat bot it would be good if there was support for generic event types, which could be defined on a per-connector level.

Examples of these events that have come to mind:

- A `NewChannel` event in the slack connector.
- A `Ro

[2018-05-09 09:31] jacobtomlinson commented on #536
I agree that this would be a useful thing to add.

This is probably also related to #195 which covers sending different types of responses other than text such as images or binaries.

From an OOP point of view I feel like a message is probably a particular type of event and so we should probably create an `Event` class which `Message` inherits from.

We should also think about the matchers as they

[2018-05-09 09:57] Cadair commented on #536
This looks like a nice way to solve this problem, `Image` could be a subclass of `Message`?

Agreed, the current `match_always` matcher then becomes `match_event('Message')`? (Where as `match_always` would be for all events? (backwards compatibility not withstanding))

I feel like it would be better if instead of strings it could take the actual classes, but I can't think of a nice way to get hold

[2018-05-09 11:33] SolarDrew commented on #536
Perhaps it could take multiple properties as a tuple only run if they all match? `or`s could be done by just specifying multiple matchers, so it wouldn't need to handle both, though I don't know if having different methods for `and` and `or` is particularly intuitive....

[2018-05-09 12:00] jacobtomlinson commented on #536
This functionality sounds like it would fit into the idea of `matchers` and `constraints` which are raised in #273.

[code]

However I can't immediately think of how to handle logical or's. I guess matchers and constraints could be used as a high level first pass filter and if you want to do more complex logic you can do it in the skill itself.

We could definitely use classes in a better way. Thi

[2018-05-09 12:29] Cadair commented on #536
ok, I don't want to drift too far off into constraints and such. I think it would be worth getting just the event matching stuff in first.

@jacobtomlinson do you have a suggestion on a way to "import" the event classes into the skills or are we going to have to use strings?

[2018-05-09 15:36] jacobtomlinson commented on #536
My preference would be for strings. That way we can make things more generic. For example both the hypothetical GitHub and Bitbucket connectors could have a `pullrequest` event.

[2018-05-09 15:53] Cadair commented on #536
I am not completely adverse to strings, however, I have found in some of my more obscure skill development that it's very useful to be connector dependant when you need to be (see [skill-picard](https://github.com/SolarDrew/skill-picard) which is *very* matrix specific). So while I like the idea of being able to match on some kind of `.name` property, I would also like to be able to match on the t

[2018-05-10 09:02] jacobtomlinson commented on #536
Yeah namespacing would be good. Perhaps with dot notation? `github.pr` or `bitbucket.pr`

This is the format I tend to follow in the NLU APIs like Rasa and Dialogflow.

[2018-05-11 09:32] purvaudai commented on #532
Hi Fabio,
I am new here on this project. I was hoping I could help out with main.py
Regards

[2018-05-11 09:40] jacobtomlinson commented on #532
Hey @purvaudai, please go ahead!

[2018-06-15 07:15] jacobtomlinson commented on #395
These builds have started failing again.

[2018-06-15 07:32] jacobtomlinson commented on #395
Raised rtfd/readthedocs.org#4246

[2018-06-15 13:37] FabioRosado commented on #395
I have read the issue you have raised with them, I guess the issue with the docs not being built was due to the fact that we upgraded aiohttp to the latest version and they just have version  3.0.0b0. Hopefully, they will either give some feedback or include the latest version of aiohttp.

When I was merging the updated dependencies I didn't see any issue with the aiohttp version, should we hold u

[2018-06-15 13:46] FabioRosado commented on #532
Hello @purvaudai did you manage to work on `main.py`? If you are stuck with something let us know, we would be happy to help you getting started 👍

[2018-06-17 17:51] Cadair opened #558 "Dependency hell: opsdroid needs aiohttp 3.3.2 and slacker-asyncio needs 3.0.2"
I just removed slacker-asyncio from requirements.txt and it worked. :confused:

[2018-06-18 07:48] FabioRosado commented on #558
Slack is now merged into the core of opsdroid, by removing slacker-asyncio it didn't break opsdroid for you?

[2018-06-18 07:55] Cadair commented on #558
It didn't seem to.

Why did slack get merged into core ooi?

[2018-06-18 08:12] FabioRosado commented on #558
Due to issue #185 Jacob worked and merged slack and websocket into the core, other connectors will eventually be merged as well. Opsdroid didn't drop the connector class though so users can still create their own connectors

[2018-06-18 09:09] jacobtomlinson commented on #558
We should probably update the connectors to use a more flexible requirements file rather than pinning the version. However as @FabioRosado said this should be relevant to Slack as of the next release due to it being merged into the core.

[2018-06-18 09:47] FabioRosado commented on #558
I was looking at the [skill words](https://github.com/opsdroid/skill-words) and it contains a requirement.txt file, I didn't mention anywhere that you should install the requirements manually, does opsdroid get the dependencies of the file if it's in the folder?

I'm only asking because if opsdroid does that then perhaps we could extend the functionality to connectors as well (if it's not in place

[2018-06-18 14:23] jacobtomlinson commented on #558
When you configure the skill opsdroid will install the requirements file as part of installing the skill. Same for connectors and databases. Those dependencies get installed into a separate `site-packages` directory which is added to the path dynamically when the skills are loaded.

[2018-06-25 01:14] mraza007 commented on #532
Hi Guys is anyone working on this issue

[2018-06-25 07:28] jacobtomlinson commented on #532
@mraza007 not currently. Please go ahead.

[2018-06-25 14:03] mraza007 commented on #532
Sure I will start working on this issue. Is there a way that you can assign this issue to me and on what files do I have to add google style doc string functions

[2018-06-25 14:53] purvaudai commented on #532
Sorry for the lack of replies from my side. I tried solving this issue but
got confused, so I decided to look through the docs again, and I got
carried away learning. I am sorry for the lack of professionalism from my
side.

On Mon, 25 Jun 2018 at 19:33, Muhammad <notifications@github.com> wrote:

--
Purva Udai Singh

[2018-06-25 15:19] mraza007 commented on #532
@purvaudai Hey are working on this issue do you want to continue

[2018-06-25 19:17] NikhilRaverkar commented on #532
Hi guys I'd love to contribute too.
@mraza007 @purvaudai  I know you guys are working on this, but if you need my help with any of the file, I'll be more than happy to contribute.

[2018-06-26 07:22] jacobtomlinson commented on #532
@mraza007 @purvaudai @NikhilRaverkar Thanks for all wanting to contribute! There is a lot to be done on this issue so I strongly recommend picking a file and starting work on it.

Don't worry too much about duplicates, it's unlikely to happen given the number of methods that need updating. I would also be happy for you to submit lots of small PRs. Just pick a few methods, update the docstrings and

[2018-06-26 15:34] mraza007 commented on #532
Yup I think that would be a great idea

[2018-06-28 08:39] FabioRosado commented on #532
@purvaudai  Don't worry my friend sometimes these things happen, if you want to contribute to opsdroid in the future we will be glad to help you 👍

@mraza007  @NikhilRaverkar  If you guys need any help, let us know. You can work on different files if you want and if something is not clear feel free to hit us up either in here or our [gitter channel](https://gitter.im/opsdroid/developers)

[2018-06-28 14:44] mraza007 commented on #532
Sure I just joined the channel I will start working on this over the week

[2018-06-28 14:58] NikhilRaverkar commented on #532
I’ll start working on this over the weekend.

Thanks a lot,
Nikhil

[2018-07-02 19:30] jacobtomlinson opened #566 "Upgrade Dialogflow to V2 API"
There is now a V2 API for Dialogflow.

We should look at the parser and skill and upgrade the API if applicable.

https://dialogflow.com/docs/reference/v2-agent-setup

[2018-07-13 08:49] jacobtomlinson opened #571 "Add support for IPython/Jupyter Notebooks"
I've found myself using [Jupyter Notebooks](http://jupyter.org/) more and more and I think it would be a great way to write opsdroid skills.

The notebooks are a mixture of code, output from code (print statements, matploptlib plots, etc) and markdown. They are stored as a json blob of the cells with the file extension `.ipynb`.

There is a tool called [nbconvert](https://github.com/jupyter/nbconv

[2018-07-13 08:52] jacobtomlinson opened #572 "Add GitHub Gist support"
We should add support for GitHub gists as a remote skill source. This would make sense for single file skills and would be particularly useful when coupled with Jupyter Notebooks (#571). There is a plugin for Jupyter which publishes a notebook as a Gist, so you could then reference it in your opsdroid config to load it in.

[2018-07-16 10:22] #571 closed

[2018-07-18 17:27] FabioRosado opened #580 "Potential vulnerability with yaml.loader"
# Description
I was listening to Talk Python to Me podcast - the one where they talk about Python vulnerabilities and things that we shouldn't be doing in Python.  One of the things that they mention was using `yaml.load` instead of `yaml.safe_load`.

I know that when I wrote the bit of code so we can use `!include` I use yaml.loader so perhaps this should be changed to `yaml.safe_load`. One thing

[2018-07-19 08:01] jacobtomlinson commented on #580
Funnily enough I was looking into this yesterday!

The recent PRs have been failed due to there being an [open CVE for `pyyaml`](https://github.com/yaml/pyyaml/issues/207). From looking into it I think this vulnerability has been ackowledged for a while but when using the latest version of `pyyaml` with python 3.7 you may experience the vulnerability.

They are planning on releasing a new version

[2018-07-19 16:01] FabioRosado commented on #580
Yeah, I was a bit confused due to that PR that said it implements `safe_load` as default although the documentation still tells you to not use `load` and use `safe_load` instead. For some reason, the tests are failing I will look into it further and try to figure out why they are failing 👍

[2018-07-19 16:05] jacobtomlinson commented on #580
Getting #574 merged is the priority at the moment. If you could look into it that would be great.

[2018-07-22 23:46] tdavis commented on #558
I ran into this earlier too. It happens if you use opscode from source to get the included connectors. I ultimately had to just back out to the pypi version and copy-paste the source for the connector I wanted to modify. The entire process of which is quite obscure. I had to read the source code to find out that if I added a `path` key to the yaml pointing to my connector it would stop trying to i

[2018-07-23 07:50] jacobtomlinson commented on #558
Thanks for commenting @tdavis, you make some interesting points.

I totally take your point here. In the initial design for opsdroid I was striving to avoid the way hubot handles it's packages. In that project you npm install your skills/connectors and they magically appear because hubot imports all packages named `hubot-*`. However I kept running into issues where bugs in the connectors were hard

[2018-07-26 08:51] jacobtomlinson commented on #558
#587 downgrades aiohttp for now.

[2018-07-26 08:51] #558 closed

[2018-07-26 08:52] jacobtomlinson commented on #558
#588 has been raised by @pyup-bot to put it back up again. We can discuss long term fixes there.

[2018-07-27 03:33] Thai-Morris commented on #447
Hello, I am new to this open source contribution thing. How can I help?

[2018-07-27 07:39] jacobtomlinson commented on #447
Welcome to open source! Great to have you.

The documentation page this issue is referring to can be found [here](https://github.com/opsdroid/opsdroid/blob/master/docs/matchers/regex.md).

You'll need to fork the repo, edit the page, and then open a pull request. [GitHub has a guide here](https://help.github.com/articles/creating-a-pull-request-from-a-fork/).

If you need any further help you can

[2018-07-29 07:51] jacobtomlinson opened #593 "Make all tests offline"
We have some tests which are checking things like pulling from GitHub, downloading files, installing deps from pypi, etc. This means the tests can break if there is no internet connection.

I've also noticed this happen from Travis where a GitHub url is denied, this may be some kind of rate limiting if lots of people on Travis are hitting GitHub.

We should mock out our tests better so they don't

[2018-07-29 11:53] FabioRosado commented on #593
I was thinking about the tests yesterday. Some of the tests I have done rely on `sleep()` which makes them slower as well. Perhaps we could make the sleep quite short (perhaps 0.1sec) so it will still get called but the delay won't be too bad, what do you think?

[2018-07-30 17:20] Cadair commented on #558
So I just wanted to put a quick note in here, with another side effect of this I encountered today. I have a skill that was using the synchronous version of slacker, which now does not work with opsdroid v0.12. (Annoyingly it also needs features introduced after 0.11). This seems to be for some *inexplicable* reason `slacker-asyncio` is also provides the `slacker` package.

The way out for me agai

[2018-07-30 19:08] jacobtomlinson commented on #558
@Cadair sorry that this has caused you so many problems.

As far as I'm aware `slacker-asyncio` takes the regular `slacker` package and overrides the methods which call the Slack API with async coroutines. Hence it needing to install the `slacker` package.

I'm currently exploring setting up more flexible dependencies for opsdroid as I'm aware they are far too rigid.

One additional option would b

[2018-07-30 19:37] Cadair commented on #558
I didn't open a new issue, because it's not really an opsdroid bug, it's really an issue with `slacker-asyncio`. In that if you install `slacker-asyncio` then `import slacker` you get `slacker-asyncio` and not `slacker`, which means that you can't use the async and non-async version of slacker at the same time (I think). (I also think I have found some actual bugs in `slacker-asyncio` as well).

I

[2018-07-30 20:47] FabioRosado commented on #558
Slacker-asyncio is currently having some issues with hard-coded version of aiohttp that's  one of the big issues with it. I hope that this will change soon, I have submitted a PR and opened an issue on the project page and will wait for a reply otherwise I will try to submit another PR in order to get slacker-asyncio to accept an aiohttp version > than 3.0.5 - hopefully this could help some of you

[2018-07-31 07:02] jacobtomlinson commented on #558
@Cadair I hadn't really noticed that that had overridden the naming. I wrote the connector a while ago. That is rather annoying and I see where you are getting frustrated. It looks like they have forked slacker and upgraded it to be async, rather than providing an async wrapper.

Part of the idea of moving the connectors and databases into the core is to try and get away from the custom dependency

[2018-08-19 13:53] Cadair opened #609 "Databases fail to load under 0.12"
# Description

When I configure opsdroid to use a database (tested with the matrix or mongo database) I get the following error:

[code]

## Steps to Reproduce

start opsdroid with a database config section.

## Expected Functionality

The database should load

## Experienced Functionality

opsdroid crashes

## Versions
- **Opsdroid version:** 0.12.1
- **Python version:** 3.6 (conda)
- **OS/Docker

[2018-08-20 12:11] jacobtomlinson commented on #609
Thanks for raising this!

[2018-08-20 12:13] Cadair commented on #609
I tried to work out why it was going wrong, but everything I did lead to new and even more incomprehensible errors lol

[2018-08-20 12:36] jacobtomlinson commented on #609
I've had a guess at what I think the problem is. If you feel like testing that PR I would appreciate it.

[2018-08-20 12:52] Cadair commented on #609
while we are at it, have you seen the "changed in 3.7" on this: https://docs.python.org/3/library/importlib.html#importlib.util.find_spec

[2018-08-20 13:16] jacobtomlinson commented on #609
Ah that looks like it! We haven't started on 3.7 support yet. I would be keen to run tests against it for a start.

Hopefully it is still the same fix though.

[2018-08-20 13:17] #609 closed

[2018-08-20 13:29] jacobtomlinson opened #613 "Add Python 3.7 support"
We need to update opsdroid to be fully supported in 3.7.

- [ ] Test against Python 3.7.
  - [ ] Travis
  - [ ] AppVeyor
- [ ] Fix any bugs highlighted.
- [ ] Add 3.7 to supported versions in `setup.py`.
- [ ] Update docker base image to be latest supported version.

[2018-08-20 17:10] #613 closed

[2018-08-20 17:12] jacobtomlinson opened #616 "Update docker image to newer python version"
The docker image is still using Python 3.5. We should think about increasing this to 3.6 or even 3.7.

[2018-09-03 19:04] aimananees commented on #616
Hi!
I would like to work on this.

[2018-09-03 19:41] FabioRosado commented on #616
Hello! It would be great if you could work on this só feel free to submit a PR once you finish your work 👍

[2018-09-06 10:35] aimananees commented on #616
Hi!
I am trying to update the docker image by updating "FROM python:3.5-alpine" to "FROM python:3.6-alpine" in the Dockerfile. Is this approach right? When I do this and build the docker image, I end up getting an error:
Command "/usr/local/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-bk0tb4l6/multidict/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read()

[2018-09-07 12:56] jacobtomlinson commented on #616
Yes this is the right approach.

The next step here is to debug the error message.

[2018-09-07 14:20] jacobtomlinson opened #634 "Pass path to config as cli argument"
The new config file location appears to cause confusion with existing users as they end up in a state where opsdroid is using the new config but the old config still exists.

Here is some feedback via Gitter/Matrix.

[2018-09-09 14:42] colonelkrud commented on #634
We could also allow the user to pass the path at start with a flag.

[2018-09-11 12:42] jacobtomlinson opened #639 "Should we use type hints?"
In opsdroid/connector-matrix#36 a [line](https://github.com/opsdroid/connector-matrix/pull/36#discussion-diff-216391788R19) containing [type hints](https://www.python.org/dev/peps/pep-0484/) has been proposed.

Given that these were a new feature in Python 3.5 and 3.5 is now the minimum supported version for opsdroid there is nothing stopping us from using them within the code base. For me this ha

[2018-09-13 06:26] jacobtomlinson opened #641 "Hacktoberfest 2018"
It is just over two weeks until the start of Hacktoberfest. I am also expecting a baby at the beginning of October and will not be able to put in as much effort this hacktoberfest as I would like. Therefore we should invest time now in preparing the project with a whole range of well written issues for people to tackle.

This should also make the review and merge process straightforward for @Fabio

[2018-09-13 07:15] FabioRosado commented on #641
First of all congratulations on the baby, hope everything goes well (and that you can get some sleep over the night 😄

I've been thinking about issues but I have nothing at the moment, but I'm more than happy to help around on hacktoberfest. I also agree with the milestone and assign issues to it, it will give us a clear path that we should follow and which issues should be a priority than others.

[2018-09-13 07:52] FabioRosado commented on #639
I followed the discussion on [gitter](https://gitter.im/opsdroid/developers) and gave a bit of a thought about this issue. Unfortunately, my feelings are a bit mixed.

I agree with what has been said. Type hints do make functions look pretty ugly (I'm not a big fan of how it is implemented), it could be hard for new people to create functions with type hints.  In regards to google docstrings, not

[2018-09-13 08:18] jacobtomlinson commented on #641
Thanks!

I have tons of things in my head which I need to formalise into issues. We definitely aren't short of things to do. So I'll just crack on with typing them up.

[2018-09-13 10:50] FabioRosado opened #643 "Improve loader.py"
# Description
The `loader.py` file is in need of refactoring as at the moment it is a bit of a mess. I remember from a few chats in issues/gitter/PRs that a few things that should be improved. This issue is just to formalize that need.

The loader could probably be refactored in order to make it fast. In previous versions of opsdroid, the loader would kick in and in seconds opsdroid was working, n

[2018-09-13 21:47] Man-Jain commented on #532
I would like to contribute to this. For starters I was thinking about takingom the web.py file.

[2018-09-14 02:09] FabioRosado commented on #532
Hello, please go ahead and let us know if you need any help

[2018-09-16 14:01] jacobtomlinson opened #645 "Improve code versioning"
Through another project I'm working on I came across [versioneer](https://github.com/warner/python-versioneer). It adds some extra boilerplate to a project which allows it to calculate its own version both at build time and run time. This would mean we could remove the deployment step of incrementing the version number.

- Officially built and released packages would calculate versions based on th

[2018-09-17 08:38] #645 closed

[2018-09-20 20:56] archime commented on #532
@FabioRosado Can I grab message.py? This would be my first issue!

[2018-09-21 03:35] FabioRosado commented on #532
@archime please go ahead! Let me know if you need any help with this issue. Also, welcome to the project 👍

[2018-09-21 04:09] #102 closed

[2018-09-21 04:09] #191 closed

[2018-09-21 04:09] #300 closed

[2018-09-21 04:09] #185 closed

[2018-09-21 04:09] #458 closed

[2018-09-22 14:38] jacobtomlinson opened #649 "Slack connector does not work"
# Description
Since the switch to aioslacker the slack connector does not work.

[code]

## Versions
- **Opsdroid version:** 0.12.2
- **Python version:** 3.6
- **OS/Docker version:** macOS 10.13

[2018-09-22 15:33] jacobtomlinson opened #651 "Add minimum supported packages"
As a long term fix to the dependency hell issues we suffer in this project I propose the following changes:

- Add a `requirements_minimum.txt` file with minimum versions of packages required to run opsdroid.
- [Configure PyUpBot](https://pyup.io/docs/bot/config/) to only do security updates on that file.
- Update `setup.py` to read both `requirements.txt` and `requirements_minimum.txt` and merge

[2018-09-25 16:19] colonelkrud opened #654 "Treat skills with explicit path as local"
When defining custom skills in the configuration file, we have the ability to define a path for the skill. When this path is defined, we should be able to safely assume that the skill is local and accessible by the bot and therefore should not need to be cached.

My suggestion is to treat skills which have been explicitly defined with a local path as local skills and automatically apply the `nocac

[2018-09-25 16:31] colonelkrud opened #655 "Reload skills"
Perhaps as part of #643  we should rebuild the reload function.

When developing, sometimes I want to reload a skill many times to text each part of functionality. Currently the only way to reload skills is to restart the bot. My suggestion is a new method of loading skills that allows for a single skill or all skills to be reloaded while the bot is live. It could even recheck the config file and

[2018-09-25 18:03] FabioRosado commented on #655
I believe the issue with the reload and why we decided to remove it was because it caused some issues with the loader.

[2018-09-25 18:07] FabioRosado commented on #654
I like that idea and it does make sense to have the nocache set to true if the path is available in the config when you are developing the skill.

We need to check with the community if this is something we should implement as well, the reason for that being that some devs are probably using their own skills with opsdroid and perhaps having the nocache set could cause a burden to them when opsdroi

[2018-09-26 04:32] colonelkrud commented on #655
True.. but if we are looking at improving the loader, this should be something considered from the beginning.

[2018-09-26 07:39] jacobtomlinson commented on #654
To add some context this issue has come from a chat on Gitter/Matrix. We were saying that for anything specific with `path` should default to `no-cache: true` and anything with `repo` should default to `no-cache: false`. The user is still free to configure in whichever way they like.

My only concern is that this inconsistency may cause confusion. However as the current caching is already causing

[2018-09-26 07:42] FabioRosado commented on #654
Ah okay I checked Gitter but is nothing there about this. Are we using matrix more?

[2018-09-26 07:43] jacobtomlinson commented on #655
The reload was removed because it was poorly implemented (by me) and caused more problems than it solved, so the decision was to take it back out again. However I would like to see this functionality in opsdroid, just done properly 😂.

One package to look at for inspiration would be [appdaemon](https://github.com/home-assistant/appdaemon). They have auto loading and 'auto reload on file changed' f

[2018-09-26 07:45] jacobtomlinson commented on #654
The two are bridged so you can use either. We were discussing it in general yesterday, but it might've gotten lost in the noise :).

[2018-09-29 14:36] jacobtomlinson commented on #446
Sorry for not getting back to you @redfruitt this totally slipped off my radar. This approach did look good.

This is up for grabs again as I imagine it has gone stale.

[2018-09-29 14:38] jacobtomlinson commented on #516
This is up for grabs again

[2018-09-29 15:13] jacobtomlinson opened #660 "Add conda package"
We should distribute opsdroid via `conda` as well as `pip`.

This would require:
 - ~~Create an [opsdroid organisation](https://anaconda.org/opsdroid) on anaconda.org _(must be done by a maintainer)_~~
 - ~~Add an `ANACONDA_TOKEN` env var to Travis to enable uploading to anaconda _(must be done by a maintainer)_~~
 - Create a `meta.yml` file in a `conda` directory to specify the package
 - Add ste

[2018-09-29 15:31] jacobtomlinson opened #661 "Specify modules by Python module name"
Currently to configure modules for opsdroid (connectors, databases and skills) you specify a `path` or `repo` config option which tells opsdroid where it can find that specific module. Then at run time opsdroid will pull all of those modules together into an internal location, append that to the Python path and import all the modules.

It would be sensible to also include support for using modules

[2018-09-30 08:18] jacobtomlinson opened #662 "Move Matrix connector into core"
This issue covers adding the [Matrix connector](https://github.com/opsdroid/connector-matrix) to core.

## Background
A while ago we began moving connectors from external plugins into the core of the project (see #185 for more context). We started with [slack](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/__init__.py) and [websockets](https://github.com/opsdroid/opsdroi

[2018-09-30 16:15] jacobtomlinson opened #663 "Move Twitter connector into core"
This issue covers adding the [Twitter connector](https://github.com/opsdroid/connector-twitter) to core.

## Background
A while ago we began moving connectors from external plugins into the core of the project (see #185 for more context). We started with [slack](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/__init__.py) and [websockets](https://github.com/opsdroid/opsdr

[2018-09-30 16:17] jacobtomlinson opened #664 "Move GitHub connector into core"
This issue covers adding the [GitHub connector](https://github.com/opsdroid/connector-github) to core.

## Background
A while ago we began moving connectors from external plugins into the core of the project (see #185 for more context). We started with [slack](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/__init__.py) and [websockets](https://github.com/opsdroid/opsdroi

[2018-09-30 16:18] jacobtomlinson opened #665 "Move Telegram connector into core"
This issue covers adding the [Telegram connector](https://github.com/opsdroid/connector-telegram) to core.

## Background
A while ago we began moving connectors from external plugins into the core of the project (see #185 for more context). We started with [slack](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/__init__.py) and [websockets](https://github.com/opsdroid/ops

[2018-09-30 16:19] jacobtomlinson opened #666 "Move Cisco Spark connector into core"
This issue covers adding the [Cisco Spark connector](https://github.com/opsdroid/connector-ciscospark) to core.

## Background
A while ago we began moving connectors from external plugins into the core of the project (see #185 for more context). We started with [slack](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/__init__.py) and [websockets](https://github.com/opsdroi

[2018-09-30 16:19] jacobtomlinson opened #667 "Move shell connector into core"
This issue covers adding the [Shell connector](https://github.com/opsdroid/connector-shell) to core.

## Background
A while ago we began moving connectors from external plugins into the core of the project (see #185 for more context). We started with [slack](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/__init__.py) and [websockets](https://github.com/opsdroid/opsdroid/

[2018-09-30 16:20] jacobtomlinson opened #668 "Move Facebook Messenger connector into core"
This issue covers adding the [Facebook Messenger connector](https://github.com/opsdroid/connector-facebook) to core.

## Background
A while ago we began moving connectors from external plugins into the core of the project (see #185 for more context). We started with [slack](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/__init__.py) and [websockets](https://github.com/op

[2018-09-30 16:28] jacobtomlinson opened #669 "Move MongoDB database module into core"
This issue covers adding the [MongoDB database module](https://github.com/opsdroid/database-mongo) to core.

## Background
A while ago we began moving connectors and databases from external plugins into the core of the project (see #185 for more context). We started with [slack](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/__init__.py) and [websockets](https://github.c

[2018-09-30 16:29] jacobtomlinson opened #670 "Move redis database module into core"
This issue covers adding the [Redis database module](https://github.com/opsdroid/database-redis) to core.

## Background
A while ago we began moving connectors and databases from external plugins into the core of the project (see #185 for more context). We started with [slack](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/__init__.py) and [websockets](https://github.com

[2018-09-30 16:29] jacobtomlinson opened #671 "Move the sqlite database module into core"
This issue covers adding the [sqlite database module](https://github.com/opsdroid/database-sqlite) to core.

## Background
A while ago we began moving connectors and databases from external plugins into the core of the project (see #185 for more context). We started with [slack](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/slack/__init__.py) and [websockets](https://github.c

[2018-09-30 16:55] jacobtomlinson opened #672 "Create a Rocket.Chat connector module"
Let's add a [Rocket.Chat connector](https://rocket.chat/) as proposed in #498.

## Steps

 - Make a new submodule directory in [`opsdroid.connector`](https://github.com/opsdroid/opsdroid/tree/master/opsdroid/connector) called `rocketchat` and create an `__init__.py` file inside.
 - Implement the connector according to the [documentation on writing connectors](https://opsdroid.readthedocs.io/en/sta

[2018-09-30 19:09] jacobtomlinson opened #673 "Create a Mattermost connector module"
Let's add a [Mattermost connector](https://mattermost.com/).

## Steps

 - Make a new submodule directory in [`opsdroid.connector`](https://github.com/opsdroid/opsdroid/tree/master/opsdroid/connector) called `mattermost` and create an `__init__.py` file inside.
 - Implement the connector according to the [documentation on writing connectors](https://opsdroid.readthedocs.io/en/stable/extending/conn

[2018-09-30 19:11] jacobtomlinson opened #674 "Create a Gitter connector module"
Let's add a [Gitter connector](https://gitter.im/).

## Steps

 - Make a new submodule directory in [`opsdroid.connector`](https://github.com/opsdroid/opsdroid/tree/master/opsdroid/connector) called `gitter` and create an `__init__.py` file inside.
 - Implement the connector according to the [documentation on writing connectors](https://opsdroid.readthedocs.io/en/stable/extending/connectors/).
 -

[2018-09-30 19:14] jacobtomlinson opened #675 "Create a Yammer connector module"
Let's add a [Yammer connector](https://www.yammer.com/).

## Steps

 - Make a new submodule directory in [`opsdroid.connector`](https://github.com/opsdroid/opsdroid/tree/master/opsdroid/connector) called `yammer` and create an `__init__.py` file inside.
 - Implement the connector according to the [documentation on writing connectors](https://opsdroid.readthedocs.io/en/stable/extending/connectors/)

[2018-09-30 19:17] jacobtomlinson opened #676 "Create a Skype for Business connector module"
Let's add a [Skype for Business connector](https://www.skype.com/en/business/).

## Steps

 - Make a new submodule directory in [`opsdroid.connector`](https://github.com/opsdroid/opsdroid/tree/master/opsdroid/connector) called `skypeforbusiness` and create an `__init__.py` file inside.
 - Implement the connector according to the [documentation on writing connectors](https://opsdroid.readthedocs.io

[2018-09-30 19:32] jacobtomlinson commented on #675
@iamrajhans please go ahead!

[2018-09-30 19:39] moulikcipherX commented on #674
I want to work on this issue...

[2018-09-30 19:42] jacobtomlinson commented on #674
@moulikcipherX please go ahead

[2018-10-01 00:50] souravsingh commented on #664
@jacobtomlinson I am interested in taking a stab at this.

[2018-10-01 03:05] Replayattack commented on #667
@jacobtomlinson  I'd like to take this issue.

[2018-10-01 05:41] FabioRosado commented on #673
Hello @leeyjjoel please go ahead and work on the issue and let us know if you need any help while working on it 👍

[2018-10-01 06:07] FabioRosado commented on #667
Hello @Replayattack please go ahead and work on this issue, if you need any help let us know 👍

[2018-10-01 06:09] FabioRosado commented on #664
Hello @souravsingh please go ahead and work on this issue, let us know if you need any help 👍

[2018-10-01 06:14] arpit2297 commented on #676
hey! I'd like to take this up :)

[2018-10-01 06:15] FabioRosado commented on #676
Hello @arpit2297 please go ahead and work on this issue, let us know if you need any help

[2018-10-01 06:43] jacobtomlinson commented on #660
Thanks for that @synapticarbors that's great! I'm still keen that we build onto our own channel on anaconda.org too. Conda forge adds some extra maintenance so this would need to be updated in the [making a release](https://github.com/opsdroid/opsdroid/blob/master/docs/project/making-a-release.md) documentation.

I would really appreciate if you could put in a PR to this repo to add the same meta

[2018-10-01 07:04] FabioRosado commented on #672
I have been wanting to tackle this for a while but kept slipping my mind, so I'll give it a try 👍

[2018-10-01 08:47] vshelke commented on #671
Hi @jacobtomlinson can i take this issue ?

[2018-10-01 09:11] FabioRosado commented on #671
Hello @vshelke  please go ahead and work on this issue, let us know if you encounter any problems or if you need any help 👍

[2018-10-01 12:11] synapticarbors commented on #660
A few follow-ups:

- Do you and @FabioRosado want to be included as co-maintainers on the conda-forge package?
- In the conda package that will be in the opsdroid anaconda.org channel, where are you going to pull the dependencies from? The main channel will not have a bunch of them. I'm adding them to conda-forge as part of getting `opsdroid` built there. Or are you going to want to have all of th

[2018-10-01 12:20] jacobtomlinson commented on #660
- Yes please, probably best for now.
- Good question. I would be happy to take your advice at this point. Do you think we should just go with the conda-forge version?

[2018-10-01 23:19] Just-Sieb commented on #670
I will go ahead and tackle this issue.

[2018-10-02 03:03] Just-Sieb commented on #663
I would like to grab this issue as well.

[2018-10-02 05:18] FabioRosado commented on #665
I will be working on this issue 👍

[2018-10-02 05:59] FabioRosado commented on #668
Great! Go ahead and work on this issue, let us know if you need any help 👍

[2018-10-02 07:33] jacobtomlinson commented on #663
@Just-Sieb that is much appreciated! However I would encourage you to complete the PR you currently have open before tackling a new one.

[2018-10-02 10:52] jacobtomlinson opened #683 "Update plugin discovery"
Currently when you decorate a skill with a matcher it registers itself with opsdroid. It has become aparent for a couple of reasons that this isn't ideal:
 - In order for a matcher to self register opsdroid needs to attach a pointer to the main instance of opsdroid to an attribute of the core opsdroid class. This is a hack and should be avoided.
 - To add support for context opsdroid needs to be a

[2018-10-02 16:51] RonitRay commented on #341
Hi, I'm a first-time contributor, and would like to work on this. Would that be alright?

[2018-10-02 18:11] jacobtomlinson commented on #341
Yep that looks right to me. If you raise a Pull Request we can always review it there.

[2018-10-02 18:32] RonitRay commented on #341
Raised a PR, do let me know if that seems fine or how it should be approached otherwise.
Thanks for letting me work on this!

[2018-10-03 02:38] limberger commented on #669
Hi may i want to try work on this issue. I'm new to opensource.

[2018-10-03 06:45] jacobtomlinson commented on #669
Please go ahead!

[2018-10-03 10:41] limberger commented on #669
Tanks!!!

[2018-10-03 20:56] #668 closed

[2018-10-04 16:43] kritokrator commented on #532
Hey, I'd like to add couple of docstrings, however I've got a question first.
The Google style guide in the description seems to be deprecated.
Should I reference this one https://github.com/google/styleguide/blob/gh-pages/pyguide.md instead?

[2018-10-04 17:05] FabioRosado commented on #532
Hello @kritokrator Thanks for showing interest in this matter.
The sphinx documentation has an up to date style. We are not using typehints in our codebase yet so we will be specifying the type as:

[code]

This is a very brief explanation but should get you started, I also recommend you check the [Facebook Connector](https://github.com/opsdroid/opsdroid/blob/master/opsdroid/connector/facebook/__i